/**
 *  @fileOverview new styles
 *  @project exp01
 *  @author werner@bussedesign.com
 *
 *  05.06.2013
 *
 */

/**
 *  global overwrites
 */

body {
    color: #393536;
    line-height: 1.3;
    min-width: 1024px;
    margin: 0 !important;
}
a {
	color: #344f80;
	text-decoration: none;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  zoom: 1;
}
hr {
  display: block;
  width: 100%;
  height: 1px;
  margin: 10px 0;
  border: none;
  border-bottom: 1px solid #d7d7d7;
}



/**
 *  header with navigation
 */
 #banner {
	padding: 0 20px;
}
#banner td {
	padding: 10px 0;
}
#banner a {
	font-size: 11px;
	text-decoration: none;
	padding: 0 10px;
}
#phHeaderLogoImage {
  margin-left: 20px;
}
.tabsNewBar {
	background-color: #504f5d !important;
	border-bottom: 1px solid #fff !important;
}


/** 
 *	SFP-36 Modify styles for new SFDC Community styles
 */

nav {
    background-color: #e7e7e7 !important;
    background-image: none !important;
    /* margin: 0 0 10px !important; */
    padding: 0 0 0 20px !important;
}

.zen .zen-tabMenu .zen-active {
    border-radius: 0px !important
}


.zen .zen-tabMenu a {
    font-weight: normal !important;
    font-size: 12.3833px !important;
}

.zen .zen-tabMenu>li{
    line-height: 22px !important;
    height: 22px !important;
}


.zen .zen-tabMenu .zen-active a:hover{
    color: #FFFFFF !important;
}

.zen .zen-tabMenu a:hover{
    color: #353535 !important;
}

html .brandPrimaryBrd{
	border-top-width: 10px !important;
}

/** 
 *	End SFP-36 Styles
 */

.tabNavigation {
	background-image: none !important;
	background-color: #e7e7e7 !important;
	padding: 0 0 0 20px !important;
	margin: 0 0 10px 0 !important;
}
.tab td, .tab td div, .tab .last div, .tab .currentTab, .tab .currentTab div {
	background: none !important;
	border-bottom: none !important;
}
.tab td, .tab .currentTab {
	padding: 0 !important;
}
.tab .currentTab {
	background-color: #504f5d !important;
	background: -webkit-linear-gradient(top, #d3d3d5, #504f5d 50%, #504f5d 100%) !important;
	background: -moz-linear-gradient(top, #d3d3d5, #504f5d 50%, #504f5d 100%) !important;
	background: -o-linear-gradient(top, #d3d3d5, #504f5d 50%, #504f5d 100%) !important;
	background: -ms-linear-gradient(top, #d3d3d5, #504f5d 50%, #504f5d 100%) !important;
	background: linear-gradient(top, #d3d3d5, #504f5d 50%, #504f5d 100%) !important;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d3d3d5', endColorstr='#504f5d') !important;
}
.tab .currentTab a {
	color: #fff !important;
	font-weight: normal !important;
}
/**
 *  page body
 */

.bodyDiv {
    background-color: #ffffff;
    background: -webkit-linear-gradient(top, #e8e8e8, #ffffff 50px, #ffffff 100%) !important;
    background: -moz-linear-gradient(top, #e8e8e8, #ffffff 50px, #ffffff 100%) !important;
    background: -o-linear-gradient(top, #e8e8e8, #ffffff 50px, #ffffff 100%) !important;
    background: -ms-linear-gradient(top, #e8e8e8, #ffffff 50px, #ffffff 100%) !important;
    background: linear-gradient(top, #e8e8e8, #ffffff 50px, #ffffff 100%) !important;
    /*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e8e8e8', endColorstr='#ffffff') !important;*/
    padding: 0 !important;
    box-shadow: none !important;
}
div.tablediv {
	margin-bottom: 50px;
	width: 100%;
}
.tablediv .maindiv {
	width: 60%;
	padding-right: 1.2%;
}
.tablediv .rightdiv {
	width: 30%;
}
.instructions {
	padding: 15px
}
.instructions h2 {
	font-size: 24px;
	font-weight: normal;
	text-transform: capitalize;
	line-height: 1.5;
}
.outer td.oRight {
	background-color: transparent;
}
#bodyTable {
  padding: 0;
}
.leftdiv {
  padding-top: 0 !important;
}

/**
 *  footer
 */



/**
 *  generic block styles
 */
 .block {
	color: #393536;
	padding-top: 0px;
	border: 1px solid #c7c5ca;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius:5px;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.35);
	-moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.35);
	-webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.35);
	-ms-box-shadow: 0 0 3px rgba(0, 0, 0, 0.35);
	margin-bottom: 10px;
}
.blockheader {
	color: #393536;
	background-color: #f1f1f4;
	font-weight: bold;
	vertical-align: top;
	height: 35px;
	line-height: 35px;
	font-size: 14px;
	padding: 0 15px;
	border: none;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	border-bottom: 1px solid #dad9db;
}
.blockheader.withByline {
    height: auto;
    line-height: 1.3;
    padding: 10px 15px;
}
.blockheader.withByline span {
    display: block;
    font-weight: normal;
    font-size: 90%;
}
.blockheader * {
  vertical-align: top;
}
.notifications .blockheader {
	color: #393536;
	background-color: #feefe8;
}
.blockheader .right {
  float: right;
  margin-right: 20px;
}
.blockheader .right input.btn {
  margin-top: 5px;
}
.blockbody {
	display: table;
	background-color: #fff;
	width: 100%;
	padding: 15px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	border-radius: 0 0 5px 5px;
}
.blockfooter {
	padding: 15px;
	background-color: #fff;
	border-top: 1px solid #e9e8ea;
	border-radius: 0 0 5px 5px;
}
.blockfooter a {
	font-weight: bold;
}
.nopadding {
	padding: 0;
}

/**
 *  Block styles for family portal
 */
.block.fp {
  border: none;
  border-radius: 0;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  -ms-box-shadow: none;
  margin-bottom: 10px;
}
.fp .blockheader {
  background-color: #fff;
  vertical-align: top;
  height: auto;
  line-height: 30px;
  font-size: 18px;
  padding: 0;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #d7d7d7;
  margin-bottom: 12px;
  padding-left: 40px;
  color: #344f80;
}
.fp.notCollapsable .blockheader {
  padding-left: 0;
}
.fp.pageTitle .blockheader {
  border: medium none;
  padding: 0;
}
.fp.pageTitle .blockheader h2 {
  font-size: 24px;
  color: #000;
}
.fp .blockbody {
  border-radius: 0;
}

.blockbody .detailList {
	border-collapse: collapse;
}
.blockbody .detailList th {
	padding: 5px;
	font-size: 12px;
	/* font-weight:	normal; */
	background-color: #f8f8fa;
	vertical-align: middle;
}
.blockbody .detailList.fpTable th {
	border-left: 1px solid #ededed;
}
.blockbody .detailList td {
	font-size: 12px;
	vertical-align: middle;
}
.blockbody .detailList.fpTable td {
	border-left: 1px solid #ededed;
}
.block .blockbody .detailList tbody th {
	border: none !important;
	background: none !important;
}

.fp .blockbody .detailList {
  background-color: #f0efef;
}
.selectCell {
  padding: 10px 0;
  font-size: 14px;
  font-weight: bold;
}
.fp .blockbody .detailList tr th {
  padding: 10px 15px;
  background: none;
  fomt-weight	bold;
}
.fp .blockbody .detailList tr th:first-child {
  padding-left: 40px;
}

.fp .blockbody .detailList tr td {
  padding: 15px;
  border-top: 1px solid #fff;
  font-size: 12px;
  font-weight: normal;
  line-height: 1;
  color: #393536;
  vertical-align: middle;
}
.fp .blockbody .detailList.fpTable tr td {
  border-top: 1px solid #fff;
}





.fp .blockbody .detailList tr:first-child td {
  border-top: none;
}
.fp .blockbody .detailList tr td textarea{
	width: 95%;
}

.fp .blockbody .detailList tr td input,
.fp .blockbody .detailList tr td textarea,
.fp .blockbody .detailList tr td select {
  color: #393536;
}

.fp .blockbody .detailList tr td:first-child {
  padding-left: 40px;
  text-align: left;
  width: 50%;
}
.fp .blockbody .pbSubheader {
  background-color: #dfdfdf;
  border: none;
  color: #393536;
  font-size: 16px;
  padding: 10px 0 10px 40px;
  margin: 0;
  border-bottom: 1px solid #fff;
}
.fp .blockbody .pbSubheader h3 {
  color: inherit;
}

.block .pbBody,
.block .bPageBlock {
	margin: 0;
	padding: 	0;
}

/* blocks that highlight numbers */
 .numberhighlight .blockbody > div {
	display: table-row;
	width: 100% !important;
}
.numberhighlight .blockbody > div > div {
	display: table-cell;
	border-left: 1px solid #e9e8ea;
}
.numberhighlight.two .blockbody > div > div {
	width: 49.8%;
}
.numberhighlight.three .blockbody > div > div {
	width: 33%;
}
.numberhighlight.four .blockbody > div > div {
	width: 24.8%;
}
.numberhighlight .blockbody > div > div:first-child {
	border-left: none;
}
.numberhighlight .blockbody > div:first-child > div {
	padding: 15px 15px 0 15px;
	font-size: 30px;
	font-weight: bold;
	text-align: center;
}
.numberhighlight .blockbody > div:last-child > div {
	padding: 0 15px 15px 15px;
}

/**
 *  block variations
 */
/* block with div.row and .innerdiv2 */
.blockbody .innerdiv2 {
  border-right: 1px solid #f1f1f4;
  padding-bottom: 10px;
}
.blockbody .dynamicbgcolor {
  /* background: #507d42;*/ 
  color: #fff;
  padding: 20px 30px 0 30px;
}
.blockbody .dynamicbgcolor.innerdivright {
   border-bottom-right-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
}
.blockbody .dynamicbgcolor .data.large {
  font-size:  48px;
  font-weight: normal;
  font-family: georgia, serif;
}
.blockbody .dynamicbgcolor.cell {
  padding: 20px 0 0 0;
  width: 50%;
}
.blockbody .rowheader {
  background: #f8f8fa;
}
.blockbody .row .innerdiv {
  border-right: 1px solid #f1f1f4;
}
.blockbody.innerdivtable .row:last-child .innerdiv {
  padding-bottom: 10px;
}

/* block wrapping a div.apex */
.block .bPageBlock, .individualPalette .bPageBlock {
  border: none;
}





/**
 *  sidebar block styles
 */
.leftdiv .block {
  display: block;
  border-color: #dfdfdf;
  box-shadow: none;
  padding: 12px;
  background: #f8f8f9;
  margin-bottom: 15px;
}
.leftdiv .block .section {
  padding: 5px 0;
}
.leftdiv .block .section a {
  line-height: 20px;
}
.leftdiv .block .section.sectiontop a {
  line-height: 1;
}

/**
 *  input as button
 */
.btn, .btnDisabled,
.resultsList .btn,
.btn.disabled:hover,
.actionButtons .btn,
.actionButtons .btn.disabled:hover {
	color: #1b1b1b;
  background: none;
  border: 1px solid #b3beb0;  
  display: inline-block;
  padding: 1px 10px 2px;
  background-color: #e6e6e6;
  background: -webkit-linear-gradient(top, #ffffff, #e6e6e6 100%);
  background: -moz-linear-gradient(top, #ffffff, #e6e6e6 100%);
  background: -o-linear-gradient(top, #ffffff, #e6e6e6 100%);
  background: -ms-linear-gradient(top, #ffffff, #e6e6e6 100%);
  background: linear-gradient(top, #ffffff, #e6e6e6 100%);
  font: normal 12px arial, sans-serif;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.35);
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.35);
  -ms-box-shadow: 0 0 3px rgba(0, 0, 0, 0.35);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.35);
  -webkit-transition: 0.1s linear all;
  -moz-transition: 0.1s linear all;
  -ms-transition: 0.1s linear all;
  -o-transition: 0.1s linear all;
  transition: 0.1s linear all;
}
.actionButtons .btn, 
.actionButtons .btn.disabled:hover {
	color: #fff; 
}
.btn.primary,
.btn.primary.disabled:hover{
	color: #fff;
	font-weight: normal;
	padding: 2px 10px;
  background-color: #897a9f;
  background: -webkit-linear-gradient(top, #897a9f, #6d5b88 100%);
  background: -moz-linear-gradient(top, #897a9f, #6d5b88 100%);
  background: -o-linear-gradient(top, #897a9f, #6d5b88 100%);
  background: -ms-linear-gradient(top, #897a9f, #6d5b88 100%);
  background: linear-gradient(top, #897a9f, #6d5b88 100%);
}
.btn.primary:hover {
  background-color: #696177;
  background: -webkit-linear-gradient(top, #696177, #413752 100%);
  background: -moz-linear-gradient(top, #696177, #413752 100%);
  background: -o-linear-gradient(top, #696177, #413752 100%);
  background: -ms-linear-gradient(top, #696177, #413752 100%);
  background: linear-gradient(top, #696177, #413752 100%);
}
.btn.secondary,
.btn.secondary.disabled:hover {
	color: #fff;
	font-weight: normal;
	padding: 2px 10px;
  background-color: #71717c;
  background: -webkit-linear-gradient(top, #71717c, #504f5d 100%);
  background: -moz-linear-gradient(top, #71717c, #504f5d 100%);
  background: -o-linear-gradient(top, #71717c, #504f5d 100%);
  background: -ms-linear-gradient(top, #71717c, #504f5d 100%);
  background: linear-gradient(top, #71717c, #504f5d 100%);
}
.btn.secondary:hover {
  background-color: #5c7156;
  background: -webkit-linear-gradient(top, #5c7156, #304b28 100%);
  background: -moz-linear-gradient(top, #5c7156, #304b28 100%);
  background: -o-linear-gradient(top, #5c7156, #304b28 100%);
  background: -ms-linear-gradient(top, #5c7156, #304b28 100%);
  background: linear-gradient(top, #5c7156, #304b28 100%);
}
.btn.disabled,
.btn.disabled:hover {
  opacity: 0.4;
  cursor: default;
}
/**
 *  specific styles - dashboard page
 */

/* user info on top of page */
/* modify for communities */
 .pageHeaderBar {
	height: 32px;
	padding: 0px 20px 0 0;
	text-align: right;
	margin-top: -5px;
}
.pageHeaderBar > span {
	display: inline-block;
	vertical-align: top;
	font-size: 11px;
}
.pageHeaderBar > span label {
  display: inline-block;
	padding: 0 5px;
	border-left: 1px solid #999;
}
.pageHeaderBar > span:first-child label:first-child {
	border: none;
}
.pageHeaderBar > span span label {
  position: relative;
  top: -12px;
}
.pageHeaderBar a img {
	position: relative;
	top: 5px;
}
/* the year select */
 .pageHeaderBar .wgNiceSelect {
	top: -5px;
	z-index: 1;
	margin-right: 10px;
}
.pageHeaderBar .wgNiceSelect .selectBox {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	-moz-border-radius-topleft: 0;
	-moz-border-radius-topright: 0;
	-webkit-border-top-left-radius: 0;
	-webkit-border-top-right-radius: 0;
}
.pageHeaderBar .searchWrap {
    display: inline-block;
    position: relative;
    top: -5px !important; /* SFP-36 */
    z-index: 2;
}
.pageHeaderBar .searchWrap .searchBtn {
	display: inline-block;
	position: relative;
	top: 0;
	width: 24px;
	height: 22px;
	border-top: none;
	background: #e8e8e8 url('../images/new/searchIcon.png') 6px 5px no-repeat;
	background: url('../images/new/searchIcon.png') 6px 5px, -webkit-linear-gradient(top, #e8e8e8, #e0e0e0 100%);
	background: url('../images/new/searchIcon.png') 6px 5px, -moz-linear-gradient(top, #e8e8e8, #e0e0e0 100%);
	background: url('../images/new/searchIcon.png') 6px 5px, -o-linear-gradient(top, #e8e8e8, #e0e0e0 100%);
	background: url('../images/new/searchIcon.png') 6px 5px, -ms-linear-gradient(top, #e8e8e8, #e0e0e0 100%);
	background: url('../images/new/searchIcon.png') 6px 5px, linear-gradient(top, #e8e8e8, #ffffff 100%) top left;
	background-repeat: no-repeat;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	-moz-border-radius-bottomright: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
	-webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
	-ms-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
}
.pageHeaderBar .searchWrap .searchInput {
	position: absolute;
	top: 1px;
	right: 0;
	z-index: 1;
	padding: 8px 10px;
	background: #504f5d;
	display: none;
}
.pageHeaderBar .searchWrap:hover .searchInput {
	display: block;
	width: 180px;
	overflow: hidden;
}
.pageHeaderBar .searchWrap:hover .searchInput input {
	display: block;
	float: left;
	height: 20px;
	line-height: 20px;
	padding: 0 0 0 10px;
	width: 140px;
	border: 1px solid #3c3b46;
}
.pageHeaderBar .searchWrap:hover .searchInput a {
	display: block;
	width: 22px;
	height: 22px;
	float: right;
	background: #75996a url('../images/new/searchIcon.png') 6px 3px no-repeat;
	background: url('../images/new/searchIconWhite.png') 6px 3px, -webkit-linear-gradient(top, #75996a, #507d42 100%);
	background: url('../images/new/searchIconWhite.png') 6px 3px, -moz-linear-gradient(top, #75996a, #507d42 100%);
	background: url('../images/new/searchIconWhite.png') 6px 3px, -o-linear-gradient(top, #75996a, #507d42 100%);
	background: url('../images/new/searchIconWhite.png') 6px 3px, -ms-linear-gradient(top, #75996a, #507d42 100%);
	background: url('../images/new/searchIconWhite.png') 6px 3px, linear-gradient(top, #75996a, #507d42 100%) top left;
	background-repeat: no-repeat;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius:5px;
}
.pageHeaderBar .searchWrap:hover .searchInput a img {
	display: none;
}
/* systems notifications "sample message */
 .notifications .medium {
	font-size: 12px;
}
/* the aid allocation block */
.aidallocation.block {
 	border: none;
	padding: 0;
	background-color: #527f44;
}
.aidallocation.block .blockbody {
 	background-color: #527f44;
 	border-radius: 5px;
 	-moz-border-radius: 5px;
 	-webkit-border-radius:5px;
}
.aidallocation .db-aidtext {
	border: none;
	border-left: 1px solid #fff;
	text-align: left;
	color: #fff;
	font-weight: bold;
	padding: 0 15px;
	height: 75px;
	line-height: 75px;
	width: auto;
}
.aidallocation .db-aidtext * {
	vertical-align: middle;
}
.aidallocation .db-aidtext:first-child {
	border: none;
}
.aidallocation .big {
	position: inline-block;
	height: 75px;
	font: normal 36px/75px Georgia, serif;
	text-align: right;
	padding-right: 10px;
	position: relative;
	top: -5px;
}
.blockheader div.innercell.db-header {
	display: block;
	text-transform: none;
	text-align: left;
	border: none;
	height: 35px;
	line-height: 35px;
	font-size: 14px;
	padding: 0;
	margin: 0;
}
.blockheader div.innercell.db-header span {
	display: inline-block;
	float: right;
	color: #393536;
	padding-left: 0 !important;
}
/* the budget information block */
 .db-righthalfcell {
	padding-top: 10px;
}
.db-righthalfcell .innerdivtable {
	margin: 10px 0 0 -35px;
}
.db-righthalfcell .innerdivtable .db-data {
	display: block;
	margin-bottom: 10px;
}
/* sidebar admin set-up block */
 .admin-setup .blockbody > div {
	border-bottom: 1px solid #e9e8ea;
	padding: 10px 15px 5px;
	overflow: hidden;
}
.admin-setup .blockbody > div:last-child {
	border-bottom: none;
}
.admin-setup .blockbody > div > div {
	float: left;
}
.admin-setup .blockbody > div > div a {
	font-weight: bold;
}
.admin-setup .blockbody > div > div img {
	position: relative;
	top: 3px;
}
.admin-setup .blockbody > div > div:first-child {
	margin-right: 5px;
}


/**
 *  the nice select styling
 */
 .downArrow {
	display: inline-block;
	position: relative;
	width: 0;
	height: 0;
	border: 4px solid transparent;
	border-top-color: #393536;
}
.wgNiceSelect .selectBox .downArrow {
	float: right;
	margin: 8px 0 0 0;
}
.wgNiceSelect {
	height: 22px;
	display: inline-block;
	position: relative;
	top: 5px;
	margin: 0;
}
.selectWrap {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	/* this will be overwritten by javascript */
	z-index: 1;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.25);
	-moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.25);
	-webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.25);
	display: none;
}
.wgNiceSelect .selectBox {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	position: relative;
	z-index: 2;
	height: 100%;
	width: 100%;
	padding: 0 10px;
	font: bold 11px/22px Arial, sans-serif;
	color: #393536;
	cursor: pointer;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	background-color: #e8e8e8;
	background: -webkit-linear-gradient(top, #e8e8e8, #e0e0e0 100%);
	background: -moz-linear-gradient(top, #e8e8e8, #e0e0e0 100%);
	background: -o-linear-gradient(top, #e8e8e8, #e0e0e0 100%);
	background: -ms-linear-gradient(top, #e8e8e8, #e0e0e0 100%);
	background: linear-gradient(top, #e8e8e8, #ffffff 50px, #ffffff 100%);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
	-webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
	-ms-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
}

.wgNiceSelect .selectBox.expanded {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	-moz-border-radius-bottomleft: 0;
	-moz-border-radius-bottomright: 0;
	-webkit-border-bottom-left-radius: 0;
	-webkit-border-bottom-right-radius: 0;
	border: none;
	box-shadow: none;
}
.wgNiceSelect .selectBox.icon {
	padding-left: 5px;
}
.wgNiceSelect .selectBox:hover, .wgNiceSelect .selectBox.expanded {
	color:#393536;
}
.wgNiceSelect .selectDropDown {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 2;
	width: 100%;
	margin: 0;
	padding: 0;
	background-color: #e0e0e0;
	list-style: none;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	-moz-border-radius-bottomright: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	padding: 5px 0;
}
/*
.wgNiceSelect .selectDropDown:first-child {
	border-top: 1px solid #000000;
}
*/
.wgNiceSelect li {
	margin: 0;
	cursor: pointer;
	padding: 0 10px;
	font: bold 11px/22px Arial, sans-serif;
	text-align: left;
	color: #393536;
}
.wgNiceSelect .icons li {
	padding-left: 5px;
}
.wgNiceSelect li:first-child {
	border-top: 1px solid #000000;
}
.wgNiceSelect li:hover {
	background-color: #6b6a76;
	color: #fff;
}
.wgNiceSelect .selectBox .selectedOption {
	float: left;
}
.tinywarning {
	font-style:italic;
	color:red;
	font-size:80%;
	margin-top:-5px;
}


/**
 *	the quickview dropdown
 */
.headerStyle {
	background: none;
}
#id_show_quick_view_div {
	display: inline-block;
	height: 26px;
	line-height: 25px;
	color: #fff;
	padding: 0 18px 0 37px;
	font-weight: normal;
	background: #51505e url('../images/new/folderSmall.png') 6px 3px no-repeat;
	background: url('../images/new/folderSmall.png') 10px 5px, -webkit-linear-gradient(top, #767580, #51505e 100%);
	background: url('../images/new/folderSmall.png') 10px 5px, -moz-linear-gradient(top, #767580, #51505e 100%);
	background: url('../images/new/folderSmall.png') 10px 5px, -o-linear-gradient(top, #767580, #51505e 100%);
	background: url('../images/new/folderSmall.png') 10px 5px, -ms-linear-gradient(top, #767580, #51505e 100%);
	background: url('../images/new/folderSmall.png') 10px 5px, linear-gradient(top, #767580, #ffffff 50px, #51505e 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#767580', endColorstr='#51505e'); 
	background-repeat: no-repeat;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
}
#id_quick_view_div {
	background-color: #51505e;
	padding: 10px;
	border: none;
	right: auto !important;
	left: 0;
	top: 100%;
}
#id_quick_view_div .outerTable {
	border: none;
	background-color: #fff;
}
#id_quick_view_div .rich-tab-bottom-line {
	background-color: #51505e;
	border: none;
}
#id_quick_view_div .rich-tab-bottom-line table tr td:first-child img {
  display: none;
}

#id_quick_view_div .rich-tab-bottom-line table table {
	margin-right: 5px;
	top: 0 !important;
}


/* old tab treatment for quick tabs */
#id_quick_view_div .rich-tab-header {
	height: 32px;
	line-height: 32px;
	padding: 0 20px;
	background: #fff;
	margin-right: 5px;
	font-size: 14px;
	border: none;
}
#id_quick_view_div .rich-tab-header.rich-tab-inactive {
	color: #fff;
	background-color: #74747f;
	background: -webkit-linear-gradient(top, #74747f, #504f5d 100%);
	background: -moz-linear-gradient(top, #74747f, #504f5d 100%);
	background: -o-linear-gradient(top, #74747f, #504f5d 100%);
	background: -ms-linear-gradient(top, #74747f, #504f5d 100%);
	background: linear-gradient(top, #74747f, #ffffff 50px, #504f5d 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#74747f', endColorstr='#504f5d');
}
#id_quick_view_div .rich-tabhdr-side-border {
	background: none;
  width: 0;
}
#id_quick_view_div .rich-tabhdr-side-border img {
  display: none;
}

#id_quick_view_div .rich-tabhdr-side-cell {
	border: none;
}
/* end old tab treatment for quick tabs */


/* new tab treatment for quick tabs */
#qvTabs {
    background-color: #51505E;
    border: medium none;
    height: 33px;
    padding: 2px 0 0 0;
}
#qvTabs li {
    float: left;
    background: none repeat scroll 0 0 #FFFFFF;
    border: medium none;
    font-size: 14px;
    height: 32px;
    line-height: 32px;
    margin-right: 5px;
    padding: 0 20px;
    color: #fff;
    background-color: #74747f;
    background: -webkit-linear-gradient(top, #74747f, #504f5d 100%);
    background: -moz-linear-gradient(top, #74747f, #504f5d 100%);
    background: -o-linear-gradient(top, #74747f, #504f5d 100%);
    background: -ms-linear-gradient(top, #74747f, #504f5d 100%);
    background: linear-gradient(top, #74747f, #ffffff 50px, #504f5d 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#74747f', endColorstr='#504f5d');
}
#qvTabs li.active {
    background: #fff;
    color: #333;
}
/* end new tab treatment for quick tabs */


#id_quick_view_div .rich-tabhdr-cell-disabled, 
	#id_quick_view_div .rich-tabhdr-cell-inactive {
	padding: 0;
}
#id_quick_view_div .rich-tabpanel-content {
	background: #fff;
	border: none;
	padding: 0;
	margin: 0;
}
#id_quick_view_div .rich-tabpanel-content table {
	border-collapse: collapse;
	width: 100% !important;
	text-align: left;
	border: none;
}
#id_quick_view_div .rich-tabpanel-content table td {
	padding: 0;
	line-height: 1.5;
}
#id_quick_view_div .rich-tabpanel-content .statusTable {
	text-align: left;
	margin: 5px 0 0;
	border-bottom: 1px solid #f0f0f0;
}
#id_quick_view_div .statusTable tr:first-child td {
	padding: 5px 0 0 10px;
}
#id_quick_view_div .statusTable tr:last-child td {
	padding: 0 0 5px 10px;
}
#id_quick_view_div .statusTable img {
  display: inline-block;
  position: relative;
  top: 10px;
  margin-right: 5px;
}
#id_quick_view_div .pfsCurrent,
#id_quick_view_div .pfsPrevious {
	widows: 50%;
}
#id_quick_view_div .pfsCurrent  table td,
#id_quick_view_div .pfsPrevious table td {
	padding: 0 0 10px 10px;
	line-height: 1.2;
}
#id_quick_view_div .pfsCurrent  table tr:first-child td,
#id_quick_view_div .pfsPrevious table tr:first-child td {
	padding: 10px;
}
#id_quick_view_div .pfsPrevious {
	background: #f0f0f0;
}
#id_quick_view_div .outerTableColumn {
	text-align: left;
}
#id_quick_view_div .outerTableColumn .thickBorder {
  height: 5px;
  background-color: #51505E;
}
#id_quick_view_div .outerTableColumn table {
	margin: 10px;
}
#id_quick_view_div .outerTable tbody tr:first-child .outerTableColumn table {
	margin: 0 5px 0 0 ;
}
.quickViewWrap .quickViewBottom {
  padding: 0;
  border-top: 5px solid #51505E;
}
.quickViewWrap #id_quick_view_div .rich-tabpanel-content .quickViewBottom table {
  width: auto !important;
  margin: 10px !important;
}

/**
 *  the secondary tabs
 */
.secondaryTabs {
  position: relative;
  margin: 0;
  padding: 0 0 0 20px;
  border-bottom: 1px solid #d6d5d8;
}
.secondaryTabs:before,
.secondaryTabs:after { 
  display: table;
  content: "";
}
.secondaryTabs:after {
  clear: both;
}
.secondaryTabs  .expands ul {
  white-space:nowrap;
  padding: 5px 5px;
}
.secondaryTabs li {
  float: left;
  list-style: none none outside;
  margin: 0;
  height: 25px;
  line-height: 25px;
  border: 1px solid #d6d5d8;
  position: relative;
  top: 1px;
  /*cursor: pointer;*/
} 
.secondaryTabs .name {
  position: relative;
  top: -5px;
  width: 210px;
  margin-right: 20px;
  padding: 0 0 0 30px;
  font-size: 14px;
  font-weight: bold;
  background: transparent url('../images/new/folderLarge.png') no-repeat left 3px;
  border: none;
  cursor: default;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
} 
.secondaryTabs .tabGroup {
  color: #393536;
  background-color: #f5f5f5;
  background: -webkit-linear-gradient(top, #f5f5f5, #e6e6e6 100%);
  background: -moz-linear-gradient(top, #f5f5f5, #e6e6e6 100%);
  background: -o-linear-gradient(top, #f5f5f5, #e6e6e6 100%);
  background: -ms-linear-gradient(top, #f5f5f5, #e6e6e6 100%);
  background: linear-gradient(top, #f5f5f5, #e6e6e6 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f5f5', endColorstr='#e6e6e6');
  margin: 0;
  padding: 0 12px;
  border-left: none;
}
.secondaryTabs .tabGroup.first {
  border-left: 1px solid #d6d5d8;
  border-top-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
}
.secondaryTabs .tabGroup.last{
  border-top-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
}
.secondaryTabs .tabGroup.active,
.secondaryTabs .tabGroup.expands:hover {
  background: #fff;
  border-bottom: 1px solid #fff;
}
.docIcon {
  display: inline-block;
  width: 9px;
  height: 11px;
  margin-right: 5px;
  position: relative;
  top: 1px;
}
.docIcon.submitted {
  background: transparent url('../images/new/iconSubmitted.png') no-repeat left top;
}
.docIcon.unsubmitted {
  background: transparent url('../images/new/iconUnSubmitted.png') no-repeat left top;
}
.secondaryTabs  .expands ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 180px;
  padding: 5px 0;
  margin: 0;
  background-color: #fff;
  box-shadow: 0px 4px 5px rgba(0,0,0,0.35);
  -moz-box-shadow: 0px 4px 5px rgba(0,0,0,0.35);
  -webkit-box-shadow: 0px 4px 5px rgba(0,0,0,0.35);
  -ms-box-shadow: 0px 4px 5px rgba(0,0,0,0.35); 
}
.secondaryTabs  .expands:hover ul {
  display: block;
}
.secondaryTabs  .expands li {
  float: none;
  border: none;
}
.secondaryTabs  .expands li a {
  text-decoration: none;
  line-height: 25px;
  padding: 0 10px;
}
.secondaryTabs  .expands li:hover {
  background: #e3e3e3;
}
.secondaryTabs .quickViewWrap {
  border: none;
  margin-left: 10px;
  position: relative;
}
.shortInfo {
  padding-left: 20px;
  height: 30px;
  padding-top: 10px;
  display: inline-block;
  cursor: pointer;
}
.shortInfo span {
  font-size: 11px;
  padding: 0 5px;
  border-left: 1px solid #c7c5ca; 
}
.shortInfo span:first-child {
  border-left: none;
  padding-left: 0;
}
.shortInfo span.approved {
  color: #5d904c;
  font-weight: bold;
}
.shortInfo span.genderIcon {
  border: none;
  display: inline-block;
  height: 15px;
  line-height: 15px;
  width: 15px;
  padding: 0;
  border-radius: 7px;
  background: #393536;
  color: #fff;
  text-align: center;
  font-size: 7px;
  position: relative;
  top: -1px;
}
.hasToolTip {
  position: relative;
}
.hasToolTip .toolTip {
  display: none;
}
.hasToolTip .toolTip li {
  float: left;
  list-style: none none outside;
  padding: 0 0 0 20px;
  font-size: 11px;
  margin: 0;
}
.hasToolTip .toolTip li:first-child {
  padding-left: 0;
}
.hasToolTip .toolTip li strong {
  display: block;
}
.hasToolTip:hover .toolTip {
  color: #333;
  font-weight: normal;
  display: block;
  width: 310px;
  position: absolute;
  /* top: -65px; */
  bottom:  105%;
  padding: 15px;
  background-color: #f6f5ea; 
  box-shadow: 0px 1px 5px rgba(0,0,0,0.35);
  -moz-box-shadow: 0px 1px 5px rgba(0,0,0,0.35);
  -webkit-box-shadow: 0px 1px 5px rgba(0,0,0,0.35);
  -ms-box-shadow: 0px 1px 5px rgba(0,0,0,0.35); 
}
.hasToolTip:hover .toolTip.noBackground {
	background: transparent;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	-ms-box-shadow: none;
	width: auto;
	top: -30px;
	left: auto; 
	right: -15px;
}
.hasToolTip:hover .toolTip.noBackground .block,
.hasToolTip:hover .toolTip.noBackground .blockheader {
	border-radius: 0;
}
.hasToolTip:hover .toolTip.noBackground .block th,
.hasToolTip:hover .toolTip.noBackground .block td {
	white-space: nowrap;
	padding: 5px 15px;
}

/**
 *  family contribution worksheet specific styles 
 */ 
/* */
.fcw-form-container {
  margin: 0 20px 0 310px;
  width: auto !important;
  min-width: 720px;
}
.fcw-form-container .block {
  padding-bottom: 10px;
}

.fcw-header-title {
  font-size: 24px;
  font-weight: normal;
  text-transform: capitalize;
  line-height: 1;
  margin-bottom: 15px;
} 
/* the print and revert buttons */
.iconBtn {
  font: normal 12px/1 Arial, Helvetica, Geneva, sans-serif;
  background: none;
  border: none;
  display: block;
  height: 20px;
  padding: 0 0 0 25px;
  float: right;
  margin-top: 10px;
  cursor: pointer;
} 
.iconBtn.revertToSaved {
  margin-right:20px;
  background: transparent url('../images/new/revertToSavedBtn.png') no-repeat left top;
} 
.iconBtn.print {
  background: transparent url('../images/new/printBtn.png') no-repeat left top;
  padding-right: 10px;
  border-right: 1px solid #ccc;
  margin-right: 10px;
} 
.iconBtn.excel {
  background: transparent url('../images/new/downloadBtn.png') no-repeat left top;
  padding-right: 10px;
  border-right: 1px solid #ccc;
  margin-right: 10px;
} 

/* the lock container */
.fcw-form-container .lockcontainer {
  padding-bottom: 0;
}
.lockcontainer .blockbody > div {
  display: inline-block;
  margin-right: 15px;
}
.lockcontainer .blockbody > div select {
  width: 50px;
}
.lockcontainer .blockbody   div:first-child {
  padding-right: 20px;
  border-right: 1px solid #ccc;
}

/* blockheader with collapsable icone */
.blockheader .collapsable{
  display: inline-block;
  width: 29px;
  height: 35px;
  margin: 0 20px 0 -15px;
  border-right: 1px solid #dad9db;
  background: #f8f8fa url('../images/new/collapsable.png') no-repeat 10px 10px;
  background-image: url('../images/new/collapsable.png') 10px 10px, linear-gradient(top, #f8f8fa 0%, #e0e0e1 100%);
  background-image: url('../images/new/collapsable.png') 10px 10px, -o-linear-gradient(top, #f8f8fa 0%, #e0e0e1 100%);
  background-image: url('../images/new/collapsable.png') 10px 10px, -moz-linear-gradient(top, #f8f8fa 0%, #e0e0e1 100%) ;
  background-image: url('../images/new/collapsable.png') 10px 10px, -webkit-linear-gradient(top, #f8f8fa 0%, #e0e0e1 100%) ;
  background-image: url('../images/new/collapsable.png') 10px 10px, -ms-linear-gradient(top, #f8f8fa 0%, #e0e0e1 100%);
  background-repeat: no-repeat;
  cursor: pointer;
}
.blockheader .collapsable.closed{
  background: #f8f8fa url('../images/new/collapsableClosed.png') no-repeat 10px 10px;
  background-image: url('../images/new/collapsableClosed.png') 10px 10px, linear-gradient(top, #f8f8fa 0%, #e0e0e1 100%);
  background-image: url('../images/new/collapsableClosed.png') 10px 10px, -o-linear-gradient(top, #f8f8fa 0%, #e0e0e1 100%);
  background-image: url('../images/new/collapsableClosed.png') 10px 10px, -moz-linear-gradient(top, #f8f8fa 0%, #e0e0e1 100%) ;
  background-image: url('../images/new/collapsableClosed.png') 10px 10px, -webkit-linear-gradient(top, #f8f8fa 0%, #e0e0e1 100%) ;
  background-image: url('../images/new/collapsableClosed.png') 10px 10px, -ms-linear-gradient(top, #f8f8fa 0%, #e0e0e1 100%);
  background-repeat: no-repeat;
}





/* fcw-edit table styles */
.fcw-edit {
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.fcw-edit td {
  border-bottom: 1px solid #e1e1e3;
  border-left: 1px solid #e1e1e3;
  padding: 5px;
  font-size: 12px;
  text-align: center;
}
.fcw-edit td:first-child {
  border-left: none;
}
.fcw-header td {
  background-color: #f8f8fa;
 font-weight: bold;
}
.fcw-entry-label-schoolcomment {
  display: none;
}
.fcw-edit .fcw-entry-number {
  width: 3.7%;
  padding: 5px 4px;
}
.fcw-edit .fcw-entry-label {
  width: 30%;
  text-align: left;
}
.fcw-edit .fcw-pfs-number {
  width: 4.8%;
  padding: 5px 0;
}
.fcw-edit .fcw-uc-indicator {
  width: 3.7%;
  padding: 5px 0;
}
.fcw-edit .fcw-change-indicator {
  width: 3.7%;
  padding: 5px 0;
}
.fcw-edit  .fcw-sss-result {
  width: 9%;
}
.fcw-sss-result.notapplicable,
.fcw-verification.has-no-verification{
  background-color: #f1f1f4;
  }
.fcw-edit  .fcw-school-rev {
  width: 9%;
}

.fcw-edit  .fcw-school-rev input,
.fcw-edit  .fcw-school-rev select {
  width: 95%;
}
.fcw-edit  .fcw-verification-push {
	width: 2.2%;
}
.fcw-edit  .fcw-verification {
  width: 9%;
}
.fcw-entry.fcw-section-summary td {
  background: #818087;
  font-weight: bold;
  color: #fff;
}
.fcw-edit tr:last-child .fcw-entry-number {
  border-bottom-left-radius: 0 !important;
  -moz-border-radius-bottomleft: 0 !important;
  -webkit-border-bottom-left-radius: 0 !important;
}
.fcw-edit tr:last-child .fcw-verification {
  border-bottom-right-radius: 0 !important;
  -moz-border-radius-bottomright: 0 !important;
  -webkit-border-bottom-right-radius: 0 !important;
}
.fcw-edit .fcw-section-summary td {
  padding-bottom: 10px;
}
.fcw-entry.collapsed td {
  border-left: none
}
.fcw-entry.collapsed.expanded .fcw-entry-number,
.fcw-entry-child .fcw-entry-number {
  border-bottom: none;
}
.fcw-entry-child.last td {
  border-bottom: 2px solid #e1e1e3;
}
/* might want to highlight the open child row??
.fcw-entry-child td {
  background: #f8f8f8;
}
.fcw-entry-child .fcw-entry-number {
  background: #fff;
}
*/
.fcw-entry.collapsed .fcw-entry-label {
  padding-left: 20px;
  background: transparent url('../images/new/collapsableClosedSmall.png') no-repeat 5px 9px;
  cursor: pointer;
  border-left: 1px solid #e1e1e3;
}
.fcw-entry.collapsed.expanded .fcw-entry-label {
  padding-left: 20px;
  background: transparent url('../images/new/collapsableSmall.png') no-repeat 5px 9px;
  cursor: pointer;
}
/* icons */
.fcw-entry-uctriggered {
  display: block;
  width: 26px;
  height: 18px;
  background: transparent url('../images/new/uc.png') no-repeat left top;
  margin: 0 auto;
}
.fcw-entry-pfswarning {
  display: block;
  width: 22px;
  height: 22px;
  background: transparent url('../images/new/fcw-change2.png') no-repeat left top;
  margin: 0 auto;
}
.fcw-header .fcw-entry-pfswarning {
  background: transparent url('../images/new/fcw-change.png') no-repeat left top;
}


/**
 *  Family Portal Style Additions
 *
 *
 */
#pageHeader {
  padding: 20px 35px 20px 50px; 
} 
.secondaryNav {
  float: right;
}
/* subTab navigation */
#subTabContainer {
  border-bottom: 10px solid #504f5d;
}
#subTabContainer > ul {
  list-style: none none outside;
  margin: 0;
  padding: 0 35px 0 0px;
  float: right;
}
#subTabContainer > ul li {
  margin: 0;
  float: left;
  border: 1px solid #504f5d;
  border-bottom: none;
  border-left: none;
}
#subTabContainer > ul li:first-child {
  border-left: 1px solid #504f5d;
}
#subTabContainer > ul a {
  display: block;
  width: 125px;
  line-height: 24px;
  text-align: center;
  text-decoration: none;
  color:  #504f5d;
}
#subTabContainer > ul a:hover {
  background: #f0f0f0;

}
#subTabContainer > ul .ui-state-active a {
  background: #504f5d;
  color:  #fff;
}
#subTabContainer > ul .ui-state-active a:hover {
  cursor: default;
  background: #999;
  color:  #fff;
}
/* setup tabs - special case for subTabContainer tabs */
#subTabContainer.setupTabs {
  border:  none;
  overflow: hidden;
  padding-left: 15px;
  margin-bottom: 20px;
}
#subTabContainer.setupTabs > ul {
  float: none;
}
#subTabContainer.setupTabs > ul li {
  margin: 0 2px 0 0;
  float: left;
  border: 1px solid #ccc;
}
#subTabContainer.setupTabs > ul .ui-state-active a {
  background-color: #999;
}
#subTabContainer.setupTabs > ul a {
  padding: 0  10px;
  width: auto;
}
#statusBar {
  padding: 5px 35px 5px 50px;
  background-color: #f58a2d;
  background: -webkit-gradient(top, from(#f58a2d), to(#ee6217));
  background: -webkit-linear-gradient(top, #f58a2d, #ee6217);
  background: -moz-linear-gradient(top, #f58a2d, #ee6217);
  background: -ms-linear-gradient(top, #f58a2d, #ee6217);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f58a2d', endColorstr='#ee6217');
  overflow: hidden;
  color: #fff;
}
#statusBar .pageTitle {
  display: inline-block;
}
#statusBar .status {
  float: right;
  font-weight: bold;
}

/* Removed due to conflict with sidebar in standard pages community */
/*#sidebar {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 30%;
  float: left;
  padding-right: 60px;
  position: relative;
}
#sidebar .verticalTab {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 40px;
  background: #fff url('../images/vTab.png') no-repeat left top;
  position: absolute;
  top: 0;
  right: 20px;
  border: 1px solid #c5c5c5;
  border-left: none;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  height: 200px;
}*/
#pfsChecklist {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #c5c5c5;
  border-left:  none;
  overflow: hidden;
  padding-top: 5px;
  background-color: #f8f8f9;
}
.family-nav-header {
    padding: 20px 10px 0 50px;
}
.family-nav-header a{
  color: #344f80;
  text-decoration: none;
  font-size: 12px;
  font-weight: bold;
  line-height: 1.7;
}
.family-nav-section.selected,
.family-nav-section:hover {
  background-color: #dedee0;
}
.family-nav-section.selected {
  background: #dedee0 url('../images/pfsSelected.png') no-repeat 95% 45%;
}
.family-nav-section.disabled:hover {
  background-color: transparent;
}
.family-nav-section.selected a {
  color: #393536;
  font-weight: bold;
}
.family-nav-section a {
  padding-left: 68px;
  font-size: 12px;
  line-height: 1.7;
  font-weight: normal;
  text-decoration: none;
  color: #344f80;
  background: transparent url('../images/attention.png') no-repeat 50px top;
}
.family-nav-section.complete a {
    background-image: URL('../images/checkmark.png');
}
.family-nav-section.disabled{
    opacity: 0.4;
}
.family-nav-section.disabled a {
    cursor: default;
}
.family-nav-header.print-pfs {
  margin-top: 20px;
  border-top: 1px solid #c5c5c5;
  border-bottom: 1px solid #c5c5c5;
  padding: 0;
}
.family-nav-header.print-pfs a{
  line-height: 40px;
  background: transparent url('../images/print.png') no-repeat 50px top;
  padding-left: 68px;
}
.submitpfs {
  padding: 10px;
}
.submitpfs .btn {
  margin: 0;
  height: 30px;
  padding: 2px 10px;
  text-align: center;
  width: 100%;
  color: #fff;
}
.submitpfs .btn.secondary,
.submitpfs .btn.secondary.disabled:hover {
  background-color: #799c6f;
  background: -webkit-linear-gradient(top, #799c6f, #558148 100%);
  background: -moz-linear-gradient(top, #799c6f, #558148 100%);
  background: -o-linear-gradient(top, #799c6f, #558148 100%);
  background: -ms-linear-gradient(top, #799c6f, #558148 100%);
  background: linear-gradient(top, #799c6f, #558148 100%);
}
.submitpfs .btn.secondary:hover {
  background-color: #5c7156;
  background: -webkit-linear-gradient(top, #5c7156, #304b28 100%);
  background: -moz-linear-gradient(top, #5c7156, #304b28 100%);
  background: -o-linear-gradient(top, #5c7156, #304b28 100%);
  background: -ms-linear-gradient(top, #5c7156, #304b28 100%);
  background: linear-gradient(top, #5c7156, #304b28 100%);
}
#mainCol {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 20px 0 30%;  
}
#mainColumnHeader {
  padding: 0 0 10px 0;
  overflow: hidden;
  margin-bottom: 30px;    
}
#mainColumnHeader h2 {
  float: left;
  margin: 0;
  font-size: 24px;
  line-height: 1;
  color: #393536;
}
#mainColumnHeader h2 span {
  display: block;
  font-size: 12px;
}
#mainColumnHeader > div {
  margin-top: 10px;
  line-height: 1;
}
#mainColumnHeader .btn,
#mainColumnHeader .btnDisabled,
#mainColumnFooter .btn,
#mainColumnFooter .btnDisabled{
  height: 24px;
  float: right;
  width: 100px;
  text-align: center;
  vertical-align: top;
  padding: 0 0 2px 0;
  margin: 0 0 0 10px;
  border-color: #B5B5B5;
  font-weight: normal;
}
#mainColumnHeader .btn:hover,
#mainColumnFooter .btn:hover {
	color: #fff;
}


/*
#mainColumnHeader .btn[id*="SaveAndNext"],
#mainColumnFooter .btn[id*="SaveAndNext"] {
  background-color: #998cab;
  background: -webkit-gradient(top, from(#998cab), to(#7f6f96));
  background: -webkit-linear-gradient(top, #998cab, #7f6f96);
  background: -moz-linear-gradient(top, #998cab, #7f6f96);
  background: -ms-linear-gradient(top, #998cab, #7f6f96);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#998cab', endColorstr='#7f6f96');
}
*/


/**
 *  Family Portal Login Pages
 *
 */

.login * {
  color: #393536;
}
.login #pageHeader {
    border-bottom: 11px solid #504f5d;
}
.login #page {
  border-top: 1px solid #fff;
  background-color: #ffffff;
  background: -webkit-gradient(top, from(#e7e7e7), to(#ffffff 120px), to(#ffffff 100%));
  background: -webkit-linear-gradient(top, #e7e7e7 0%, #ffffff 120px, #ffffff 100%);
  background: -moz-linear-gradient(top, #e7e7e7 0%, #ffffff 120px, #ffffff 100%);
  background: -ms-linear-gradient(top, #e7e7e7 0%, #ffffff 120px, #ffffff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e7e7e7', endColorstr='#ffffff');
}
.login #loginWrapper {
  width: 950px;
  margin: 0 auto;
  padding-top: 30px;
}

.login #loginWrapper .blockheader {
  background: transparent;
}

.login .loginWelcome {
  height: 290px;
  float: left;
  width: 470px;
  background-color: #6d5b88;
}
/* this generic style si used for all login fail messages */
.login .loginAction {
  background-color: #698f5d;
  background: -webkit-gradient(top, from(#698f5d), to(#507d42));
  background: -webkit-linear-gradient(top, #698f5d, #507d42);
  background: -moz-linear-gradient(top, #698f5d, #507d42);
  background: -ms-linear-gradient(top, #698f5d, #507d42);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#698f5d', endColorstr='#507d42');
}
/* home page specific style */
.login .loginAction.home {
  height: 290px;
  margin-left: 480px;
  width: 470px;
}
.login #loginWrapper .loginWelcome .blockheader,
.login #loginWrapper .loginAction.home .blockheader {
  font: bold 30px/1 Arial, sans-serif;
  color: #fff;
  padding: 30px 40px 0;
  border: none;
  height: auto;
}
.login .loginWelcome .blockbody,
.login .loginAction.home .blockbody {
  font-size: 14px;
  padding: 0 40px 30px;
  background: transparent;
}
.login .loginWelcome .blockbody p,
.login .loginAction.home .blockbody p {
  color: #fff;
  line-height: 1.4;
}
.login #loginWrapper .loginWelcome .blockbody a {
  color: #fff;
  font-weight: bold;
  background: transparent url('../images/linkArrow.png') left 4px no-repeat;
  padding-left: 10px;
}
.login #loginWrapper .loginAction.home .blockbody input[type="text"],
.login #loginWrapper .loginAction.home .blockbody input[type="password"]{
  width: 240px;
  padding: 4px 10px;
  background: #fff;
  border: 1px solid #3c5e31;
  margin-bottom: 5px;
}
.login #loginWrapper .loginAction.home .blockbody input[type="submit"] {
  width: 100px;
  height: 30px;
  padding-bottom: 4px;
  text-align: center;
  color: #fff;
  background-color: #35353e;
  font-size: 14px;
  text-transform: uppercase;
}
.login #loginWrapper .loginAction.home .blockbody a {
  color: #fff;
  font-size: 12px;
  padding-left: 10px;
}
.login #loginWrapper .loginLinks {
  padding: 0;
  height: 295px;
  background-color: #ffffff;
  background: -webkit-gradient(top, from(#ffffff), to(#e8e8e8));
  background: -webkit-linear-gradient(top, #ffffff, #e8e8e8);
  background: -moz-linear-gradient(top, #ffffff, #e8e8e8);
  background: -ms-linear-gradient(top, #ffffff, #e8e8e8);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e8e8e8');
}
.login #loginWrapper .loginLinks a {
  display: block;
  float: left;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 295px;
  width: 237px;
  padding: 185px 30px 30px;
  border-left: 1px solid #c7c5ca;
  color: #393536;
  text-align: center;
 }
.login #loginWrapper .loginLinks a:first-child {
  border: none;
}
.login #loginWrapper .loginLinks a span {
  display: block;
  font-size: 24px;
  color: #344f80;50px
  font-weight: bold;
}
.login #loginWrapper .loginLinks .createAccount {
  background: transparent url(../images/createAccount.png) 35px 30px no-repeat;
}
.login #loginWrapper .loginLinks .completeAccount {
  background: transparent url(../images/completeAccount.png) 40px 30px no-repeat;
}
.login #loginWrapper .loginLinks .submitAccount {
  background: transparent url(../images/submitAccount.png) 25px 30px no-repeat;
}
.login #loginWrapper .loginLinks .reviewAccount {
  background: transparent url(../images/reviewAccount.png) 30px 30px no-repeat;
}

/* Login failed messages */
.login #loginWrapper .blockheader {
  padding-left: 0;
}
.login #loginWrapper .blockheader p {
  font-size: 14px;
  line-height: 1.4;
  margin: 0 0 5px;
  font-weight: normal;
}

.login #loginWrapper .mainMsg {
  margin-bottom: 20px;
}
.login #loginWrapper .mainMsg.alert .blockheader {
  padding-left: 30px;
  font-size: 24px;
  line-height: 50px;
  background: transparent url('../images/failMsgAlert.png') left 50% no-repeat;
}
.login #loginWrapper .mainMsg .blockbody {
  font-size: 18px;
  padding: 0;
}
.login #loginWrapper .mainMsg .blockbody p {
  margin: 0;
}
/* credentials */
.login #loginWrapper .loginAction.credentials {
  padding: 35px 220px;
}
.login #loginWrapper .loginAction.credentials td:first-child {
  text-align: right;
  padding-right: 20px;
}
.login #loginWrapper .loginAction.credentials label {
  color: #fff;
}
.login #loginWrapper .loginAction.credentials input[type="text"],
.login #loginWrapper .loginAction.credentials input[type="password"]{
  width: 240px;
  padding: 4px 10px;
  background: #fff;
  border: 1px solid #3c5e31;
  margin-bottom: 5px;
}
.login #loginWrapper .loginAction.credentials input[type="submit"] {
  width: 100px;
  height: 30px;
  padding-bottom: 4px;
  text-align: center;
  color: #fff;
  background-color: #35353e;
  font-size: 14px;
  text-transform: uppercase;
}
.login #loginWrapper .loginAction.credentials a {
  color: #fff;
  font-size: 12px;
  padding-left: 10px;
}

/* form styles */
.getSSSCode .blockheader {
  font-size: 24px;
  padding-bottom: 10px;
}
.getSSSCode .blockbody {
  padding: 10px 0;
}
.getSSSCode .blockbody label {
  font-weight: normal;
  font-size: 12px;
}
.getSSSCode .blockbody input[type="text"] {
  width: 245px;
  height: 30px;
  line-height: 30px;
  padding-left: 5px;
  border: 1px solid #bfbfbf;
}
.altOp {
  font-size: 18px;
  font-weight: bold;
  padding: 0 12px;
  color: #393536;
}
.getSSSCode .blockbody select {
  width: 195px;
  height: 20px;
  border: 1px solid #bfbfbf;
}
.login #loginWrapper .getSSSCode .blockbody input.btn {
  background-color: #35353E;
  color: #FFFFFF;
}
.createPFSAccount {
  margin-top: 50px;
}
.createPFSAccount .blockheader {
  font-size: 24px;
  padding-bottom: 10px;
}
.reqAstText {
  display: inline-block;
  font-size: 12px;
  font-style: italic;
  color: #f26522;
  float: right;
}
.createPFSAccount table {
  width: 100%;
}
.createPFSAccount .loginLabel,
.createPFSAccount td:first-child {
  width: 30%;
  text-align: right;
  padding-right: 20px;
  font-weight: bold;
}
.reqAst {
  color: #f26522;
}
.createPFSAccount table td {
  padding-bottom: 5px;
}
.createPFSAccount table input[type="text"] {
  width: 310px;
  height: 30px;
  line-height: 30px;
  padding: 0 0 0 5px;
  border: 1px solid #bfbfbf;
}
.createPFSAccount table select {
  width: 317px;
  height: 20px;
  border: 1px solid #bfbfbf;
}
.createPFSAccount table textarea {
  width: 310px !important;
  height: 60px;
  padding-left: 5px;
  border: 1px solid #bfbfbf;
}
.createPFSAccount .btn,
.createPFSAccount .btn:hover {
  height: 32px;
  padding: 0 25px 2px;
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
}
#mainColContent {
	overflow:hidden;
} 


/**
 *	overwrites for select schools page
 */
.family-nav-section a {
	display: block;
  padding: 5px 20px 5px 68px;
  line-height: 1;
}
#footer	{
	padding: 0;
}

.fp .blockheader .collapsable {
  background: url("../images/new/collapsable.png") no-repeat scroll 10px 10px transparent;
  border-right: none;
  cursor: pointer;
  display: inline-block;
  height: 35px;
  margin: 0 5px 0 -35px;
  width: 29px;
}
.fp .blockheader .collapsable.closed {
  background: url("../images/new/collapsableClosed.png") no-repeat scroll 10px 10px transparent;
}

.fp .blockbody .pbSubheader h3 {
  margin-left: 20px;
}

/* error message on select schools page */
.loginOrange {
  display: block;
  padding: 20px;
  background: #f3f3f3;
  font-size: 18px;
  color: #c62127;
}

/* results table on select schools page */
.resultsListContainer  {
  color: #393536;
  padding-top: 2px;
  border: 1px solid #c7c5ca;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius:5px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.35);
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.35);
  -ms-box-shadow: 0 0 3px rgba(0, 0, 0, 0.35);
  margin: 20px 3px;
}
.resultsList {
  width: 100%;
  border-collapse: collapse;
}
.resultsList th {
  padding: 6px 12px;
  background-color: #f9f8fa;
  font-weight: normal;
}
.resultsList td {
  padding: 6px 12px;
  border-top: 1px solid #e1e1e3;
}
.resultsList td,
.resultsList th {
  border-left: 1px solid #e1e1e3;;
}
.resultsList td:first-child,
.resultsList th:first-child {
  border-left: none;
}

/**
 *	special case for scrollable table in results list
 */
.resultsListContainer {
  position:relative;
  background: #F9F8FA;
  overflow: hidden;
}
.tableScroll {
	margin-top: 31px;
	border-top: 1px solid #E1E1E3;
  height:198px;
  overflow:auto;
  background: #fff;
}
.tableScroll table {
  width:100%;    
}
.tableScroll th	{
	height: 0px;
	padding: 0;
	border: none;
}
.tableScroll tr:first-child td {
	border-top: none;
}
.tableScroll .headerLabel {
  display: block;
  position: absolute;   
  top: 0;
  z-index: 2;
  height: 32px;
  line-height: 32px;
  border-left: 1px solid #E1E1E3;
  padding-left: 10px;
  margin-left: -1px;
}
.resultsListContainer .resultsList  .schoolSelected td {
	background: #e6f4e2;
}
.resultsListContainer .resultsList td:first-child {
	width: 25%;
}
.resultsListContainer .resultsList td:first-child + td {
	width: 45%;
}
.resultsListContainer .resultsList td:first-child + td + td {
	width: 15%;
}
.resultsListContainer .resultsList td:first-child + td + td + td {
	width: 15%;
}
.resultsListContainer .resultsList .btn {
	width: 100%;
	text-align: center;
	padding: 2px 0;
}


/* select table div on select schools page */
.selectTable {
  background: #ededed;
  padding: 10px 40px;
  margin: 10px 0 1px;
}
.selectCell {
  padding: 0;
}
.linkContainer {
	height: 16px;
	margin: 5px 0 10px;
}
.linkContainer .hasToolTip {
	float: right;
}
.inlineMessage {
	display: block;
	padding: 5px;
	font-style: italic;
	color: #f27522;
}
.singleColumn #mainColumnHeader {
    margin-bottom: 0;
    padding: 0;
}
.actionButtons {
	overflow: hidden;
	padding: 0;
	margin: 0;
	width: 100%;
}
.actionButtons li {
	display: block;
	list-style: none none outside;
	margin: 0;
	padding: 0;
	margin: 10px 0 5px;
}
.actionButtons li:first-child {
	margin-top: 5px;
}
.actionButtons li .btn {
	padding: 3px 10px;
	text-align: center;
}


/**
 *	family document status icons
 */
.icon-upload {
	display: block;
	margin: 0 auto;
	width: 22px;
	height: 20px;
	background-image: url('../images/statusSprite.png');
	background-repeat: no-repeat;
}
.icon-upload.complete {
	background-position: 0 5px;
}
.icon-upload.pending {
	background-position: -150px 4px;
}
.icon-upload.notReceived {
	background-position: -50px 5px;
}
.icon-upload.notApplicable {
	background-position: -100px 4px;
}
.icon-upload.inProgress {
	background-position: -200px 8px;
}
.icon-upload.uploadError {
	background-position: -250px 0;
}
.icon-upload.locked {
	background-position: -300px 4px;
}
.icon-upload.unlocked {
	background-position: -345px 4px;
}
.icon-upload.unsubscribed {
	background-position: -400px 4px;
}




/**
 *	page background for portal pages 
 */
.withPageBackground .bPageBlock {
	background-color: #fff;
  background-image: none;
  border: none;
  clear: both;
  margin: 0;
  padding: 0;
}
.withPageBackground .bPageBlock .pbBody {
  background-color: #fff;
  margin: 0 !important;
  padding: 0 !important;
}
#pageBackground {
	border-top: 1px solid #fff;
	padding: 60px 25px 0 0;
	background: #ffffff;
	background: -moz-linear-gradient(top,  #eaeaea 0%, #c1c1c1 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eaeaea), color-stop(50px,#ffffff), color-stop(100%,#ffffff));
	background: -webkit-linear-gradient(top,  #eaeaea 0%,#ffffff 50px, #ffffff 100%);
	background: -o-linear-gradient(top,  #eaeaea 0%,#ffffff 50px, #ffffff 100%);
	background: -ms-linear-gradient(top,  #eaeaea 0%,#ffffff 50px, #ffffff 100%);
	background: linear-gradient(to bottom,  #eaeaea 0%,#ffffff 50px, #ffffff 100%);
}
.singleColumn #pageBackground {
	padding-left: 25px;
}


/**
 *	modal window
 */
.simplemodal-overlay {
	opacity: 0.8; 
	position: fixed; 
	background-color: #fff;
	left: 0;
	right: 0; 
	top: 0;
	bottom: 0; 
	z-index: 1001;
}
.simplemodal-container {
	position: fixed; 
	z-index: 1002; 
	height: auto; 
	width: 402px; 
	left: 323px; 
	top: 10% !important;
}
.simplemodal-container span {
	display: block;
}
.simplemodal-wrap {
	height: 100%; 
	outline: 0px none; 
	width: 100%; 
	overflow: visible;
}
.simplemodal-data {
	width: 400px; 
	background: #fff;
	border-radius: 0;
}
.simplemodal-data .blockheader {
	line-height: 1.2;
	padding: 15px 20px 0;
	background: none;
	border-bottom: 1px solid #ededed;
}
.simplemodal-data .blockbody {
	padding-top: 0;
}
.simplemodal-data .blockbody label {
	display: block;
	padding-bottom: 5px;
}

.simplemodal-data .blockbody input,
.simplemodal-data .blockbody select,
.simplemodal-data .blockbody textarea {
	width: 100%;
	margin-bottom: 15px;
}
.simplemodal-data .blockfooter {
	padding: 20px;
	background: none;
	border-top: 1px solid #ededed;
	margin-top: 20px;
	overflow: hidden;
}
/* center a button or group of buttons needs an extra wrapper */
 .buttonsWrap {
	float:left;
	position:relative;
	left:50%;
	overflow:visible;
}
.centerButtons {
	float: left;
	position:relative;
	right:50%;
}
.simplemodal-data .btn {
	height: 28px;
	font-size: 14px;
	color: #fff;
	padding: 0 20px;
	border-radius: 5px;
	margin-right: 5px;
}
.simplemodal-data .btn.cancel {
	background-color: #75747f;
	background: -webkit-linear-gradient(top, #75747f, #504f5d 100%);
	background: -moz-linear-gradient(top, #75747f, #504f5d 100%);
	background: -o-linear-gradient(top, #75747f, #504f5d 100%);
	background: -ms-linear-gradient(top, #75747f, #504f5d 100%);
	background: linear-gradient(top, #75747f, #504f5d 100%);
}

.btnDisabled {
	color: #AAA;
	cursor: default;
}




















