<apex:page standardController="Applicant__c" extensions="ApplicantCustomButton" rendered="{!$Permission.Can_Delete_Applicants}">
<script>
    function disableEnableButton(buttonId, label, styleClass) {

        var thisButton = document.getElementById(buttonId);
        thisButton.value = label;
        thisButton.className = styleClass;
    }//End:disableEnableButton
    
    function actionJS(showConfirm, confirmLabel, callback) {
        
        if(showConfirm) {
            
            if( confirm(confirmLabel) ) {
                window[callback]();
            }
        } else {
            window[callback]();
        }        
    }//End:actionJS
    
    function showAlert(message) {
    
        if(message!='null' && message!='' && message!=null) {
            alert(message);
            window.top.location.href = '{!successURL}';
        }
    }//End:showAlert
</script>
<style>
    .custom_buttons_layout_panel{
        margin-left: 30%;
    }
</style>
<apex:form id="custom_buttons_applicant_form">
    <apex:outputPanel layout="block" StyleClass="custom_buttons_layout_panel">
        <!-- START: DELETE APPLICANT CUSTOM BUTTON -->
        <apex:actionStatus id="DeleteApplicantFromCustomButtonStatus" 
            onstart="disableEnableButton('{!$Component.custom_buttons_applicant_form.custom_button_delete_applicant}', 'Processing..', 'btnDisabled');" 
            onstop="disableEnableButton('{!$Component.custom_buttons_applicant_form.custom_button_delete_applicant}', '{!JSINHTMLENCODE($Label.Delete_Applicant_Button_Label)}', 'btn');" 
            />
        <apex:actionFunction name="DeleteApplicantFromCustomButtonAPEX" 
            action="{!DeleteApplicantFromCustomButton}" 
            status="DeleteApplicantFromCustomButtonStatus" 
            rerender="custom_buttons_applicant_form" 
            immediate="true" 
            oncomplete="showAlert('{!JSINHTMLENCODE(resultMessage)}');"
            />
        <apex:commandButton id="custom_button_delete_applicant" 
            rendered="{!$Permission.Can_Delete_Applicants}" 
            value="{!JSINHTMLENCODE($Label.Delete_Applicant_Button_Label)}"
            onclick="actionJS(true, '{!JSINHTMLENCODE($Label.Delete_Applicant_Confirmation_Message)}', 'DeleteApplicantFromCustomButtonAPEX'); return false;" 
            immediate="true" 
            rerender="" 
            />
        <!-- END: DELETE APPLICANT CUSTOM BUTTON -->
    </apex:outputPanel>
</apex:form>
</apex:page>