<apex:page controller="CallCenterContactController"
 action="{!findContacts}">
<apex:includeScript value="/support/console/38.0/integration.js"/>
<apex:includeScript value="{!URLFOR($Resource.persist, '/persist-js-master/persist-min.js')}"/>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<style type="text/css">
       td a.actioncolumn { font-weight: normal; 
       			color: #015BA7}
    </style>
 <script type = "text/javascript">

 j$ = jQuery.noConflict();
 j$(document).ready(function() {
 
    if (sforce.console.isInConsole()) {
        sforce.console.setTabTitle('Search For Parent Caller');
    }

	 j$(window).keypress(function(event){
	    if(event.keyCode == 13) {
	      event.preventDefault();
	      return true;
	    }
	  });
	j$('input[id$="searchTerm"]').keypress(function (e) {
  		if (e.which == 13) {
    		j$('input[id$="doSearch"]').click();
  		}
	});
      // load persistent store after the DOM has loaded

  	var ani = j$('input[id$="ani"]').val();
  	var dnis = j$('input[id$="dnis"]').val();
   	var callID = j$('input[id$="callID"]').val();
   	var username = j$('input[id$="username"]').val();

    // commented out -- no longer using javascript store [dp] 1.22.14
   //  var store = new Persist.Store('currentSession');

   //  store.set('ani', ani);    
  	// store.set('dnis', dnis);    
   //  store.set('callID', callID);    
   //  store.set('username', username);    
  	
  	var url = j$('input[id$="url"]').val();
  	 
  	if (url.length>0) {
        if (sforce.console.isInConsole()) {
            sforce.console.openPrimaryTab(null, url, true);
        } else {
  		    window.open(url,'_newtab','location=1,menubar=1,resizable=1,scrollbars=1,titlebar=1,status=1,toolbar=1');
        }
   	}
  
	});

    function openNewCaseTab(tabUrl) {
        if (sforce.console.isInConsole()) {
            sforce.console.openPrimaryTab(null, tabUrl, true);
        } else {
            navigateToUrl(tabUrl, null,'new');
        }
    }

    function goToContact(contactId) {
        var contactUrl = '/' + contactId;

        if (sforce.console.isInConsole()) {
            sforce.console.openPrimaryTab(null, contactUrl, true);
            return false;
        } else {
            navigateToUrl(contactUrl, null,'new');
            return false;
        }
    }
 </script>
  <apex:pageMessages />
 
   
    
  <apex:pageblock id="searchBlock" rendered="{!NOT(initialMatchFound)}" title="Search"  >
  		<apex:facet name="header"  >
		 		<table cellspacing="0"   cellpadding="0" border="0">
		 				<tbody>
		 					<tr><td  style="align:top; width:30px"  class="pbTitle"><img src="{!URLFOR($Resource.callerIcon, '/icon_callcenter_parent.png')}"  alt="Caller Icon"  align="bottom"></img>
		 					</td>
		 					<td style=" vertical-align: bottom; height=30px;"><span style="font-size: 1.3em;font-weight: bold; color:#68bd49" >Search for Parent</span>
		 				</td></tr>
		 				</tbody>
		 		</table>
		</apex:facet>
  <apex:pageblocksection columns="1">
  	
	  	<apex:outputtext value="Search by full name, primary phone number, or other instructed fields"/>
	
  	  	<apex:pageblocksectionitem >
  	  		<apex:form id="searchForm" >
  	  	
  	      		<apex:inputtext label="" value="{!searchTerm}" id="searchTerm"/>
		   		<apex:commandButton rerender="contactResults" id="doSearch" action="{!doSearch}" value="Search" />
			  </apex:form>
			
		</apex:pageblocksectionitem>		
  	

	</apex:pageblocksection>
  	
	 </apex:pageblock>
	
<apex:outputpanel id="contactResults">
	
   	<apex:pageblock rendered="{!renderSearchResults}" title="Parent Caller">
		<apex:facet name="header"  >
		 		<table cellspacing="0"   cellpadding="0" border="0">
		 				<tbody>
		 					<tr><td  style="align:top; width:30px"  class="pbTitle"><img src="{!URLFOR($Resource.callerIcon, '/icon_callcenter_parent.png')}"  alt="Caller Icon"  align="bottom"></img>
		 					</td>
		 					<td style=" vertical-align: bottom; height=30px;"><span style="font-size: 1.3em;font-weight: bold; color:#68bd49" >Parent Caller</span>
		 				</td></tr>
		 				</tbody>
		 		</table>
		</apex:facet>
   	<apex:pageblockSection id="noresults" columns="1"  >
    	<apex:outputText rendered="{!ISNULL(contacts)}" id="noresults"  value="No Results Found"/>
      <!-- removed as requested by CD Doc [dp] 1.15.2014 https://exponent.centraldesktop.com/nais/doc/29743226/
    	<input type="button" title="New Contact" onclick="navigateToUrl('{!contactUrl}',null,'new');" name="new" class="btn" value=" Create New Contact "></input>
    	-->

    <!--<input type="button" title="New Case" onclick="navigateToUrl('{!newCaseUrl}',null,'new');" name="new" class="btn" value=" Create New Case "></input>-->
    <input type="button" title="New Case" onclick="openNewCaseTab('{!newCaseUrl}');" name="new" class="btn" value=" Create New Case "></input>

    </apex:pageblockSection>
   	<apex:pageBlockTable value="{!contacts}" var="contact"  rendered="{!NOT(ISNULL(contacts))}" >
   <!-- 
   			<apex:column headerValue="Action"> 
   			
 				<apex:outputLink styleclass="actioncolumn" value="/{!contact.id}/e" >Edit</apex:outputLink><nbsp/> | <nbsp/> 
 				<apex:outputLink styleclass="actioncolumn" value="{!caseUrl}{!contact.id}" >New Case</apex:outputLink>
 				
   			</apex:column>
   		 -->	
   			
   			<apex:column headerValue="Name" > 
 				<apex:outputLink onclick="return goToContact('{!contact.Id}');" >{!contact.name}</apex:outputLink>
   			</apex:column>
   			<apex:column headerValue="Email">
   				<apex:outputtext value="{!contact.email}" />
   			</apex:column>
	
   			<apex:column headerValue="Work Phone" value="{!contact.phone}"/>
   			<apex:column headerValue="Mobile" value="{!contact.MobilePhone}"/>
   			<apex:column headerValue="Home" value="{!contact.homePhone}"/>
		    <apex:column headerValue="City" value="{!contact.MailingCity}"/>
		    <apex:column headerValue="State" value="{!contact.MailingState}"/>
		    <apex:column headerValue="Zip" value="{!contact.MailingPostalCode}"/>
		    
		    <apex:column headerValue="Country" value="{!contact.MailingCountry}"/>
		   
   </apex:pageBlockTable>
 </apex:pageblock>
</apex:outputpanel>


  <apex:form id="theForm" >
    <apex:inputHidden value="{!url}" id="url"/>
    <apex:inputHidden value="{!ani}" id="ani"/>
    <apex:inputHidden value="{!dnis}" id="dnis"/>
    <apex:inputHidden value="{!callID}" id="callID"/>
    <apex:inputHidden value="{!username}" id="username"/>

  </apex:form>
   
</apex:page>