<apex:page controller="CallCenterPFSFamilyView" sidebar="false" showHeader="false" action="{!init}">
    <body class="login">
        <apex:outputPanel >
            <div id="loginWrapper" >
                <c:SSSFamilySiteLogo />
                <div id="page" >
                    <apex:pageMessages />
                </div>
            </div>
        </apex:outputPanel>
    </body>
</apex:page>