<apex:page controller="CongaPageController">
    <apex:form >
        <apex:sectionHeader title="Finance Reports"/>
        
        <apex:pageMessages id="msgs"/>
        
        <apex:pageBlock title="Solomon Check Refunds" >
        <p></p>
        <p></p>
            
            <!-- ids for prod -->
            <apex:outputLink target="_blank" 
                value="{!congaURL}&Id={!$User.Id}&TemplateId=a0yd0000000vjfD&QueryId=a0Td000000JlhSR&DS7=13&BML=Download+this+file,+open+it+in+Excel,+then+save+it+as+CSV+format.&OFN={Template.Label}&OCNR=1" 
                >Vendor Info</apex:outputLink>
        <p></p>

        <p></p>            
            <!-- ids for prod -->
            <apex:outputLink target="_blank" 
                value="{!congaURL}&Id=005d0000001L6FW&TemplateId=a0yd0000000vjf8&QueryId=a0Td000000JlhSQ,a0Td000000JlhSS&DS7=13&BML=Download+this+file,+open+it+in+Word,+then+save+it+as+Text+format.&OFN={Template.Label}&OCNR=1"
                >Voucher Info</apex:outputLink>
        <p></p>
        <p></p>
        </apex:pageBlock>
        <apex:pageBlock title="GL Summary" >
        Period Start Date: &nbsp;&nbsp;&nbsp;<apex:inputField value="{!dummyContact1.Birthdate}" id="date1"/>
        <p/>
        Period End Date: &nbsp;&nbsp;&nbsp;<apex:inputField value="{!dummyContact2.Birthdate}" id="date2"/>
        <p/>
        &nbsp;
        <apex:commandLink value="Generate GL Summary" id="launch1" action="{!launchCongaWithDates}" >
            <apex:param assignTo="{!dynamicCongaURL}" value="&Id={!$User.Id}&TemplateId=a0yd0000000wQEy&QueryId=a0Td000000Jm3UZ?pvTARGET&OFN={Template.Label}&OCNR=1&DS7=13" ></apex:param>
        </apex:commandLink>
        <p/>
<!--
        <apex:commandButton value="Launch2" id="launch2" action="{!launchCongaWithDates}" >
            <apex:param assignTo="{!dynamicCongaURL}" value="&Id={!$User.Id}&TemplateId=a0yd0000000wQEy&QueryId=a0Td000000Jm3UZ?pvTARGET&OFN={Template.Label}&OCNR=1&DS7=3" ></apex:param>
        </apex:commandButton>
-->
        <!--<apex:commandButton action="{!generateCongaLinks}" value="Launch"/> -->
        <!--
        <apex:commandButton value="Generate Links" id="launch1" action="{!generateCongaLinks}" rerender="dateLinks,msgs" status="loadingstatus">
            <apex:param assignTo="{!dynamicCongaURL1}" value="&Id=005d0000001L6FWAA0&TemplateId=a0yd0000000wQEy&QueryId=a0Td000000Jm3UZ?pvTARGET&OFN={Template.Label}&OCNR=1&DS7=3" ></apex:param>
            <apex:param assignTo="{!dynamicCongaURL2}" value="&Id=005d0000001L6FWAA0&TemplateId=a0yd0000000wQEy&QueryId=a0Td000000Jm3UZ?pvTARGET&OFN={Template.Label}&OCNR=1&DS7=3" ></apex:param>
            <apex:param assignTo="{!dynamicCongaURL3}" value="&Id=005d0000001L6FWAA0&TemplateId=a0yd0000000wQEy&QueryId=a0Td000000Jm3UZ?pvTARGET&OFN={Template.Label}&OCNR=1&DS7=3" ></apex:param>
            <apex:param assignTo="{!dynamicCongaURL4}" value="&Id=005d0000001L6FWAA0&TemplateId=a0yd0000000wQEy&QueryId=a0Td000000Jm3UZ?pvTARGET&OFN={Template.Label}&OCNR=1&DS7=3" ></apex:param>
        </apex:commandButton>

        <br />
        <apex:outputPanel id="dateLinks" > DATE LINKS<apex:actionStatus id="loadingstatus" startText="loading... " /><br />
            Conga link 1: <apex:outputLink target="_blank" value="{!conga1}"  rendered="{!displayCongaLinks}">Launch</apex:outputLink><br />
            Conga link 2: <apex:outputLink target="_blank" value="{!conga1}"  rendered="{!displayCongaLinks}">Launch</apex:outputLink><br />
            Conga link 3: <apex:outputLink target="_blank" value="{!conga1}"  rendered="{!displayCongaLinks}">Launch</apex:outputLink><br />
            Conga link 4: <apex:outputLink target="_blank" value="{!conga1}"  rendered="{!displayCongaLinks}">Launch</apex:outputLink><br />
        </apex:outputPanel>
        -->
        </apex:pageBlock>
        
    </apex:form>

        <script type="text/javascript">
            function setFocusOnLoad() {}
        </script>

</apex:page>