<apex:page controller="CreateSubscriptionOppsController">

	<style>
		.messageText{
			font-size: 13px;
		}
		.highlighted{
			font-weight: bold;
		}
	</style>

	<apex:form >
		<apex:pageMessages />
		<apex:pageBlock title="School Subscription Opportunities">
			<apex:pageBlockButtons location="bottom">
				<apex:commandButton value="Create Subscription Opportunities" action="{!createSubscriptions}" disabled="{!NOT(numMissing > 0)}" />
				<apex:commandButton value="Cancel" action="{!cancel}"/>
			</apex:pageBlockButtons>
			<apex:pageBlockSection columns="1">
				<apex:pageBlockSectionItem >
					<apex:outputLabel styleClass="messageText" value="Subscriptions expiring this year:"/>
					<apex:outputText styleClass="messageText, highlighted" value="{!numExpirations}"/>
				</apex:pageBlockSectionItem>
				<apex:pageBlockSectionItem >
					<apex:outputLabel styleClass="messageText" value="Missing Opportunities:"/>
					<apex:outputText styleClass="messageText, highlighted" value="{!numMissing}"/>
				</apex:pageBlockSectionItem>
			</apex:pageBlockSection>
		</apex:pageBlock>
	</apex:form>
</apex:page>