<apex:page controller="PreviewPagePDFController" showHeader="false" sidebar="false" action="{!getPDF}">
<style>
    #panel1{
        position: absolute;
        height: 100%;
        border: none;
    }
</style>
  	<apex:pageMessage summary="{!errorMessage}" severity="error" strength="3" rendered="{!NOT(ISNULL(errorMessage))}"/>
    <apex:iframe id="panel1" src="{!publishUrl}" frameborder="0"></apex:iframe> 
</apex:page>