<apex:page controller="FamilyTemplateController" extensions="FamilyAwardController" sideBar="false" showHeader="false" title="Family Portal">
	<apex:stylesheet value="{!$Resource.FamilyAwards}"/>
	<script>
		function acceptAward(folderId)
		{
			accept(folderId);
		}

		function denyAward(folderId)
		{
			deny(folderId);
		}
	</script>

	<apex:composition template="{!template}">
		<apex:define name="header">
			<apex:stylesheet value="{!URLFOR($Resource.SchoolPortalStyles, '/css/newStyles.css')}"/>
			<apex:includeScript value="{!$Resource.Jquery1113min}" />
			<apex:slds />
		</apex:define>
		<apex:define name="body">
			<apex:form id="awardsForm">
				<apex:actionFunction name="accept" action="{!acceptAction}" reRender="awardsForm">
					<apex:param value="" name="folderId"/>
				</apex:actionFunction>
				<apex:actionFunction name="deny" action="{!denyAction}" reRender="awardsForm">
					<apex:param value="" name="folderId"/>
				</apex:actionFunction>
				<!-- TODO SFP-1750: This is the new styling to use  -->
				<!--Done-->
				<apex:outputPanel rendered="{!NOT(ISNULL(award))}" >
				<div class="slds-scope">
					<div class="myApp">
						<!-- TODO SFP-1750: use page header for description of the year/pfs awards that are being viewed. -->
						<!--Should we remove the first sentence of the Page Message
						 " You are now viewing awards for the 2018-2019 academic year.
						 Only awards that schools chose to offer through the portal are displayed here.
						 A school may have chosen other means for sending you your award. Please contact the schools you have applied to for questions about your awards."
						 to avoid duplicating of the information about the academic year?-->
						<div class="slds-grid slds-gutters slds-m-top--large">
							<div class="slds-col slds-p-horizontal_large slds-size--12-of-12">
								<div class="slds-card">
									<apex:outputPanel rendered="{!NOT(ISNULL(award.infoMessage))}">
										<div class="awardsMessage">
		                                                <span style="margin-top: 3px">
		                                                    <apex:image value="{!URLFOR($Resource.GlobalMessagesStyles,'icons/info.svg')}"
		                                                                styleClass="gmIcon" width="25"/>
		                                                 </span>
											{!award.infoMessage}
										</div>
									</apex:outputPanel>
									<div class="slds-card__header slds-grid">
										<div class="slds-media slds-media_center slds-has-flexi-truncate">
											<div class="slds-media__body">
												<h2>
													<a href="javascript:void(0);" class="slds-card__header-link slds-truncate"
													   title="[object Object]">
														<span class="slds-text-heading_small">{!applicant.applicantName}</span>
													</a>
												</h2>
											</div>
										</div>
									</div>
									<apex:outputPanel id="awardsForm">
										<div class="slds-card__body slds-card__body_inner">
											<div class="slds-card slds-card_boundary">
												<div class="slds-card__header slds-grid">
													<div class="slds-media slds-media_center slds-has-flexi-truncate">
														<div class="slds-media__body">
															<h2>
																<a href="javascript:void(0);" class="slds-card__header-link slds-truncate" title="[object Object]">
																	<span class="slds-text-heading_small">{!award.SchoolName} Award</span>
																</a>
															</h2>
														</div>
													</div>
													<div class="slds-no-flex">
														<span class="slds-badge">{!award.status}</span>
													</div>
												</div>
												<div class="slds-card__body">
													<div class="slds-card__body--inner">
														<div class="slds-tile">
															<div class="slds-tile__detail slds-text-body--small">
																<dl class="slds-list--horizontal slds-wrap">
																	<dt class="slds-item--label awardField" title="Amount Awarded">
																		Amount Awarded:
																	</dt>
																	<dd class="slds-item--detail awardValue" title="achoi@burlingtion.com">
																		<apex:outputText value="{0, number, $###,##0}">
																			<apex:param value="{!award.amountAwarded}"/>
																		</apex:outputText>
																	</dd>
																</dl>
															</div>
														</div>
													</div>
												</div>
												<div class="slds-card__footer">
													<apex:outputPanel rendered="{!award.showAcceptAndDenyButton}">
														<button onclick="acceptAward('{!award.folderId}'); return false;"
														        class="slds-button slds-button_success " id="acceptButton">
															Accept
														</button>
														<button onclick="denyAward('{!award.folderId}'); return false;"
														        class="slds-button slds-button_destructive" id="denyButton">
															Deny
														</button>
													</apex:outputPanel>
													<apex:outputPanel >
														<button class="slds-button slds-button_neutral detailButton" id="detailButton">Detail</button>
													</apex:outputPanel>
												</div>
											</div>
										</div>
									</apex:outputPanel>
								</div>
							</div>
						</div>
					</div>
				</div>
				</apex:outputPanel>
			</apex:form>
		</apex:define>
	</apex:composition>
</apex:page>