<apex:page controller="FamilyTemplateController" extensions="FamilyDashboardController" showHeader="false" sidebar="false">
<apex:composition template="{!template}">
<apex:define name="header">
   <style>
   #mainCol {
       margin-left: 40px
   }
   </style>
</apex:define>
<apex:define name="body">
   <div id="pageBackground">
       <div id="mainCol">
           <apex:outputText value="{!$Label.FEE_WAIVER_APPLIED}" />
           <br />
           <br />
           <button onClick="window.location='{!$Page.familydashboard}'">Continue</button>
       </div>
   </div>
</apex:define>
</apex:composition>
</apex:page>