<apex:page controller="FamilyLoginController" showheader="false" title="SSS Login"  >

<apex:stylesheet value="{!URLFOR($Resource.SchoolPortalStyles,'/css/newStyles.css')}"/>
<!-- KEEPING THE BELOW IN UNTIL WE HAVE IMAGES IN THE ABOVE ZIP FILE -->
<apex:stylesheet value="{!URLFOR($Resource.FamilyPortalStyles,'/FamilyPortalStyles/css/newStyles.css')}"/>

<style type="text/css">
    .firsttimelogin {
        font-weight: bold;
        padding-left: 10px;
        padding-right: 10px;
        text-align: left;
        font-size: large;
    }
</style>

<body class="login">

<c:SSSFamilySiteLogo />
    <div id="page" >
        <apex:form id="loginForm" forceSSL="true">
            <div id="loginWrapper" >
            <br />
                <div class="block loginWelcome" style="width: 700px; height:150px;">
<!--                    
                    <div class="blockheader">
                        PFS
                    </div>
                    <br />
 -->                    <div class="blockbody">
                        <br />
                        <p>
                            The Parents’ Financial Statement (PFS) is currently offline while we perform system maintenance. We apologize for any inconvenience. Please check back in 30 minutes.
                        </p>
                    </div>
                </div><!-- end block -->
                

            </div><!-- end loginwrapper -->
        </apex:form>
    </div><!-- end page -->
</body>
</apex:page>