<apex:page id="mainPage" controller="FamilyTemplateController" extensions="FamilyAppMainController" tabStyle="PFS__c" sideBar="false" showHeader="false" action="{!pageLoad}">
    <apex:composition template="{!template}">
        <apex:define name="header">
            <style>
                .hiddent_totals {
                    display:none;
                }
                tr:first-child td {
                  border-top:  bold;
                }
                .family-nav-header {
                    padding-top: 10px;
                }
                .family-nav-header.selected {
                    background-color: #EAEAEA;
                    background-image: URL('{!URLFOR($Resource.SchoolPortalStyles,'/images/new/collapsableClosed.png')}');
                    background-position: right 15px;
                    background-repeat: no-repeat;
                }

                .family-nav-section.selected {
                    background-color: #EAEAEA;
                    background-image: URL('{!URLFOR($Resource.SchoolPortalStyles,'/images/new/collapsableClosed.png')}');
                    background-position: right center;
                    background-repeat: no-repeat;
                }
                .required{
                    background-color: #FDD;
                }
                .requiredBlock{
                    background-color: #FFF !important;
                }
                .sectionHeader{
                    width: 100%;
                    background-color: #F0F0F0;
                    font-weight: bold;
                }
                .labelCol{
                    width: 50% !important;
                    text-align: left !important;
                }
                .helpicon{
                    background-image: URL('{!URLFOR($Resource.SchoolPortalStyles,'/images/new/info.png')}');
                    background-repeat: no-repeat;
                    background-position: center center;
                    display: inline-block;
                    height: 16px;
                    width: 16px;
                    padding-left: 5px;
                }
                .helpmessage{
                    padding-top: 5px;
                }
                .requiredText:after{
                    content: '*';
                    color: #FF0000;
                }
                .error-messages{
                    margin: 0px 0px 4px 0px;
                    border: 1px solid #CC0000;
                    background-color: #FFFFCC;
                    padding: 5px;
                }
                .error-messages h4{
                    color: #CC0000;
                }
                .error-messages ul{
                    padding-left: 0px;
                }
                .bPageBlock .pbBody{
                    padding-top: 60px;
                }
            </style>

            <apex:stylesheet value="{!$Resource.JqueryPowerTipCSS}"/>
            <apex:stylesheet value="{!URLFOR($Resource.JqueryUI1_10_2, '/jquery-ui-1.10.2.custom/css/smoothness/jquery-ui-1.10.2.custom.min.css')}"/>

            <apex:includeScript value="{!$Resource.JQueryBlockUI}" />
            <apex:includeScript value="{!$Resource.JQModal}" />
            <apex:includeScript value="{!$Resource.JqueryPowerTipMin}" />
            <apex:includeScript value="{!URLFOR($Resource.JqueryUI1_10_2, '/jquery-ui-1.10.2.custom/js/jquery-ui-1.10.2.custom.min.js')}" />

            <apex:outputPanel id="expJavascript" >
                <script type="text/javascript" >
                    var j$ = jQuery.noConflict();

                    var elementFocus = null; //NAIS-1778

                    j$(function() {
                        var select = document.getElementById('calYearPicker');
                        if (!select) return;

                        select.innerHTML = '';
                        var startYear = new Date().getFullYear() - 80;
                        for (var year = startYear; year < startYear + 85; year++) {
                          select.options[select.options.length] = new Option(year, year);
                        }
                    }) ;

                    // function to set our variable to "changed" so we know changes have been made on the page
                    function setChanged(){
                        document.getElementById('{!$Component.mainForm.areChangesInput}').value='changed';
                    }

                    //NAIS-1778 Start
                    function retainFocus(){
                        document.getElementById(elementFocus.name).focus();
                    }
                    //NAIS-1778 End

                    // called on page load in case loading the page caused some fields to "change"
                    function setUnChangedOnLoad(){
                        if(document.getElementById('{!$Component.mainForm.navigateAwayMethod}') == null){
                            document.getElementById('{!$Component.mainForm.navigateAwayMethod}').value = 'none';
                        }
                        if (document.getElementById('{!$Component.mainForm.setUnChangedOnLoadRan}') == null){
                            document.getElementById('{!$Component.mainForm.setUnChangedOnLoadRan}').value = 'no';
                        }
                        if (document.getElementById('{!$Component.mainForm.javascriptSaveAttempted}') == null){
                            document.getElementById('{!$Component.mainForm.javascriptSaveAttempted}').value = 'no';
                        }

                        // run the "setUnchanged" method if any of the following are true:
                        // 1. it has not already run
                        // 2. a javascript save has not been attempted
                        // 3. a save was attempted and was successful
                        if(document.getElementById('{!$Component.mainForm.setUnChangedOnLoadRan}').value != 'yes'
                           || document.getElementById('{!$Component.mainForm.javascriptSaveAttempted}').value != 'yes'
                           || {!saveSuccessful}
                         ){
                            setUnchanged();
                        // otherwise, run the setChanged because the page is being reloaded, most likely on a failed save
                        } else {
                            setChanged();
                        }
                    }

                    function setUnchanged(){
                        // set the flag that tracks if unchanged has run to 'yes', arechangesinput to 'no', and javascriptsave to 'no'
                        document.getElementById('{!$Component.mainForm:setUnChangedOnLoadRan}').value = 'yes';
                        document.getElementById('{!$Component.mainForm:areChangesInput}').value='no';
                        document.getElementById('{!$Component.mainForm:javascriptSaveAttempted}').value = 'no';
                    }

                    var routeTo = "";

                    // called when the user clicks on a left nav link or acad year selector
                    function navigateAway(navTarget){
                        // set the javascriptReturnURL property used by the save method in the controller
                        routeTo = navTarget;
                        document.getElementById('{!$Component.mainForm.javascriptReturnURL}').value=navTarget;

                        // if changes have been made, call the save method
                        if(document.getElementById('{!$Component.mainForm.areChangesInput}').value == 'changed'){
                            // call the acad year method if this is select schools page, since the logic is the same
                            if({!currentScreen=='SelectSchools'}){
                                navigateAwayAcadYear();
                            } else {
                                showNavConfirmation();
                            }

                            if ({!currentScreen=='DependentInformation'})
                            {
                                showNavConfirmation();
                            }
                        }
                        // else, just go to the link they clicked on
                        else {
                            routeToPage();
                        }
                    }

                    // special function called if they navigate away by clicking on the acad year selector
                    // this will change the variables so that later in the flow we will reload the current page post-save
                    function navigateAwayAcadYear(){
                        // set the javascript URL to "stayhere" so that we reload this page after save
                        document.getElementById('{!$Component.mainForm.javascriptReturnURL}').value='stayhere';
                        // set the navigateAwayMethod variable to "acadYearSelect" so we can track that they are navigating away via the acad year selector
                        document.getElementById('{!$Component.mainForm.navigateAwayMethod}').value = 'acadYearSelect';
                        showNavConfirmationStayHere();
                    }

                    function navigateAwaySubmit(){
                        if(document.getElementById('{!$Component.mainForm.areChangesInput}').value == 'changed'){
                            document.getElementById('{!$Component.mainForm.javascriptReturnURL}').value='stayhere';
                            document.getElementById('{!$Component.mainForm.navigateAwayMethod}').value = 'payandsubmit';
                            showNavConfirmationStayHere();
                        } else {
                            payAndSubmit();
                            //saveTheRecord();
                        }
                    }

                    // pop up the normal save confirmation
                    function showNavConfirmation(){
                        j$("#modal-save-confirm").modal();
                        // need to change overflow so padding will work - [dp]
                        j$("#modal-save-confirm").parent().css("overflow","visible");

                    }

                    // pop up the normal save confirmation
                    function cancelNavAwayModal(){
                        // need to set this back to "no" so we are not saving the state of navigating away from acadyearselect
                        document.getElementById('{!$Component.mainForm.navigateAwayMethod}').value = 'none';
                        j$.modal.close();
                    }

                    // pop up the "you must save and reload this page before leaving" confirmation
                    function showNavConfirmationStayHere(){
                        j$("#modal-save-confirm-stay").modal();
                        // need to change overflow so padding will work - [dp]
                        j$("#modal-save-confirm-stay").parent().css("overflow","visible");
                    }

                    // if they choose "yes" they want to save on the popup
                    function yesNavConfirm(){
                        // set the flag to track we are attempting a javascript save
                        document.getElementById('{!$Component.mainForm.javascriptSaveAttempted}').value = 'yes';
                        try{
                            // if we're on the select schools page, use it's special save method
                            if({!currentScreen=='SelectSchools'}){
                                saveTheRecordSelectSchools();
                                j$.modal.close();
                            // else, kick off the normal save method
                            } else {
                                // SFP-637, modal interrupts process of moving on [8.7.2016 jB]
                                if ('{!currentScreen}' == 'EducationalExpenses' && !saveAndExitConfirm){
                                    saveTheRecordInterrupt();
                                    j$.blockUI({'message':j$('.please-wait-message')});
                                } else if('{!currentScreen}' == 'EducationalExpenses' && saveAndExitConfirm){
                                    saveAndAction('saveAndExit');
                                } else {
                                    saveTheRecord();
                                }
                                j$.modal.close();
                            }
                        }
                        catch(err){
                            alert('Error Saving Document: ' + err);
                        }
                    }

                    // if they choose "no" they don't want to save on the popup
                    function noNavConfirm(){
                        j$.modal.close();
                        // this path is if they changed the academic year selector and do not save changes
                        if (document.getElementById('{!$Component.mainForm.navigateAwayMethod}').value == 'acadYearSelect'){
                            location.reload(true);
                        } else if (document.getElementById('{!$Component.mainForm.navigateAwayMethod}').value == 'payandsubmit'){
                            payAndSubmit();
                        } else {
                            routeToPage();
                        }
                    }

                    // sends them to link they clicked on
                    function routeToPage(){
                        if(j$.modal != null){
                            j$.modal.close();
                        }

                        if (routeTo == "/secur/logout.jsp"){
                            routeTo = "{!$Site.Prefix}/secur/logout.jsp";
                        }
                        window.location = routeTo;
                    }

                    function scrollTop() {
                       j$("html, body").animate({ scrollTop: 0 }, "fast");
                    }

                    function onEnterKeySaveAndNext() {
                        if (window.event && window.event.keyCode == 13) {
                            if ({!currentScreen=='SelectSchools'}) {
                                return false;
                            }

                            var ele=document.getElementById('{!$Component.mainForm.mainBlock.btnSaveAndNext}');
                            if (ele) {
                                ele.click();
                                return false;
                            }
                        }

                        return true;
                    }

                    function checkforSSO() 
                    {
                        if ({!integrationSource == 'sao' }) {
                            j$.blockUI({'message':j$('.please-wait-message')});
                            kickoffIntegration();

                        } else if( {!integrationLogoutSuccess == true}) {
                            handleIntegration();
                        }

                    }

                    function disableSubmitButtons()
                    {
                        j$('input.submitbtn[type="button"]').prop("disabled",true);
                    }

                    function enableSubmitButtons()
                    {
                        console.log('enableSubmitButtons');
                        j$('input.submitbtn[type="button"]').prop("disabled",false);
                    }

                    var saveAndExitConfirm = false;
                    var actionFromButton;

                    function showNotification(nextAction) 
                    {
                        actionFromButton = nextAction;
                        disableSubmitButtons();
                        var currentScreen = '{!currentScreen}';

                        if (currentScreen == 'EducationalExpenses')
                        {
                            // SFP-684 - this will confirm the user is exiting the application after they have confirmed [jB]
                            if(nextAction == 'saveAndExit')
                            {
                                saveAndExitConfirm = true;
                            }

                            var isVisible_Parent_Sources_Current = j$("#isVisible_Parent_Sources_Current__c") != null && j$("#isVisible_Parent_Sources_Current__c").val() == 'false'
                                                                 ? false : true;
                            
                            if(isVisible_Parent_Sources_Current) 
                            {
                                userAction = (nextAction) ? nextAction : null;
                                showTuitionAbleToPayModal();
                                return false;
                            }
                        }

                        if (currentScreen == 'ApplicantInformation' && '{!addApplicant}' == 1)
                        {
                            validateApplicants(nextAction);
                        }
                        else
                        {
                            if (nextAction) 
                            {
                                saveAndAction(nextAction);
                            }
                        }
                    }

                    function showNewApplicantMessage(nextUserAction)
                    {
                        var isApplicantInformationValid = {!isValidNewApplicantForm};

                        if (!isApplicantInformationValid)
                        {
                            return false; 
                        }   
                        
                        userAction = (nextUserAction) ? nextUserAction : null;
                        
                        var isSubmitted = {!IsSubmitted};
                        if (isSubmitted)
                        {
                            showApplicantAddedModal();
                        }
                        else
                        {
                            saveAndAction(userAction);
                        }

                        return false;
                    }
                    
                    // SFP-637
                    function showTuitionAbleToPayModal(){
                        setTuitionAbleToPayTotal();

                        j$("#modal-save-confirm-tuition").modal();
                        // need to change overflow so padding will work - [dp]
                        j$("#modal-save-confirm-tuition").parent().css("overflow","visible");
                    }

                    function showApplicantAddedModal() {
                        j$("#main-applicant-added-modal").modal({escClose: false});
                        j$("#main-applicant-added-modal").show();
                    }

                    function closeApplicantAddedModal() {
                        jQuery.modal.close();
                        saveAndAction(userAction);
                    }

                    function saveAndAction(userAction) {
                        if (userAction == 'saveAndNext') {
                            saveAndNext();
                        } else if (userAction == 'saveAndExit') {
                            saveAndExit();
                        } else if (userAction == 'saveAndAdd') {
                            saveAndAdd();
                        }

                        j$.blockUI({'message':j$('.please-wait-message')});
                    }

                    function showPleaseWait() {
                        if ( !isZero() && ('{!currentScreen}' != 'ApplicantInformation' || '{!addApplicant}' != '1') && '{!currentScreen}' != 'EducationalExpenses') {
                            j$.blockUI({'message':j$('.please-wait-message')});
                        }
                    }
                    function hidePleaseWait() {
                        j$.unblockUI();
                        j$('#valueSetOnchange').val('');
                    }
                    function setValueSetOnchange(value)
                    {
                        j$('#valueSetOnchange').val(value);
                    }
                    function isZero()
                    {
                        var var1 = j$('#valueSetOnchange').val();
                        if(var1!=null && parseInt(var1,10)==0) return true;
                        return false;
                    }

                    function updateRequiredMessage() 
                    {
                        j$(".required").each(function() {
                            if (j$(this).val() == "") {
                                if (!j$(this).hasClass("error")) {
                                    j$(this).addClass("error");

                                    if (j$(this).parent().hasClass("requiredInput")) {
                                        j$(this).parent().after("<div class='errorMsg'><strong>Error:</strong> You must enter a value</div>");
                                    } else {
                                        if (j$(this).siblings().length > 0) {
                                            j$(this).siblings(":last").after("<div class='errorMsg'><strong>Error:</strong> You must enter a value</div>");
                                        } else {
                                            j$(this).after("<div class='errorMsg'><strong>Error:</strong> You must enter a value</div>");
                                        }
                                    }
                                }
                            } else {
                                if (j$(this).hasClass("error")) {
                                    j$(this).removeClass("error");

                                    if (j$(this).parent().hasClass("requiredInput")) {
                                        j$(this).parent().siblings(".errorMsg").remove();
                                    } else {
                                        j$(this).siblings(".errorMsg").remove();
                                    }
                                }
                            }
                        });
                    }
                    
                    function redirectToURL(url) {
                        window.location = url;
                    }
                	
                    function validateNumber(evt) { 
                        var theEvent = evt || window.event;
                        var key = theEvent.keyCode || theEvent.which;
                        key = String.fromCharCode( key );
                        var regex = /[0-9]|\./;
                        if( !regex.test(key) || key=='.' ) {
                            theEvent.returnValue = false;
                            if(theEvent.preventDefault) theEvent.preventDefault();
                        }
                    }
                </script>
            </apex:outputPanel>
        </apex:define>

        <apex:define name="body">
            <apex:actionStatus id="RequestStatus" onstart="showPleaseWait();" onstop="hidePleaseWait();" />

            <div class="please-wait-message" style="display:none">
                <div style="font-size:4em;margin:5px">
                    <apex:outputText escape="false" value="{!$Label.Please_wait}" />
                </div>
            </div>

            <div id="main-applicant-added-modal" class="block" style="display:none;">
                <apex:outputPanel id="main-applicant-added-modal-content">
                    <div class="blockheader">
                        <h1>Notice:
                            <span style="float:right;"><a href="#" onClick="closeApplicantAddedModal();">x</a></span>
                        </h1>
                    </div>
                    <div class="blockbody">
                        <p>The following sections will need your attention before your PFS will be complete.</p>
                        <div class="row">Section 5: Select Schools.</div>
                        <div class="row">Section 9: Applicant Income.</div>
                        <div class="row">Section 13: Educational Expenses.</div>
                    </div>
                    <div class="blockfooter">
                        <div class="buttonsWrap">
                            <div class="centerButtons">
                                <a href="#" styleClass="btn primary" onClick="closeApplicantAddedModal();">Continue</a>
                            </div>
                        </div>
                    </div>
                </apex:outputPanel>
            </div>

            <apex:form id="mainForm" onkeypress="return onEnterKeySaveAndNext();">
                <apex:inputHidden id="areChangesInput" value="{!changedString}"/>
                <apex:inputHidden id="navigateAwayMethod"/>
                <apex:inputHidden id="javascriptReturnURL" value="{!javascriptReturnURL}"/>
                <apex:inputHidden id="setUnChangedOnLoadRan" />
                <apex:inputHidden id="javascriptSaveAttempted" />
                <input type="hidden" id="valueSetOnchange" value=""/>

                <apex:actionFunction name="saveAndNext" 
                    action="{!saveAndNext}" 
                    rerender="mainColContent, pagemessages" 
                    onComplete="updateRequiredMessage();enableSubmitButtons();" />
                <apex:actionFunction name="saveAndAdd" 
                    action="{!saveAndNewApplicant}" 
                    rerender="mainColContent, pagemessages" 
                    onComplete="updateRequiredMessage();enableSubmitButtons();" />
                <apex:actionFunction name="saveAndExit" 
                    action="{!saveAndExit}" 
                    rerender="mainColContent, pagemessages" 
                    onComplete="updateRequiredMessage();enableSubmitButtons();" />

                <apex:actionFunction name="handleIntegration" action="{!handleIntegration}" rerender="mainColContent, pagemessages" />
                <apex:actionFunction name="kickoffIntegration" action="{!kickoffIntegration}" rerender="mainColContent, pagemessages" onComplete="hidePleaseWait()" />
                <apex:actionFunction name="validateApplicants" action="{!validateApplicants}" rerender="expJavascript,pagemessages" oncomplete="updateRequiredMessage();enableSubmitButtons();showNewApplicantMessage(actionFromButton);"/>

                <!-- SFP-684 [8.25.2016] saveAndNext function did not have any partial page refreshes which causes parts of the page to lose context, this method wraps saveAndNext which [jB] -->
                <apex:actionFunction name="saveTheRecordInterrupt" action="{!javascriptSaveRecordInterrupt}" rerender="mainColContent, pagemessages, familyportaltopbarform, expJavascript" status="RequestStatus" onComplete="setUnChangedOnLoad();" />

                <apex:actionFunction name="saveTheRecord" action="{!javascriptSaveRecord}" rerender="mainColContent, pagemessages, familyportaltopbarform, expJavascript, dependentsSection" status="RequestStatus" onComplete="setUnChangedOnLoad();"/>
                <apex:actionFunction name="saveTheRecordAcadYearChange" action="{!javascriptSaveRecordNoReturnURL}" rerender="mainColContent, pagemessages, familyportaltopbarform, expJavascript" status="RequestStatus" onComplete="setUnChangedOnLoad();" />

                <apex:actionFunction name="payAndSubmit" action="{!submitPFS}" rerender="mainColContent, pagemessages, familyportaltopbarform, expJavascript"  />
                

                <apex:pageBlock id="mainBlock">
                    <div id="pageBackground">
                        <apex:outputPanel id="mainBlockSection" layout="block">

                            <apex:outputPanel id="pagemessages" >
                                <apex:pageMessages rendered="{!saveSuccessful}" />
                                <apex:outputPanel rendered="{!HasMessages}">
                                    <div class="error-messages">
                                        <div style="display:inline-block; vertical-align:top; margin-right: 10px">
                                            <img title="{!$Label.site.error2}" src="/img/msg_icons/error24.png" alt="{!$Label.site.error2}" />
                                        </div>
                                        <div style="display:inline-block; width: 80%">
                                            <h4><apex:outputText value="{!$Label.site.error2}" />:</h4>
                                            <apex:messages />
                                        </div>
                                    </div>
                                </apex:outputPanel>
                            </apex:outputPanel>

                            <apex:outputPanel id="main" layout="block" rendered="{!IF(pfsId != null, 'true', 'false')}" >
                                <div id="sidebar">
                                    <div class="verticalTab open"/>
                                    <div id="pfsChecklist">
                                        <div>
                                            <apex:outputPanel layout="block" styleClass="inner" id="family-nav-bar-container">
                                                <c:FamilyNavigationBar id="navBar" hiddenFields="{!hiddenFields}" currentPFS="{!pfsRecord}" busfarmId="{!bfId}" selectedScreen="{!currentScreen}" applicationUtility="{!appUtils}"/>
                                            </apex:outputPanel>
                                            <apex:outputPanel layout="block" styleClass="submitpfs">
                                                <apex:commandButton styleClass="btn secondary {!IF(OR(NOT(appUtils.applicationIsComplete), appUtils.isSubmittedAndPaid), 'disabled', '')}"
                                                                    value="PAY AND SUBMIT THIS PFS"
                                                                    onClick="navigateAwaySubmit();"
                                                                    rerender="main"
                                                                    disabled="{!OR(NOT(appUtils.applicationIsComplete), appUtils.isSubmittedAndPaid)}"
                                                                    title="{!IF(appUtils.applicationIsComplete, IF(appUtils.isSubmittedAndPaid, 'PFS is already Submitted and Paid', ''),'All application sections must be complete.')}"/>

                                            </apex:outputPanel>
                                        </div>

                                    </div>
                                </div>

                                <div id="mainCol">
                                    <div id="mainColumnHeader" style="display: {!IF(OR(AND(IsEZProcessActive,currentScreen=='BasicTax'),currentScreen=='SelectSchools', currentScreen=='TotalTaxable', currentScreen=='PFSSubmit', AND(currentScreen=='StudentIncome', pfsRecord.Applicants__r.size == 0)),'none', 'block')}">
                                        <h2>
                                        <span>
                                            <apex:outputLabel value="{!appUtils.mainLabel}"/>
                                        </span>
                                            <!-- NAIS-2494 START -->
                                            <apex:outputLabel value="{!IF(OR(currentScreen=='BusinessInformation', currentScreen=='BusinessIncome', currentScreen=='BusinessExpenses', currentScreen=='BusinessAssets'), SUBSTITUTE(appUtils.subLabel, '. Business', '.'+TEXT(bfRecord.Sequence_Number__c)+'. '+NULLVALUE(bfRecord.Name, 'Business')+' -') , appUtils.subLabel)}" />
                                            <!-- NAIS-2494 END -->
                                        </h2>
                                        <div>
                                            <apex:commandButton id="btnSaveAndNext"
                                                                styleClass="primary submitbtn"
                                                                value="{!SaveAndNextButtonText}"
                                                                rerender=""
                                                                disabled="{!IF(AND(OR(AND($CurrentPage.parameters.screen=='OtherConsiderations', NOT(additionalQuestionsRequired)), AND($CurrentPage.parameters.screen=='AdditionalQuestions',additionalQuestionsRequired)), OR(NOT(appUtils.applicationIsComplete),appUtils.isSubmittedAndPaid)),'true','false')}"
                                                                status="RequestStatus"
                                                                onclick="showNotification('saveAndNext');"
                                                                oncomplete="scrollTop();"
                                            />
                                            
                                            <apex:commandButton id="newApplicant"
                                                                styleClass="submitbtn"
                                                                rendered="{!currentScreen=='ApplicantInformation'}"
                                                                value="Save & Add Another Applicant"
                                                                style="width: 200px;"
                                                                rerender=""
                                                                status="RequestStatus"
                                                                onclick="showNotification('saveAndAdd');"
                                                                oncomplete="scrollTop();"
                                            />
                                            <apex:commandButton id="btnSaveAndExit"
                                                                styleClass="submitbtn"
                                                                value="{!SaveAndExitButtonText}"
                                                                rendered="{!ShowSaveAndExit}"
                                                                onclick="showNotification('saveAndExit');"
                                                                rerender=""
                                                                status="RequestStatus"
                                                                oncomplete="scrollTop();"
                                            />
                                            <apex:commandButton id="btnCancel"
                                                                value="{!cancelButtonText}"
                                                                action="{!cancelRecord}"
                                                                rendered="{!currentScreen != 'DependentInformation'}"
                                                                immediate="true"
                                            />

                                            <apex:commandButton id="btnCancelDependentInfo"
                                                                value="{!cancelButtonText}"
                                                                onclick="navigateAway('{!$Page.FamilyApplicationMain}?id={!pfsRecord.Id}'); return false;"
                                                                styleClass="submitbtn"
                                                                rendered="{!currentScreen = 'DependentInformation'}"
                                                                reRender=""
                                                                immediate="true"/>
                                        </div>
                                    </div>

                                    <div id="mainColContent">
                                        <apex:outputPanel rendered="{!currentScreen=='HouseholdInformation'}">
                                            <apex:outputField style="font-family: Arial, Helvetica, sans serif !important;" value="{!appUtils.helpRecord.Speedbump_Household_Info__c}"/>
                                        </apex:outputPanel>

                                        <!-- <apex:dynamicComponent componentValue="{!householdInfoComp}"/>  -->
                                        <apex:dynamicComponent componentValue="{!parentGuardianComp}"/>
                                        <apex:dynamicComponent componentValue="{!applicantsComp}"/>

                                        <apex:outputPanel id="dependentsSection" rendered="{!currentScreen=='DependentInformation'}">
                                            <c:FamilyAppDependent pfsRecord="{!pfsRecord}" applicationUtility="{!appUtils}" dependents="{!dependentItem}"/>
                                        </apex:outputPanel>

                                        <apex:dynamicComponent componentValue="{!householdSummaryComp}"/>
                                        <apex:outputPanel rendered="{!currentScreen=='SchoolSelection'}">
                                            <apex:outputField value="{!appUtils.helpRecord.Speedbump_School_Selection__c}"/>
                                        </apex:outputPanel>

                                        <apex:outputPanel rendered="{!currentScreen=='SelectSchools'}">
                                            <c:FamilySelectSchools pfsRecord="{!pfsRecord}" applicationUtility="{!appUtils}" />
                                        </apex:outputPanel>

                                        <apex:outputPanel rendered="{!currentScreen=='FamilyIncome'}">
                                            <apex:outputField value="{!appUtils.helpRecord.Speedbump_Family_Income__c}"/>
                                        </apex:outputPanel>

                                        <!-- IMPORTANT: Changing this to a dinamycComponent will produce an odd behavior with rerender in popup after save action -->
                                        <apex:outputPanel rendered="{!currentScreen=='BasicTax'}">
                                            <c:FamilyAppFamilyIncomeBasic hiddenFields="{!hiddenFields}" pfsRecord="{!pfsRecord}" applicationUtility="{!appUtils}" />
                                        </apex:outputPanel>

                                        <!-- IMPORTANT: Changing this to a dinamycComponent will produce an odd behavior with rerender in popup after save action -->
                                        <apex:outputPanel rendered="{!currentScreen=='TotalTaxable'}">
                                            <c:FamilyAppFamilyIncomeTotalTaxable hiddenFields="{!hiddenFields}" pfsRecord="{!pfsRecord}" applicationUtility="{!appUtils}" />
                                        </apex:outputPanel>

                                        <apex:dynamicComponent componentValue="{!totalNonComp}"/>
                                        <apex:dynamicComponent componentValue="{!studentIncomeComp}"/>

                                        <apex:outputPanel rendered="{!currentScreen=='FamilyAssets'}">
                                            <apex:outputField value="{!appUtils.helpRecord.Speedbump_Family_Assets_Debts__c}"/>
                                        </apex:outputPanel>

                                        <apex:dynamicComponent componentValue="{!realEstateComp}"/>
                                        <apex:dynamicComponent componentValue="{!vehiclesComp}"/>
                                        <apex:dynamicComponent componentValue="{!otherAssetsComp}"/>

                                        <apex:outputPanel rendered="{!currentScreen=='FamilyExpenses'}">
                                            <apex:outputField value="{!appUtils.helpRecord.Speedbump_Family_Expenses__c}"/>
                                        </apex:outputPanel>

                                        <apex:dynamicComponent componentValue="{!educationalExpensesComp}"/>
                                        <apex:dynamicComponent componentValue="{!otherExpensesComp}"/>

                                        <apex:outputPanel rendered="{!currentScreen=='BusinessFarm'}">
                                            <apex:outputField value="{!appUtils.helpRecord.Speedbump_Business_Farm__c}"/>
                                        </apex:outputPanel>

                                        <apex:dynamicComponent componentValue="{!businessInformationComp}"/>
                                        <apex:dynamicComponent componentValue="{!businessIncomeComp}"/>
                                        <apex:dynamicComponent componentValue="{!businessExpensesComp}"/>
                                        <apex:dynamicComponent componentValue="{!businessAssetsComp}"/>

                                        <apex:dynamicComponent componentValue="{!businessSummaryComp}"/>

                                        <apex:outputPanel rendered="{!currentScreen=='MonthlyIncomeExpensesMain'}">
                                            <apex:outputField value="{!appUtils.helpRecord.Speedbump_Monthly_Income_Expenses__c}"/>
                                        </apex:outputPanel>

                                        <apex:outputPanel rendered="{!currentScreen=='OtherInformation'}">
                                            <apex:outputField value="{!appUtils.helpRecord.Speedbump_Other_Information__c}"/>
                                        </apex:outputPanel>

                                        <apex:dynamicComponent componentValue="{!otherConsiderationsComp}"/>

                                        <apex:outputPanel rendered="{!currentScreen=='ForKamehameha'}">
                                            <apex:outputField value="{!appUtils.helpRecord.Speedbump_For_KS__c}"/>
                                        </apex:outputPanel>

                                        <!-- SFP-608 -->
                                        <apex:dynamicComponent componentValue="{!AdditionalQuestionsComp}" />
                                        <!-- /SFP-608 -->
                                        <apex:dynamicComponent componentValue="{!forKamehamehaApplicantComp}"/>
                                        <apex:dynamicComponent componentValue="{!forKamehamehaProgramComp}"/>
                                        <!-- SFP-636 -->
                                        <apex:outputPanel rendered="{!currentScreen=='MonthlyIncomeExpenses'}">
                                            <!-- We can not use immediate for this method. If we do use immediate this will cause that "Please Explain" won't render properly. -->
                                            <apex:actionFunction name="refreshExplainTextareas" status="RequestStatus" rerender="Other_Monthly_Income_Description, Other_Monthly_Support_Expenses_Description, Other_Monthly_Housing_Expenses_Description, Other_Monthly_Tuition_Expenses_Description, Other_Monthly_Vehicle_Expenses_Description, Other_Monthly_Healthcare_Expenses_Description, Other_Monthly_Food_Expenses_Description, Other_Monthly_Entertainment_Expenses_Description" />
                                            
                                            <!-- START: Logic to recalc MIE totals -->
                                            <apex:outputPanel id="FamilyAppMonthlySummary">
                                                <!-- We can not use immediate for this method. If we do use immediate this will cause tha the recalculation do not occurrs. -->
                                                <apex:actionFunction name="recalcMIETotals" action="{!recalcMIETotals}" oncomplete="recalcMIETotalsEnd();" rerender="total_1,total_2,total_3,total_4,total_5,total_6,total_7,total_8,MIETotalNetIncome,MIEMonthlyIncomeTotal,MIEMonthlyTotalExpenses, MIEItemizedDebtPayment" />
	                                            <script>                                                
	                                                recalcMIETotals();
	                                                
	                                                function recalcMIETotalsEnd() {
	                                                
	                                                    j$('.Monthly_Income_Total_F').html(j$('.hiddent_totals.MIEMonthlyIncomeTotal').html());
	                                                    j$('.Monthly_Total_Expenses_F').html(j$('.hiddent_totals.MIEMonthlyTotalExpenses').html());
	                                                    j$('.Monthly_Net_Income_F').html(j$('.hiddent_totals.MIETotalNetIncome').html());
	                                                    
	                                                    j$('.mie_loading_spinner').remove();
	                                                }
	                                            </script>
												<apex:outputText value="{0, number, $###,##0}" id="MIETotalNetIncome" styleClass="hiddent_totals MIETotalNetIncome">
												    <apex:param value="{!MIETotalNetIncome}" />
												</apex:outputText>
												<apex:outputText value="{0, number, $###,##0}" id="MIEMonthlyIncomeTotal" styleClass="hiddent_totals MIEMonthlyIncomeTotal">
												    <apex:param value="{!MIEMonthlyIncomeTotal}" />
												</apex:outputText>
												<apex:outputText value="{0, number, $###,##0}" id="MIEMonthlyTotalExpenses" styleClass="hiddent_totals MIEMonthlyTotalExpenses">
												    <apex:param value="{!MIEMonthlyTotalExpenses}" />
												</apex:outputText>
                                            </apex:outputPanel>
                                        </apex:outputPanel>
                                        <!-- END: Logic to recalc MIE totals -->
                                        <apex:dynamicComponent componentValue="{!MonthlyIncomeAndExpensesComp}" />
                                        <!-- /SFP-636 -->
                                        <apex:outputPanel rendered="{!currentScreen=='PFSSubmit'}">
                                            <c:FamilyAppSubmitConfirm pfsRecord="{!pfsRecord}" applicationUtility="{!appUtils}" />
                                        </apex:outputPanel>

                                    </div> <!-- end  mainColContent -->
                                    <div id="mainColumnFooter"  style="display: {!IF(OR(AND(IsEZProcessActive,currentScreen=='BasicTax'),currentScreen=='SelectSchools', currentScreen=='TotalTaxable', currentScreen=='PFSSubmit', AND(currentScreen=='StudentIncome', pfsRecord.Applicants__r.size == 0)),'none', 'block')}">
                                        <div>
                                            <!-- SFP-607 Allow AdditionalQuestions to be last page -->
                                            <apex:commandButton id="btnSaveAndNextBottom"
                                                                value="{!SaveAndNextButtonText}"
                                                                onclick="showNotification('saveAndNext');"
                                                                rerender=""
                                                                disabled="{!IF(AND(OR(AND($CurrentPage.parameters.screen=='OtherConsiderations', NOT(additionalQuestionsRequired)), AND($CurrentPage.parameters.screen=='AdditionalQuestions',additionalQuestionsRequired)), OR(NOT(appUtils.applicationIsComplete),appUtils.isSubmittedAndPaid)),'true','false')}"
                                                                status="RequestStatus"
                                                                styleClass="primary submitbtn"
                                                                oncomplete="scrollTop();"/>
                                            <!-- /SFP-607 -->
                                            <apex:commandButton id="newApplicantBottom"
                                                                value="Save & Add Another Applicant"
                                                                onclick="showNotification('saveAndAdd');"
                                                                rendered="{!currentScreen=='ApplicantInformation'}"
                                                                rerender=""
                                                                StyleClass="submitbtn"
                                                                style="width: 200px;"
                                                                status="RequestStatus" 
                                                                oncomplete="scrollTop();"/>

                                            <apex:commandButton id="btnSaveAndExitBottom" 
                                                                value="{!SaveAndExitButtonText}"
                                                                styleClass="submitbtn" 
                                                                onclick="showNotification('saveAndExit');" 
                                                                rendered="{!ShowSaveAndExit}" 
                                                                rerender="" 
                                                                status="RequestStatus" 
                                                                oncomplete="scrollTop();"/>

                                            <apex:commandButton id="btnCancelBottom" 
                                                                value="{!cancelButtonText}"
                                                                action="{!cancelRecord}"
                                                                rendered="{!currentScreen != 'DependentInformation'}" 
                                                                styleClass="submitbtn"
                                                                immediate="true"/>

                                            <apex:commandButton id="btnCancelBottomDependentInfo"
                                                                value="{!cancelButtonText}"
                                                                onclick="navigateAway('{!$Page.FamilyApplicationMain}?id={!pfsRecord.Id}'); return false;"
                                                                styleClass="submitbtn"
                                                                rendered="{!currentScreen = 'DependentInformation'}"
                                                                reRender=""
                                                                immediate="true"/>
                                        </div>
                                    </div>
                                </div><!-- end mainCol -->
                            </apex:outputPanel>
                        </apex:outputPanel>
                    </div>
                </apex:pageBlock>
                <div id="modal-save-confirm"
                     style="display: none; border: 1px solid black; height: auto; width: auto; background-color: whiteSmoke; padding: 20px;">

                    <div Id="setupDoc">
                        <h1>Do you wish to Save?</h1>
                        <p>You are about to navigate away from a page with unsaved changes.  <b>Do you wish to Save?</b></p>
                        <apex:commandButton value="Yes"
                                            onClick="javascript:yesNavConfirm();"
                                            styleClass="secondary"/>
                        <apex:commandButton value="No"
                                            onClick="javascript:noNavConfirm();"
                                            styleClass="secondary"/>
                        <apex:commandButton value="Cancel"
                                            onClick="javascript:cancelNavAwayModal();"
                                            styleClass="secondary" />
                    </div>
                </div>

                <div id="modal-save-confirm-stay"
                     style="display: none; border: 1px solid black; height: auto; width: auto; background-color: whiteSmoke; padding: 20px;">

                    <div Id="setupDoc">
                        <h1>Unsaved Changes</h1>
                        <p>You have unsaved changes, and must save or discard them before leaving this page.  <b>Do you wish to Save now?</b></p>
                        <p>After your changes are saved you may navigate away from this page.</p>
                        <apex:commandButton value="Yes"
                                            onClick="javascript:yesNavConfirm();"
                                            styleClass="secondary" />
                        <apex:commandButton value="No"
                                            onClick="javascript:noNavConfirm();"
                                            styleClass="secondary" />
                        <apex:commandButton value="Cancel"
                                            onClick="javascript:cancelNavAwayModal();"
                                            styleClass="secondary" />
                    </div>
                </div>
            </apex:form>
            <!-- Start: EZ Component -->
            <apex:pageBlock >
                <apex:form >
                    <apex:dynamicComponent componentValue="{!EZProcessComp}"/>
                </apex:form>
            </apex:pageBlock>
            <!-- End: EZ Component -->
        </apex:define>
    </apex:composition>

    <script type="text/javascript">
        var previousOnload = window.onload;
        window.onload = function() {
            if (previousOnload) {
                previousOnload();
            }
            setUnChangedOnLoad();
            checkforSSO();
        }
    </script>

</apex:page>