<apex:page controller="FamilyLoginController" showheader="false" title="SSS Login">

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<apex:includeScript value="{!$Resource.ButtonEnablement}" />
<style type="text/css">

    .getSSSCode .blockbody .widesecurity {
        width: auto;
    }


    .helpicon{
        background-image: URL('{!URLFOR($Resource.SchoolPortalStyles,'/images/new/info.png')}');
        background-repeat: no-repeat;
        background-position: center center;
        display: inline-block;
        height: 16px;
        width: 16px;
        padding-left: 5px; 
    }
    .helpmessage{
        padding-top: 5px;
    }

    #contact-info-block {
        margin-top:1em; width:85%
    }

    #contact-info-block-form {
        float:left; margin-right:40px;
    }

    #security-info-block {
        clear:both;
    }
    .login #loginWrapper .getSSSCode .blockbody input.btn {
        background: -webkit-linear-gradient(top, #5c5b62, #302f38 100%);
        background: -ms-linear-gradient(top, #5c5b62, #302f38 100%);
    background-image: -webkit-linear-gradient(top, rgb(92, 91, 98), rgb(48, 47, 56) 100%);
        color: #FFFFFF;
    }
    
    .parent-name {
    	font-weight: 600;
        margin-left: 3px;
    }
</style>

<script>
    $ = jQuery.noConflict();
    window.onload = checkIntegrationSourceCookie;

    var integrationSource;
    function checkIntegrationSourceCookie(){
        var cookies = document.cookie.split(';');
        console.log(cookies);
        for(var x=0;x<cookies.length;x++){
            var cook = cookies[x].split('=');
            if(cook[0].trim() == 'SSSintegrationSource'){
                integrationSource = cook[1];
                setIntegrationSourceAF(integrationSource);
                console.log(integrationSource);
            }
        }

    }
    
    function checkParentName() {
        var fName = document.getElementById('{!$Component.updateAccountPanel.firstname2}').value.trim();
        var lName = document.getElementById('{!$Component.updateAccountPanel.lastname2}').value.trim();
        var outputSpan = document.getElementById('outputTextParentName');
        outputSpan.innerHTML = 'My name is '+fName+' '+lName;
    }
</script>

<apex:stylesheet value="{!URLFOR($Resource.SchoolPortalStyles,'/css/newStyles.css')}"/>
<!-- KEEPING THE BELOW IN UNTIL WE HAVE IMAGES IN THE ABOVE ZIP FILE -->
<apex:stylesheet value="{!URLFOR($Resource.FamilyPortalStyles,'/FamilyPortalStyles/css/newStyles.css')}"/>

<body class="login">

<c:SSSFamilySiteLogo />
<apex:actionStatus id="disableSubmitButtons" onstart="disableButtons('.submitButton');" onstop="enableButtons('.submitButton');" />

    <apex:outputPanel layout="block" id="page" >
        <script type="text/javascript">
            $( document ).ready(function() {
                var fName = document.getElementById('{!$Component.updateAccountPanel.firstname2}').value.trim();
                var lName = document.getElementById('{!$Component.updateAccountPanel.lastname2}').value.trim();
                var outputSpan = document.getElementById('outputTextParentName');
                if(fName + lName != null && fName + lName != '') {
                	outputSpan.innerHTML = 'My name is '+fName+' '+lName;
                }                
            });
        </script>
        <div id="loginWrapper" >

            <apex:pageMessages id="error"/>
            <apex:form >
                <apex:actionFunction name="setIntegrationSourceAF" rerender="null">
                    <apex:param name="source" id="source" value="" assignTo="{!integrationSourceFromCookie}"/>
                </apex:actionFunction>
            </apex:form>
            
            <div class="block fp getSSSCode">
                <apex:outputPanel layout="block" rendered="{!(existingContact = null)}">
                    <apex:form id="searchForm" >
                        <div class="blockheader">
                            Verify SSS Subscription Status of your schools(s) or organizations
                            <!--<span class="loginblockheadersubtext"> <br />Make sure your school uses SSS to process applications </span>-->
                        </div>
                        <div class="blockbody" >
                            Wait! Not all schools use SSS to process financial aid applications. Before you proceed, use the search below to verify that your school uses SSS. Later in Section 5 of the PFS, you will be asked to officially select the school(s) to which you are applying.<br /><br />
                            <table>
                              <tr>
                                <th>Enter SSS Code</th>
                                <th></th>
                                <th>Select Country and State/Province</th>
                                <th></th>
                              </tr>
                        
                              <tr>
                                <td><apex:inputText value="{!sssCode}" /></td>
                                <td>or</td>
                                <td><apex:inputField value="{!dummyAccount.BillingCountryCode}"/><apex:inputField value="{!dummyAccount.BillingStateCode}"/> </td>
                                <td>
                                    <apex:commandButton action="{!findSubscribers}" value="Find SSS Subscribers" rerender="results, error" status="searchStatus"/>
                                    <apex:actionStatus startText=" (loading..)" stopText="" id="searchStatus"/>
                                </td>
                              </tr>
                            </table>
                    
                            <apex:outputPanel id="results" >
                                <apex:outputText value="Schools Found: {!accountResults.size}" rendered="{!searchHasOccurred}" /><br />
                                <div class="loginsearchresults" >
                                    <apex:pageBlock id="toppageblock" rendered="{!searchHasOccurred}">
                                        <apex:outputPanel layout="block" style="overflow:auto; width:100%; height:155px;" rendered="{!AND(searchHasOccurred, accountResults.size > 0)}">
                                        <apex:pageBlockTable value="{!accountResults}" var="act" rendered="{!accountResults.size > 0}">
                                            <apex:column value="{!act.schoolName}" headerValue="School Name"/>
                                            <apex:column headerValue="Address"  value="{!act.schoolAddress}"/>
                                            <apex:column value="{!act.sssCode}" headerValue="SSS Code"/>
                                            <!--
                                            <apex:column value="{!act.Name}"/>
                                            <apex:column headerValue="Address"  value="{!act.BillingStreet} {!act.BillingCity }, {!act.BillingStateCode}"/>
                                            <apex:column value="{!act.SSS_School_Code__c}"/>
                                            -->
                                        </apex:pageBlockTable>
                                        </apex:outputPanel>
                                    </apex:pageBlock>
                                </div>
                                    
                                <!--Location search, results found-->
                                <apex:outputText rendered="{!AND(searchHasOccurred, locationSearch, accountResults.size > 0)}" styleclass="loginOrange" value="If one or more of your schools is listed, please proceed to create an Account below. If you cannot find your school on this list, please verify the search criteria you entered. If your school is not a subscriber, creating an account is not recommended.">
                                </apex:outputText>
                                
                                <!--SSS search, results found-->
                                <apex:outputText rendered="{!AND(searchHasOccurred, sssSearch, accountResults.size > 0)}" styleclass="loginOrange" value="If the school shown above is not correct, please verify the search criteria you entered. If your school is not a subscriber, creating an account is not recommended." >
                                </apex:outputText>
                                
                                <!-- Cancel link, shown for location search or sss search when results found -->
                                <apex:outputPanel layout="none" rendered="{!AND(searchHasOccurred, accountResults.size > 0)}" >
                                    <br />
                                    <apex:commandLink value="Cancel Registration" action="{!cancel}" />
                                </apex:outputPanel>
                                
                                <!--No results found-->
                                <apex:outputText rendered="{!AND(searchHasOccurred, accountResults.size = 0)}" styleclass="loginOrange" value="We could not find any SSS Subscribers for your selected location or SSS code above. Please verify the search criteria you entered. If your school is not a subscriber, creating an account is not recommended." >
                                </apex:outputText>
                                <apex:outputPanel layout="none" rendered="{!AND(searchHasOccurred, accountResults.size = 0)}" >
                                    <br />
                                    <center>
                                        <apex:commandButton action="{!cancel}" value="Cancel Registration" id="cancelRegButton"/>
                                    </center>
                                </apex:outputPanel>
                            </apex:outputPanel>
                        </div><!-- end blockbody -->
                    </apex:form>
                </apex:outputPanel> 
            
                <apex:outputPanel layout="block">
                    <apex:form forceSSL="true" id="updateAccountPanel">     <!-- NAIS-638 -->
                    
                        <apex:outputPanel layout="none" rendered="{!(existingContact = null)}" >
                            <div class="blockheader fp createPFSAccount">To create a PFS Online account, complete the fields below <span class="reqAstText">* indicates required field</span></div>
                        </apex:outputPanel>
                        <apex:outputPanel layout="none" rendered="{!NOT(existingContact = null)}" >
                            <div class="blockheader fp createPFSAccount">Welcome back to the Family Portal by NAIS <span class="reqAstText">* indicates required field</span></div>
                        </apex:outputPanel>
        
                        <div class="blockbody" >
                            <apex:outputPanel layout="none" rendered="{!NOT(existingContact = null)}" >
                                We have updated our system since your last visit. Please confirm and enter your information below and click the ?Update Account? button.
                            </apex:outputPanel>

                            <div id="contact-info-block">                   

                                <div id="contact-info-block-form">
                                    <apex:outputText value="Please enter your name below. Do not include the name of your spouse/partner. We will collect that information later." />
                                    <br />                                    
                                    <apex:panelGrid columns="2">
                                        <apex:panelGroup ><apex:outputLabel value="Parent A First Name" for="firstname"/><span class="reqAst">*</span></apex:panelGroup>
                                        <!-- NAIS-1815 START-->
                                        <apex:outputField id="firstname" value="{!existingContact.FirstName}" rendered="{!NOT(existingContact = null)}"/> 
                                        <apex:inputField id="firstname2" value="{!dummyContact.FirstName}" onkeyup="checkParentName();" rendered="{!(existingContact = null)}" required="true"/>
                                
                                        <apex:panelGroup ><apex:outputLabel value="Parent A Last Name" for="lastname" /><span class="reqAst">*</span></apex:panelGroup>
                                        <apex:outputField id="lastname" value="{!existingContact.LastName}" rendered="{!NOT(existingContact = null)}"/>
                                        <apex:inputField id="lastname2" value="{!dummyContact.LastName}" onkeyup="checkParentName();" rendered="{!(existingContact = null)}" required="true"/>
                                        <!-- NAIS-1815 END--> 
                                    </apex:panelGrid>
                                    
                                    <span id="outputTextParentName" class="parent-name"></span>
                                    
                                    <apex:panelGrid columns="2">
                                        <apex:panelGroup ><apex:outputLabel value="Preferred Phone" for="preferredphone"/><span class="reqAst">*</span><c:vfInlineHelp inlineHelp="{!$ObjectType.Contact.Fields.Preferred_Phone__c.inlineHelpText}"/></apex:panelGroup>
                                        <apex:inputField id="preferredphone" value="{!dummyContact.Preferred_Phone__c}" required="true"/>
                
                                        <apex:outputLabel value="Home Phone" for="homephone"/>
                                        <apex:inputField id="homephone" value="{!dummyContact.HomePhone}"/>
                
                                        <apex:outputLabel value="Mobile Phone" for="mobilephone"/>
                                        <apex:inputField id="mobilephone" value="{!dummyContact.MobilePhone}"/>
                                
                                        <apex:outputLabel value="Work Phone" for="otherphone"/>
                                        <apex:inputField id="otherphone" value="{!dummyContact.Phone}"/>
                
                                        <apex:panelGroup ><apex:outputLabel value="Email Address" for="email"/><span class="reqAst">*</span></apex:panelGroup>
                                        <apex:outputField id="email" value="{!existingContact.Email}" rendered="{!NOT(existingContact = null)}"/>
                                        <apex:inputField id="email2" value="{!dummyContact.Email}" rendered="{!(existingContact = null)}" required="true"/>
                                    <!-- NAIS-1815 START -->
                                    </apex:panelGrid>
                                        <apex:outputText value="Your Email address will become your username. Provide the Email address of the parent you want to receive communications from SSS." />
                                    <apex:panelGrid columns="2">
                                    <!-- NAIS-1815 END -->
                                        <apex:panelGroup rendered="{!(existingContact = null)}"><apex:outputLabel value="Confirm Email" for="email" rendered="{!(existingContact = null)}"/><span class="reqAst">*</span></apex:panelGroup>
                                        <apex:inputtext id="email3" value="{!emailConfirm}" rendered="{!(existingContact = null)}"/>
                                
                                        <apex:panelGroup > <apex:outputLabel value="Address" for="mailingStreet"/><span class="reqAst">*</span></apex:panelGroup>
                                        <apex:inputField id="mailingStreet" value="{!dummyContact.MailingStreet}" required="true" label="Address"/>
                                
                                        <apex:panelGroup ><apex:outputLabel value="City" for="mailingCity"/><span class="reqAst">*</span></apex:panelGroup>
                                        <apex:inputField id="mailingCity" value="{!dummyContact.MailingCity}" required="true" label="City"/>
                                
                                        <apex:panelGroup ><apex:outputLabel value="Country" for="mailingCountry"/><span class="reqAst">*</span></apex:panelGroup>
                                        <apex:inputField styleclass="mailingCountry" id="mailingCountry" value="{!dummyContactForContactCountry.MailingCountryCode}" required="true" label="Country" />
                                
                                        <apex:panelGroup ><apex:outputLabel value="State or Province" for="mailingState"/><span class="reqAst">*</span></apex:panelGroup>
                                        <apex:inputField id="mailingState" value="{!dummyContactForContactCountry.MailingStateCode}" required="true" label="State or Province"/>
                                      
                                        <apex:panelGroup ><apex:outputLabel value="Zip or Postal Code" for="mailingPostal"/><span class="reqAst">*</span></apex:panelGroup>
                                        <!-- <apex:inputField id="mailingPostal" value="{!dummyContact.MailingPostalCode}" required="true" label="Zip or Postal Code" rendered="{!IF(dummyContactForContactCountry.MailingCountryCode = 'US', false, true)}"/> -->
                                        <apex:inputText id="mailingPostalUS" value="{!dummyContact.mailingPostalCode}" required="true" label="Zip or Postal Code" maxLength="10" />
                                        
                                        <!--SFP-10, [G.S] -->
                                        <apex:outputLabel value="Preferred Language" for="language"/>
                                        <apex:selectList id="language" value="{!selectedLanguage}" size="1" >
                                            <apex:selectOptions value="{!languages}" />
                                        </apex:selectList>
                                        
                                    </apex:panelGrid>
                                </div>
            
                                <strong>Important:</strong> The person you list in your account profile when logging in for the first time will automatically be listed as Parent A and cannot be changed. However, Parent A does not need to be the head of household. Just make sure you enter the name of a custodial parent rather than the student applicant.
                            </div>

                            <div id="security-info-block">      
                                  
                                  <apex:panelGrid columns="2" style="margin-top:1em;" columnclasses="loginLabel, loginInput">
                                    <apex:panelGroup ><apex:outputLabel value="Security Question 1" for="sec1"/><span class="reqAst">*</span></apex:panelGroup>
                                    <apex:inputField id="sec1" value="{!dummyContact.Security_Question_1__c}" required="true" styleclass="widesecurity"/>
                            
                                    <apex:panelGroup ><apex:outputLabel value="Answer" for="ans1"/><span class="reqAst">*</span></apex:panelGroup>
                                    <apex:inputField id="ans1" value="{!dummyContact.Security_Answer_1__c}" required="true" styleclass="widesecurity"/>
                            
                                    <apex:panelGroup ><apex:outputLabel value="Security Question 2" for="sec2"/><span class="reqAst">*</span></apex:panelGroup>
                                    <apex:inputField id="sec2" value="{!dummyContact.Security_Question_2__c}" required="true" styleclass="widesecurity"/>
                            
                                    <apex:panelGroup ><apex:outputLabel value="Answer" for="ans2"/><span class="reqAst">*</span></apex:panelGroup>
                                    <apex:inputField id="ans2" value="{!dummyContact.Security_Answer_2__c}" required="true" styleclass="widesecurity"/>
            
                                    <apex:panelGroup ><apex:outputLabel value="Security Question 3" for="sec3"/><span class="reqAst">*</span></apex:panelGroup>
                                    <apex:inputField id="sec3" value="{!dummyContact.Security_Question_3__c}" required="true" styleclass="widesecurity"/>
                            
                                    <apex:panelGroup ><apex:outputLabel value="Answer" for="ans3"/><span class="reqAst">*</span></apex:panelGroup>
                                    <apex:inputField id="ans3" value="{!dummyContact.Security_Answer_3__c}" required="true" styleclass="widesecurity"/>
                                </apex:panelGrid>
                                
                                <apex:panelGrid columns="2" style="margin-top:1em;">
                                    <apex:commandButton StyleClass="submitButton" action="{!cancel}" value="Cancel" id="cancelButton" immediate="true"/>
                                    <apex:commandButton StyleClass="submitButton" status="disableSubmitButtons" rerender="page" action="{!updateAccount}" value="Update Account" id="updateButton" rendered="{!NOT(existingContact = null)}"/>
                                    <apex:commandButton StyleClass="submitButton" status="disableSubmitButtons" rerender="page" action="{!createAccount}" value="Create Account" id="createButton" rendered="{!(existingContact = null)}"/>             
                                </apex:panelGrid> 
                            </div>
                        </div> <!-- end blockbody -->
                    </apex:form>
                </apex:outputPanel>
            </div> <!-- end block -->
        </div><!-- end loginWrapper -->
    </apex:outputPanel><!-- end page -->
</body>
</apex:page>