<apex:page showHeader="false" >
    <apex:stylesheet value="{!URLFOR($Resource.SchoolPortalStyles,'/css/newStyles.css')}"/>
    <body class="portalPage">
    <div id="pageHeader">
        <apex:image url="{!URLFOR($Resource.SchoolPortalStyles,'/images/new/SSS_Hrz_RGB.png')}" height="50px"/>
        <label style="float: right; font-weight: bold; font-size: 16px; color: #333;">Family Portal Support Information</label>
    </div>
    <div style="margin: 0 10px 10px 10px; padding: 10px; border: 1px solid #393536; border-radius: 10px;"><label style="font-weight: bold;">Phone</label><br/>
            {!$Label.Helpline}<br/>
        (From outside of the US or Canada, dial {!$Label.HelplineOutside})<br/><br/>

        <table>
            <tr>
                <td style="font-weight: bold;" colspan="2">November 1–December 31</td>
            </tr>
            <tr>
                <td style="padding-right: 30px;">Monday-Friday</td>
                <td>9:00am - 8:00pm ET</td>
            </tr>
            <tr>
                <td style="padding-right: 30px;">Saturday</td>
                <td>9:00am - 4:00pm ET</td>
            </tr>
            <tr><td colspan="2">&nbsp;</td></tr>
            <tr>
                <td style="font-weight: bold;" colspan="2">January 1–March 31</td>
            </tr>
            <tr>
                <td style="padding-right: 30px;">Monday-Friday</td>
                <td>9:00am - 11:00pm ET</td>
            </tr>
            <tr>
                <td style="padding-right: 30px;">Saturday</td>
                <td>9:00am - 8:00pm ET</td>
            </tr>
            <tr><td colspan="2">&nbsp;</td></tr>
            <tr>
                <td style="font-weight: bold;" colspan="2">April 1–April 30</td>
            </tr>
            <tr>
                <td style="padding-right: 30px;">Monday-Friday</td>
                <td>9:00am - 12:00am ET</td>
            </tr>
            <tr>
                <td style="padding-right: 30px;">Saturday</td>
                <td>9:00am - 4:00pm ET</td>
            </tr>
            <tr><td colspan="2">&nbsp;</td></tr>
            <tr>
                <td style="font-weight: bold;" colspan="2">May 1–October 31</td>
            </tr>
            <tr>
                <td style="padding-right: 30px;">Monday-Friday</td>
                <td>9:00am - 8:00pm ET</td>
            </tr>
            <tr>
                <td style="padding-right: 30px;">Saturday</td>
                <td>Closed</td>
            </tr>
            <tr><td colspan="2">&nbsp;</td></tr>
        </table><br/>

        <label style="font-weight: bold;">E-mail</label><br/>
        <a href="mailto:sss@solutionsbysss.com">sss@solutionsbysss.com</a><br/>
        A Spanish-speaking representative will also be available during posted hours.<br/><br/>

        <label style="font-weight: bold;">Standard Mail</label><br/>
        {!$Label.Company_Name_Full}<br/>
        P.O. Box 449<br/>
        Randolph, MA 02368<br/><br/>

        <label style="font-weight: bold;">For overnight Federal Express, UPS, and Postal Services Express Mail</label><br/>
        {!$Label.Company_Name_Full}<br/>
        Application Processing Center<br/>
        15 Dan Road<br/>
        Suite 102<br />
        Canton, MA 02021<br/>

    </div>
    <c:FamilyPortalFooter />
    </body>
</apex:page>