<apex:page controller="FamilyTemplateController" extensions="FamilyPaymentCompleteController" sidebar="false" showheader="false">
<apex:composition template="{!template}">
<apex:define name="header">
    <style>
        /*.blockcontent {padding: 20px}*/
        #mainCol {margin-left:40px}
        #thankYou {font-size: 48px; text-align:center;}
    </style>
</apex:define>
<apex:define name="body">
    <apex:form >
        <apex:pageBlock >
          <apex:outputPanel layout="none" rendered="{!NOT(isDatabank)}">
            <div id="mainCol">
                <div id="mainColumnHeader" >
                    <h2>Pay for my Online PFS</h2>
                </div>
                <div id="mainColContent">
                    <div class="block fp">
                        <div class="blockheader">
                            <span class="collapsable"></span>Waiver
                        </div>
                        
                        <div class="blockbody detaillist">
                            <div id="thankYou">Thank you</div>
                            <p>The school has been notified regarding your waiver, and will verify it. This may take some time as they are very busy, we appreciate your patience. </p>
                            
                            <p><apex:commandLink action="{!returnToDashboard}" value="Back to Dashboard"/></p>
                        </div>
                    </div>   
                </div>
            </div>
          </apex:outputPanel>

          <!-- NAIS-1688 [dp] For Databank Paper Entry -->
          <apex:outputPanel layout="none" rendered="{!isDatabank}">
            <div id="mainCol">
                <div id="mainColumnHeader" >
                    <h2>Paper Entry for my Online PFS</h2>
                </div>
                <div id="mainColContent">
                    <div class="block fp">
                        <div class="blockheader">
                            <span class="collapsable"></span>Waiver Assigned
                        </div>
                        
                        <div class="blockbody detaillist">
                            <div id="thankYou">Thank you</div>
                            <p>The waiver has been assigned.</p>
                            
                            <p><apex:commandLink action="{!returnToDashboard}" value="Back to Dashboard"/></p>
                        </div>
                    </div>   
                </div>
            </div>
          </apex:outputPanel>         
        </apex:pageBlock>
    </apex:form>
</apex:define>
</apex:composition>
</apex:page>