<!--
 - Created by hansen on 4/8/16.
 -->

<apex:page id="FamilySSOLogin" controller="FamilySSOLogin">
    <head>
        <apex:includeScript value="{!$Resource.Jquery191min}" />
        <apex:stylesheet value="{!URLFOR($Resource.SchoolPortalStyles,'/css/newStyles.css')}"/>
        <apex:stylesheet value="{!URLFOR($Resource.SchoolPortalStyles, '/css/familyTableStyles.css')}"/>
        <!-- newStyles.css, Jquery191min, wgNiceSelect.js, familyPages.js are pulled in by FamilyPortalTopBar.component -->
        <!-- moved javascript to bottom -->
        <style>
            .statColumn{
            width: 50px;
            }
            #feeBar.feewaiverrequested {
            background-color: GoldenRod;
            }
            .test {
            color: red;
            }
        </style>
        <meta http-equiv="X-UA-Compatible" content="IE=10" />
    </head>
    <body>
    <apex:form >
        <div>{!CommunityUrl}</div>
        <apex:commandButton value="Login with Github" action="{!loginWithGithub}"/><br/>
        <apex:commandButton value="Login with Facebook" action="{!loginWithFacebook}"/><br/>
        <apex:commandButton value="Login with Ravenna" action="{!loginWithRavenna}"/><br/>

    </apex:form>
    </body>
</apex:page>