<apex:page controller="FamilyTemplateController" extensions="FamilyHelpController"  sideBar="false" showHeader="false">
   
    <apex:composition template="{!template}">
        <apex:define name="header">
            <apex:stylesheet value="{!URLFOR($Resource.SchoolPortalStyles_Community, '/css/dashboard-inline.css')}"/>
            <apex:stylesheet value="{!URLFOR($Resource.SchoolPortalStyles_Community, '/css/newStyles.css')}"/>
            <apex:stylesheet value="{!URLFOR($Resource.FamilyDocumentsCSS)}" />
            <apex:stylesheet value="{!URLFOR($Resource.FamilyHelpCenterCSS)}" />
            <script src="{!URLFOR($Resource.FamilyDocumentsJS)}" ></script>
            <apex:includeScript value="{!$Resource.Jquery1113min}" />
        </apex:define>
        <apex:define name="body">
            <apex:form >
                <div class="familyHelp__Container">
                    <div class="familyHelp__Title">
                        FAQs
                    </div>

                    <div class="familyHelp__FAQ">
                        <div class="collapsible-section">
                            <apex:repeat value="{!knowledgeArticles}" var="article">
                                <div class="family-documents-collapsible family-documents-collapsible--helpcenter">
                                    <h2>
                                        <span class="family-documents_heading__flex-item-first"><div style="display: inline-block; width: 2em"><span class="arrow arrow-right"></span></div>{!article.title}</span>
                                    </h2>
                                    <div class="family-documents-body closed">
                                       <apex:outputText escape="false" value="{!article.article_body__c}" />
                                    </div>
                                </div>
                            </apex:repeat>
                        </div>
                    </div>
                    <div class="familyHelp__LearnMore">
                        <div class="familyHelp__LearnMore--row">
                            <div class="familyHelp__LearnMore--item familyHelp__Deadlines">
                                <apex:image url="{!URLFOR($Resource.FamilyPortalImages, 'FamilyPortalImages/support_01.png')}" />
                                <div class="familyHelp--text"> Deadlines Application Process </div>
                                <div class="familyHelp--width">
                                    <apex:commandLink action="{!goToCategory}" value="Learn More" styleClass="familyHelp__Button" >
                                        <apex:param name="category" value="Deadline_Application_Process__c" assignTo="{!category}"/>
                                    </apex:commandLink>
                                </div>
                            </div>
                            <div class="familyHelp__LearnMore--item familyHelp__PFS">
                                <apex:image url="{!URLFOR($Resource.FamilyPortalImages, 'FamilyPortalImages/support_02.png')}" />
                                <div class="familyHelp--text"> Filling out the PFS </div>
                                <div class="familyHelp--width">
                                    <apex:commandLink action="{!goToCategory}" value="Learn More" styleClass="familyHelp__Button" >
                                        <apex:param name="category" value="Filling_Out_PFS__c" assignTo="{!category}"/>
                                    </apex:commandLink>
                                </div>
                            </div>
                            <div class="familyHelp__LearnMore--item familyHelp__Payment">
                                <apex:image url="{!URLFOR($Resource.FamilyPortalImages, 'FamilyPortalImages/support_03.png')}" />
                                <div class="familyHelp--text"> PFS Payment </div>
                                <div class="familyHelp--width">
                                    <apex:commandLink action="{!goToCategory}" value="Learn More" styleClass="familyHelp__Button" >
                                        <apex:param name="category" value="PFS_Payment__c" assignTo="{!category}"/>
                                    </apex:commandLink>
                                </div>
                            </div>
                        </div>
                        <div class="familyHelp__LearnMore--row">
                            <div class="familyHelp__LearnMore--item familyHelp__PFSStatus">
                                <apex:image url="{!URLFOR($Resource.FamilyPortalImages, 'FamilyPortalImages/support_04.png')}" />
                                <div class="familyHelp--text"> PFS Status After Submission </div>
                                <div class="familyHelp--width">
                                    <apex:commandLink action="{!goToCategory}" value="Learn More" styleClass="familyHelp__Button" >
                                        <apex:param name="category" value="PFS_Status_After_Submission__c" assignTo="{!category}"/>
                                    </apex:commandLink>
                                </div>
                            </div>
                            <div class="familyHelp__LearnMore--item familyHelp__Submission">
                                <apex:image url="{!URLFOR($Resource.FamilyPortalImages, 'FamilyPortalImages/support_05.png')}" />
                                <div class="familyHelp--text"> Required Document Submission </div>
                                <div class="familyHelp--width">
                                    <apex:commandLink action="{!goToCategory}" value="Learn More" styleClass="familyHelp__Button" >
                                        <apex:param name="category" value="Required_Document_Submission__c" assignTo="{!category}"/>
                                    </apex:commandLink>
                                </div>
                            </div>
                            <div class="familyHelp__LearnMore--item familyHelp__DocumentStatus">
                                <apex:image url="{!URLFOR($Resource.FamilyPortalImages, 'FamilyPortalImages/support_06.png')}" />
                                <div class="familyHelp--text"> Required Document Status </div>
                                <div class="familyHelp--width">
                                    <apex:commandLink action="{!goToCategory}" value="Learn More" styleClass="familyHelp__Button" >
                                        <apex:param name="category" value="Required_Document_Status__c" assignTo="{!category}"/>
                                    </apex:commandLink>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </apex:form>
        </apex:define>
    </apex:composition>
</apex:page>