<apex:page controller="FamilyTemplateController" extensions="FamilyPaymentCompleteController" sidebar="false" showheader="false">
<apex:composition template="{!template}">
<apex:define name="header">
	<style>
		/*.blockcontent {padding: 20px}*/
		#mainCol {margin-left:40px}
		#thankYou {font-size: 48px; text-align:center;}
	</style>
	
	<script type="text/javascript">
		function showReceipt(id) {
			popupWindow = window.open('{!$Page.FamilyPaymentReceipt}' + '?id=' + id, 
										'FamilyPaymentReceipt',
										'width=600,left=2,top=2,resizable=yes,scrollbars=yes,toolbar=no,menubar=no,location=no,directories=no,status=yes');
			popupWindow.focus();
		}
	</script> 
</apex:define>
<apex:define name="body">
    <apex:form >
    <apex:pageBlock >
    	
    		<div id="mainCol">
    			<div id="mainColumnHeader" >
	                <h2>Pay for my Online PFS</h2>
	            </div>
    			<div id="mainColContent">
					<div class="block fp">
						<div class="blockheader">
							<span class="collapsable"></span>Payment Complete
						</div>
						
						<div class="blockbody detaillist">
							<div id="thankYou">Thank you</div>
							<p>Your payment is complete.</p>
							<apex:outputPanel rendered="{!NOT(ISBLANK(transactionLineItemIdParamValue))}">
								<p><a href="#" onclick="showReceipt('{!transactionLineItemIdParamValue}'); return false;">Here is a copy of your receipt</a>, which you can also find on your Dashboard.</p>
							</apex:outputPanel>
							<p>If you paid with a credit or debit card, the charge on your statement will appear as "{!creditCardStatementDescriptor}."</p>
							<p><apex:commandLink action="{!returnToDashboard}" value="Back to Dashboard"/></p>
					    </div>
				    </div>	 
		    	</div>
	        </div>
        </apex:pageBlock>
    </apex:form>
</apex:define>
</apex:composition>
</apex:page>