<apex:page controller="InternalEfcCalculationStatusController" readOnly="true">
    <apex:form >
    	<apex:sectionHeader title="EFC Calculation Status"/>
        <apex:outputPanel id="message-panel">
            <apex:pageMessages escape="false"/>
        </apex:outputPanel>
        <apex:pageBlock title="Status = 'Recalculate Batch'">
        	<apex:pageBlockButtons location="bottom">
        		<apex:commandButton value="Recalculate All" action="{!recalcAllForRecalculateBatchStatus}" rerender="message-panel" />
        		<apex:commandButton value="Recalculate SSS Only" action="{!recalcSSSForRecalculateBatchStatus}" rerender="message-panel" />
        		<apex:commandButton value="Recalculate Revision Only" action="{!recalcRevisionForRecalculateBatchStatus}" rerender="message-panel" />
        	</apex:pageBlockButtons>
            <apex:pageBlockSection columns="1" collapsible="false">
                <apex:pageBlockSectionItem >
                    <apex:outputLabel value="# PFS records (SSS)" />
                    <apex:outputPanel >
                    	<apex:outputText value="{!batchRecalcCountSSS}"/>
                    </apex:outputPanel>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                    <apex:outputLabel value="# School PFS Assignment records (Revision)"/>
                    <apex:outputPanel >
                    	<apex:outputText value="{!batchRecalcCountRevision}"/>
                    </apex:outputPanel>
                </apex:pageBlockSectionItem>
            </apex:pageBlockSection>
        </apex:pageBlock>
        <apex:pageBlock title="Status = 'Recalculate'">
        	<apex:pageBlockButtons location="bottom">
        		<apex:commandButton value="Recalculate SSS Only" action="{!recalcSSSForRecalculateStatus}" rerender="message-panel" />
        		<apex:commandButton value="Recalculate Revision Only" action="{!recalcRevisionForRecalculateStatus}" rerender="message-panel" />
        	</apex:pageBlockButtons>
            <apex:pageBlockSection columns="1" collapsible="false">
                <apex:pageBlockSectionItem >
                    <apex:outputLabel value="# PFS records (SSS)" />
                    <apex:outputPanel >
                    	<apex:outputText value="{!recalcCountSSS}"/>
                    </apex:outputPanel>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                    <apex:outputLabel value="# School PFS Assignment records (Revision)"/>
                    <apex:outputPanel >
                    	<apex:outputText value="{!recalcCountRevision}"/>
                    </apex:outputPanel>
                </apex:pageBlockSectionItem>
            </apex:pageBlockSection>
        </apex:pageBlock>
    </apex:form>
</apex:page>