<apex:page controller="InternalRefundController" tabStyle="Opportunity" title="Refund" action="{!init}">
    <apex:includeScript value="{!$Resource.Jquery191min}" />
    <script>
    var j$ = jQuery.noConflict();

    function getSelectedTLI() {
        var $radio = j$('input[name="group1"]:checked');
        var selectedTLI = $radio.attr('id');
        selectedTLIFn(selectedTLI);
    }

    j$(document).ready(function(){
        j$('.processRefundButton').on('click', function(){
            j$(this).attr('disabled','disabled').css('color','grey');
            processBefore();
        });
    });

    </script>
    <apex:form >
        <apex:actionFunction name="selectedTLIFn" action="{!showTLISection}" rerender="RefundOutsidePanel">
            <apex:param name="selectedTLI" assignTo="{!selectedTliId}" value="" />
        </apex:actionFunction>
        <apex:actionFunction name="processBefore" action="{!processBefore}" oncomplete="processRefund();" />
        <apex:actionFunction name="processRefund" action="{!processRefund}" />
        <apex:pageBlock rendered="{!hasError}">
            <apex:pageBlockButtons >
                <apex:commandButton value="Go Back" action="{!cancel}" />
            </apex:pageBlockButtons>
            <apex:pageMessages id="ShowMessage" />
        </apex:pageBlock>
        <apex:outputPanel rendered="{!!hasError}" id="RefundOutsidePanel">
            <apex:sectionHeader subtitle="Refund Payment" title="{!opp.Name}" />
            <apex:pageMessages id="ShowMessage" />
            <apex:outputPanel rendered="{!showTLI}">
                <apex:pageBlock id="singleRefundBlock">
                    <apex:pageBlockButtons >
                        <apex:outputText value="TEST MODE" rendered="{!isTestMode}" style="color:red; font-weight:bold;" />
                        <apex:commandButton value="Process Refund" styleClass="processRefundButton"></apex:commandButton>
                        <apex:commandButton value="Cancel" action="{!cancel}" />
                    </apex:pageBlockButtons>
                    <apex:pageBlockSection columns="2" collapsible="false">
                        <apex:pageBlockSectionItem >
                            <apex:outputLabel value="Transaction ID" />
                            <apex:outputPanel >
                                <apex:outputText value="{!tlItem.Transaction_ID__c}" />
                            </apex:outputPanel>
                        </apex:pageBlockSectionItem>
                        <apex:pageBlockSectionItem >
                            <apex:outputLabel value="Transaction Date" />
                            <apex:outputPanel >
                                <apex:outputText value="{0,date,MM/dd/yyyy}">
                                    <apex:param value="{!tlItem.Transaction_Date__c}" />
                                </apex:outputText>
                            </apex:outputPanel>
                        </apex:pageBlockSectionItem>
                        <apex:pageBlockSectionItem >
                            <apex:outputLabel value="Amount" />
                            <apex:outputPanel >
                                <apex:outputText value="{!tlItem.Amount__c}" />
                            </apex:outputPanel>
                        </apex:pageBlockSectionItem>
                        <apex:pageBlockSectionItem >
                            <apex:outputLabel value="CC Last 4 Digits" />
                            <apex:outputPanel >
                                <apex:outputText value="{!tlItem.CC_Last_4_Digits__c}" />
                            </apex:outputPanel>
                        </apex:pageBlockSectionItem>
                    </apex:pageBlockSection>
                </apex:pageBlock>
            </apex:outputPanel>
            <apex:outputPanel rendered="{!!showTLI}">
                <apex:pageBlock id="listRefundBlock">
                    <apex:pageBlockButtons >
                        <apex:commandButton value="Select Item" onclick="getSelectedTLI();" immediate="true" oncomplete="return false;" />
                        <apex:commandButton value="Cancel" action="{!cancel}" />
                    </apex:pageBlockButtons>
                    <apex:pageblockTable value="{!tliList}" var="tli">
                        <apex:column headervalue="select">
                            <apex:outputPanel rendered="{!!ISNULL(tli.VaultGUID__c)}">
                                <input type="radio" name="group1" value="{!tli.Id}" id="{!tli.Id}" />
                            </apex:outputPanel>
                        </apex:column>
                        <apex:column headerValue="Transaction ID" value="{!tli.Transaction_ID__c}" />
                        <apex:column headerValue="Vault GUID" value="{!tli.VaultGUID__c}" />
                        <apex:column headerValue="Transaction Date" value="{!tli.Transaction_Date__c}" />
                        <apex:column headerValue="Amount" value="{!tli.Amount__c}" />
                    </apex:pageblockTable>
                </apex:pageBlock>
                <apex:pageMessage severity="info" title="Please Note" detail="Transactions lacking a Vault GUID value can not be refunded from this interface and are not listed here." />
            </apex:outputPanel>
        </apex:outputPanel>
    </apex:form>
</apex:page>