<apex:page controller="MergeApplicantsController">

	<apex:includeScript value="{!$Resource.Jquery191min}" />
	
	<style>
		.searchTableTitle{
			font-size: 14px; 
			font-weight: bold; 
			width: 95%; 
			border-bottom: 1px solid #CCC;
			padding-top: 5px;
			padding-bottom: 5px;
		}
	</style>
	
	<apex:form >
		<apex:pageBlock title="Merge By Contact">
			<apex:outputPanel id="confirmations">
				<apex:pageMessage summary="{!contactConfirmation} Contact Merged.<br/>
											{!folderConfirmation} Student Folders Merged.<br/>
											{!spaConfirmation} School PFS Assignments Re-parented.<br/>
											{!baConfirmation} Budget Allocations Re-parented." 
									severity="info" 
									escape="false"
									rendered="{!areConfirmations}"/>
			</apex:outputPanel>
			<apex:pageBlockSection columns="1" >
				<apex:pageBlockSectionItem >
					Master Contact Record
					<apex:inputField value="{!masterFolder.Student__c}" />
				</apex:pageBlockSectionItem>
				<apex:pageBlockSectionItem >
					Duplicate Contact Record
					<apex:inputField value="{!childFolder.Student__c}" />
				</apex:pageBlockSectionItem>
				<apex:pageBlockSectionItem >
					<apex:outputLabel />
					<apex:commandButton value="Merge Contacts and Folders" 
										action="{!mergeContacts}" 
										rerender="confirmations" 
										onclick="confirm('Are you sure you want to Merge the selected records?  Merging will result in DELETION of duplicate records.');"/>	
				</apex:pageBlockSectionItem>
			</apex:pageBlockSection>
		</apex:pageBlock>
	</apex:form>
	
	<apex:form >
	
		<script type="text/javascript">
			var j$ = jQuery.noConflict();

			function manageCheckBoxes(el){
				var elementClass = el.className;
				var selectedName = el.getAttribute("name");
				if(el.checked){
					var otherBoxes = j$("." + elementClass);
					for(i = 0; i < otherBoxes.length; i++){
						var currentBox = otherBoxes[i];
						if(currentBox.getAttribute("name") != selectedName){
					 		currentBox.checked = false;
					 	}
					}
				}
			}
		</script>
	
		<apex:pageBlock title="Search For Folders">
			<apex:pageBlockSection columns="1">
				<apex:inputField value="{!searchContact.FirstName}" required="true"/>
				<!-- 
				<apex:pageBlockSectionItem >
					<apex:outputLabel value="Fuzzy" />
					<apex:inputCheckBox value="{!useFirstFuzzySearch}" required="false" />
				</apex:pageBlockSectionItem>
				 -->
				<apex:inputField value="{!searchContact.LastName}" required="true"/>
				<!-- 
				<apex:pageBlockSectionItem >
					<apex:outputLabel value="Fuzzy" />
					<apex:inputCheckBox value="{!useLastFuzzySearch}" required="false" />
				</apex:pageBlockSectionItem>
				 -->
				
				<apex:inputField value="{!searchFolder.School__c}" required="true"/>
				<!-- <apex:pageBlockSectionItem /> -->
				<apex:inputField value="{!searchFolder.Grade_Applying__c}" required="false"/>
				<!-- <apex:pageBlockSectionItem /> -->
				<apex:inputField value="{!searchContact.Birthdate}" required="false"/>
				<apex:pageBlockSectionItem >
					<apex:outputLabel />
					<apex:outputPanel >
						<apex:commandButton value="Search" action="{!searchForContacts}" rerender="resultsPanel, debugPanel" status="searchStatus"/>
						&nbsp;<apex:actionStatus startText="Searching..." stopText="" id="searchStatus" />
					</apex:outputPanel>
				</apex:pageBlockSectionItem>	
			</apex:pageBlockSection>	
			
			<apex:outputPanel id="resultsPanel">
				<!-- <span style="color: red; font-weight: bold;">Check the box for the records you want to SAVE.  Unselected records will be deleted.</span> -->

				<div class="searchTableTitle">
					Search Results
				</div>
				<table style="width: 95%;">
					<tr>
						<th></th>
						<th>Student Name</th>
						<th>ContactId</th>
						<th>Birthdate</th>
						<th>Academic<br/>Year</th>
						<th>Grade</th>
					</tr>
					<tr><td style="background-color: #00AAFF; height: 2px;" colspan="6"/></tr>
					<apex:repeat value="{!searchResults}" var="group">
						<apex:repeat value="{!group.folderGroup}" var="folderRow">
							<tr>
								<td>
									<apex:inputCheckbox label="{!folderRow.folder.Id}" styleClass="{!folderRow.keyValue}" value="{!folderRow.folderSelected}" onclick="manageCheckBoxes(this);"/> 
								</td>
								<!-- 
								<td>
									<apex:outputField value="{!folderRow.folder.Student__r.FirstName}" />
								</td>
								<td>
									<apex:outputField value="{!folderRow.folder.Student__r.LastName}" />
								</td>
								 -->
								<td>
									<apex:outputField value="{!folderRow.folder.Student__c}" />
								</td>
								<td>
									<apex:outputText value="{!folderRow.folder.Student__c}" />
								</td>
								<td>
									<apex:outputField value="{!folderRow.folder.Student__r.Birthdate}" />
								</td>
								<td>
									<apex:outputField value="{!folderRow.folder.Academic_Year_Picklist__c}" />
								</td>
								<!-- 
								<td>
									<apex:outputLink value="{!folderRow.folder.School__c}" >{!folderRow.folder.School__r.Name}</apex:outputLink>
								</td>
								 -->
								<td>
									<apex:outputField value="{!folderRow.folder.Grade_Applying__c}" />
								</td>
							</tr>
						</apex:repeat>
						<tr><td style="background-color: #00AAFF; height: 2px;" colspan="6"/></tr>
					</apex:repeat>
				</table>
				<apex:commandButton action="{!mergeSelected}" value="Merge Selected Groups"
					rendered="{!IF(AND(searchResults!=null,searchResults.size>0),true,false)}" 
					onclick="return confirm('Are you sure you want to Merge the selected records?  Merging will DELETE records that are not selected to save.');"/>
			</apex:outputPanel>
		</apex:pageBlock>
	</apex:form>
</apex:page>