<apex:page showheader="false">

<BR /><BR /><BR /><BR /><BR /><BR /><BR />
<H1>
            <center> Oops! You have followed an outdated School Portal Login Link. </center>
            <center><BR /> Please go to <a href="https://sssbynais.force.com/schoolportal"> 
            https://sssbynais.force.com/schoolportal </a> and be sure to bookmark it. </center>
            <center><BR/> You can always find the login link on the {!$Label.Company_Name_Full} website: 
            <a href="http://solutionsbysss.com"> http://solutionsbysss.com </a> </center>
</H1>
  
</apex:page>