<apex:page showHeader="false" title="SSS Login">

<apex:stylesheet value="{!URLFOR($Resource.SchoolPortalStyles,'/css/newStyles.css')}"/>
<!-- KEEPING THE BELOW IN UNTIL WE HAVE IMAGES IN THE ABOVE ZIP FILE -->
<apex:stylesheet value="{!URLFOR($Resource.FamilyPortalStyles,'/FamilyPortalStyles/css/newStyles.css')}"/>

<style type="text/css">
    .BadURL {
        color: red;
        font-weight: bold;
        font-size: 15px;
        margin-Left:40px;
    }
    #familyPortal {
        font-size: 15px;
        margin-Left:40px;
    }
    #schoolPortal {
        font-size: 12px;
        margin-Left:40px;
    }
</style>

<body class="login">
    <c:SSSFamilySiteLogo />
    <apex:form >
        <div>
            <apex:outputText value="The URL entered does not exist." styleClass="BadURL" />
        </div>
        <br/>
        <div id="familyPortal">
            <apex:outputText value="Please visit "/><apex:outputLink value="https://sss.secure.force.com/familyportal"> https://sss.secure.force.com/familyportal </apex:outputLink> <apex:outputText value=" to access the SSS Family Portal or "/><a  href="mailto:sss@solutionsbysss.com" >email us</a><apex:outputText value=" if you need immediate support."/>
        </div>
        <br/>
        <div id="schoolPortal">
            <apex:outputText value="Looking for the SSS School Portal? Go to "/><apex:outputLink value="https://sss.secure.force.com/schoolportal"> https://sss.secure.force.com/schoolportal </apex:outputLink>
        </div>
    </apex:form>
</body>
</apex:page>