<apex:page controller="ScheduleSharingJobsController">
    <style type="text/css">
        .requiredInput {    
            border-left: solid #CC0000 3px;
        }    
        .deadline-question-section {    
            display: table-row;
        }    
    </style>
    <script>
        window.onload = setFocus
        function setFocus() {
            document.getElementById("hiddenElement").focus();
        }	
        function validateNumber(evt) {
            var theEvent = evt || window.event;
            var key = theEvent.keyCode || theEvent.which;
            key = String.fromCharCode( key );
            var regex = /[0-9]|\./;
                if( !regex.test(key) ) {
                    theEvent.returnValue = false;
                if(theEvent.preventDefault) theEvent.preventDefault();
            }		
        }		
    </script>
    <apex:form >
        <apex:sectionHeader title="Schedule Batch Jobs"/>
        <apex:pageMessages /> 
        
        <apex:pageBlock title="Schedule Sharing Jobs">
        <p></p>
        <p></p>
        <apex:outputText value="{!$Label.Schedule_Sharing_Jobs_Message}" />
            &nbsp; &nbsp; &nbsp; &nbsp; 
            <apex:commandButton value="Run Sharing Jobs" action="{!runSharingJob}"/>
            &nbsp; &nbsp;
            <apex:commandButton value="Schedule Sharing Jobs" action="{!schedule}"/>
        <p></p>
        <p></p>
        </apex:pageBlock>
        
        <apex:pageBlock title="Schedule EFC Calculation Jobs">
        <p></p>
        <p></p>
        <apex:outputText value="{!$Label.Schedule_EFC_Calculation_Jobs_Message}" />
            &nbsp; &nbsp; &nbsp; &nbsp; 
            <apex:commandButton value="Schedule EFC Calculation Jobs" action="{!scheduleEfcCalcJobs}"/> <br/><br/>
            
            <apex:outputLink value="{!$Page.InternalEfcCalculationStatus}">View EFC Calculation Status</apex:outputLink>
        <p></p>
        <p></p>
        </apex:pageBlock>

        <apex:pageBlock title="Schedule Family Document Cleanup Job">
        <p></p>
        <p></p>
        <apex:outputText value="{!$Label.Schedule_Family_Document_Cleanup_Job_Message}" />
            &nbsp; &nbsp; &nbsp; &nbsp; 
            <apex:commandButton value="Schedule Family Document Cleanup Job" action="{!scheduleDocumentCleanup}"/> <br/><br/>
        <p></p>
        <p></p>
        </apex:pageBlock>
        
        <!-- NAIS-2013 -->
        <apex:pageBlock title="Schedule Disable Portal Access for Inactive users">
        <p></p>
        <p></p>
        <apex:outputText value="{!$Label.Schedule_Disable_Portal_Access_for_Inactive_users_Message}" />
            &nbsp; &nbsp; &nbsp; &nbsp; 
            <apex:commandButton value="Schedule Disable Portal Access for Inactive users" action="{!scheduleIsPortalEnabled}"/>
        <p></p>
        <p></p>
        </apex:pageBlock>

        <apex:pageBlock title="Schedule Copy Verification to School PFS Assignments">
        <p></p>
        <p></p>
        <apex:outputText value="{!$Label.Schedule_Copy_Verification_to_School_PFS_Assignments_Message}" />
            &nbsp; &nbsp; &nbsp; &nbsp; 
            <apex:commandButton value="Schedule Copy Verification to School PFS Assignments" action="{!scheduleCopyVerificationToSchoolPFSAssignments}"/>
        <p></p>
        <p></p>
        </apex:pageBlock>

        <apex:pageBlock title="Schedule Document Verification Requests">
        <p></p>
        <p></p>
        <apex:outputText value="{!$Label.Schedule_Document_Verification_Requests_Message}" />
            &nbsp; &nbsp; &nbsp; &nbsp; 
            <apex:commandButton value="Schedule Document Verification Requests" action="{!scheduleDocumentVerificationRequests}"/>
        <p></p>
        <p></p>
        </apex:pageBlock>

        <apex:pageBlock title="Schedule Clear Payment Information Nightly">
        <p></p>
        <p></p>
        <apex:outputText value="{!$Label.Schedule_Clear_Payment_Information_Nightly}" />
            &nbsp; &nbsp; &nbsp; &nbsp; 
            <apex:commandButton value="Schedule Clear Payment Information Nightly" action="{!scheduleClearPaymentInformationNightly}"/>
        <p></p>
        <p></p>
        </apex:pageBlock>

        <apex:pageBlock title="Schedule Clear Orphaned School Document Assignments Nightly">
        <p></p>
        <p></p>
        <apex:outputText value="{!$Label.Schedule_Clear_Orphaned_School_Document_Assignments_Nightly}" />
            &nbsp; &nbsp; &nbsp; &nbsp; 
            <apex:commandButton value="Schedule Clear Orphaned School Document Assignments Nightly" action="{!scheduleClearOrphanedSchoolDocumentAssignmentsNightly}"/>
        <p></p>
        <p></p>
        </apex:pageBlock>

        <apex:pageBlock title="Schedule Recalculation Sharing For Merged Contacts">
            <p></p>
            <p></p>
            <apex:outputText value="{!$Label.Schedule_Recalc_Sharing_For_Merged_Contacts}" />
            &nbsp; &nbsp; &nbsp; &nbsp;
            <apex:commandButton value="Schedule Recalculation Sharing For Merged Contacts" action="{!scheduleRecalcSharingForMergedContacts}"/>
            <p></p>
            <p></p>
        </apex:pageBlock>

        <!-- SFP-1822 : Batch Job For Sending Error Notifications For Stuck Documents -->
        <apex:pageBlock title="Sending Error Notifications For Stuck Documents" rendered="{!($Profile.Name) =='System Administrator'}">
            <p><div class="deadline-deadlinetype">
                <apex:outputText value="Uploaded Since" />&nbsp; &nbsp; &nbsp; &nbsp;
                    <apex:inputField value="{!errorDocsAccount.Profile_Updated__c}" id="hiddenElement"/>
                </div>
            </p>		
            <p><div class="deadline-deadlinetype">
                <apex:outputText value="Days Since Upload" />&nbsp; &nbsp; &nbsp;<span class="requiredInput">
                    <apex:inputField value="{!errorDocsAccount.Total_Admissions_Applications__c}" style="width: 65px;" />
                </span></div>
            </p>
            <apex:outputText value="{!$Label.Sending_Error_Notifications_For_Stuck_Documents}" />
            &nbsp; &nbsp; &nbsp; &nbsp;
            <apex:commandButton value="Send Error Notifications For Stuck Documents" action="{!runStuckDocsBatch}"/>
            <p></p>
            <p></p>
        </apex:pageBlock>
    </apex:form>
</apex:page>