<apex:page controller="SchoolFinancialReportPDFController" renderAs="pdf" showHeader="false" readOnly="true" standardStylesheets="false" sideBar="false" applyBodyTag="false" applyHtmlTag="false">
	<head>
		<style type="text/css">
			table.headerClass{
				width: 50%;
				margin:auto;
			}
			.headerClass th{text-align:center;}
			table.financialBody {
				width:100%;
				text-align:center;
				border-collapse: collapse;
				border: 1px solid black;
			}
			.financialBody td { border: 1px solid black; }
			.financialBody th{
				background-color: #87CEEB;
				text-align:center;
				border: 1px solid black;
			}
			.title-information{ text-align:left !important;}
			.line-color{background-color: #CCCCCC; }
			body {
				font-family: 'Arial Unicode MS';
				font-size: 10pt;
			}
			 @page { size:landscape; }
		</style>
	</head>
	<body>
		<!-- Start Header -->
		<table class="headerClass" style="">
			<tr>
				<th colspan="4" ><apex:outputLabel value="FINANCIAL HISTORY REPORT" /></th>
			</tr>
			<tr>
				<td><apex:outputLabel value="Student:" /></td>
				<td><apex:outputField value="{!studentFolder.Student_Name__c}" /></td>
				<td><apex:outputLabel value="Gender:" /></td>
				<td><apex:outputField value="{!studentFolder.Gender__c}" /></td>
			</tr>
			<tr>
				<td><apex:outputLabel value="Grade:" /></td>
				<td><apex:outputField value="{!studentFolder.Grade_Applying__c}" /></td>
				<td><apex:outputLabel value="New/Returning:" /></td>
				<td><apex:outputField value="{!studentFolder.New_Returning__c}" /></td>
			</tr>
			<tr>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td><apex:outputLabel value="Day/Boarding:" /></td>
				<td><apex:outputField value="{!studentFolder.Day_Boarding__c}" /></td>
			</tr>
		</table>
		<!-- End Header -->
		<!-- Start Body  -->
		<table class="financialBody">
			<tr>
				<td colspan="5">&nbsp;</td>
				<td colspan="6"><apex:outputLabel value="Change from year to year" /></td>
			</tr>
			<tr>
				<th class="title-information"><apex:outputLabel value="Household Info" /></th>
				<th><apex:outputLabel value="{!previousYear3Str}" /></th>
				<th><apex:outputLabel value="{!previousYear2Str}" /></th>
				<th><apex:outputLabel value="{!previousYear1Str}" /></th>
				<th><apex:outputLabel value="{!currentYearStr}" /></th>
				<th><apex:outputLabel value="{!previousYear1Str} to {!currentYearStr}" /></th>
				<th><apex:outputLabel value="1 YR %" /></th>
				<th><apex:outputLabel value="{!previousYear2Str} to {!currentYearStr}" /></th>
				<th><apex:outputLabel value="2 YR %" /></th>
				<th><apex:outputLabel value="{!previousYear3Str} to {!currentYearStr}" /></th>
				<th><apex:outputLabel value="3 YR %" /></th>
			</tr>
			<tr class="line-color">
				<td class="title-information"><apex:outputLabel value="# Persons in Household" /></td>
				<td><apex:outputLabel value="{!IF(ISBLANK(previousYear3.Family_Size__c), '0', (previousYear3.Family_Size__c))}" /></td>
				<td><apex:outputLabel value="{!IF(ISBLANK(previousYear2.Family_Size__c), '0', (previousYear2.Family_Size__c))}" /></td>
				<td><apex:outputLabel value="{!IF(ISBLANK(previousYear1.Family_Size__c), '0', (previousYear1.Family_Size__c))}" /></td>
				<td><apex:outputLabel value="{!IF(ISBLANK(currentYear.Family_Size__c), '0', (currentYear.Family_Size__c))}" /></td>
				<td><apex:outputLabel value="{!YR1_PFSAssignment.Family_Size__c}" /></td>
				<td><apex:outputLabel value="{!IF(ISBLANK(previousYear1.Family_Size__c), 'N/A', ROUND((YR1_PFSAssignment.Family_Size__c/previousYear1.Family_Size__c)*100,2))}" /></td>
				<td><apex:outputLabel value="{!YR2_PFSAssignment.Family_Size__c}" /></td>
				<td><apex:outputLabel value="{!IF(ISBLANK(previousYear2.Family_Size__c), 'N/A', ROUND((YR2_PFSAssignment.Family_Size__c/previousYear2.Family_Size__c)*100,2))}" /></td>
				<td><apex:outputLabel value="{!YR3_PFSAssignment.Family_Size__c}" /></td>
				<td><apex:outputLabel value="{!IF(ISBLANK(previousYear3.Family_Size__c), 'N/A', ROUND((YR3_PFSAssignment.Family_Size__c/previousYear3.Family_Size__c)*100,2))}" /></td>
			</tr>
			<tr>
				<td class="title-information" ><apex:outputLabel value="# Children in Tuition-Charging Schools" /></td>
				<td><apex:outputLabel value="{!IF(ISBLANK(previousYear3.Num_Children_in_Tuition_Schools__c),'0', (previousYear3.Num_Children_in_Tuition_Schools__c))}" /></td>
				<td><apex:outputLabel value="{!IF(ISBLANK(previousYear2.Num_Children_in_Tuition_Schools__c),'0', (previousYear2.Num_Children_in_Tuition_Schools__c))}" /></td>
				<td><apex:outputLabel value="{!IF(ISBLANK(previousYear1.Num_Children_in_Tuition_Schools__c),'0', (previousYear1.Num_Children_in_Tuition_Schools__c))}" /></td>
				<td><apex:outputLabel value="{!IF(ISBLANK(currentYear.Num_Children_in_Tuition_Schools__c),'0', (currentYear.Num_Children_in_Tuition_Schools__c))}" /></td>
				<td><apex:outputLabel value="{!YR1_PFSAssignment.Num_Children_in_Tuition_Schools__c}" /></td>
				<td><apex:outputLabel value="{!IF(ISBLANK(previousYear1.Num_Children_in_Tuition_Schools__c), 'N/A', ROUND((YR1_PFSAssignment.Num_Children_in_Tuition_Schools__c/previousYear1.Num_Children_in_Tuition_Schools__c)*100,2))}" /></td>
				<td><apex:outputLabel value="{!YR2_PFSAssignment.Num_Children_in_Tuition_Schools__c}" /></td>
				<td><apex:outputLabel value="{!IF(ISBLANK(previousYear2.Num_Children_in_Tuition_Schools__c), 'N/A', ROUND((YR2_PFSAssignment.Num_Children_in_Tuition_Schools__c/previousYear2.Num_Children_in_Tuition_Schools__c)*100,2))}" /></td>
				<td><apex:outputLabel value="{!YR3_PFSAssignment.Num_Children_in_Tuition_Schools__c}" /></td>
				<td><apex:outputLabel value="{!IF(ISBLANK(previousYear3.Num_Children_in_Tuition_Schools__c), 'N/A', ROUND((YR3_PFSAssignment.Num_Children_in_Tuition_Schools__c/previousYear3.Num_Children_in_Tuition_Schools__c)*100,2))}" /></td>
			</tr>
			<tr>
				<td colspan="11">&nbsp;</td>
			</tr>
			<tr>
				<th class="title-information" ><apex:outputLabel value="Income Information" /></th>
				<th colspan="10">&nbsp;</th>
			</tr>
			<tr class="line-color">
				<td class="title-information" ><apex:outputLabel value="Total Taxable Income" /></td>
				<td><apex:outputText value="${0, number, ###,###,###,##0.00}"><apex:param value="{!IF(ISBLANK(previousYear3.Total_Taxable_Income__c),0,previousYear3.Total_Taxable_Income__c)}" /></apex:outputText></td>
				<td><apex:outputText value="${0, number, ###,###,###,##0.00}"><apex:param value="{!IF(ISBLANK(previousYear2.Total_Taxable_Income__c),0,previousYear2.Total_Taxable_Income__c)}" /></apex:outputText></td>
				<td><apex:outputText value="${0, number, ###,###,###,##0.00}"><apex:param value="{!IF(ISBLANK(previousYear1.Total_Taxable_Income__c),0,previousYear1.Total_Taxable_Income__c)}" /></apex:outputText></td>
				<td><apex:outputText value="${0, number, ###,###,###,##0.00}"><apex:param value="{!IF(ISBLANK(currentYear.Total_Taxable_Income__c),0,currentYear.Total_Taxable_Income__c)}" /></apex:outputText></td>
				<td><apex:outputText value="${0, number, ###,###,###,##0.00}"><apex:param value="{!YR1_PFSAssignment.Total_Taxable_Income__c}" /></apex:outputText></td>
				<td><apex:outputLabel value="{!IF(OR(ISBLANK(previousYear1.Total_Taxable_Income__c),previousYear1.Total_Taxable_Income__c==0), 'N/A', ROUND((YR1_PFSAssignment.Total_Taxable_Income__c/previousYear1.Total_Taxable_Income__c)*100,2))}" /></td>
				<td><apex:outputText value="${0, number, ###,###,###,##0.00}"><apex:param value="{!YR2_PFSAssignment.Total_Taxable_Income__c}" /></apex:outputText></td>
				<td><apex:outputLabel value="{!IF(OR(ISBLANK(previousYear2.Total_Taxable_Income__c),previousYear2.Total_Taxable_Income__c==0), 'N/A', ROUND((YR2_PFSAssignment.Total_Taxable_Income__c/previousYear2.Total_Taxable_Income__c)*100,2))}" /></td>
				<td><apex:outputText value="${0, number, ###,###,###,##0.00}"><apex:param value="{!YR3_PFSAssignment.Total_Taxable_Income__c}" /></apex:outputText></td>
				<td><apex:outputLabel value="{!IF(OR(ISBLANK(previousYear3.Total_Taxable_Income__c),previousYear3.Total_Taxable_Income__c==0), 'N/A', ROUND((YR3_PFSAssignment.Total_Taxable_Income__c/previousYear3.Total_Taxable_Income__c)*100,2))}" /></td>
			</tr>
			<tr>
				<td class="title-information"><apex:outputLabel value="Total Nontaxable Income" /></td>
				<td><apex:outputText value="${0, number, ###,###,###,##0.00}"><apex:param value="{!IF(ISBLANK(previousYear3.Total_Nontaxable_Income__c),0,previousYear3.Total_Nontaxable_Income__c)}" /></apex:outputText></td>
				<td><apex:outputText value="${0, number, ###,###,###,##0.00}"><apex:param value="{!IF(ISBLANK(previousYear2.Total_Nontaxable_Income__c),0,previousYear2.Total_Nontaxable_Income__c)}" /></apex:outputText></td>
				<td><apex:outputText value="${0, number, ###,###,###,##0.00}"><apex:param value="{!IF(ISBLANK(previousYear1.Total_Nontaxable_Income__c),0,previousYear1.Total_Nontaxable_Income__c)}" /></apex:outputText></td>
				<td><apex:outputText value="${0, number, ###,###,###,##0.00}"><apex:param value="{!IF(ISBLANK(currentYear.Total_Nontaxable_Income__c),0,currentYear.Total_Nontaxable_Income__c)}" /></apex:outputText></td>
				<td><apex:outputText value="${0, number, ###,###,###,##0.00}"><apex:param value="{!YR1_PFSAssignment.Total_Nontaxable_Income__c}" /></apex:outputText></td>
				<td><apex:outputLabel value="{!IF(OR(ISBLANK(previousYear1.Total_Nontaxable_Income__c), previousYear1.Total_Nontaxable_Income__c==0), 'N/A', ROUND((YR1_PFSAssignment.Total_Nontaxable_Income__c/previousYear1.Total_Nontaxable_Income__c)*100,2))}" /></td>
				<td><apex:outputText value="${0, number, ###,###,###,##0.00}"><apex:param value="{!YR2_PFSAssignment.Total_Nontaxable_Income__c}" /></apex:outputText></td>
				<td><apex:outputLabel value="{!IF(OR(ISBLANK(previousYear2.Total_Nontaxable_Income__c),previousYear2.Total_Nontaxable_Income__c==0), 'N/A', ROUND((YR2_PFSAssignment.Total_Nontaxable_Income__c/previousYear2.Total_Nontaxable_Income__c)*100,2))}" /></td>
				<td><apex:outputText value="${0, number, ###,###,###,##0.00}"><apex:param value="{!YR3_PFSAssignment.Total_Nontaxable_Income__c}" /></apex:outputText></td>
				<td><apex:outputLabel value="{!IF(OR(ISBLANK(previousYear3.Total_Nontaxable_Income__c),previousYear3.Total_Nontaxable_Income__c==0), 'N/A', ROUND((YR3_PFSAssignment.Total_Nontaxable_Income__c/previousYear3.Total_Nontaxable_Income__c)*100,2))}" /></td>
			</tr>
			<tr class="line-color">
				<td class="title-information"><apex:outputLabel value="Income Supplement" /></td>
				<td><apex:outputText value="${0, number, ###,###,###,##0.00}"><apex:param value="{!IF(ISBLANK(previousYear3.Income_Supplement__c),0,previousYear3.Income_Supplement__c)}" /></apex:outputText></td>
				<td><apex:outputText value="${0, number, ###,###,###,##0.00}"><apex:param value="{!IF(ISBLANK(previousYear2.Income_Supplement__c),0,previousYear2.Income_Supplement__c)}" /></apex:outputText></td>
				<td><apex:outputText value="${0, number, ###,###,###,##0.00}"><apex:param value="{!IF(ISBLANK(previousYear1.Income_Supplement__c),0,previousYear1.Income_Supplement__c)}" /></apex:outputText></td>
				<td><apex:outputText value="${0, number, ###,###,###,##0.00}"><apex:param value="{!IF(ISBLANK(currentYear.Income_Supplement__c),0,currentYear.Income_Supplement__c)}" /></apex:outputText></td>
				<td><apex:outputText value="${0, number, ###,###,###,##0.00}"><apex:param value="{!YR1_PFSAssignment.Income_Supplement__c}" /></apex:outputText></td>
				<td><apex:outputLabel value="{!IF(OR(ISBLANK(previousYear1.Income_Supplement__c),previousYear1.Income_Supplement__c==0), 'N/A', ROUND((YR1_PFSAssignment.Income_Supplement__c/previousYear1.Income_Supplement__c)*100,2))}" /></td>
				<td><apex:outputText value="${0, number, ###,###,###,##0.00}"><apex:param value="{!YR2_PFSAssignment.Income_Supplement__c}" /></apex:outputText></td>
				<td><apex:outputLabel value="{!IF(OR(ISBLANK(previousYear2.Income_Supplement__c),previousYear2.Income_Supplement__c==0), 'N/A', ROUND((YR2_PFSAssignment.Income_Supplement__c/previousYear2.Income_Supplement__c)*100,2))}" /></td>
				<td><apex:outputText value="${0, number, ###,###,###,##0.00}"><apex:param value="{!YR3_PFSAssignment.Income_Supplement__c}" /></apex:outputText></td>
				<td><apex:outputLabel value="{!IF(OR(ISBLANK(previousYear3.Income_Supplement__c),previousYear3.Income_Supplement__c==0), 'N/A', ROUND((YR3_PFSAssignment.Income_Supplement__c/previousYear3.Income_Supplement__c)*100,2))}" /></td>
			</tr>
			<tr>
				<td class="title-information"><apex:outputLabel value="Adjusted Effective Income" /></td>
				<td><apex:outputText value="${0, number, ###,###,###,##0.00}"><apex:param value="{!IF(ISBLANK(previousYear3.Adjusted_Effective_Income_Currency__c),0,previousYear3.Adjusted_Effective_Income_Currency__c)}" /></apex:outputText></td>
				<td><apex:outputText value="${0, number, ###,###,###,##0.00}"><apex:param value="{!IF(ISBLANK(previousYear2.Adjusted_Effective_Income_Currency__c),0,previousYear2.Adjusted_Effective_Income_Currency__c)}" /></apex:outputText></td>
				<td><apex:outputText value="${0, number, ###,###,###,##0.00}"><apex:param value="{!IF(ISBLANK(previousYear1.Adjusted_Effective_Income_Currency__c),0,previousYear1.Adjusted_Effective_Income_Currency__c)}" /></apex:outputText></td>
				<td><apex:outputText value="${0, number, ###,###,###,##0.00}"><apex:param value="{!IF(ISBLANK(currentYear.Adjusted_Effective_Income_Currency__c),0,currentYear.Adjusted_Effective_Income_Currency__c)}" /></apex:outputText></td>
				<td><apex:outputText value="${0, number, ###,###,###,##0.00}"><apex:param value="{!YR1_PFSAssignment.Adjusted_Effective_Income_Currency__c}" /></apex:outputText></td>
				<td><apex:outputLabel value="{!IF(OR(ISBLANK(previousYear1.Adjusted_Effective_Income_Currency__c), previousYear1.Adjusted_Effective_Income_Currency__c==0), 'N/A', ROUND((YR1_PFSAssignment.Adjusted_Effective_Income_Currency__c/previousYear1.Adjusted_Effective_Income_Currency__c)*100,2))}" /></td>
				<td><apex:outputText value="${0, number, ###,###,###,##0.00}"><apex:param value="{!YR2_PFSAssignment.Adjusted_Effective_Income_Currency__c}" /></apex:outputText></td>
				<td><apex:outputLabel value="{!IF(OR(ISBLANK(previousYear2.Adjusted_Effective_Income_Currency__c),previousYear2.Adjusted_Effective_Income_Currency__c==0), 'N/A', ROUND((YR2_PFSAssignment.Adjusted_Effective_Income_Currency__c/previousYear2.Adjusted_Effective_Income_Currency__c)*100,2))}" /></td>
				<td><apex:outputText value="${0, number, ###,###,###,##0.00}"><apex:param value="{!YR3_PFSAssignment.Adjusted_Effective_Income_Currency__c}" /></apex:outputText></td>
				<td><apex:outputLabel value="{!IF(OR(ISBLANK(previousYear3.Adjusted_Effective_Income_Currency__c), previousYear3.Adjusted_Effective_Income_Currency__c==0), 'N/A', ROUND((YR3_PFSAssignment.Adjusted_Effective_Income_Currency__c/previousYear3.Adjusted_Effective_Income_Currency__c)*100,2))}" /></td>
			</tr>
			<tr class="line-color">
				<td class="title-information"><apex:outputLabel value="Discretionary Income" /></td>
				<td><apex:outputText value="${0, number, ###,###,###,##0.00}"><apex:param value="{!IF(ISBLANK(previousYear3.Discretionary_Income_Currency__c),0,previousYear3.Discretionary_Income_Currency__c)}" /></apex:outputText></td>
				<td><apex:outputText value="${0, number, ###,###,###,##0.00}"><apex:param value="{!IF(ISBLANK(previousYear2.Discretionary_Income_Currency__c),0,previousYear2.Discretionary_Income_Currency__c)}" /></apex:outputText></td>
				<td><apex:outputText value="${0, number, ###,###,###,##0.00}"><apex:param value="{!IF(ISBLANK(previousYear1.Discretionary_Income_Currency__c),0,previousYear1.Discretionary_Income_Currency__c)}" /></apex:outputText></td>
				<td><apex:outputText value="${0, number, ###,###,###,##0.00}"><apex:param value="{!IF(ISBLANK(currentYear.Discretionary_Income_Currency__c),0,currentYear.Discretionary_Income_Currency__c)}" /></apex:outputText></td>
				<td><apex:outputText value="${0, number, ###,###,###,##0.00}"><apex:param value="{!YR1_PFSAssignment.Discretionary_Income_Currency__c}" /></apex:outputText></td>
				<td><apex:outputLabel value="{!IF(OR(ISBLANK(previousYear1.Discretionary_Income_Currency__c), previousYear1.Discretionary_Income_Currency__c==0), 'N/A', ROUND((YR1_PFSAssignment.Discretionary_Income_Currency__c/previousYear1.Discretionary_Income_Currency__c)*100,2))}" /></td>
				<td><apex:outputText value="${0, number, ###,###,###,##0.00}"><apex:param value="{!YR2_PFSAssignment.Discretionary_Income_Currency__c}" /></apex:outputText></td>
				<td><apex:outputLabel value="{!IF(OR(ISBLANK(previousYear2.Discretionary_Income_Currency__c),previousYear2.Discretionary_Income_Currency__c==0), 'N/A', ROUND((YR2_PFSAssignment.Discretionary_Income_Currency__c/previousYear2.Discretionary_Income_Currency__c)*100,2))}" /></td>
				<td><apex:outputText value="${0, number, ###,###,###,##0.00}"><apex:param value="{!YR3_PFSAssignment.Discretionary_Income_Currency__c}" /></apex:outputText></td>
				<td><apex:outputLabel value="{!IF(OR(ISBLANK(previousYear3.Discretionary_Income_Currency__c), previousYear3.Discretionary_Income_Currency__c==0), 'N/A', ROUND((YR3_PFSAssignment.Discretionary_Income_Currency__c/previousYear3.Discretionary_Income_Currency__c)*100,2))}" /></td>
			</tr>
			<tr>
				<td colspan="11">&nbsp;</td>
			</tr>
			<tr>
				<th class="title-information" ><apex:outputLabel value="Allowances" /></th>
				<th colspan="10">&nbsp;</th>
			</tr>
			<tr class="line-color">
				<td class="title-information"><apex:outputLabel value="Federal+State+FICA Tax Allowance" /></td>
				<td><apex:outputText value="${0, number, ###,###,###,##0.00}"><apex:param value="{!IF(ISBLANK(previousYear3.Federal_State_FICA_Tax_Allowance__c),0,previousYear3.Federal_State_FICA_Tax_Allowance__c)}" /></apex:outputText></td>
				<td><apex:outputText value="${0, number, ###,###,###,##0.00}"><apex:param value="{!IF(ISBLANK(previousYear2.Federal_State_FICA_Tax_Allowance__c),0,previousYear2.Federal_State_FICA_Tax_Allowance__c)}" /></apex:outputText></td>
				<td><apex:outputText value="${0, number, ###,###,###,##0.00}"><apex:param value="{!IF(ISBLANK(previousYear1.Federal_State_FICA_Tax_Allowance__c),0,previousYear1.Federal_State_FICA_Tax_Allowance__c)}" /></apex:outputText></td>
				<td><apex:outputText value="${0, number, ###,###,###,##0.00}"><apex:param value="{!IF(ISBLANK(currentYear.Federal_State_FICA_Tax_Allowance__c),0,currentYear.Federal_State_FICA_Tax_Allowance__c)}" /></apex:outputText></td>
				<td><apex:outputText value="${0, number, ###,###,###,##0.00}"><apex:param value="{!YR1_PFSAssignmentAux.Federal_State_FICA_Tax_Allowance}" /></apex:outputText></td>
				<td><apex:outputLabel value="{!IF(OR(ISBLANK(previousYear1.Federal_State_FICA_Tax_Allowance__c), previousYear1.Federal_State_FICA_Tax_Allowance__c==0), 'N/A', ROUND((YR1_PFSAssignmentAux.Federal_State_FICA_Tax_Allowance/previousYear1.Federal_State_FICA_Tax_Allowance__c)*100,2))}" /></td>
				<td><apex:outputText value="${0, number, ###,###,###,##0.00}"><apex:param value="{!YR2_PFSAssignmentAux.Federal_State_FICA_Tax_Allowance}" /></apex:outputText></td>
				<td><apex:outputLabel value="{!IF(OR(ISBLANK(previousYear2.Federal_State_FICA_Tax_Allowance__c), previousYear2.Federal_State_FICA_Tax_Allowance__c==0), 'N/A', ROUND((YR2_PFSAssignmentAux.Federal_State_FICA_Tax_Allowance/previousYear2.Federal_State_FICA_Tax_Allowance__c)*100,2))}" /></td>
				<td><apex:outputText value="${0, number, ###,###,###,##0.00}"><apex:param value="{!YR3_PFSAssignmentAux.Federal_State_FICA_Tax_Allowance}" /></apex:outputText></td>
				<td><apex:outputLabel value="{!IF(OR(ISBLANK(previousYear3.Federal_State_FICA_Tax_Allowance__c), previousYear3.Federal_State_FICA_Tax_Allowance__c==0), 'N/A', ROUND((YR3_PFSAssignmentAux.Federal_State_FICA_Tax_Allowance/previousYear3.Federal_State_FICA_Tax_Allowance__c)*100,2))}" /></td>
			</tr>
			<tr>
				<td class="title-information"><apex:outputLabel value="Medical+Unusual Expenses" /></td>
				<td><apex:outputText value="${0, number, ###,###,###,##0.00}"><apex:param value="{!IF(ISBLANK(previousYear3.Medical_and_Unusual_Expenses__c),0,previousYear3.Medical_and_Unusual_Expenses__c)}" /></apex:outputText></td>
				<td><apex:outputText value="${0, number, ###,###,###,##0.00}"><apex:param value="{!IF(ISBLANK(previousYear2.Medical_and_Unusual_Expenses__c),0,previousYear2.Medical_and_Unusual_Expenses__c)}" /></apex:outputText></td>
				<td><apex:outputText value="${0, number, ###,###,###,##0.00}"><apex:param value="{!IF(ISBLANK(previousYear1.Medical_and_Unusual_Expenses__c),0,previousYear1.Medical_and_Unusual_Expenses__c)}" /></apex:outputText></td>
				<td><apex:outputText value="${0, number, ###,###,###,##0.00}"><apex:param value="{!IF(ISBLANK(currentYear.Medical_and_Unusual_Expenses__c),0,currentYear.Medical_and_Unusual_Expenses__c)}" /></apex:outputText></td>
				<td><apex:outputText value="${0, number, ###,###,###,##0.00}"><apex:param value="{!YR1_PFSAssignmentAux.Medical_and_Unusual_Expenses}" /></apex:outputText></td>
				<td><apex:outputLabel value="{!IF(OR(ISBLANK(previousYear1.Medical_and_Unusual_Expenses__c), previousYear1.Medical_and_Unusual_Expenses__c==0), 'N/A', ROUND((YR1_PFSAssignmentAux.Medical_and_Unusual_Expenses/previousYear1.Medical_and_Unusual_Expenses__c)*100,2))}" /></td>
				<td><apex:outputText value="${0, number, ###,###,###,##0.00}"><apex:param value="{!YR2_PFSAssignmentAux.Medical_and_Unusual_Expenses}" /></apex:outputText></td>
				<td><apex:outputLabel value="{!IF(OR(ISBLANK(previousYear2.Medical_and_Unusual_Expenses__c), previousYear2.Medical_and_Unusual_Expenses__c==0), 'N/A', ROUND((YR2_PFSAssignmentAux.Medical_and_Unusual_Expenses/previousYear2.Medical_and_Unusual_Expenses__c)*100,2))}" /></td>
				<td><apex:outputText value="${0, number, ###,###,###,##0.00}"><apex:param value="{!YR3_PFSAssignmentAux.Medical_and_Unusual_Expenses}" /></apex:outputText></td>
				<td><apex:outputLabel value="{!IF(OR(ISBLANK(previousYear3.Medical_and_Unusual_Expenses__c), previousYear3.Medical_and_Unusual_Expenses__c==0), 'N/A', ROUND((YR3_PFSAssignmentAux.Medical_and_Unusual_Expenses/previousYear3.Medical_and_Unusual_Expenses__c)*100,2))}" /></td>
			</tr>
			<tr class="line-color">
				<td class="title-information"><apex:outputLabel value="Income Protection Allowance" /></td>
				<td><apex:outputText value="${0, number, ###,###,###,##0.00}"><apex:param value="{!IF(ISBLANK(previousYear3.Income_Protection_Allowance__c),0,previousYear3.Income_Protection_Allowance__c)}" /></apex:outputText></td>
				<td><apex:outputText value="${0, number, ###,###,###,##0.00}"><apex:param value="{!IF(ISBLANK(previousYear2.Income_Protection_Allowance__c),0,previousYear2.Income_Protection_Allowance__c)}" /></apex:outputText></td>
				<td><apex:outputText value="${0, number, ###,###,###,##0.00}"><apex:param value="{!IF(ISBLANK(previousYear1.Income_Protection_Allowance__c),0,previousYear1.Income_Protection_Allowance__c)}" /></apex:outputText></td>
				<td><apex:outputText value="${0, number, ###,###,###,##0.00}"><apex:param value="{!IF(ISBLANK(currentYear.Income_Protection_Allowance__c),0,currentYear.Income_Protection_Allowance__c)}" /></apex:outputText></td>
				<td><apex:outputText value="${0, number, ###,###,###,##0.00}"><apex:param value="{!YR1_PFSAssignment.Income_Protection_Allowance__c}" /></apex:outputText></td>
				<td><apex:outputLabel value="{!IF(OR(ISBLANK(previousYear1.Income_Protection_Allowance__c), previousYear1.Income_Protection_Allowance__c==0), 'N/A', ROUND((YR1_PFSAssignment.Income_Protection_Allowance__c/previousYear1.Income_Protection_Allowance__c)*100,2))}" /></td>
				<td><apex:outputText value="${0, number, ###,###,###,##0.00}"><apex:param value="{!YR2_PFSAssignment.Income_Protection_Allowance__c}" /></apex:outputText></td>
				<td><apex:outputLabel value="{!IF(OR(ISBLANK(previousYear2.Income_Protection_Allowance__c), previousYear2.Income_Protection_Allowance__c==0), 'N/A', ROUND((YR2_PFSAssignment.Income_Protection_Allowance__c/previousYear2.Income_Protection_Allowance__c)*100,2))}" /></td>
				<td><apex:outputText value="${0, number, ###,###,###,##0.00}"><apex:param value="{!YR3_PFSAssignment.Income_Protection_Allowance__c}" /></apex:outputText></td>
				<td><apex:outputLabel value="{!IF(OR(ISBLANK(previousYear3.Income_Protection_Allowance__c), previousYear3.Income_Protection_Allowance__c==0), 'N/A', ROUND((YR3_PFSAssignment.Income_Protection_Allowance__c/previousYear3.Income_Protection_Allowance__c)*100,2))}" /></td>
			</tr>
			<tr>
				<td colspan="11">&nbsp;</td>
			</tr>
			<tr>
				<th class="title-information" ><apex:outputLabel value="Assets/Debts" /></th>
				<th colspan="10">&nbsp;</th>
			</tr>
			<tr class="line-color">
				<td class="title-information"><apex:outputLabel value="Total Assets" /></td>
				<td><apex:outputText value="${0, number, ###,###,###,##0.00}"><apex:param value="{!IF(ISBLANK(previousYear3.Total_Assets_Currency__c),0,previousYear3.Total_Assets_Currency__c)}" /></apex:outputText></td>
				<td><apex:outputText value="${0, number, ###,###,###,##0.00}"><apex:param value="{!IF(ISBLANK(previousYear2.Total_Assets_Currency__c),0,previousYear2.Total_Assets_Currency__c)}" /></apex:outputText></td>
				<td><apex:outputText value="${0, number, ###,###,###,##0.00}"><apex:param value="{!IF(ISBLANK(previousYear1.Total_Assets_Currency__c),0,previousYear1.Total_Assets_Currency__c)}" /></apex:outputText></td>
				<td><apex:outputText value="${0, number, ###,###,###,##0.00}"><apex:param value="{!IF(ISBLANK(currentYear.Total_Assets_Currency__c),0,currentYear.Total_Assets_Currency__c)}" /></apex:outputText></td>
				<td><apex:outputText value="${0, number, ###,###,###,##0.00}"><apex:param value="{!YR1_PFSAssignment.Total_Assets_Currency__c}" /></apex:outputText></td>
				<td><apex:outputLabel value="{!IF(OR(ISBLANK(previousYear1.Total_Assets_Currency__c), previousYear1.Total_Assets_Currency__c==0), 'N/A', ROUND((YR1_PFSAssignment.Total_Assets_Currency__c/previousYear1.Total_Assets_Currency__c)*100,2))}" /></td>
				<td><apex:outputText value="${0, number, ###,###,###,##0.00}"><apex:param value="{!YR2_PFSAssignment.Total_Assets_Currency__c}" /></apex:outputText></td>
				<td><apex:outputLabel value="{!IF(OR(ISBLANK(previousYear2.Total_Assets_Currency__c), previousYear2.Total_Assets_Currency__c==0), 'N/A', ROUND((YR2_PFSAssignment.Total_Assets_Currency__c/previousYear2.Total_Assets_Currency__c)*100,2))}" /></td>
				<td><apex:outputText value="${0, number, ###,###,###,##0.00}"><apex:param value="{!YR3_PFSAssignment.Total_Assets_Currency__c}" /></apex:outputText></td>
				<td><apex:outputLabel value="{!IF(OR(ISBLANK(previousYear3.Total_Assets_Currency__c), previousYear3.Total_Assets_Currency__c==0), 'N/A', ROUND((YR3_PFSAssignment.Total_Assets_Currency__c/previousYear3.Total_Assets_Currency__c)*100,2))}" /></td>
			</tr>
			<tr>
				<td class="title-information"><apex:outputLabel value="Total Debts" /></td>
				<td><apex:outputText value="${0, number, ###,###,###,##0.00}"><apex:param value="{!IF(ISBLANK(previousYear3.Total_Debts__c),0,previousYear3.Total_Debts__c)}" /></apex:outputText></td>
				<td><apex:outputText value="${0, number, ###,###,###,##0.00}"><apex:param value="{!IF(ISBLANK(previousYear2.Total_Debts__c),0,previousYear2.Total_Debts__c)}" /></apex:outputText></td>
				<td><apex:outputText value="${0, number, ###,###,###,##0.00}"><apex:param value="{!IF(ISBLANK(previousYear1.Total_Debts__c),0,previousYear1.Total_Debts__c)}" /></apex:outputText></td>
				<td><apex:outputText value="${0, number, ###,###,###,##0.00}"><apex:param value="{!IF(ISBLANK(currentYear.Total_Debts__c),0,currentYear.Total_Debts__c)}" /></apex:outputText></td>
				<td><apex:outputText value="${0, number, ###,###,###,##0.00}"><apex:param value="{!YR1_PFSAssignment.Total_Debts__c}" /></apex:outputText></td>
				<td><apex:outputLabel value="{!IF(OR(ISBLANK(previousYear1.Total_Debts__c), previousYear1.Total_Debts__c==0), 'N/A', ROUND((YR1_PFSAssignment.Total_Debts__c/previousYear1.Total_Debts__c)*100,2))}" /></td>
				<td><apex:outputText value="${0, number, ###,###,###,##0.00}"><apex:param value="{!YR2_PFSAssignment.Total_Debts__c}" /></apex:outputText></td>
				<td><apex:outputLabel value="{!IF(OR(ISBLANK(previousYear2.Total_Debts__c), previousYear2.Total_Debts__c==0), 'N/A', ROUND((YR2_PFSAssignment.Total_Debts__c/previousYear2.Total_Debts__c)*100,2))}" /></td>
				<td><apex:outputText value="${0, number, ###,###,###,##0.00}"><apex:param value="{!YR3_PFSAssignment.Total_Debts__c}" /></apex:outputText></td>
				<td><apex:outputLabel value="{!IF(OR(ISBLANK(previousYear3.Total_Debts__c), previousYear3.Total_Debts__c==0), 'N/A', ROUND((YR3_PFSAssignment.Total_Debts__c/previousYear3.Total_Debts__c)*100,2))}" /></td>
			</tr>
			<tr class="line-color">
				<td class="title-information"><apex:outputLabel value="Net Worth" /></td>
				<td><apex:outputText value="${0, number, ###,###,###,##0.00}"><apex:param value="{!IF(ISBLANK(previousYear3.Net_Worth__c),0,previousYear3.Net_Worth__c)}" /></apex:outputText></td>
				<td><apex:outputText value="${0, number, ###,###,###,##0.00}"><apex:param value="{!IF(ISBLANK(previousYear2.Net_Worth__c),0,previousYear2.Net_Worth__c)}" /></apex:outputText></td>
				<td><apex:outputText value="${0, number, ###,###,###,##0.00}"><apex:param value="{!IF(ISBLANK(previousYear1.Net_Worth__c),0,previousYear1.Net_Worth__c)}" /></apex:outputText></td>
				<td><apex:outputText value="${0, number, ###,###,###,##0.00}"><apex:param value="{!IF(ISBLANK(currentYear.Net_Worth__c),0,currentYear.Net_Worth__c)}" /></apex:outputText></td>
				<td><apex:outputText value="${0, number, ###,###,###,##0.00}"><apex:param value="{!YR1_PFSAssignment.Net_Worth__c}" /></apex:outputText></td>
				<td><apex:outputLabel value="{!IF(OR(ISBLANK(previousYear1.Net_Worth__c), previousYear1.Net_Worth__c==0), 'N/A', ROUND((YR1_PFSAssignment.Net_Worth__c/previousYear1.Net_Worth__c)*100,2))}" /></td>
				<td><apex:outputText value="${0, number, ###,###,###,##0.00}"><apex:param value="{!YR2_PFSAssignment.Net_Worth__c}" /></apex:outputText></td>
				<td><apex:outputLabel value="{!IF(OR(ISBLANK(previousYear2.Net_Worth__c), previousYear2.Net_Worth__c==0), 'N/A', ROUND((YR2_PFSAssignment.Net_Worth__c/previousYear2.Net_Worth__c)*100,2))}" /></td>
				<td><apex:outputText value="${0, number, ###,###,###,##0.00}"><apex:param value="{!YR3_PFSAssignment.Net_Worth__c}" /></apex:outputText></td>
				<td><apex:outputLabel value="{!IF(OR(ISBLANK(previousYear3.Net_Worth__c), previousYear3.Net_Worth__c==0), 'N/A', ROUND((YR3_PFSAssignment.Net_Worth__c/previousYear3.Net_Worth__c)*100,2))}" /></td>
			</tr>
			<tr>
				<td colspan="11">&nbsp;</td>
			</tr>
			<tr>
				<th class="title-information" ><apex:outputLabel value="Contributions" /></th>
				<th colspan="10">&nbsp;</th>
			</tr>
			<tr class="line-color">
				<td class="title-information"><apex:outputLabel value="Total Contribution" /></td>
				<td><apex:outputText value="${0, number, ###,###,###,##0.00}"><apex:param value="{!IF(ISBLANK(previousYear3.Total_Contribution__c),0,previousYear3.Total_Contribution__c)}" /></apex:outputText></td>
				<td><apex:outputText value="${0, number, ###,###,###,##0.00}"><apex:param value="{!IF(ISBLANK(previousYear2.Total_Contribution__c),0,previousYear2.Total_Contribution__c)}" /></apex:outputText></td>
				<td><apex:outputText value="${0, number, ###,###,###,##0.00}"><apex:param value="{!IF(ISBLANK(previousYear1.Total_Contribution__c),0,previousYear1.Total_Contribution__c)}" /></apex:outputText></td>
				<td><apex:outputText value="${0, number, ###,###,###,##0.00}"><apex:param value="{!IF(ISBLANK(currentYear.Total_Contribution__c),0,currentYear.Total_Contribution__c)}" /></apex:outputText></td>
				<td><apex:outputText value="${0, number, ###,###,###,##0.00}"><apex:param value="{!YR1_PFSAssignmentAux.Total_Contribution}" /></apex:outputText></td>
				<td><apex:outputLabel value="{!IF(OR(ISBLANK(previousYear1.Total_Contribution__c), previousYear1.Total_Contribution__c==0), 'N/A',  ROUND((YR1_PFSAssignmentAux.Total_Contribution/previousYear1.Total_Contribution__c)*100,2))}" /></td>
				<td><apex:outputText value="${0, number, ###,###,###,##0.00}"><apex:param value="{!YR2_PFSAssignmentAux.Total_Contribution}" /></apex:outputText></td>
				<td><apex:outputLabel value="{!IF(OR(ISBLANK(previousYear2.Total_Contribution__c), previousYear2.Total_Contribution__c==0), 'N/A',  ROUND((YR2_PFSAssignmentAux.Total_Contribution/previousYear2.Total_Contribution__c)*100,2))}" /></td>
				<td><apex:outputText value="${0, number, ###,###,###,##0.00}"><apex:param value="{!YR3_PFSAssignmentAux.Total_Contribution}" /></apex:outputText></td>
				<td><apex:outputLabel value="{!IF(OR(ISBLANK(previousYear3.Total_Contribution__c), previousYear3.Total_Contribution__c==0), 'N/A',  ROUND((YR3_PFSAssignmentAux.Total_Contribution/previousYear3.Total_Contribution__c)*100,2))}" /></td>
			</tr>
			<tr>
				<td class="title-information"><apex:outputLabel value="Combined Contribution PFS1 + PFS2" /></td>
				<td><apex:outputText value="${0, number, ###,###,###,##0.00}"><apex:param value="{!IF(ISBLANK(previousYear3.Student_Folder__r.Total_Contributions__c),0,previousYear3.Student_Folder__r.Total_Contributions__c)}" /></apex:outputText></td>
				<td><apex:outputText value="${0, number, ###,###,###,##0.00}"><apex:param value="{!IF(ISBLANK(previousYear2.Student_Folder__r.Total_Contributions__c),0,previousYear2.Student_Folder__r.Total_Contributions__c)}" /></apex:outputText></td>
				<td><apex:outputText value="${0, number, ###,###,###,##0.00}"><apex:param value="{!IF(ISBLANK(previousYear1.Student_Folder__r.Total_Contributions__c),0,previousYear1.Student_Folder__r.Total_Contributions__c)}" /></apex:outputText></td>
				<td><apex:outputText value="${0, number, ###,###,###,##0.00}"><apex:param value="{!IF(ISBLANK(currentYear.Student_Folder__r.Total_Contributions__c),0,currentYear.Student_Folder__r.Total_Contributions__c)}" /></apex:outputText></td>
				<td><apex:outputText value="${0, number, ###,###,###,##0.00}"><apex:param value="{!YR1_PFSAssignmentAux.StudentFolder_Total_Contributions}" /></apex:outputText></td>
				<td><apex:outputLabel value="{!IF(OR(ISBLANK(previousYear1.Student_Folder__r.Total_Contributions__c), previousYear1.Student_Folder__r.Total_Contributions__c==0), 'N/A',  ROUND((YR1_PFSAssignmentAux.StudentFolder_Total_Contributions/previousYear1.Student_Folder__r.Total_Contributions__c)*100,2))}" /></td>
				<td><apex:outputText value="${0, number, ###,###,###,##0.00}"><apex:param value="{!YR2_PFSAssignmentAux.StudentFolder_Total_Contributions}" /></apex:outputText></td>
				<td><apex:outputLabel value="{!IF(OR(ISBLANK(previousYear2.Student_Folder__r.Total_Contributions__c), previousYear2.Student_Folder__r.Total_Contributions__c==0), 'N/A',  ROUND((YR2_PFSAssignmentAux.StudentFolder_Total_Contributions/previousYear2.Student_Folder__r.Total_Contributions__c)*100,2))}" /></td>
				<td><apex:outputText value="${0, number, ###,###,###,##0.00}"><apex:param value="{!YR3_PFSAssignmentAux.StudentFolder_Total_Contributions}" /></apex:outputText></td>
				<td><apex:outputLabel value="{!IF(OR(ISBLANK(previousYear3.Student_Folder__r.Total_Contributions__c), previousYear3.Student_Folder__r.Total_Contributions__c==0), 'N/A',  ROUND((YR3_PFSAssignmentAux.StudentFolder_Total_Contributions/previousYear3.Student_Folder__r.Total_Contributions__c)*100,2))}" /></td>
			</tr>
			<tr class="line-color">
				<td class="title-information"><apex:outputLabel value="Parent Offer (this Student)" /></td>
				<td><apex:outputText value="${0, number, ###,###,###,##0.00}"><apex:param value="{!IF(ISBLANK(previousYear3.Orig_Parent_Can_Afford_to_Pay__c),0,previousYear3.Orig_Parent_Can_Afford_to_Pay__c)}" /></apex:outputText></td>
				<td><apex:outputText value="${0, number, ###,###,###,##0.00}"><apex:param value="{!IF(ISBLANK(previousYear2.Orig_Parent_Can_Afford_to_Pay__c),0,previousYear2.Orig_Parent_Can_Afford_to_Pay__c)}" /></apex:outputText></td>
				<td><apex:outputText value="${0, number, ###,###,###,##0.00}"><apex:param value="{!IF(ISBLANK(previousYear1.Orig_Parent_Can_Afford_to_Pay__c),0,previousYear1.Orig_Parent_Can_Afford_to_Pay__c)}" /></apex:outputText></td>
				<td><apex:outputText value="${0, number, ###,###,###,##0.00}"><apex:param value="{!IF(ISBLANK(currentYear.Orig_Parent_Can_Afford_to_Pay__c),0,currentYear.Orig_Parent_Can_Afford_to_Pay__c)}" /></apex:outputText></td>
				<td><apex:outputText value="${0, number, ###,###,###,##0.00}"><apex:param value="{!YR1_PFSAssignment.Orig_Parent_Can_Afford_to_Pay__c}" /></apex:outputText></td>
				<td><apex:outputLabel value="{!IF(OR(ISBLANK(previousYear1.Orig_Parent_Can_Afford_to_Pay__c), previousYear1.Orig_Parent_Can_Afford_to_Pay__c==0), 'N/A', ROUND((YR1_PFSAssignment.Orig_Parent_Can_Afford_to_Pay__c/previousYear1.Orig_Parent_Can_Afford_to_Pay__c)*100,2))}" /></td>
				<td><apex:outputText value="${0, number, ###,###,###,##0.00}"><apex:param value="{!YR2_PFSAssignment.Orig_Parent_Can_Afford_to_Pay__c}" /></apex:outputText></td>
				<td><apex:outputLabel value="{!IF(OR(ISBLANK(previousYear2.Orig_Parent_Can_Afford_to_Pay__c), previousYear2.Orig_Parent_Can_Afford_to_Pay__c==0), 'N/A', ROUND((YR2_PFSAssignment.Orig_Parent_Can_Afford_to_Pay__c/previousYear2.Orig_Parent_Can_Afford_to_Pay__c)*100,2))}" /></td>
				<td><apex:outputText value="${0, number, ###,###,###,##0.00}"><apex:param value="{!YR3_PFSAssignment.Orig_Parent_Can_Afford_to_Pay__c}" /></apex:outputText></td>
				<td><apex:outputLabel value="{!IF(OR(ISBLANK(previousYear3.Orig_Parent_Can_Afford_to_Pay__c), previousYear3.Orig_Parent_Can_Afford_to_Pay__c==0), 'N/A', ROUND((YR3_PFSAssignment.Orig_Parent_Can_Afford_to_Pay__c/previousYear3.Orig_Parent_Can_Afford_to_Pay__c)*100,2))}" /></td>
			</tr>
			<tr>
				<td class="title-information"><apex:outputLabel value="Parent Offer (all Students)" /></td>
				<td><apex:outputText value="${0, number, ###,###,###,##0.00}"><apex:param value="{!IF(ISBLANK(previousYear3.Orig_Parent_Can_Afford_to_Pay_All_Childr__c),0,previousYear3.Orig_Parent_Can_Afford_to_Pay_All_Childr__c)}" /></apex:outputText></td>
				<td><apex:outputText value="${0, number, ###,###,###,##0.00}"><apex:param value="{!IF(ISBLANK(previousYear2.Orig_Parent_Can_Afford_to_Pay_All_Childr__c),0,previousYear2.Orig_Parent_Can_Afford_to_Pay_All_Childr__c)}" /></apex:outputText></td>
				<td><apex:outputText value="${0, number, ###,###,###,##0.00}"><apex:param value="{!IF(ISBLANK(previousYear1.Orig_Parent_Can_Afford_to_Pay_All_Childr__c),0,previousYear1.Orig_Parent_Can_Afford_to_Pay_All_Childr__c)}" /></apex:outputText></td>
				<td><apex:outputText value="${0, number, ###,###,###,##0.00}"><apex:param value="{!IF(ISBLANK(currentYear.Orig_Parent_Can_Afford_to_Pay_All_Childr__c),0,currentYear.Orig_Parent_Can_Afford_to_Pay_All_Childr__c)}" /></apex:outputText></td>
				<td><apex:outputText value="${0, number, ###,###,###,##0.00}"><apex:param value="{!YR1_PFSAssignment.Orig_Parent_Can_Afford_to_Pay_All_Childr__c}" /></apex:outputText></td>
				<td><apex:outputLabel value="{!IF(OR(ISBLANK(previousYear1.Orig_Parent_Can_Afford_to_Pay_All_Childr__c), previousYear1.Orig_Parent_Can_Afford_to_Pay_All_Childr__c==0), 'N/A', ROUND((YR1_PFSAssignment.Orig_Parent_Can_Afford_to_Pay_All_Childr__c/previousYear1.Orig_Parent_Can_Afford_to_Pay_All_Childr__c)*100,2))}" /></td>
				<td><apex:outputText value="${0, number, ###,###,###,##0.00}"><apex:param value="{!YR2_PFSAssignment.Orig_Parent_Can_Afford_to_Pay_All_Childr__c}" /></apex:outputText></td>
				<td><apex:outputLabel value="{!IF(OR(ISBLANK(previousYear2.Orig_Parent_Can_Afford_to_Pay_All_Childr__c), previousYear2.Orig_Parent_Can_Afford_to_Pay_All_Childr__c==0), 'N/A', ROUND((YR2_PFSAssignment.Orig_Parent_Can_Afford_to_Pay_All_Childr__c/previousYear2.Orig_Parent_Can_Afford_to_Pay_All_Childr__c)*100,2))}" /></td>
				<td><apex:outputText value="${0, number, ###,###,###,##0.00}"><apex:param value="{!YR3_PFSAssignment.Orig_Parent_Can_Afford_to_Pay_All_Childr__c}" /></apex:outputText></td>
				<td><apex:outputLabel value="{!IF(OR(ISBLANK(previousYear3.Orig_Parent_Can_Afford_to_Pay_All_Childr__c), previousYear3.Orig_Parent_Can_Afford_to_Pay_All_Childr__c==0), 'N/A', ROUND((YR3_PFSAssignment.Orig_Parent_Can_Afford_to_Pay_All_Childr__c/previousYear3.Orig_Parent_Can_Afford_to_Pay_All_Childr__c)*100,2))}" /></td>
			</tr>
			<tr class="line-color">
				<td class="title-information"><apex:outputLabel value="PC as % of Total Income" /></td>
				<td><apex:outputLabel value="{!IF(OR(ISBLANK(previousYear3.Total_Taxable_Income__c), previousYear3.Total_Taxable_Income__c== 0), 'N/A', IF(ISBLANK(previousYear3.Total_Contribution__c),'0.00%',ROUND(previousYear3.Total_Contribution__c/previousYear3.Total_Taxable_Income__c,2)))}" /></td>
				<td><apex:outputLabel value="{!IF(OR(ISBLANK(previousYear2.Total_Taxable_Income__c),previousYear2.Total_Taxable_Income__c ==0), 'N/A',IF(ISBLANK(previousYear2.Total_Contribution__c),'0.00%',ROUND(previousYear2.Total_Contribution__c/previousYear2.Total_Taxable_Income__c,2)))}" /></td>
				<td><apex:outputLabel value="{!IF(OR(ISBLANK(previousYear1.Total_Taxable_Income__c),previousYear1.Total_Taxable_Income__c==0), 'N/A', IF(ISBLANK(previousYear1.Total_Contribution__c),'0.00%',ROUND(previousYear1.Total_Contribution__c/previousYear1.Total_Taxable_Income__c,2)))}" /></td>
				<td><apex:outputLabel value="{!IF(OR(ISBLANK(currentYear.Total_Taxable_Income__c), currentYear.Total_Taxable_Income__c==0), 'N/A', IF(ISBLANK(currentYear.Total_Contribution__c),'0.00%',ROUND(currentYear.Total_Contribution__c/currentYear.Total_Taxable_Income__c,2)))}" /></td>
				<td><apex:outputLabel value="{!IF(ISBLANK(previousYear1.Total_Taxable_Income__c), 'N/A', IF(ISBLANK(YR1_PFSAssignmentAux.PC_TotalIncome),'0.00%',ROUND(YR1_PFSAssignmentAux.PC_TotalIncome*100,2)))}" /></td>
				<td>&nbsp;</td>
				<td><apex:outputLabel value="{!IF(ISBLANK(previousYear2.Total_Taxable_Income__c), 'N/A', IF(ISBLANK(YR2_PFSAssignmentAux.PC_TotalIncome),'0.00%',ROUND(YR2_PFSAssignmentAux.PC_TotalIncome*100,2)))}" /></td>
				<td>&nbsp;</td>
				<td><apex:outputLabel value="{!IF(ISBLANK(previousYear3.Total_Taxable_Income__c), 'N/A', IF(ISBLANK(YR3_PFSAssignmentAux.PC_TotalIncome),'0.00%',ROUND(YR3_PFSAssignmentAux.PC_TotalIncome*100,2)))}" /></td>
				<td>&nbsp;</td>
			</tr>
			<tr>
				<td class="title-information"><apex:outputLabel value="PC as % of Disc. Income" /></td>
				<td><apex:outputLabel value="{!IF(OR(ISBLANK(previousYear3.Discretionary_Income_Currency__c),previousYear3.Discretionary_Income_Currency__c==0), 'N/A', IF(ISBLANK(previousYear3.Total_Contribution__c),'0.00%',ROUND(previousYear3.Total_Contribution__c/previousYear3.Discretionary_Income_Currency__c,2)))}" /></td>
				<td><apex:outputLabel value="{!IF(OR(ISBLANK(previousYear2.Discretionary_Income_Currency__c),previousYear2.Discretionary_Income_Currency__c ==0), 'N/A', IF(ISBLANK(previousYear2.Total_Contribution__c),'0.00%',ROUND(previousYear2.Total_Contribution__c/previousYear2.Discretionary_Income_Currency__c,2)))}" /></td>
				<td><apex:outputLabel value="{!IF(OR(ISBLANK(previousYear1.Discretionary_Income_Currency__c),previousYear1.Discretionary_Income_Currency__c==0), 'N/A', IF(ISBLANK(previousYear1.Total_Contribution__c),'0.00%',ROUND(previousYear1.Total_Contribution__c/previousYear1.Discretionary_Income_Currency__c,2)))}" /></td>
				<td><apex:outputLabel value="{!IF(OR(ISBLANK(currentYear.Discretionary_Income_Currency__c),currentYear.Discretionary_Income_Currency__c==0), 'N/A', IF(ISBLANK(currentYear.Total_Contribution__c),'0.00%',ROUND(currentYear.Total_Contribution__c/currentYear.Discretionary_Income_Currency__c,2)))}" /></td>
				<td><apex:outputLabel value="{!IF(ISBLANK(previousYear1.Discretionary_Income_Currency__c), 'N/A', IF(ISBLANK(YR1_PFSAssignmentAux.PC_DiscIncome),'0.00%',ROUND(YR1_PFSAssignmentAux.PC_DiscIncome*100,2)))}" /></td>
				<td>&nbsp;</td>
				<td><apex:outputLabel value="{!IF(ISBLANK(previousYear2.Discretionary_Income_Currency__c), 'N/A', IF(ISBLANK(YR2_PFSAssignmentAux.PC_DiscIncome),'0.00%',ROUND(YR3_PFSAssignmentAux.PC_DiscIncome*100,2)))}" /></td>
				<td>&nbsp;</td>
				<td><apex:outputLabel value="{!IF(ISBLANK(previousYear3.Discretionary_Income_Currency__c), 'N/A', IF(ISBLANK(YR3_PFSAssignmentAux.PC_DiscIncome),'0.00%',ROUND(YR3_PFSAssignmentAux.PC_DiscIncome*100,2)))}" /></td>
				<td>&nbsp;</td>
			</tr>
			<tr>
				<td colspan="11">&nbsp;</td>
			</tr>
			<tr>
				<th class="title-information" ><apex:outputLabel value="Financial Aid" /></th>
				<th colspan="10">&nbsp;</th>
			</tr>
			<tr class="line-color">
				<td class="title-information"><apex:outputLabel value="Total Expenses" /></td>
				<td><apex:outputText value="${0, number, ###,###,###,##0.00}"><apex:param value="{!IF(ISBLANK(previousYear3.Student_Folder__r.Total_Tuition_and_Expenses__c),0,previousYear3.Student_Folder__r.Total_Tuition_and_Expenses__c)}" /></apex:outputText></td>
				<td><apex:outputText value="${0, number, ###,###,###,##0.00}"><apex:param value="{!IF(ISBLANK(previousYear2.Student_Folder__r.Total_Tuition_and_Expenses__c),0,previousYear2.Student_Folder__r.Total_Tuition_and_Expenses__c)}" /></apex:outputText></td>
				<td><apex:outputText value="${0, number, ###,###,###,##0.00}"><apex:param value="{!IF(ISBLANK(previousYear1.Student_Folder__r.Total_Tuition_and_Expenses__c),0,previousYear1.Student_Folder__r.Total_Tuition_and_Expenses__c)}" /></apex:outputText></td>
				<td><apex:outputText value="${0, number, ###,###,###,##0.00}"><apex:param value="{!IF(ISBLANK(currentYear.Student_Folder__r.Total_Tuition_and_Expenses__c),0,currentYear.Student_Folder__r.Total_Tuition_and_Expenses__c)}" /></apex:outputText></td>
				<td><apex:outputText value="${0, number, ###,###,###,##0.00}"><apex:param value="{!IF(ISBLANK(YR1_PFSAssignmentAux.Total_Tuition_and_Expenses), 0, YR1_PFSAssignmentAux.Total_Tuition_and_Expenses)}" /></apex:outputText></td>
				<td><apex:outputLabel value="{!IF(OR(ISBLANK(previousYear1.Student_Folder__r.Total_Tuition_and_Expenses__c), previousYear1.Student_Folder__r.Total_Tuition_and_Expenses__c==0), 'N/A', IF(ISBLANK(YR1_PFSAssignmentAux.Total_Tuition_and_Expenses),'0.00%',ROUND((YR1_PFSAssignmentAux.Total_Tuition_and_Expenses/previousYear1.Student_Folder__r.Total_Tuition_and_Expenses__c)*100,2)))}" /></td>
				<td><apex:outputText value="${0, number, ###,###,###,##0.00}"><apex:param value="{!IF(ISBLANK(YR2_PFSAssignmentAux.Total_Tuition_and_Expenses), 0, YR2_PFSAssignmentAux.Total_Tuition_and_Expenses)}" /></apex:outputText></td>
				<td><apex:outputLabel value="{!IF(OR(ISBLANK(previousYear2.Student_Folder__r.Total_Tuition_and_Expenses__c), previousYear2.Student_Folder__r.Total_Tuition_and_Expenses__c==0), 'N/A', IF(ISBLANK(YR2_PFSAssignmentAux.Total_Tuition_and_Expenses),'0.00%',ROUND((YR2_PFSAssignmentAux.Total_Tuition_and_Expenses/previousYear2.Student_Folder__r.Total_Tuition_and_Expenses__c)*100,2)))}" /></td>
				<td><apex:outputText value="${0, number, ###,###,###,##0.00}"><apex:param value="{!IF(ISBLANK(YR3_PFSAssignmentAux.Total_Tuition_and_Expenses), 0, YR3_PFSAssignmentAux.Total_Tuition_and_Expenses)}" /></apex:outputText></td>
				<td><apex:outputLabel value="{!IF(OR(ISBLANK(previousYear3.Student_Folder__r.Total_Tuition_and_Expenses__c), previousYear3.Student_Folder__r.Total_Tuition_and_Expenses__c==0), 'N/A', IF(ISBLANK(YR3_PFSAssignmentAux.Total_Tuition_and_Expenses),'0.00%',ROUND((YR3_PFSAssignmentAux.Total_Tuition_and_Expenses/previousYear3.Student_Folder__r.Total_Tuition_and_Expenses__c)*100,2)))}" /></td>
			</tr>
			<tr>
				<td class="title-information"><apex:outputLabel value="Financial Need" /></td>
				<td><apex:outputText value="${0, number, ###,###,###,##0.00}"><apex:param value="{!IF(ISBLANK(YR3_PFSAssignmentAux.Aid_of_Financial_Need),0,YR3_PFSAssignmentAux.Aid_of_Financial_Need)}" /></apex:outputText></td>
				<td><apex:outputText value="${0, number, ###,###,###,##0.00}"><apex:param value="{!IF(ISBLANK(YR2_PFSAssignmentAux.Aid_of_Financial_Need),0,YR2_PFSAssignmentAux.Aid_of_Financial_Need)}" /></apex:outputText></td>
				<td><apex:outputText value="${0, number, ###,###,###,##0.00}"><apex:param value="{!IF(ISBLANK(YR1_PFSAssignmentAux.Aid_of_Financial_Need),0,YR1_PFSAssignmentAux.Aid_of_Financial_Need)}" /></apex:outputText></td>
				<td><apex:outputText value="${0, number, ###,###,###,##0.00}"><apex:param value="{!IF(ISBLANK(currentYearAux.Aid_of_Financial_Need),0,currentYearAux.Aid_of_Financial_Need)}" /></apex:outputText></td>
				<td><apex:outputText value="${0, number, ###,###,###,##0.00}"><apex:param value="{!IF(ISBLANK(YR1_PFSAssignmentAux.Dif_Aid_of_Financial_Need), 0, YR1_PFSAssignmentAux.Dif_Aid_of_Financial_Need)}" /></apex:outputText></td>
				<td><apex:outputLabel value="{!IF(OR(ISBLANK(YR1_PFSAssignmentAux.Aid_of_Financial_Need), YR1_PFSAssignmentAux.Aid_of_Financial_Need==0), 'N/A', IF(ISBLANK(YR1_PFSAssignmentAux.Dif_Aid_of_Financial_Need),'0.00%',ROUND((YR1_PFSAssignmentAux.Dif_Aid_of_Financial_Need/YR1_PFSAssignmentAux.Aid_of_Financial_Need)*100,2)))}" /></td>
				<td><apex:outputText value="${0, number, ###,###,###,##0.00}"><apex:param value="{!IF(ISBLANK(YR2_PFSAssignmentAux.Dif_Aid_of_Financial_Need), 0, YR2_PFSAssignmentAux.Dif_Aid_of_Financial_Need)}" /></apex:outputText></td>
				<td><apex:outputLabel value="{!IF(OR(ISBLANK(YR2_PFSAssignmentAux.Aid_of_Financial_Need), YR2_PFSAssignmentAux.Aid_of_Financial_Need==0), 'N/A', IF(ISBLANK(YR2_PFSAssignmentAux.Dif_Aid_of_Financial_Need),'0.00%',ROUND((YR2_PFSAssignmentAux.Dif_Aid_of_Financial_Need/YR2_PFSAssignmentAux.Aid_of_Financial_Need)*100,2)))}" /></td>
				<td><apex:outputText value="${0, number, ###,###,###,##0.00}"><apex:param value="{!IF(ISBLANK(YR3_PFSAssignmentAux.Dif_Aid_of_Financial_Need), 0, YR3_PFSAssignmentAux.Dif_Aid_of_Financial_Need)}" /></apex:outputText></td>
				<td><apex:outputLabel value="{!IF(OR(ISBLANK(YR3_PFSAssignmentAux.Aid_of_Financial_Need), YR3_PFSAssignmentAux.Aid_of_Financial_Need==0), 'N/A', IF(ISBLANK(YR3_PFSAssignmentAux.Dif_Aid_of_Financial_Need),'0.00%',ROUND((YR3_PFSAssignmentAux.Dif_Aid_of_Financial_Need/YR3_PFSAssignmentAux.Aid_of_Financial_Need)*100,2)))}" /></td>
			</tr>
			<tr class="line-color">
				<td class="title-information"><apex:outputLabel value="Grant Awarded" /></td>
				<td><apex:outputText value="${0, number, ###,###,###,##0.00}"><apex:param value="{!IF(ISBLANK(previousYear3.Student_Folder__r.Grant_Awarded__c),0,previousYear3.Student_Folder__r.Grant_Awarded__c)}" /></apex:outputText></td>
				<td><apex:outputText value="${0, number, ###,###,###,##0.00}"><apex:param value="{!IF(ISBLANK(previousYear2.Student_Folder__r.Grant_Awarded__c),0,previousYear2.Student_Folder__r.Grant_Awarded__c)}" /></apex:outputText></td>
				<td><apex:outputText value="${0, number, ###,###,###,##0.00}"><apex:param value="{!IF(ISBLANK(previousYear1.Student_Folder__r.Grant_Awarded__c),0,previousYear1.Student_Folder__r.Grant_Awarded__c)}" /></apex:outputText></td>
				<td><apex:outputText value="${0, number, ###,###,###,##0.00}"><apex:param value="{!IF(ISBLANK(currentYear.Student_Folder__r.Grant_Awarded__c),0,currentYear.Student_Folder__r.Grant_Awarded__c)}" /></apex:outputText></td>
				<td><apex:outputText value="${0, number, ###,###,###,##0.00}"><apex:param value="{!IF(ISBLANK(YR1_PFSAssignmentAux.Grant_Awarded), 0, YR1_PFSAssignmentAux.Grant_Awarded)}" /></apex:outputText></td>
				<td><apex:outputLabel value="{!IF(OR(ISBLANK(previousYear1.Student_Folder__r.Grant_Awarded__c), previousYear1.Student_Folder__r.Grant_Awarded__c==0), 'N/A', IF(ISBLANK(YR1_PFSAssignmentAux.Grant_Awarded),'0.00%',ROUND((YR1_PFSAssignmentAux.Grant_Awarded/previousYear1.Student_Folder__r.Grant_Awarded__c)*100,2)))}" /></td>
				<td><apex:outputText value="${0, number, ###,###,###,##0.00}"><apex:param value="{!IF(ISBLANK(YR2_PFSAssignmentAux.Grant_Awarded), 0, YR2_PFSAssignmentAux.Grant_Awarded)}" /></apex:outputText></td>
				<td><apex:outputLabel value="{!IF(OR(ISBLANK(previousYear2.Student_Folder__r.Grant_Awarded__c), previousYear2.Student_Folder__r.Grant_Awarded__c==0), 'N/A', IF(ISBLANK(YR2_PFSAssignmentAux.Grant_Awarded),'0.00%',ROUND((YR2_PFSAssignmentAux.Grant_Awarded/previousYear2.Student_Folder__r.Grant_Awarded__c)*100,2)))}" /></td>
				<td><apex:outputText value="${0, number, ###,###,###,##0.00}"><apex:param value="{!IF(ISBLANK(YR3_PFSAssignmentAux.Grant_Awarded), 0, YR3_PFSAssignmentAux.Grant_Awarded)}" /></apex:outputText></td>
				<td><apex:outputLabel value="{!IF(OR(ISBLANK(previousYear3.Student_Folder__r.Grant_Awarded__c), previousYear3.Student_Folder__r.Grant_Awarded__c==0), 'N/A', IF(ISBLANK(YR3_PFSAssignmentAux.Grant_Awarded),'0.00%',ROUND((YR3_PFSAssignmentAux.Grant_Awarded/previousYear3.Student_Folder__r.Grant_Awarded__c)*100,2)))}" /></td>
			</tr>
			<tr>
				<td class="title-information"><apex:outputLabel value="Unmet Financial Need" /></td>
				<td><apex:outputText value="${0, number, ###,###,###,##0.00}"><apex:param value="{!IF(ISBLANK(YR3_PFSAssignmentAux.UnmetFinancialNeed),0,YR3_PFSAssignmentAux.UnmetFinancialNeed)}" /></apex:outputText></td>
				<td><apex:outputText value="${0, number, ###,###,###,##0.00}"><apex:param value="{!IF(ISBLANK(YR2_PFSAssignmentAux.UnmetFinancialNeed),0,YR2_PFSAssignmentAux.UnmetFinancialNeed)}" /></apex:outputText></td>
				<td><apex:outputText value="${0, number, ###,###,###,##0.00}"><apex:param value="{!IF(ISBLANK(YR1_PFSAssignmentAux.UnmetFinancialNeed),0,YR1_PFSAssignmentAux.UnmetFinancialNeed)}" /></apex:outputText></td>
				<td><apex:outputText value="${0, number, ###,###,###,##0.00}"><apex:param value="{!IF(ISBLANK(currentYearAux.UnmetFinancialNeed),0,currentYearAux.UnmetFinancialNeed)}" /></apex:outputText></td>
				<td><apex:outputText value="${0, number, ###,###,###,##0.00}"><apex:param value="{!IF(ISBLANK(YR1_PFSAssignmentAux.Dif_UnmetFinancialNeed), 0, YR1_PFSAssignmentAux.Dif_UnmetFinancialNeed)}" /></apex:outputText></td>
				<td><apex:outputLabel value="{!IF(OR(ISBLANK(YR1_PFSAssignmentAux.UnmetFinancialNeed), YR1_PFSAssignmentAux.UnmetFinancialNeed==0), 'N/A', IF(ISBLANK(YR1_PFSAssignmentAux.Dif_UnmetFinancialNeed),'0.00%',ROUND((YR1_PFSAssignmentAux.Dif_UnmetFinancialNeed/YR1_PFSAssignmentAux.UnmetFinancialNeed)*100,2)))}" /></td>
				<td><apex:outputText value="${0, number, ###,###,###,##0.00}"><apex:param value="{!IF(ISBLANK(YR2_PFSAssignmentAux.Dif_UnmetFinancialNeed), 0, YR2_PFSAssignmentAux.Dif_UnmetFinancialNeed)}" /></apex:outputText></td>
				<td><apex:outputLabel value="{!IF(OR(ISBLANK(YR2_PFSAssignmentAux.UnmetFinancialNeed), YR2_PFSAssignmentAux.UnmetFinancialNeed==0), 'N/A', IF(ISBLANK(YR2_PFSAssignmentAux.Dif_UnmetFinancialNeed),'0.00%',ROUND((YR2_PFSAssignmentAux.Dif_UnmetFinancialNeed/YR2_PFSAssignmentAux.UnmetFinancialNeed)*100,2)))}" /></td>
				<td><apex:outputText value="${0, number, ###,###,###,##0.00}"><apex:param value="{!IF(ISBLANK(YR3_PFSAssignmentAux.Dif_UnmetFinancialNeed), 0, YR3_PFSAssignmentAux.Dif_UnmetFinancialNeed)}" /></apex:outputText></td>
				<td><apex:outputLabel value="{!IF(OR(ISBLANK(YR3_PFSAssignmentAux.UnmetFinancialNeed), YR3_PFSAssignmentAux.UnmetFinancialNeed==0), 'N/A', IF(ISBLANK(YR3_PFSAssignmentAux.Dif_UnmetFinancialNeed),'0.00%',ROUND((YR3_PFSAssignmentAux.Dif_UnmetFinancialNeed/YR3_PFSAssignmentAux.UnmetFinancialNeed)*100,2)))}" /></td>

			</tr>
		</table>
		<!-- End Body -->
	</body>
</apex:page>