<apex:page controller="SchoolEfcSimulatorController" sidebar="false">      
	<apex:form >
       	<!-- PAGE INSTRUCTIONS-->
		<c:SchoolPageInstructions label_name="School_Instructions_EFC_Simulator" field_name="SYSTEM_Hide_Instructions_EFC_Simulator__c" />
	</apex:form>
	
	<apex:form >
        <div class="pageHeaderBar">
            <c:SchoolHeaderBar />
            <c:SchoolGlobalSearch />
            <br/><c:SchoolAcademicYearWarning />
        </div>
    </apex:form>
	
	<c:EfcSimulator internal="false" />
</apex:page>