<apex:page showHeader="false">
    <head>
        <title>Contact Us</title>
    </head>

    <apex:stylesheet value="{!URLFOR($Resource.SchoolPortalStyles,'/css/newStyles.css')}"/>
    
    <body class="portalPage">
        <div id="pageHeader">
            <apex:image url="{!URLFOR($Resource.SchoolPortalStyles, '/images/new/SSS_Hrz_RGB.png')}" height="50px;" />
            <label style="float: right; font-weight: bold; font-size: 16px; color: #333;">{!$Label.SPH_Support_Information_Title}</label>
        </div>
        
        <div style="margin: 0 10px 10px 10px; padding: 10px; border: 1px solid #393536; border-radius: 10px;">
            <h1>{!$Label.SPH_Help_for_Schools_Title}</h1><br/><br/>
            <apex:outputText escape="false" value="{!$Label.SPH_Help_for_Schools_Phone}" /><br/>

            <apex:outputText escape="false" value="{!$Label.SPH_Help_for_Schools_Hours}" /><br/>

            <label style="font-weight: bold;">E-mail</label><br/>
            <a href="mailto:cst@solutionsbysss.com">cst@solutionsbysss.com</a><br/>
        </div>

        <div style="margin: 0 10px 10px 10px; padding: 10px; border: 1px solid #393536; border-radius: 10px;">
            <h1>{!$Label.SPH_Help_for_Families_Title}</h1><br/><br/>
            <apex:outputText escape="false" value="{!$Label.SPH_Help_for_Families_Phone}" /><br/>

            <label style="font-weight: bold;">E-mail</label><br/>
            <a href="mailto:sss@solutionsbysss.com">sss@solutionsbysss.com</a><br/>
            <apex:outputText escape="false" value="{!$Label.SPH_Spanish_speaking_Representative}" /><br/>
            <br/><br/>

            <apex:outputText escape="false" value="{!$Label.SPH_Help_for_Families_Hours_1}" />
            <apex:outputText escape="false" value="{!$Label.SPH_Help_for_Families_Hours_2}" /><br/>

            <apex:outputText escape="false" value="{!$Label.SPH_Cover_Sheet_Info}" /><br/>

            <apex:outputText escape="false" value="{!$Label.SPH_Standard_Mail}" /><br/>
            <apex:outputText escape="false" value="{!$Label.SPH_Express_Mail}" /><br/>
        </div>

        <c:FamilyPortalFooter />
    </body>
</apex:page>