<apex:page controller="SchoolAnnualSettingsController" action="{!LoadAnnualSetting}" sidebar="false" tabStyle="Setup__tab" id="AnnualSettingsPage">

    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    </head>
    <apex:stylesheet value="{!$Resource.JqueryPowerTipCSS}" />
    <apex:includeScript value="{!$Resource.Jquery191min}" />
    <apex:includeScript value="{!$Resource.JQueryBlockUI}" />
    <apex:includeScript value="{!$Resource.JqueryPowerTipMin}" />

    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css" />

    <script src="/soap/ajax/9.0/connection.js" type="text/javascript"></script>


    <style type="text/css">
        .pageblocksection-header {
            font-family: Arial, Helvetica, sans-serif;
            font-weight: bold;
            background-color: #DCDCDC;
            display: block;
            width: 100%;
            margin-top: 15px;
            margin-bottom: 10px;
            padding: 5px;
        }

        .deadlinesection {
            display: table;
            width: 80%;
        }

        .requiredInput {
            border-left: solid #CC0000 3px;
        }

        .deadline-question-section {
            display: table-row;
        }

        .deadline-question,
        .deadline-newstudent,
        .deadline-returningstudent,
        .deadline-deadlinetype {
            display: table-cell;
            padding-bottom: 15px;
        }

        .deadline-question {
            width: 60%;
            text-align: right;
            padding-right: 10px;
        }

        .deadline-newstudent,
        .deadline-returningstudent,
        .deadline-deadlinetype {
            width: 20%;
        }

        select.pk-schools-cycle2 {
            width: 356px;
        }

        .disabled {
            background-color: #DCDCDC;
        }

        .helpicon {
            background-image: URL('{!URLFOR($Resource.SchoolPortalStyles,'/images/new/info.png')}');
            background-repeat: no-repeat;
            background-position: center center;
            display: inline-block;
            height: 16px;
            width: 16px;
            padding-left: 0px;
            margin-top: 2px;
            margin-left: -13px;
        }

        .toolTip {
            margin-left: 220px;
        }

        #AppBodyHeader {
            visibility: {
                !IF(hasAnnualSetting==false,
                'hidden',
                'inherit')
            }
            ;
        }

        .bPageBlock.brandSecondaryBrd.apexDefaultPageBlock.secondaryPalette > div.pbBody {
            margin-top: 0px;
        }

        #nonAdministratorDialog {
            font-family: Verdana;
        }

        .descriptiveText {
            padding-left: 35px;
            font-weight: bold;
            padding-bottom: 15px;
            color: #4a4a56;
         }
    </style>

    <script type="text/javascript">
        var j$ = jQuery.noConflict(); //NAIS-2452



        function esc(myid) {
            return '#' + myid.replace(/(:|\.)/g, '\\\\$1');
        }
        /*NAIS-1856*/
        function CheckCollectDocuments(objName, objName2, checkObj, checkObj2, deadlineType) {
            if ((document.getElementById(checkObj).checked) && (document.getElementById(checkObj2).checked)) {
                document.getElementById(deadlineType).value = "No Fixed Deadlines";
                document.getElementById(deadlineType).disabled = true;
            } else if (document.getElementById(deadlineType).disabled) {
                document.getElementById(deadlineType).disabled = false;
                document.getElementById(deadlineType).value = "";
            }


            if (!document.getElementById(checkObj).checked) {
                if (document.getElementById(deadlineType).value != "{!deadLineType}") {
                    document.getElementById(objName).disabled = false;
                    document.getElementById(objName).classList.remove("disabled");
                }

                if (document.getElementById(objName2) != null) {
                    document.getElementById(objName2).disabled = false;
                    document.getElementById(objName2).classList.remove("disabled");
                }
            } else {
                document.getElementById(objName).disabled = true;
                document.getElementById(objName).value = "";
                document.getElementById(objName).classList.add("disabled");

                if (document.getElementById(objName2) != null) {
                    document.getElementById(objName2).disabled = true;
                    document.getElementById(objName2).value = "";
                    document.getElementById(objName2).classList.add("disabled");
                }
            }
        }

        function setInputStyle() {
            var firstDate;
            var secondDate;
            if (document.getElementById("AnnualSettingsPage:annualForm:annualBlock:newPriorTaxCheck") != null &&
                document.getElementById("AnnualSettingsPage:annualForm:annualBlock:newPriorTaxCheck").checked) {
                firstDate = document.getElementById("AnnualSettingsPage:annualForm:annualBlock:newTax");
                firstDate.disabled = true;
                firstDate.classList.add("disabled");
                secondDate = document.getElementById("AnnualSettingsPage:annualForm:annualBlock:newPriorTaxRem");

                if (secondDate != null) {
                    secondDate.disabled = true;
                    secondDate.classList.add("disabled");
                }
            }
            if (document.getElementById("AnnualSettingsPage:annualForm:annualBlock:retPriorTaxCheck") != null &&
                document.getElementById("AnnualSettingsPage:annualForm:annualBlock:retPriorTaxCheck").checked) {
                firstDate = document.getElementById("AnnualSettingsPage:annualForm:annualBlock:retTax");
                firstDate.disabled = true;
                firstDate.classList.add("disabled");
                secondDate = document.getElementById("AnnualSettingsPage:annualForm:annualBlock:retPriorTaxRem");

                if (secondDate != null) {
                    secondDate.disabled = true;
                    secondDate.classList.add("disabled");
                }
            }
            if (document.getElementById("AnnualSettingsPage:annualForm:annualBlock:newPriorPriorTaxCheck") != null &&
                document.getElementById("AnnualSettingsPage:annualForm:annualBlock:newPriorPriorTaxCheck").checked) {
                firstDate = document.getElementById("AnnualSettingsPage:annualForm:annualBlock:newTaxPP");
                firstDate.disabled = true;
                firstDate.classList.add("disabled");
                secondDate = document.getElementById("AnnualSettingsPage:annualForm:annualBlock:newPPTaxRem");

                if (secondDate != null) {
                    secondDate.disabled = true;
                    secondDate.classList.add("disabled");
                }
            }
            if (document.getElementById("AnnualSettingsPage:annualForm:annualBlock:retPriorPriorTaxCheck") != null &&
                document.getElementById("AnnualSettingsPage:annualForm:annualBlock:retPriorPriorTaxCheck").checked) {
                firstDate = document.getElementById("AnnualSettingsPage:annualForm:annualBlock:retTaxPP");
                firstDate.disabled = true;
                firstDate.classList.add("disabled");
                secondDate = document.getElementById("AnnualSettingsPage:annualForm:annualBlock:retPriorPriorTaxRem");

                if (secondDate != null) {
                    secondDate.disabled = true;
                    secondDate.classList.add("disabled");
                }
            }			
            if (document.getElementById("AnnualSettingsPage:annualForm:annualBlock:newCurrentTaxCheck") != null &&
                document.getElementById("AnnualSettingsPage:annualForm:annualBlock:newCurrentTaxCheck").checked) {
                firstDate = document.getElementById("AnnualSettingsPage:annualForm:annualBlock:newCurrTax");
                firstDate.disabled = true;
                firstDate.classList.add("disabled");
                secondDate = document.getElementById("AnnualSettingsPage:annualForm:annualBlock:newCurrTaxRem");

                if (secondDate != null) {
                    secondDate.disabled = true;
                    secondDate.classList.add("disabled");
                }
            }
            if (document.getElementById("AnnualSettingsPage:annualForm:annualBlock:retCurrentTaxCheck") != null &&
                document.getElementById("AnnualSettingsPage:annualForm:annualBlock:retCurrentTaxCheck").checked) {
                firstDate = document.getElementById("AnnualSettingsPage:annualForm:annualBlock:retCurrTax");
                firstDate.disabled = true;
                firstDate.classList.add("disabled");
                secondDate = document.getElementById("AnnualSettingsPage:annualForm:annualBlock:retCurrTaxRem");

                if (secondDate != null) {
                    secondDate.disabled = true;
                    secondDate.classList.add("disabled");
                }
            }
            /*NAIS-1099*/
            if (document.getElementById("AnnualSettingsPage:annualForm:annualBlock:deadLineType") != null &&
                document.getElementById("AnnualSettingsPage:annualForm:annualBlock:deadLineType").value == "{!deadlineType}") {
                firstDate = document.getElementById("AnnualSettingsPage:annualForm:annualBlock:newPFS");
                firstDate.disabled = true;
                firstDate.classList.add("disabled");
                document.getElementById("AnnualSettingsPage:annualForm:annualBlock:newPFS").value = "";

                secondDate = document.getElementById("AnnualSettingsPage:annualForm:annualBlock:retPFS");
                secondDate.disabled = true;
                secondDate.classList.add("disabled");
                document.getElementById("AnnualSettingsPage:annualForm:annualBlock:retPFS").value = "";
            }
            if (document.getElementById("AnnualSettingsPage:annualForm:annualBlock:deadLineTypePriorPrior") != null &&
                document.getElementById("AnnualSettingsPage:annualForm:annualBlock:deadLineTypePriorPrior").value == "{!deadlineType}") {
                firstDate = document.getElementById("AnnualSettingsPage:annualForm:annualBlock:newTaxPP");
                firstDate.disabled = true;
                firstDate.classList.add("disabled");
                document.getElementById("AnnualSettingsPage:annualForm:annualBlock:newTaxPP").value = "";

                secondDate = document.getElementById("AnnualSettingsPage:annualForm:annualBlock:retTaxPP");
                secondDate.disabled = true;
                secondDate.classList.add("disabled");
                document.getElementById("AnnualSettingsPage:annualForm:annualBlock:retTaxPP").value = "";
            }	
            if (document.getElementById("AnnualSettingsPage:annualForm:annualBlock:deadLineTypePrior") != null &&
                document.getElementById("AnnualSettingsPage:annualForm:annualBlock:deadLineTypePrior").value == "{!deadlineType}") {
                firstDate = document.getElementById("AnnualSettingsPage:annualForm:annualBlock:newTax");
                firstDate.disabled = true;
                firstDate.classList.add("disabled");
                document.getElementById("AnnualSettingsPage:annualForm:annualBlock:newTax").value = "";

                secondDate = document.getElementById("AnnualSettingsPage:annualForm:annualBlock:retTax");
                secondDate.disabled = true;
                secondDate.classList.add("disabled");
                document.getElementById("AnnualSettingsPage:annualForm:annualBlock:retTax").value = "";
            }
            if (document.getElementById("AnnualSettingsPage:annualForm:annualBlock:deadLineTypeCurrent") != null &&
                document.getElementById("AnnualSettingsPage:annualForm:annualBlock:deadLineTypeCurrent").value == "{!deadlineType}") {
                firstDate = document.getElementById("AnnualSettingsPage:annualForm:annualBlock:newCurrTax");
                firstDate.disabled = true;
                firstDate.classList.add("disabled");
                document.getElementById("AnnualSettingsPage:annualForm:annualBlock:newCurrTax").value = "";

                secondDate = document.getElementById("AnnualSettingsPage:annualForm:annualBlock:retCurrTax");
                secondDate.disabled = true;
                secondDate.classList.add("disabled");
                document.getElementById("AnnualSettingsPage:annualForm:annualBlock:retCurrTax").value = "";
            }
            /*End NAIS-1099*/
            if (document.getElementById("AnnualSettingsPage:annualForm:annualBlock:newPriorPriorTaxCheck") != null &&
                document.getElementById("AnnualSettingsPage:annualForm:annualBlock:newPriorPriorTaxCheck").checked &&
                document.getElementById("AnnualSettingsPage:annualForm:annualBlock:retPriorPriorTaxCheck") != null &&
                document.getElementById("AnnualSettingsPage:annualForm:annualBlock:retPriorPriorTaxCheck").checked) {

                if (document.getElementById("AnnualSettingsPage:annualForm:annualBlock:deadLineTypePriorPrior") != null) {
                    document.getElementById("AnnualSettingsPage:annualForm:annualBlock:deadLineTypePriorPrior").disabled = true;
                }
            }

            if (document.getElementById("AnnualSettingsPage:annualForm:annualBlock:newPriorTaxCheck") != null &&
                document.getElementById("AnnualSettingsPage:annualForm:annualBlock:newPriorTaxCheck").checked &&
                document.getElementById("AnnualSettingsPage:annualForm:annualBlock:retPriorTaxCheck") != null &&
                document.getElementById("AnnualSettingsPage:annualForm:annualBlock:retPriorTaxCheck").checked) {

                if (document.getElementById("AnnualSettingsPage:annualForm:annualBlock:deadLineTypePrior") != null) {
                    document.getElementById("AnnualSettingsPage:annualForm:annualBlock:deadLineTypePrior").disabled = true;
                }
            }

            if (document.getElementById("AnnualSettingsPage:annualForm:annualBlock:newCurrentTaxCheck") != null &&
                document.getElementById("AnnualSettingsPage:annualForm:annualBlock:newCurrentTaxCheck").checked &&
                document.getElementById("AnnualSettingsPage:annualForm:annualBlock:retCurrentTaxCheck") != null &&
                document.getElementById("AnnualSettingsPage:annualForm:annualBlock:retCurrentTaxCheck").checked) {

                if (document.getElementById("AnnualSettingsPage:annualForm:annualBlock:deadLineTypeCurrent") != null) {
                    document.getElementById("AnnualSettingsPage:annualForm:annualBlock:deadLineTypeCurrent").disabled = true;
                }
            }
        }
        j$(document).ready(function() {
            setInputStyle();
            // SFP-255
            j$('.pythreshold-info').powerTip({
                placement: 'ne'
            });

            if ("{!isNonAdministrator}" == "true") {
                showNonAdministratorDialog();
            }
        });
        /*End NAIS-1856*/

        /*NAIS-1099*/
        function changeDeadLines(isDocument, valueDeadline, objNewName, objReturningName, checkNew, checkRet) {
            if (valueDeadline == "{!deadLineType}") {
                document.getElementById(objNewName).disabled = true;
                document.getElementById(objNewName).value = "";
                document.getElementById(objNewName).classList.add("disabled");

                document.getElementById(objReturningName).disabled = true;
                document.getElementById(objReturningName).value = "";
                document.getElementById(objReturningName).classList.add("disabled");
            } else {
                if (!isDocument || (document.getElementById(checkNew) != null &&
                        document.getElementById(checkNew).checked == false)) {
                    document.getElementById(objNewName).disabled = false;
                    document.getElementById(objNewName).classList.remove("disabled");
                }
                if (!isDocument || (document.getElementById(checkRet) != null &&
                        document.getElementById(checkRet).checked == false)) {
                    document.getElementById(objReturningName).disabled = false;
                    document.getElementById(objReturningName).classList.remove("disabled");
                }
            }
        }

        function toggleSchoolPortalTabs(shouldDisplayTabs) {
            var portalTabs = document.getElementById("AppBodyHeader");
            if (portalTabs == null) {
                return;
            }

            if (shouldDisplayTabs) {
                portalTabs.style.visibility = 'inherit';
            } else {
                portalTabs.style.visibility = 'hidden';
            }
        }


        var getCountCustomQuestionsUsed = function() {
            if (j$(".cqBank-not-editable").get(0)) {
                return j$(".cqBank-not-editable").find(".checkImg").filter("[title='Checked']").length;
            } else {
                return j$(".cq-checkbox:checked").length;
            }
        }

        var getCustomQuestionLimit = function(limit) {
            if ((limit != null) && (limit > 0)) {
                return Math.round(limit);
            } else {
                return Math.round("{!additionalQuestionLimit}");
            }
        }

        var getUseAdditionalQuestions = function() {
            if (j$(".cqBank-not-editable").get(0)) {
                return j$(".uaq-inactive").html();
            } else {
                return j$(".uaq-active").val();
            }
        }

        var isValidCustomQuestions = function(onChange) {
            var useAdditionalQuestions = getUseAdditionalQuestions();

            var used = getCountCustomQuestionsUsed();
            var limit = getCustomQuestionLimit("{!Model.Additional_Questions_Limit_Override__c}");


            if (onChange) {
                if ((useAdditionalQuestions != null) && (useAdditionalQuestions == 'Yes') && (used > limit)) {
                    alert("Please select a maximum of " + limit + " custom questions.");

                    return false;
                }
            } else {
                if ((useAdditionalQuestions != null) && (useAdditionalQuestions == 'Yes') && (used == 0)) {
                    alert("Please select at least 1 custom question.");

                    return false;
                }
            }

            return true;
        }


        function showNonAdministratorDialog() {
            j$("#nonAdministratorDialog").dialog({
                resizable: false,
                modal: true,
                closeOnEscape: false,
                width: 500,
                height: 300,
                create: function(event, ui) {
                    j$(".ui-dialog-titlebar-close").hide();
                },
                buttons: [
                    {
                        text: "OK",
                        click: function() {
                            setVisitedCookieAndRedirect();
                            j$(this).dialog("close");
                        }
                    }
                ]
            });
        }
    </script>


    <!-- NAIS-2452 -->
    <apex:actionStatus id="pleaseWaitStatus" onstart="j$.blockUI({'message':j$('.please-wait-message')});" onstop="j$.unblockUI(); window.scrollTo(0,0);" />
    <apex:actionStatus id="pleaseWaitStatusWithoutScroll" onstart="j$.blockUI({'message':j$('.please-wait-message')});" onstop="j$.unblockUI();" />

    <div class="please-wait-message" style="display:none">
        <div style="font-size:4em;margin:5px">
            <apex:image value="/img/loading32.gif" width="32px" height="32px" />&nbsp;
            <apex:outputText escape="false" value="{!$Label.Please_wait}" />
        </div>
    </div>
    <!-- End NAIS-2452 -->
    <apex:actionStatus id="RequestStatus" onstart="$.blockUI({'message':$('.please-wait-messagec')});" onstop="$.unblockUI();" />
    <div class="please-wait-messagec" style="display:none">
        <div style="font-size:2em;margin:5px">
            <label>Updating Cycle 2 Schools...</label>
        </div>
    </div>
    <apex:form id="barForm">
        <apex:outputPanel id="schoolPortalHeader" layout="none">
            <apex:outputpanel layout="block" styleClass="pageHeaderBar" rendered="{!hasAnnualSetting}">
                <c:SchoolHeaderBar />
                <c:SchoolAcademicYearSelector id="currAccYear" host="{!Me}" value="{!academicYearId}" />
                <c:SchoolGlobalSearch />
                <br/>
                <c:SchoolAcademicYearWarning />
            </apex:outputpanel>
        </apex:outputPanel>
    </apex:form>
    <apex:outputPanel id="schoolSubTabs" layout="none">
        <c:SchoolSubtabs rendered="{!hasAnnualSetting}" host="{!Me}" selectedTab="SchoolAnnualSettings" />
    </apex:outputPanel>
    <apex:form >
        <apex:actionFunction name="copyPKSchools" action="{!CopyPKSchools}" reRender="schoolsCycle2Panel, schoolsCycle2NZPanel" immediate="true" status="RequestStatus">
            <apex:param name="cycle1" value="" assignTo="{!Model.Pauahi_Keiki_Scholars_Schools_Cycle_2__c}" />
            <apex:param name="cycle2" value="" assignTo="{!Model.Pauahi_Keiki_Schools_Cycle_2_N_Z__c}" />
        </apex:actionFunction>
        <apex:actionFunction name="setVisitedCookieAndRedirect" action="{!setVisitedCookie}" />
    </apex:form>
    <apex:form id="annualForm">
        <apex:outputPanel id="thisPage" layout="block" styleClass="maindiv">
            <apex:outputPanel id="questionsValidationJS">
                <script>
                    j$(document).ready(function() {
                        j$(".cq-checkbox").change(function() {
                            var status = isValidCustomQuestions(true);

                            if (!status) {
                                j$(this).attr('checked', false);
                            }
                        });
                    });
                </script>
            </apex:outputPanel>

            <apex:pageMessage rendered="{!ShowValidationMessage}" summary="There was an error saving your settings.  Please review the fields below." severity="Error" strength="3" />
            <!-- NAIS-2095 -->
            <apex:pageMessages id="pagemessages" />
            <c:SchoolPageInstructions label_name="School_Instructions_Annual_Settings" field_name="SYSTEM_Hide_Instructions_Annual_Settings__c" />
            <div class="block">
                <div class="blockheader">Annual Settings {!selectedAcademicYear}</div>
                <apex:pageBlock id="annualBlock">
                    <apex:pageBlockButtons id="bottomPageBlockButtons" location="bottom">
                        <apex:commandButton value="Save" disabled="{!sasBatchInProgress}" action="{!Submit}" rerender="thisPage,schoolPortalHeader,schoolSubTabs,bottomPageBlockButtons" onclick="if (!isValidCustomQuestions(false)) { return false; }" onComplete="setInputStyle(); toggleSchoolPortalTabs({!hasAnnualSetting});" status="pleaseWaitStatus" />
                    </apex:pageBlockButtons>
                    <div class="nopadding">
                        <apex:outputPanel layout="block" style="font-size:18px;font-weight:bold;padding-top: 25px;padding-bottom: 25px;" rendered="{!IF(AND(NOT(hasAnnualSetting),NOT(ISNULL($Label.Annual_Settings_Initial_Rendering))),true,false)}">
                            {!SUBSTITUTE($Label.Annual_Settings_Initial_Rendering,'{0}',selectedAcademicYear)}
                        </apex:outputPanel>
                        <h2 class="mainTitle pageblocksection-header">{!$Label.SchoolSettings_DeadlineSection}</h2>
                        <div class="block notifications" style="margin:10px;">
                            <div class="blockheader" style="height: auto; line-height: 30px;font-weight: normal;">
                                <b>You can choose to have SSS send e-mail reminders to your families regarding outstanding required documents or un-submitted PFSs.</b>
                                <br/>
                                <div style="height: auto; font-size :95%; line-height: 20px;">
                                    If sending email reminders for tax documents:
                                    <ul style="line-height: 20px;font-size:90%;">
                                        <li>The PFS deadline must come BEFORE deadlines for tax documents.</li>
                                        <li>Reminders are sent on the school's behalf on the date you indicate below. </li>
                                        <li><b>NOTE: SSS sends a second email reminder 7 days later to families who have not fulfilled document requirements after the first reminder.</b></li>
                                        <li>Updating admissions and enrollment status prevents document reminder emails going to families who should not receive them.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <apex:outputPanel id="deadlineSection_pfs" styleClass="document-deadline-section">
                            <h2 class="mainTitle pageblocksection-header">{!$Label.SchoolSettings_FinancialAidDeadlinesTitle}</h2>
                            <div class="deadlinesection">
                                <div class="deadline-question-section" style="height:1.5em">
                                    <div class="deadline-question"></div>
                                    <div class="deadline-newstudent">New Students</div>
                                    <div class="deadline-returningstudent">Returning Students</div>
                                    <div class="deadline-deadlinetype">Deadline Type</div>
                                </div>
                                <div class="deadline-question-section">
                                    <div class="deadline-question"></div>
                                    <div class="deadline-newstudent">
                                        <apex:inputField id="newPFS" value="{!Model.PFS_New__c}" taborderhint="2" />
                                    </div>
                                    <div class="deadline-returningstudent">
                                        <apex:inputField id="retPFS" value="{!Model.PFS_Returning__c}" taborderhint="3" />
                                    </div>
                                    <div class="deadline-deadlinetype"><span class="requiredInput">
                                        <apex:actionRegion >
                                            <apex:inputField id="deadLineType" value="{!Model.PFS_Deadline_Type__c}" taborderhint="4" >
                                                <apex:actionSupport status="pleaseWaitStatusWithoutScroll" event="onchange" action="{!resetCheckbox}" rerender="pfsEmailReminderChechbox, sendPFSReminders, pfsEmailReminderDateblock" oncomplete="changeDeadLines(false, this.value, '{!$Component.newPFS}', '{!$Component.retPFS}', '', '');" >
                                                    <apex:param name="fieldToClear" value="Send_PFS_Reminders__c" />
                                                    <apex:param name="fieldToCompare" value="PFS_Deadline_Type__c" />
                                                </apex:actionSupport>
                                            </apex:inputField>
                                        </apex:actionRegion>
                                    </span></div>
                                    <!-- NAIS-1099  -->
                                </div>

                                <!-- START: Action Functions related to "PFS Email Reminder" -->
                                 <apex:actionFunction name="clearFieldValuePFSDeadlineDates" action="{!clearReminderDatesIfMasterCheckboxIsFalse}"  rerender="newPFSRemDateParent, retPFSRemDateParent" oncomplete="onChangeForRerender_pfsEmailReminderDateblock();">
                                    <apex:param name="fieldToClear1" value="PFS_Reminder_Date__c" />
                                    <apex:param name="fieldToClear2" value="PFS_Reminder_Date_Returning__c" />
                                    <apex:param name="fieldToCompare" value="Send_PFS_Reminders__c" />
                                </apex:actionFunction>
                                <apex:actionFunction name="onChangeForRerender_pfsEmailReminderChechbox" rerender="pfsEmailReminderChechbox"  status="pleaseWaitStatusWithoutScroll" />
                                <apex:actionFunction name="onChangeForRerender_pfsEmailReminderDateblock" rerender="pfsEmailReminderDateblock"  status="pleaseWaitStatusWithoutScroll" />
                                <!-- END: Action Functions related to "PFS Email Reminder" -->

                                <apex:outputPanel id="pfsEmailReminderChechbox" StyleClass="deadline-question-section" layout="block">
                                    <apex:outputPanel StyleClass="deadline-question" layout="block" rendered="{!OR(Model.PFS_Deadline_Type__c == 'Hard Deadline', Model.PFS_Deadline_Type__c == 'Soft Deadline')}">
                                        {!$Label.SchoolSettings_SendPFSRemindersQuestion}
                                        <apex:actionRegion >
                                            <apex:inputField id="sendPFSReminders" value="{!Model.Send_PFS_Reminders__c}"  taborderhint="3" >
                                                <apex:actionSupport status="pleaseWaitStatusWithoutScroll" event="onchange" rerender="test" oncomplete="clearFieldValuePFSDeadlineDates();" />
                                            </apex:inputField>
                                        </apex:actionRegion>
                                    </apex:outputPanel>
                                </apex:outputPanel>
                                <apex:outputPanel layout="block" id="pfsEmailReminderDateblock" styleClass="deadline-question-section reminder-date Missing-required-documents-and-unsubmitted-PFSs Unsubmitted-PFSs-only">
                                    <apex:outputPanel layout="block" rendered="{!AND(Model.Send_PFS_Reminders__c == true,OR(Model.PFS_Deadline_Type__c == 'Hard Deadline', Model.PFS_Deadline_Type__c == 'Soft Deadline'))}" StyleClass="deadline-question">
                                        PFS Email Reminder Date
                                    </apex:outputPanel>
                                    <apex:outputPanel id="newPFSRemDateParent" layout="block" rendered="{!AND(Model.Send_PFS_Reminders__c == true,OR(Model.PFS_Deadline_Type__c == 'Hard Deadline', Model.PFS_Deadline_Type__c == 'Soft Deadline'))}" StyleClass="deadline-newstudent">
                                        <apex:inputField id="newPFSRemDate" value="{!Model.PFS_Reminder_Date__c}" taborderhint="5" />
                                    </apex:outputPanel>
                                    <apex:outputPanel id="retPFSRemDateParent" layout="block" rendered="{!AND(Model.Send_PFS_Reminders__c == true,OR(Model.PFS_Deadline_Type__c == 'Hard Deadline', Model.PFS_Deadline_Type__c == 'Soft Deadline'))}" StyleClass="deadline-returningstudent">
                                        <apex:inputField id="retPFSRemDate" value="{!Model.PFS_Reminder_Date_Returning__c}" taborderhint="6" />
                                    </apex:outputPanel>
                                    <apex:outputPanel layout="block" rendered="{!AND(Model.Send_PFS_Reminders__c == true,OR(Model.PFS_Deadline_Type__c == 'Hard Deadline', Model.PFS_Deadline_Type__c == 'Soft Deadline'))}" StyleClass="deadline-deadlinetype">
                                    </apex:outputPanel>
                                </apex:outputPanel>
                            </div>
                        </apex:outputPanel>
                        <!-- Start PPY Sec -->
                        <apex:outputPanel id="deadlineSectionPPyear" styleClass="document-deadline-section" rendered="{!showPPYearTaxDocsSection}">
                            <h2 class="mainTitle pageblocksection-header"><apex:outputLabel escape="false" value="{!SUBSTITUTE($Label.SchoolSettings_PP_YearDocsTitle,'{0}',PP_SelectedYear)}" />&nbsp;</h2>
                            <apex:outputPanel layout="block" StyleClass="deadlinesection" >
                                <div class="deadline-question-section" style="height:1.5em">
                                    <div class="deadline-question"></div>
                                    <div class="deadline-newstudent">New Students</div>
                                    <div class="deadline-returningstudent">Returning Students</div>
                                    <div class="deadline-deadlinetype">Deadline Type</div>
                                </div>
                                <apex:outputPanel layout="block" styleClass="deadline-question-section reminder-date Missing-required-documents-and-unsubmitted-PFSs Missing-required-documents-only non-pfs-document-deadline-reminder">
                                    <div class="deadline-question">We don’t collect prior prior year documents</div>
                                    <div class="deadline-newstudent">
                                        <apex:inputfield id="newPriorPriorTaxCheck" value="{!Model.Don_t_collect_pp_year_documents_New__c}" label="Prior Prior Year(PPY) Tax Form Check" taborderhint="7" onchange="CheckCollectDocuments('{!$Component.newTaxPP}', '{!$Component.newPPTaxRem}', '{!$Component.newPriorPriorTaxCheck}', '{!$Component.retPriorPriorTaxCheck}', '{!$Component.deadLineTypePriorPrior}')" />
                                    </div>
                                    <div class="deadline-returningstudent">
                                        <apex:inputfield id="retPriorPriorTaxCheck" value="{!Model.Don_t_collect_pp_year_documents_Ret__c}" label="Prior Prior Year (PPY) Tax Form Check" taborderhint="8" onchange="CheckCollectDocuments('{!$Component.retTaxPP}', '{!$Component.retPriorPriorTaxRem}', '{!$Component.retPriorPriorTaxCheck}', '{!$Component.newPriorPriorTaxCheck}', '{!$Component.deadLineTypePriorPrior}')" />
                                    </div>
                                    <div class="deadline-deadlinetype"></div>
                                </apex:outputPanel>
                                <!-- End NAIS-1856 -->
                                <div class="deadline-question-section non-pfs-document-deadline">
                                    <div class="deadline-question"></div>
                                    <div class="deadline-newstudent">
                                        <apex:inputField id="newTaxPP" value="{!Model.PP_Year_Tax_Documents_New__c}" taborderhint="9" />
                                    </div>
                                    <div class="deadline-returningstudent">
                                        <apex:inputField id="retTaxPP" value="{!Model.PP_Year_Tax_Documents_Returning__c}" taborderhint="10" />
                                    </div>
                                    <div class="deadline-deadlinetype"><span class="requiredInput">
                                        <apex:actionRegion >
                                            <apex:inputField id="deadLineTypePriorPrior" value="{!Model.PP_Year_Tax_Documents_Deadline_Type__c}" taborderhint="11" >
                                                <apex:actionSupport status="pleaseWaitStatusWithoutScroll" event="onchange" action="{!resetCheckbox}" rerender="PP_YearEmailReminderChechbox, sendPP_YearReminders, pp_YearEmailReminderDateblock" onComplete="changeDeadLines(false, this.value, '{!$Component.newTaxPP}', '{!$Component.retTaxPP}', '{!$Component.newPriorPriorTaxCheck}', '{!$Component.retPriorPriorTaxCheck}');" >
                                                    <apex:param name="fieldToClear" value="Send_PP_Year_Document_Reminders__c" />
                                                    <apex:param name="fieldToCompare" value="PP_Year_Tax_Documents_Deadline_Type__c" />
                                                </apex:actionSupport>
                                            </apex:inputField>
                                        </apex:actionRegion>
                                    </span></div>
                                    <!-- NAIS-1099 -->
                                </div>
                                <!-- START: Action Functions related to "PP Year Document Deadline reminders" -->
                                <apex:actionFunction name="clearFieldValuePriorPriorDeadlineDates" action="{!clearReminderDatesIfMasterCheckboxIsFalse}"  rerender="newPPTaxRemParent, retPriorTaxRemParentPP" oncomplete="onChangeForRerender_pp_YearEmailReminderDateblock();">
                                    <apex:param name="fieldToClear1" value="PPY_Document_Reminder_Date__c" />
                                    <apex:param name="fieldToClear2" value="PPY_Document_Reminder_Date_Returning__c" />
                                    <apex:param name="fieldToCompare" value="Send_PP_Year_Document_Reminders__c" />
                                </apex:actionFunction>
                                <apex:actionFunction name="onChangeForRerender_PP_YearEmailReminderChechbox" rerender="PP_YearEmailReminderChechbox"  status="pleaseWaitStatusWithoutScroll" />
                                <apex:actionFunction name="onChangeForRerender_pp_YearEmailReminderDateblock" rerender="pp_YearEmailReminderDateblock"  status="pleaseWaitStatusWithoutScroll" />
                                <!-- END: Action Functions related to "Prior Year Document Deadline reminders" -->

                                <apex:outputPanel id="PP_YearEmailReminderChechbox" StyleClass="deadline-question-section" layout="block">
                                    <apex:outputPanel layout="block" rendered="{!OR(Model.PP_Year_Tax_Documents_Deadline_Type__c == 'Hard Deadline', Model.PP_Year_Tax_Documents_Deadline_Type__c == 'Soft Deadline')}" StyleClass="deadline-question">
                                        {!$Label.SchoolSettings_Send_PPYearDocumentReminders}
                                        <apex:actionRegion >
                                            <apex:inputField id="sendPP_YearReminders" value="{!Model.Send_PP_Year_Document_Reminders__c}"  taborderhint="3" >
                                                <apex:actionSupport status="pleaseWaitStatusWithoutScroll" event="onchange" rerender="pp_YearEmailReminderDateblock" oncomplete="clearFieldValuePriorPriorDeadlineDates();" />
                                            </apex:inputField>
                                        </apex:actionRegion>
                                    </apex:outputPanel>
                                    <apex:outputPanel layout="block" rendered="{!OR(Model.PP_Year_Tax_Documents_Deadline_Type__c == 'Hard Deadline', Model.PP_Year_Tax_Documents_Deadline_Type__c == 'Soft Deadline')}" StyleClass="deadline-newstudent" />
                                    <apex:outputPanel layout="block" rendered="{!OR(Model.PP_Year_Tax_Documents_Deadline_Type__c == 'Hard Deadline', Model.PP_Year_Tax_Documents_Deadline_Type__c == 'Soft Deadline')}" StyleClass="deadline-returningstudent" />
                                    <apex:outputPanel layout="block" rendered="{!OR(Model.PP_Year_Tax_Documents_Deadline_Type__c == 'Hard Deadline', Model.PP_Year_Tax_Documents_Deadline_Type__c == 'Soft Deadline')}" StyleClass="deadline-deadlinetype" />
                                </apex:outputPanel>
                                <apex:outputPanel layout="block" id="pp_YearEmailReminderDateblock" styleClass="deadline-question-section reminder-date Missing-required-documents-and-unsubmitted-PFSs Missing-required-documents-only non-pfs-document-deadline-reminder">
                                    <apex:outputPanel layout="block" rendered="{!AND(Model.Send_PP_Year_Document_Reminders__c == true,OR(Model.PP_Year_Tax_Documents_Deadline_Type__c == 'Hard Deadline', Model.PP_Year_Tax_Documents_Deadline_Type__c == 'Soft Deadline'))}" StyleClass="deadline-question">
                                        Prior Prior Year Tax Form Email Reminder Date
                                    </apex:outputPanel>
                                    <apex:outputPanel id="newPPTaxRemParent" layout="block" rendered="{!AND(Model.Send_PP_Year_Document_Reminders__c == true,OR(Model.PP_Year_Tax_Documents_Deadline_Type__c == 'Hard Deadline', Model.PP_Year_Tax_Documents_Deadline_Type__c == 'Soft Deadline'))}" StyleClass="deadline-newstudent">
                                        <apex:inputField id="newPPTaxRem" value="{!Model.PPY_Document_Reminder_Date__c}" label="Prior Prior Year Tax Form Reminder" taborderhint="12" />
                                    </apex:outputPanel>
                                    <apex:outputPanel id="retPriorTaxRemParentPP" layout="block" rendered="{!AND(Model.Send_PP_Year_Document_Reminders__c == true,OR(Model.PP_Year_Tax_Documents_Deadline_Type__c == 'Hard Deadline', Model.PP_Year_Tax_Documents_Deadline_Type__c == 'Soft Deadline'))}" StyleClass="deadline-returningstudent">
                                        <apex:inputField id="retPriorPriorTaxRem" value="{!Model.PPY_Document_Reminder_Date_Returning__c}" label="Prior Prior Year Tax Form Reminder" taborderhint="13" />
                                    </apex:outputPanel>
                                    <apex:outputPanel layout="block" rendered="{!AND(Model.Send_PP_Year_Document_Reminders__c == true,OR(Model.PP_Year_Tax_Documents_Deadline_Type__c == 'Hard Deadline', Model.PP_Year_Tax_Documents_Deadline_Type__c == 'Soft Deadline'))}" StyleClass="deadline-deadlinetype" />
                                </apex:outputPanel>
                            </apex:outputPanel>
                            <apex:outputPanel layout="block" rendered="{!NOT(showPPYearTaxDocsSection)}">
                                <div class="block notifications" style="margin: 30px 10px 30px 10px;">
                                    <div class="blockheader" style="height: auto; line-height: 25px;font-weight: bold;">
                                        {!$Label.PP_Year_tax_Document_Hidden_Section}
                                    </div>
                                </div>
                            </apex:outputPanel>
                        </apex:outputPanel>							
                        <!-- End PPY Sec -->
                        <apex:outputPanel id="deadlineSection_prioryear" styleClass="document-deadline-section">
                            <h2 class="mainTitle pageblocksection-header"><apex:outputLabel escape="false" value="{!SUBSTITUTE($Label.SchoolSettings_PriorYearDocsTitle,'{0}',priorSelectedYear)}" />&nbsp;</h2>
                            <apex:outputPanel layout="block" StyleClass="deadlinesection" rendered="{!showPriorYearTaxDocsSection}">
                                <div class="deadline-question-section" style="height:1.5em">
                                    <div class="deadline-question"></div>
                                    <div class="deadline-newstudent">New Students</div>
                                    <div class="deadline-returningstudent">Returning Students</div>
                                    <div class="deadline-deadlinetype">Deadline Type</div>
                                </div>
                                <apex:outputPanel layout="block" styleClass="deadline-question-section reminder-date Missing-required-documents-and-unsubmitted-PFSs Missing-required-documents-only non-pfs-document-deadline-reminder">
                                    <div class="deadline-question">We don’t collect prior year documents</div>
                                    <div class="deadline-newstudent">
                                        <apex:inputfield id="newPriorTaxCheck" value="{!Model.Don_t_collect_prior_year_documents_New__c}" label="Prior Year Tax Form Check" taborderhint="7" onchange="CheckCollectDocuments('{!$Component.newTax}', '{!$Component.newPriorTaxRem}', '{!$Component.newPriorTaxCheck}', '{!$Component.retPriorTaxCheck}', '{!$Component.deadLineTypePrior}')" />
                                    </div>
                                    <div class="deadline-returningstudent">
                                        <apex:inputfield id="retPriorTaxCheck" value="{!Model.Don_t_collect_prior_year_documents_Ret__c}" label="Prior Year Tax Form Check" taborderhint="8" onchange="CheckCollectDocuments('{!$Component.retTax}', '{!$Component.retPriorTaxRem}', '{!$Component.retPriorTaxCheck}', '{!$Component.newPriorTaxCheck}', '{!$Component.deadLineTypePrior}')" />
                                    </div>
                                    <div class="deadline-deadlinetype"></div>
                                </apex:outputPanel>
                                <!--End NAIS-1856 -->
                                <div class="deadline-question-section non-pfs-document-deadline">
                                    <div class="deadline-question"></div>
                                    <div class="deadline-newstudent">
                                        <apex:inputField id="newTax" value="{!Model.Prior_Year_Tax_Documents_New__c}" taborderhint="9" />
                                    </div>
                                    <div class="deadline-returningstudent">
                                        <apex:inputField id="retTax" value="{!Model.Prior_Year_Tax_Documents_Returning__c}" taborderhint="10" />
                                    </div>
                                    <div class="deadline-deadlinetype"><span class="requiredInput">
                                        <apex:actionRegion >
                                            <apex:inputField id="deadLineTypePrior" value="{!Model.Prior_Year_Tax_Documents_Deadline_Type__c}" taborderhint="11" >
                                                <apex:actionSupport status="pleaseWaitStatusWithoutScroll" event="onchange" action="{!resetCheckbox}" rerender="test,priorYearEmailReminderChechbox, sendPriorYearReminders, priorYearEmailReminderDateblock" oncomplete="changeDeadLines(false, this.value, '{!$Component.newTax}', '{!$Component.retTax}', '{!$Component.newPriorTaxCheck}', '{!$Component.retPriorTaxCheck}');" >
                                                    <apex:param name="fieldToClear" value="Send_Prior_Year_Document_Reminders__c" />
                                                    <apex:param name="fieldToCompare" value="Prior_Year_Tax_Documents_Deadline_Type__c" />
                                                </apex:actionSupport>
                                            </apex:inputField>
                                        </apex:actionRegion>
                                    </span></div>
                                    <!-- NAIS-1099  -->
                                </div>
                                 <!-- START: Action Functions related to "Prior Year Document Deadline reminders" -->
                                 <apex:actionFunction name="clearFieldValuePriorDeadlineDates" action="{!clearReminderDatesIfMasterCheckboxIsFalse}"  rerender="newPriorTaxRemParent, retPriorTaxRemParent" oncomplete="onChangeForRerender_priorYearEmailReminderDateblock();">
                                    <apex:param name="fieldToClear1" value="Document_Reminder_Date__c" />
                                    <apex:param name="fieldToClear2" value="Document_Reminder_Date_Returning__c" />
                                    <apex:param name="fieldToCompare" value="Send_Prior_Year_Document_Reminders__c" />
                                </apex:actionFunction>
                                <apex:actionFunction name="onChangeForRerender_priorYearEmailReminderChechbox" rerender="priorYearEmailReminderChechbox"  status="pleaseWaitStatusWithoutScroll" />
                                <apex:actionFunction name="onChangeForRerender_priorYearEmailReminderDateblock" rerender="priorYearEmailReminderDateblock"  status="pleaseWaitStatusWithoutScroll" />
                                <!-- END: Action Functions related to "Prior Year Document Deadline reminders" -->

                                <apex:outputPanel id="priorYearEmailReminderChechbox" StyleClass="deadline-question-section" layout="block">
                                    <apex:outputPanel layout="block" rendered="{!OR(Model.Prior_Year_Tax_Documents_Deadline_Type__c == 'Hard Deadline', Model.Prior_Year_Tax_Documents_Deadline_Type__c == 'Soft Deadline')}" StyleClass="deadline-question">
                                        {!$Label.SchoolSettings_SendPriorYearDocumentReminders}
                                        <apex:actionRegion >
                                            <apex:inputField id="sendPriorYearReminders" value="{!Model.Send_Prior_Year_Document_Reminders__c}"  taborderhint="3" >
                                                <apex:actionSupport status="pleaseWaitStatusWithoutScroll" event="onchange" rerender="priorYearEmailReminderDateblock" oncomplete="clearFieldValuePriorDeadlineDates();" />
                                            </apex:inputField>
                                        </apex:actionRegion>
                                    </apex:outputPanel>
                                    <apex:outputPanel layout="block" rendered="{!OR(Model.Prior_Year_Tax_Documents_Deadline_Type__c == 'Hard Deadline', Model.Prior_Year_Tax_Documents_Deadline_Type__c == 'Soft Deadline')}" StyleClass="deadline-newstudent" />
                                    <apex:outputPanel layout="block" rendered="{!OR(Model.Prior_Year_Tax_Documents_Deadline_Type__c == 'Hard Deadline', Model.Prior_Year_Tax_Documents_Deadline_Type__c == 'Soft Deadline')}" StyleClass="deadline-returningstudent" />
                                    <apex:outputPanel layout="block" rendered="{!OR(Model.Prior_Year_Tax_Documents_Deadline_Type__c == 'Hard Deadline', Model.Prior_Year_Tax_Documents_Deadline_Type__c == 'Soft Deadline')}" StyleClass="deadline-deadlinetype" />
                                </apex:outputPanel>
                                <apex:outputPanel layout="block" id="priorYearEmailReminderDateblock" styleClass="deadline-question-section reminder-date Missing-required-documents-and-unsubmitted-PFSs Missing-required-documents-only non-pfs-document-deadline-reminder">
                                    <apex:outputPanel layout="block" rendered="{!AND(Model.Send_Prior_Year_Document_Reminders__c == true,OR(Model.Prior_Year_Tax_Documents_Deadline_Type__c == 'Hard Deadline', Model.Prior_Year_Tax_Documents_Deadline_Type__c == 'Soft Deadline'))}" StyleClass="deadline-question">
                                        Prior Year Tax Form Email Reminder Date
                                    </apex:outputPanel>
                                    <apex:outputPanel id="newPriorTaxRemParent" layout="block" rendered="{!AND(Model.Send_Prior_Year_Document_Reminders__c == true,OR(Model.Prior_Year_Tax_Documents_Deadline_Type__c == 'Hard Deadline', Model.Prior_Year_Tax_Documents_Deadline_Type__c == 'Soft Deadline'))}" StyleClass="deadline-newstudent">
                                        <apex:inputField id="newPriorTaxRem" value="{!Model.Document_Reminder_Date__c}" label="Prior Year Tax Form Reminder" taborderhint="12" />
                                    </apex:outputPanel>
                                    <apex:outputPanel id="retPriorTaxRemParent" layout="block" rendered="{!AND(Model.Send_Prior_Year_Document_Reminders__c == true,OR(Model.Prior_Year_Tax_Documents_Deadline_Type__c == 'Hard Deadline', Model.Prior_Year_Tax_Documents_Deadline_Type__c == 'Soft Deadline'))}" StyleClass="deadline-returningstudent">
                                        <apex:inputField id="retPriorTaxRem" value="{!Model.Document_Reminder_Date_Returning__c}" label="Prior Year Tax Form Reminder" taborderhint="13" />
                                    </apex:outputPanel>
                                    <apex:outputPanel layout="block" rendered="{!AND(Model.Send_Prior_Year_Document_Reminders__c == true,OR(Model.Prior_Year_Tax_Documents_Deadline_Type__c == 'Hard Deadline', Model.Prior_Year_Tax_Documents_Deadline_Type__c == 'Soft Deadline'))}" StyleClass="deadline-deadlinetype" />
                                </apex:outputPanel>
                            </apex:outputPanel>
                            <apex:outputPanel layout="block" rendered="{!NOT(showPriorYearTaxDocsSection)}">
                                <div class="block notifications" style="margin: 30px 10px 30px 10px;">
                                    <div class="blockheader" style="height: auto; line-height: 25px;font-weight: bold;">
                                        {!$Label.Prior_Year_tax_Document_Hidden_Section}
                                    </div>
                                </div>
                            </apex:outputPanel>
                        </apex:outputPanel>
						
                        <!-- Current Year Docs {0}: Enter school's deadlines for <em>current</em> year required tax documents -->
                        <apex:outputPanel id="deadlineSection_currentyear" styleClass="document-deadline-section">
                            <h2 class="mainTitle pageblocksection-header"><apex:outputLabel value="{!SUBSTITUTE($Label.SchoolSettings_CurrentYearDocsTitle,'{0}',currentSelectedYear)}" escape="false" />&nbsp;</h2>
                            <apex:outputPanel layout="block" Styleclass="deadlinesection" rendered="{!showCurrentYearTaxDocsSection}">
                                <div class="deadline-question-section" style="height:1.5em">
                                    <div class="deadline-question"></div>
                                    <div class="deadline-newstudent">New Students</div>
                                    <div class="deadline-returningstudent">Returning Students</div>
                                    <div class="deadline-deadlinetype">Deadline Type</div>
                                </div>
                                <apex:outputPanel layout="block" styleClass="deadline-question-section reminder-date Missing-required-documents-and-unsubmitted-PFSs Missing-required-documents-only non-pfs-document-deadline-reminder">
                                    <div class="deadline-question">We don’t collect current year documents</div>
                                    <div class="deadline-newstudent">
                                        <apex:inputfield id="newCurrentTaxCheck" value="{!Model.Don_t_collect_current_year_document_New__c}" label="Current Year Tax Form Check" taborderhint="14" onchange="CheckCollectDocuments('{!$Component.newCurrTax}', '{!$Component.newCurrTaxRem}', '{!$Component.newCurrentTaxCheck}', '{!$Component.retCurrentTaxCheck}', '{!$Component.deadLineTypeCurrent}')" />
                                    </div>
                                    <div class="deadline-returningstudent">
                                        <apex:inputfield id="retCurrentTaxCheck" value="{!Model.Don_t_collect_current_year_document_Ret__c}" label="Current Year Tax Form Check" taborderhint="15" onchange="CheckCollectDocuments('{!$Component.retCurrTax}', '{!$Component.retCurrTaxRem}', '{!$Component.retCurrentTaxCheck}', '{!$Component.newCurrentTaxCheck}', '{!$Component.deadLineTypeCurrent}')" />
                                    </div>
                                    <div class="deadline-deadlinetype"></div>
                                </apex:outputPanel>
                                <!-- End NAIS-1856 -->
                                <div class="deadline-question-section non-pfs-document-deadline">
                                    <div class="deadline-question"></div>
                                    <div class="deadline-newstudent">
                                        <apex:inputField id="newCurrTax" value="{!Model.Current_Year_Tax_Documents_New__c}" taborderhint="16" />
                                    </div>
                                    <div class="deadline-returningstudent">
                                        <apex:inputField id="retCurrTax" value="{!Model.Current_Year_Tax_Documents_Returning__c}" taborderhint="17" />
                                    </div>
                                    <div class="deadline-deadlinetype"><span class="requiredInput">
                                        <apex:actionRegion >
                                            <apex:inputField id="deadLineTypeCurrent" value="{!Model.Current_Year_Tax_Documents_Deadline_Type__c}" taborderhint="18" >
                                                <apex:actionSupport status="pleaseWaitStatusWithoutScroll" event="onchange" action="{!resetCheckbox}" rerender="currentYearEmailReminderChechbox, sendCurrentYearReminders, currentYearEmailReminderDateblock" oncomplete="changeDeadLines(false, this.value, '{!$Component.newCurrTax}', '{!$Component.retCurrTax}', '{!$Component.newCurrentTaxCheck}', '{!$Component.retCurrentTaxCheck}');" >
                                                    <apex:param name="fieldToClear" value="Send_Current_Year_Document_Reminders__c" />
                                                    <apex:param name="fieldToCompare" value="Current_Year_Tax_Documents_Deadline_Type__c" />
                                                </apex:actionSupport>
                                            </apex:inputField>
                                        </apex:actionRegion>
                                    </span></div>
                                    <!-- NAIS-1099  -->
                                </div>
                                <!-- START: Action Functions related to "Current Year document Deadline reminders" -->
                                 <apex:actionFunction name="clearFieldValueCurrentDeadlineDates" action="{!clearReminderDatesIfMasterCheckboxIsFalse}"  rerender="newCurrTaxRemParent,retCurrTaxRemParent" oncomplete="onChangeForRerender_currentYearEmailReminderDateblock();">
                                    <apex:param name="fieldToClear1" value="Curr_Year_Tax_Docs_Reminder_Date_New__c" />
                                    <apex:param name="fieldToClear2" value="Curr_Yr_Tax_Docs_Remind_Date_Returning__c" />
                                    <apex:param name="fieldToCompare" value="Send_Current_Year_Document_Reminders__c" />
                                </apex:actionFunction>
                                <apex:actionFunction name="onChangeForRerender_currentYearEmailReminderChechbox" rerender="currentYearEmailReminderChechbox"  status="pleaseWaitStatusWithoutScroll" />
                                <apex:actionFunction name="onChangeForRerender_currentYearEmailReminderDateblock" rerender="currentYearEmailReminderDateblock"  status="pleaseWaitStatusWithoutScroll" />
                                <!-- END: Action Functions related to "Current Year document Deadline reminders" -->

                                <apex:outputPanel id="currentYearEmailReminderChechbox" StyleClass="deadline-question-section" layout="block">
                                    <apex:outputPanel layout="block" rendered="{!OR(Model.Current_Year_Tax_Documents_Deadline_Type__c == 'Hard Deadline', Model.Current_Year_Tax_Documents_Deadline_Type__c == 'Soft Deadline')}" StyleClass="deadline-question">
                                        {!$Label.SchoolSettings_SendCurrentYearDocumentReminders}
                                        <apex:actionRegion >
                                            <apex:inputField id="sendCurrentYearReminders" value="{!Model.Send_Current_Year_Document_Reminders__c}"  taborderhint="3" >
                                                <apex:actionSupport status="pleaseWaitStatusWithoutScroll" event="onchange" rerender="currentYearEmailReminderDateblock" oncomplete="clearFieldValueCurrentDeadlineDates();" />
                                            </apex:inputField>
                                        </apex:actionRegion>
                                    </apex:outputPanel>
                                    <apex:outputPanel layout="block" rendered="{!OR(Model.Current_Year_Tax_Documents_Deadline_Type__c == 'Hard Deadline', Model.Current_Year_Tax_Documents_Deadline_Type__c == 'Soft Deadline')}" StyleClass="deadline-newstudent" />
                                    <apex:outputPanel layout="block" rendered="{!OR(Model.Current_Year_Tax_Documents_Deadline_Type__c == 'Hard Deadline', Model.Current_Year_Tax_Documents_Deadline_Type__c == 'Soft Deadline')}" StyleClass="deadline-returningstudent" />
                                    <apex:outputPanel layout="block" rendered="{!OR(Model.Current_Year_Tax_Documents_Deadline_Type__c == 'Hard Deadline', Model.Current_Year_Tax_Documents_Deadline_Type__c == 'Soft Deadline')}" StyleClass="deadline-deadlinetype" />
                                </apex:outputPanel>

                                <apex:outputPanel layout="block" id="currentYearEmailReminderDateblock" styleClass="deadline-question-section reminder-date Missing-required-documents-and-unsubmitted-PFSs Missing-required-documents-only non-pfs-document-deadline-reminder">
                                    <apex:outputPanel layout="block" rendered="{!AND(Model.Send_Current_Year_Document_Reminders__c == true,OR(Model.Current_Year_Tax_Documents_Deadline_Type__c == 'Hard Deadline', Model.Current_Year_Tax_Documents_Deadline_Type__c == 'Soft Deadline'))}" StyleClass="deadline-question">
                                        Current Year Tax Form Email Reminder Date
                                    </apex:outputPanel>
                                    <apex:outputPanel id="newCurrTaxRemParent" layout="block" rendered="{!AND(Model.Send_Current_Year_Document_Reminders__c == true,OR(Model.Current_Year_Tax_Documents_Deadline_Type__c == 'Hard Deadline', Model.Current_Year_Tax_Documents_Deadline_Type__c == 'Soft Deadline'))}" StyleClass="deadline-newstudent">
                                        <apex:inputField id="newCurrTaxRem" value="{!Model.Curr_Year_Tax_Docs_Reminder_Date_New__c}" label="Current Year Tax Form Reminder" taborderhint="19" />
                                    </apex:outputPanel>
                                    <apex:outputPanel id="retCurrTaxRemParent" layout="block" rendered="{!AND(Model.Send_Current_Year_Document_Reminders__c == true,OR(Model.Current_Year_Tax_Documents_Deadline_Type__c == 'Hard Deadline', Model.Current_Year_Tax_Documents_Deadline_Type__c == 'Soft Deadline'))}" StyleClass="deadline-returningstudent">
                                       <apex:inputField id="retCurrTaxRem" value="{!Model.Curr_Yr_Tax_Docs_Remind_Date_Returning__c}" label="Current" taborderhint="20" />
                                    </apex:outputPanel>
                                    <apex:outputPanel layout="block" rendered="{!AND(Model.Send_Current_Year_Document_Reminders__c == true,OR(Model.Current_Year_Tax_Documents_Deadline_Type__c == 'Hard Deadline', Model.Current_Year_Tax_Documents_Deadline_Type__c == 'Soft Deadline'))}" StyleClass="deadline-deadlinetype" />
                                </apex:outputPanel>
                            </apex:outputPanel>
                            <apex:outputPanel layout="block" rendered="{!NOT(showCurrentYearTaxDocsSection)}">
                                <div class="block notifications" style="margin: 30px 10px 30px 10px;">
                                    <div class="blockheader" style="height: auto; line-height: 25px;font-weight: bold;">
                                        {!$Label.Current_Year_tax_Document_Hidden_Section}
                                    </div>
                                </div>
                            </apex:outputPanel>
                        </apex:outputPanel>
                        <apex:outputPanel id="documentVerificationPanel">
                        <apex:actionRegion >
                            <!-- SFP-642 -->
							<!-- Tax Document Verification Section -->
                            <div style="margin-top:15px;">
                                <h2 class="mainTitle pageblocksection-header">{!$Label.SchoolSettings_DocumentVerificationTitle}&nbsp;</h2>
                                <div class="block notifications" style="margin:10px;">
                                    <div class="blockheader" style="height: auto; line-height: 25px;font-weight: normal;">
                                        <b>SSS will verify select fields from required tax documents and put those values in the Verification column on the FCW.</b>
                                        <b style="font-weight: normal;font-size :95%;">This service is independent of which documents you require. You can require documents, yet choose to not have them verified.</b>
                                        <br/>
                                        <div style="height: auto; font-size :95%; line-height: 20px;">
                                            Here are the verification choices.
                                            <b style="color:#c00;">
                                                <apex:outputText value="{!$Label.SchoolSettings_DocumentVerificationNote}">
                                                    <apex:param value="{!Model.Academic_Year__r.Family_Portal_Start_Date__c}" />
                                                </apex:outputText>
                                            </b>

                                            <ul style="line-height: 20px;font-size:90%;">
                                                <li><b>Prior Year Verification Only:</b> Typically for schools with earlier deadlines that utilize prior year documents ({!priorSelectedYear}) to make award determinations. </li>
                                                <li><b>Current Year Verification Only:</b> If you make later decisions and want to utilize verification data in the FCW for {!currentSelectedYear} tax documents after they are provided.</li>
                                                <li><b>Prior + Current Year Verification:</b> If you want verification data on the FCW from both {!priorSelectedYear} and {!currentSelectedYear} tax documents and you will be requiring families to submit tax documents from both years.</li>
                                                <li><b>No Verification:</b> Either you don’t collect documents, or you do collect documents, but don’t use the verification column on the FCW to make award determinations.</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <apex:pageBlockSection columns="1" collapsible="false">

                                        <apex:pageblockSectionItem >
                                            <apex:outputPanel >
                                                <apex:outputLabel value="{!$ObjectType.Annual_Setting__c.fields.Document_Verification__c.Label}" />
                                                <apex:image rendered="{!IF(NOT(ISNULL($ObjectType.Annual_Setting__c.fields.Document_Verification__c.inlineHelpText)),true,false)}" styleClass="pythreshold-info" title="{!$ObjectType.Annual_Setting__c.fields.Document_Verification__c.inlineHelpText}" url="{!URLFOR($Resource.SchoolPortalStyles_Community, 'images/info.png')}" />
                                            </apex:outputPanel>
                                            <apex:outputPanel layout="none">
                                                <apex:inputField required="true" value="{!Model.Document_Verification__c}" taborderhint="80" rendered="{!NOT(ShouldLockAnnualSettingUpdates)}">
                                                    <apex:actionSupport event="onchange" reRender="documentVerificationPanel" />
                                                </apex:inputField>
                                                <apex:outputField value="{!Model.Document_Verification__c}" rendered="{!ShouldLockAnnualSettingUpdates}" />
                                            </apex:outputPanel>
                                        </apex:pageBlockSectionItem>
                                        <apex:pageblockSectionItem id="thresholdItem">
                                            <apex:outputPanel rendered="{!Model.Document_Verification__c != 'No Verification'}">
                                                <apex:outputLabel value="Prior Year Verification Threshold" />
                                                <img class="pythreshold-info" title="The threshold determines over/under what percentage an alert displays on the FCW. You can change the 15% default here." src="{!URLFOR($Resource.SchoolPortalStyles_Community, 'images/info.png')}" />
                                            </apex:outputPanel>
                                            <apex:outputPanel layout="none" rendered="{!Model.Document_Verification__c != 'No Verification'}">
                                                <apex:inputField required="true" value="{!Model.Prior_Year_Verification_Threshold__c}" taborderhint="81" />
                                            </apex:outputPanel>
                                        </apex:pageBlockSectionItem>
                                        <!-- SFP-648 [9.9.16] Add "Automatically Copy Verification Values to Revision field" setting [jB] -->
                                        <apex:pageblockSectionItem id="autoMaticallyCopyVerificationValues">
                                            <apex:outputPanel rendered="{!Model.Document_Verification__c != 'No Verification'}">
                                                <apex:outputLabel value="Automatically copy verification values to Revision field" />
                                            </apex:outputPanel>
                                            <apex:outputPanel layout="none">
                                                <apex:inputField required="true" value="{!Model.Copy_Verification_Values_to_Revisions__c}" taborderhint="82" rendered="{!Model.Document_Verification__c != 'No Verification'}">
												    <apex:actionSupport event="onchange" reRender="copyVerificationSection,documentVerificationPanel"/>
                                                    <apex:actionSupport event="onchange" action="{!VerificationCopyValues}" reRender="copyVerificationSection,documentVerificationPanel">
                                                        <apex:param name="verificationToCompare" value="Copy_Verification_Values_to_Revisions__c" />
														<apex:param name="fieldToClear" value="Verification_Values_To_Copy__c" />
                                                    </apex:actionSupport>
                                                </apex:inputField>
                                            </apex:outputPanel>
                                        </apex:pageBlockSectionItem>
                                        <!-- /SFP-648 -->
                                        <!-- SFP-1816 -->
                                        <apex:pageblockSectionItem id="copyVerificationSection">
                                            <apex:outputPanel rendered="{!IF(AND(Model.Copy_Verification_Values_to_Revisions__c =='Yes', Model.Document_Verification__c != 'No Verification', showPPYearTaxDocsSection), true, false)}">
                                                <apex:outputLabel value="{!$ObjectType.Annual_Setting__c.fields.Verification_Values_To_Copy__c.Label}" />
                                            </apex:outputPanel>
                                            <apex:outputPanel layout="none">
                                                <apex:inputField value="{!Model.Verification_Values_To_Copy__c}" required="true" taborderhint="83"
                                                    rendered="{!IF(AND(Model.Copy_Verification_Values_to_Revisions__c =='Yes', Model.Document_Verification__c != 'No Verification', showPPYearTaxDocsSection), true, false)}"/>
                                            </apex:outputPanel>
                                        </apex:pageBlockSectionItem>
                                        <!-- /SFP-1816 -->										
                                </apex:pageBlockSection>
                            </div>
                        </apex:actionRegion>
                            <!-- END SFP-642 -->
                        </apex:outputPanel>


                        <apex:outputPanel rendered="{!IF(Model.School_Subscription_Type__c  == 'Premium', true, false)}">
                            <apex:actionRegion >
                                <div style="margin-top:15px;">
                                    <h2 class="mainTitle pageblocksection-header">Next Year Tax Estimates</h2>
	                                <div class="block notifications" style="margin:10px;">
		                                <div class="blockheader" style="height: auto; line-height: 25px;font-weight: normal;">
			                                <b>{!$Label.SP_Next_Tax_Year_Estimates_Setup_Descr}</b>
		                                </div>
	                                </div>
                                    <apex:pageBlockSection columns="1" collapsible="false">
                                        <apex:pageblockSectionItem >
                                            <apex:outputPanel >
                                                <apex:outputLabel value="Display Next Year Tax Estimates" />
                                            </apex:outputPanel>
                                            <apex:outputPanel layout="none">
                                                <apex:inputField required="true" value="{!Model.Display_Next_Year_Tax_Estimates__c}" taborderhint="84">
                                                    <apex:actionSupport event="onchange" reRender="documentVerificationPanel" />
                                                </apex:inputField>
                                            </apex:outputPanel>
                                        </apex:pageBlockSectionItem>
                                    </apex:pageBlockSection>
                                </div>
                            </apex:actionRegion>
                        </apex:outputPanel>


	                    <apex:outputPanel rendered="{!IF(Model.School_Subscription_Type__c  == 'Premium', true, false)}">
		                    <apex:actionRegion >
			                    <div style="margin-top:15px;">
				                    <h2 class="mainTitle pageblocksection-header">Prior Year Verification Values</h2>
				                    <div class="block notifications" style="margin:10px;">
					                    <div class="blockheader" style="height: auto; line-height: 25px;font-weight: normal;">
						                    <b>{!$Label.SP_Prior_Tax_Year_Value_Setup_Descr}</b>
					                    </div>
				                    </div>
				                    <apex:pageBlockSection columns="1" collapsible="false">
					                    <apex:pageblockSectionItem >
						                    <apex:outputPanel >
							                    <apex:outputLabel value="Display Prior Year Verification Values"/>
						                    </apex:outputPanel>
						                    <apex:outputPanel layout="none">
							                    <apex:inputField required="true" value="{!Model.Display_Prior_Year_Verification_Values__c}" taborderhint="85">
								                    <apex:actionSupport event="onchange" reRender="documentVerificationPanel" />
							                    </apex:inputField>
						                    </apex:outputPanel>
					                    </apex:pageBlockSectionItem>
				                    </apex:pageBlockSection>
			                    </div>
		                    </apex:actionRegion>
	                    </apex:outputPanel>

                        <c:SchoolAnnualSettingsAdditionalQuestions annualSettings="{!Model}" academicYear="{!AcademicYearId}" />

                        <apex:outputPanel >
                            <h2 class="mainTitle pageblocksection-header">{!$Label.SchoolSettings_MIETitle}</h2>
                            <div class="block notifications" style="margin:10px;">
                                <div class="blockheader" style="height: auto; line-height: 25px;font-weight: normal;">
                                    <b>If you select yes, your families will be asked a series of questions about their monthly income and expenses.</b>
                                    &nbsp;<apex:outputLink target="_blank" style="color: #344f80;text-decoration: underline;font-size: 13px;" value="{!MIELinkToPDF}" rendered="{!AND(NOT(ISNULL($Label.MIE_Collect_Link_For_Annual_Settings_Page)),NOT(ISNULL(MIELinkToPDF)))}">{!$Label.MIE_Collect_Link_For_Annual_Settings_Page}</apex:outputLink>
                                    <br/>
                                    <b style="color:#c00;font-size:95%;">
                                        <apex:outputText value="{!$Label.SchoolSettings_MIENote} {0, date, MMMM d','  yyyy}">
                                            <apex:param value="{!Model.Academic_Year__r.Family_Portal_Start_Date__c}" />
                                        </apex:outputText>.
                                    </b>
                                </div>
                            </div>
                            <apex:pageBlockSection columns="1">
                                <apex:outputpanel layout="block" rendered="{!IsMIEPilotActive}">
                                    <apex:outputLabel styleClass="labelCol" value="{!$Label.MIE_Collect_for_Annual_Settings_Page}" />
                                    <apex:outputpanel layout="inline" styleClass="hasToolTip" rendered="{!AND(NOT(ISNULL($ObjectType.Annual_Setting__c.fields.Collect_MIE__c.inlineHelpText)),$ObjectType.Annual_Setting__c.fields.Collect_MIE__c.inlineHelpText!='')}">
                                        <span class="helpicon"></span>
                                        <ul class="toolTip" style="text-align:left">
                                            <li>{!$ObjectType.Annual_Setting__c.fields.Collect_MIE__c.inlineHelpText}</li>
                                        </ul>
                                    </apex:outputPanel>
                                    <apex:outputpanel layout="inline" style="display:inline-table;margin-left: 5px;">
                                        <apex:inputField required="true" value="{!Model.Collect_MIE__c}" taborderhint="123" rendered="{!NOT(ShouldLockAnnualSettingUpdates)}"/>
                                        <apex:selectList size="1" value="{!Model.Collect_MIE__c}" disabled="true" rendered="{!ShouldLockAnnualSettingUpdates}">
                                            <apex:selectoption itemLabel="{!Model.Collect_MIE__c}" itemValue="{!Model.Collect_MIE__c}" />
                                        </apex:selectList>
                                    </apex:outputpanel>
                                </apex:outputPanel>
                            </apex:pageBlockSection>
                        </apex:outputPanel>
                        <!-- START: Section - Allow Schools To Opt Out -->
                         <apex:outputPanel >
                            <h2 class="mainTitle pageblocksection-header">{!$Label.SchoolSettings_OptOutEZSection}</h2>
                            <div class="block notifications" style="margin:10px;">
                                <div class="blockheader" style="height: auto; line-height: 25px;font-weight: normal;">
                                    <b style="color:#c00;font-size:95%;">
                                        <apex:outputText value="{!$Label.SchoolSettings_OptOutEZMessage} {0, date, MMMM d','  yyyy}">
                                            <apex:param value="{!Model.Academic_Year__r.Family_Portal_Start_Date__c}" />
                                        </apex:outputText>.
                                    </b>
                                </div>
                            </div>
                            <apex:pageBlockSection columns="1">
                                <apex:outputpanel layout="block">
                                    <apex:outputLabel styleClass="labelCol" value="{!$ObjectType.Annual_Setting__c.fields.Opt_Out_Of_PFS_EZ__c.Label}" />
                                    <apex:outputpanel layout="inline" styleClass="hasToolTip" rendered="{!AND(NOT(ISNULL($ObjectType.Annual_Setting__c.fields.Opt_Out_Of_PFS_EZ__c.inlineHelpText)),$ObjectType.Annual_Setting__c.fields.Opt_Out_Of_PFS_EZ__c.inlineHelpText!='')}">
                                        <span class="helpicon"></span>
                                        <ul class="toolTip" style="text-align:left;margin-left: 90px;">
                                            <li>{!$ObjectType.Annual_Setting__c.fields.Opt_Out_Of_PFS_EZ__c.inlineHelpText}</li>
                                        </ul>
                                    </apex:outputPanel>
                                    <apex:outputpanel layout="inline" style="display:inline-table;margin-left: 5px;">
                                        <apex:outputField value="{!Model.Opt_Out_Of_PFS_EZ__c}" rendered="{!ShouldLockAnnualSettingUpdates}"/>
                                        <apex:inputField value="{!Model.Opt_Out_Of_PFS_EZ__c}" taborderhint="124" rendered="{!NOT(ShouldLockAnnualSettingUpdates)}"/>
                                    </apex:outputpanel>
                                </apex:outputPanel>
                            </apex:pageBlockSection>
                        </apex:outputPanel>
                        <!-- END: Section - Allow Schools To Opt Out -->
                        <apex:outputPanel >
                            <!--SFP-20, [G.S] -->
                            <h2 class="mainTitle pageblocksection-header">{!$Label.SchoolSettings_StudentFolderOptionalFieldsTitle}</h2>
                            <apex:pageBlockSection columns="1">
                                <apex:outputpanel layout="block">
                                    <apex:outputLabel styleClass="labelCol" value="Copy Student's Optional Data From Previous Year" />
                                    <apex:outputpanel layout="inline" styleClass="hasToolTip">
                                        <span class="helpicon"></span>
                                        <ul class="toolTip" style="text-align:left">
                                            <li>{!$ObjectType.Annual_Setting__c.fields.Copy_Optional_Fields_From_Previous_Year__c.inlineHelpText}</li>
                                        </ul>
                                    </apex:outputPanel>
                                    <apex:inputField value="{!Model.Copy_Optional_Fields_From_Previous_Year__c}" taborderhint="90" />
                                </apex:outputPanel>
                            </apex:pageBlockSection>
                            <div class="block notifications" style="margin:10px;">
                                <div class="blockheader" style="height: auto; line-height: 20px;font-size :90%;">
                                    <apex:outputText escape="false" value="{!$Label.School_Instructions_PFS_Optional_Fields}"/>
                                </div>
                            </div>
                            <apex:pageBlockSection columns="2">
                                <apex:inputField value="{!Model.Optional_1_Label__c}" style="width:250px" taborderhint="91" />
                                <apex:inputField value="{!Model.Optional_2_Label__c}" style="width:250px" taborderhint="92" />
                                <apex:inputField value="{!Model.Optional_3_Label__c}" style="width:250px" taborderhint="93" />
                                <apex:inputField value="{!Model.Optional_4_Label__c}" style="width:250px" taborderhint="94" />
                                <apex:inputField value="{!Model.Optional_5_Label__c}" style="width:250px" taborderhint="95" />
                                <apex:inputField value="{!Model.Optional_6_Label__c}" style="width:250px" taborderhint="96" />
                            </apex:pageBlockSection>
                        </apex:outputPanel>

                        <h2 class="mainTitle pageblocksection-header">{!$Label.SchoolSettings_FamilyReportTitle}</h2>
                        <apex:pageBlockSection columns="1">
                            <apex:outputpanel layout="block">
                                <apex:outputLabel styleClass="labelCol" value="{!$ObjectType.Annual_Setting__c.fields.Allow_families_to_receive_Family_Report__c.Label}" />
                                <apex:outputpanel layout="inline" styleClass="hasToolTip">
                                    <span class="helpicon"></span>
                                    <ul class="toolTip" style="text-align:left">
                                        <li>{!$ObjectType.Annual_Setting__c.fields.Allow_families_to_receive_Family_Report__c.inlineHelpText}</li>
                                    </ul>
                                </apex:outputPanel>
                                <apex:outputpanel layout="inline" style="display:inline-table;margin-left: 5px;">
                                    <apex:inputField required="true" value="{!Model.Allow_families_to_receive_Family_Report__c}" taborderhint="122" />
                                </apex:outputpanel>
                            </apex:outputPanel>
                        </apex:pageBlockSection>

                        <h2 class="mainTitle pageblocksection-header">{!$Label.SchoolSettings_RFCPrintSettingsTitle}</h2>
                        <apex:pageBlockSection columns="1">
                            <apex:outputpanel layout="block">
                                <apex:outputLabel styleClass="labelCol" value="{!$Label.SchoolSettings_RFCPrintSettingsField}" />
                                <apex:outputpanel layout="inline" style="display:inline-table;margin-left: 5px;">
                                    <apex:inputField required="true" value="{!Model.Print_RFC_On_Two_Pages__c}" taborderhint="123" />
                                </apex:outputpanel>
                            </apex:outputPanel>
                        </apex:pageBlockSection>
                    </div>
                </apex:pageBlock>
            </div>
        </apex:outputPanel>

        <div id="nonAdministratorDialog" title="Annual Settings" style="display: none">
            <div>
                <p>
                    You have reached this page because your School Portal Administrator must complete the minimum required Setup for the <u>{!selectedAcademicYear}</u> processing year.
                    Until the minimum Setup is complete, your school will not be available for families to choose in the School Portal.
                </p>
                <p>
                    Please remind your School Portal Administrator of this requirement. If you need assistance,
                    contact SSS Client Success team by calling <b>(855) 230-7850</b> or emailing <b>cst@solutionsbysss.com</b>.
                </p>
            </div>
        </div>

    </apex:form>
</apex:page>