<apex:page controller="SchoolFamilyContribWrksheetPrintCont" sidebar="false" showheader="false" renderAs="pdf" applyHtmlTag="false" applyBodyTag="false">

    <head>
        <apex:styleSheet value="{!URLFOR($Resource.PDFReportStyling)}"/>
        <apex:styleSheet value="{!URLFOR($Resource.RFCspecificStyling)}"/>
    </head>

    <c:SchoolFCWPrint school_pfs_assignment="{!singleFCWPrintWrapper.SchoolPFSAssignment}"
                        pfs_to_render="{!singleFCWPrintWrapper.PFS}"
                        sibling_List="{!singleFCWPrintWrapper.siblingNames}"
                        uc_List="{!singleFCWPrintWrapper.ucTitles}"
                        medicareAndSSCombinedRevised="{!singleFCWPrintWrapper.medicareAndSSCombinedRevised}"
                        medicareAndSSCombinedOrig="{!singleFCWPrintWrapper.medicareAndSSCombinedOrig}"
                        sss="{!singleFCWPrintWrapper.SSSConstants}"/>
</apex:page>