<apex:page contentType="application/x-excel#{!singleFCWPrintWrapper.SchoolPFSAssignment.Applicant__r.First_Name__c} {!singleFCWPrintWrapper.SchoolPFSAssignment.Applicant__r.Last_Name__c} RFC.xls" controller="SchoolFamilyContribWrksheetPrintCont" sidebar="false" showheader="false">

    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
        <apex:styleSheet value="{!URLFOR($Resource.rfcprintcss)}" />
        
        <style>
            .headerRow{
                background-color: #D8D8D8;
                font-weight: bold;  
                border-bottom: 1px solid #777;
            }
            .shaded{
                background-color: #D8D8D8;
            }
            .subHeaderRow{
                font-weight: bold;
            }
            table{
                border: 1px solid #000;
                width: 800px;
            }
            td{
                border: 1px solid #CCC;
                text-align: left;
            }
        </style>
    </head>

    <c:SchoolFCWExcel school_pfs_assignment="{!singleFCWPrintWrapper.SchoolPFSAssignment}" 
                        pfs_to_render="{!singleFCWPrintWrapper.PFS}" 
                        sibling_List="{!singleFCWPrintWrapper.siblingNames}" 
                        uc_List="{!singleFCWPrintWrapper.ucTitles}"
                        medicareAndSSCombinedRevised="{!singleFCWPrintWrapper.medicareAndSSCombinedRevised}"
                        medicareAndSSCombinedOrig="{!singleFCWPrintWrapper.medicareAndSSCombinedOrig}"
                        sss="{!singleFCWPrintWrapper.SSSConstants}"/>

</apex:page>