<!-- Spec-144 School Portal - School Profile;
     BR, Exponent Partners, 2013 -->
    
<apex:page controller="SchoolSchoolProfileController" tabStyle="Setup2__tab" sideBar="false">

    <apex:form >

        <apex:pageMessages />
        
        <apex:pageBlock mode="edit" title="School Profile">
            
            <apex:pageBlockSection columns="2">
                <apex:inputField value="{!mySchool.Name}" label="School or Org Name" required="true"/>
                <apex:inputField value="{!mySchool.BillingStreet}" label="Address" required="true"/>

                <apex:inputField value="{!mySchool.Phone}" required="true"/>
                <apex:inputField value="{!mySchool.BillingCity}" label="City" required="true"/>

                <apex:inputField value="{!mySchool.Fax}"/>
                <apex:inputField value="{!mySchool.BillingStateCode}" label="State" required="true"/>

                <apex:inputField value="{!mySchool.Website}"/>
                <apex:inputField value="{!mySchool.BillingPostalCode}" label="ZIP/Postal Code" required="true"/>

                <apex:outputField value="{!mySchool.SSS_School_Code__c}" label="SSS Subscriber Code"/>
                <apex:inputField value="{!mySchool.BillingCountryCode}" label="Country" required="true"/>
            </apex:pageBlockSection>
            <apex:pageBlockSection columns="1">
                <apex:outputField value="{!mySchool.NAIS_Member_Type__c}"/>
                <apex:outputField value="{!mySchool.NAIS_School_Code__c}"/>
            </apex:pageBlockSection>
            <apex:pageBlockSection columns="2">
                <apex:inputField value="{!mySchool.School_Type__c}" label="Enrollment Type" required="true"/>
                <apex:inputField value="{!mySchool.Alert_Frequency__c}" label="PFS Notification Frequency" required="true"/>
            </apex:pageBlockSection>

            <apex:pageBlockButtons location="both">
                <apex:commandButton action="{!saveSettings}" value="Save"/>
                <apex:commandButton action="{!cancel}" value="Cancel"/>
            </apex:pageBlockButtons>
            
        </apex:pageBlock>
        
    </apex:form>
    
</apex:page>