<apex:page controller="SchoolFamilyContribWrksheetController" sidebar="false" tabstyle="Student_Folder__c">
    
    <apex:stylesheet value="{!URLFOR($Resource.SchoolPortalStyles, '/css/fcw_floatyCSS.css')}"/>
    <apex:stylesheet value="{!URLFOR($Resource.HoverCss, '/css/ui.css')}"/>

    <apex:includeScript value="{!$Resource.Jquery191min}" /> <!-- NAIS-2497 -->
    <apex:includeScript value="{!$Resource.JQModal}" /> <!-- NAIS-2497 -->

    <head>
        <script type="text/javascript">
            window.onbeforeunload = function() {
                if (areChanges == 'Yes'){
                    return 'There are unsaved changes to the FCW.';
                }
            }


        </script>
    </head>

    <apex:form id="mainid">
        <div class="pageHeaderBar">
            <c:SchoolHeaderBar />
            <c:SchoolAcademicYearSelectorStudent host="{!Me}" currentFolder="{!folder}"/>
            <c:SchoolGlobalSearch />
            <br/><c:SchoolAcademicYearWarning />
        </div>
    </apex:form>

    <apex:form >
        <c:SchoolPFSTopBar folderId="{!SchoolPFSAssignment.Student_Folder__c}" renderTabs="false"/>
        <c:SchoolFCW school_pfs_assignment="{!SchoolPFSAssignment}" pfs_to_render="{!PFS}"
            verification_to_render="{!Verification}" sss_costants="{!SSSConstants}" family_documents="{!FamilyDocuments}" unusual_conditions="{!UnusualConditions}"/>
    </apex:form>
</apex:page>