<!--
 - Created by field on 11/16/16.
 -->
<apex:page standardController="Student_Folder__c" extensions="SchoolFolderSummaryController" action="{!redirect}" sidebar="false" tabstyle="Student_Folder__c">
    <style type="text/css">

        .displayTableCell{
            display: table-cell;
        }

        .displayBlock{
            display: block;
        }

        .displayNone{
            display: none;
        }

        div.maindiv {
            width:80%;
            display:table-cell;
            padding-left:10px;
            padding-right:10px;
        }
        div.innerdiv0 {
            width:66%;
            padding-top:3px;
            padding-bottom:3px;
            padding-left:10px;
            padding-right:10px;
        }
        div.innerdiv1 {
            width:33%;
            padding-top:3px;
            padding-bottom:3px;
            padding-left:10px;
            padding-right:10px;
        }

        div.innerdiv2 {
            width:22%;
            padding-top:3px;
            padding-bottom:3px;
            padding-left:10px;
            padding-right:10px;
        }

        div.leftdiv {
            width:250px;
            display:table-cell;
            padding:10px;
            vertical-align:top;
        }

        div.innerdivtable {
            width:100%;
            display:table;
            padding:10px;
            border-collapse:collapse;
        }

        div.innerdivright {
            width:100%;
            display:table-cell;
            padding-top:3px;
            padding-bottom:3px;
            padding-left:10px;
            padding-right:10px;
        }

        div.innerdivrightnarrow {
            width:22%;
            display:table-cell;
            padding-top:3px;
            padding-bottom:3px;
            padding-left:10px;
            padding-right:10px;
        }

        div.alignright {
         text-align:right;
        }

        div.alignleft {
          text-align:left;
        }

        div.row {
            display:table-row;
        }

        div.rowheader {
            display:table-row;
            background-color:lightgrey;
        }

        div.border {
            border-color:grey;
            border-width:1px;
            border-style:solid;
        }
        div.bordernobottom {
            border-color:grey;
            border-width:1px;
            border-top-style:solid;
            border-right-style:solid;
            border-left-style:solid;
            border-bottom:none;
        }
        div.cell {
            display:table-cell;
            padding-left:8px;
        }
        span.none   {
            display:table-cell;
            padding-left:15px;
        }

        .dynamiccolorclasspurple {
            background-color: #cc99ff;
        }
        .dynamiccolorclassyellow {
            background-color: #ff9900;
        }
        .dynamiccolorclassgreen {
            background-color: #507d42;
            /*background-color: #00ff00;*/
        }
        .dynamiccolorclassgrey {
            background-color: grey;
        }
        .dynamiccolorclasswhite {
            background-color: white;
        }

        .green {
            background-color:green;
            color:white;
            font-weight:bold;
        }
        .red {
            background-color:maroon;
            color:white;
            font-weight:bold;
        }
        .yellow {
            background-color:amber;
            color:white;
            font-weight:bold;
        }
        .data {
            font-weight:bold;
        }
        .large {
            font-size:22px;
        }
        .leftfloat  {
            float:left;
        }
        .quickview  {
            padding-left:85%;
        }

        /* NAIS-2368 START STYLE [DP] 04.20.2015 */
        .outstandingWrapper {
          padding-left: 20px;

          cursor: pointer;
        }

        .outstandingWrapper.collapsed {
          background: transparent url('../img/arrowRight.gif') no-repeat 5px 9px;
          background-position: left;
          text-decoration: underline;
        }

        .outstandingWrapper.collapsed.expanded {
          background: transparent url('../img/arrowDown.gif') no-repeat 5px 9px;
          background-position: left;
        }

        .pfsDocListClassRight {
            right: 55px;
        }

        .pfsDocListClass {
            float: none;
            font-size: 12;
            min-height: 50px;
            height: auto;
            min-width: 50px;
            position: absolute;
            text-align: left;
            /*width: 468px;*/
            z-index: 9999;
            display: none;
            border-color: #333333;
            border-width: 2px;
            border-style: solid;
        }
        /* NAIS-2368 END STYLE [DP] 04.20.2015 */


    </style>

    <apex:form >
        <div class="pageHeaderBar">
            <c:SchoolHeaderBar />
            <c:SchoolAcademicYearSelectorStudent currentFolder="{!folder}" host="{!me}" />
            <c:SchoolGlobalSearch />
        </div>
        <div>
            <c:SchoolPFSTopBar folderId="{!folder.Id}"/>
        </div>
    </apex:form>



    <apex:outputPanel layout="block">
        <div class="leftdiv" >
            <c:SchoolFolderLeftNav folderId="{!folder.Id}" pfsLevel="false"/>
        </div>
        <div class="maindiv">
            <apex:pagemessages />
            <apex:form >
                <c:SchoolPageInstructions label_name="School_Instructions_Folder_Summary" field_name="SYSTEM_Hide_Instructions_Folder_Summary__c"/>
            </apex:form>

            <apex:outputPanel rendered="{!isMissingSections}" >
                <div class="block" >
                    <div class="blockheader">
                        Incomplete Sections
                    </div>
                    <div class="{!pfsTableCellStyle} innerdiv1">
                        <apex:outputPanel rendered="{!pfs1Missing}" styleClass="row">
                            <b>PFS1</b>: The parent has made changes since submission of the PFS, and the following sections are now incomplete:
                            <apex:outputText value="<br/>&emsp;<b>Section 9:</b> Applicant Income" rendered="{!missingSectionsMap['PFS1']['statStudentIncome']}" escape="false" />
                            <apex:outputText value="<br/>&emsp;<b>Section 13:</b> Educational Expenses" rendered="{!missingSectionsMap['PFS1']['statEducationalExpenses']}" escape="false" />
                            <apex:outputText value="<br/>&emsp;<b>Sections 15-19:</b> Business Farm" rendered="{!missingSectionsMap['PFS1']['statBusinessFarm']}" escape="false" />
                            <apex:outputText value="<br/>&emsp;<b>K1, K2:</b> KS Supplemental Form" rendered="{!missingSectionsMap['PFS1']['statForKamehameha']}" escape="false" />
                        </apex:outputPanel>
                        <apex:outputPanel rendered="{!pfs2Missing}" styleClass="row">
                            <p/><b>PFS2</b>: The parent has made changes since submission of the PFS, and the following sections are now incomplete:
                            <apex:outputText value="<br/>&emsp;<b>Section 9:</b> Applicant Income" rendered="{!missingSectionsMap['PFS2']['statStudentIncome']}" escape="false" />
                            <apex:outputText value="<br/>&emsp;<b>Section 13:</b> Educational Expenses" rendered="{!missingSectionsMap['PFS2']['statEducationalExpenses']}" escape="false" />
                            <apex:outputText value="<br/>&emsp;<b>Sections 15-19:</b> Business Farm" rendered="{!missingSectionsMap['PFS2']['statBusinessFarm']}" escape="false" />
                            <apex:outputText value="<br/>&emsp;<b>K1, K2:</b> KS Supplemental Form" rendered="{!missingSectionsMap['PFS2']['statForKamehameha']}" escape="false" />
                        </apex:outputPanel>
                    </div>
                </div>
            </apex:outputPanel>

            <div class= "block">
                <div class="blockheader">
                    <!-- <apex:outputText styleclass="data" value="{!spfs1.Applicant__r.First_Name__c} {!spfs1.Applicant__r.Last_Name__c}" /> -->
                    <apex:outputText styleclass="data" value="{!folder.Student__r.FirstName} {!folder.Student__r.LastName}" /> <!-- [CH] NAIS-1866 Logic for School-Initiated folders -->
                    <span class="right">
                        <apex:outputText value="({!folder.New_Returning__c})" style="font-style:italic;" rendered="{!NOT(ISNULL(folder.New_Returning__c))}" />
                    </span>
                </div>


                <div class="blockbody nopadding">
                    <div class="row" >
                        <!-- <div class="innerdiv{!NumOfPFSs} border"> -->
                        <div class="{!pfsTableCellStyle} innerdiv{!NumOfPFSs}"> <!-- [CH] NAIS-1866 Logic for School-Initiated folders -->

                            <apex:outputLabel value="Parent A:"/><br/>
                            <apex:outputText styleclass="data" value="{!spfs1.Applicant__r.PFS__r.Parent_A_First_Name__c} {!spfs1.Applicant__r.PFS__r.Parent_A_Last_Name__c}" />
                            <br /><br />

                            <apex:outputLabel value="Address:" /> <br/>
                            <apex:outputText styleClass="data" value="{!spfs1.Applicant__r.PFS__r.Parent_A_Address__c}" /><br />

                            <apex:outputText styleClass="data" value="{!spfs1.Applicant__r.PFS__r.Parent_A_City__c}" />
                            <apex:outputPanel rendered="{!AND(NOT(ISNULL(spfs1.Applicant__r.PFS__r.Parent_A_State__c)),NOT(ISNULL(spfs1.Applicant__r.PFS__r.Parent_A_City__c)))}" >,&nbsp;</apex:outputPanel>
                            <apex:outputText styleClass="data" value="{!spfs1.Applicant__r.PFS__r.Parent_A_State__c}" />
                            &nbsp;
                            <apex:outputText styleClass="data" value="{!spfs1.Applicant__r.PFS__r.Parent_A_ZIP_Postal_Code__c}" /> <br />
                            <apex:outputText styleClass="data" value="{!spfs1.Applicant__r.PFS__r.Parent_A_Country__c}" />  <br /> <br />
                            <apex:outputLabel value="Preferred Phone{!if(NOT(ISNULL(spfs1.Applicant__r.PFS__r.Parent_A_Preferred_Phone__c)), ' (' + spfs1.Applicant__r.PFS__r.Parent_A_Preferred_Phone__c + ')', null)}:"/>&nbsp;
                            <apex:outputText styleclass="data" value="{!spfs1.Applicant__r.PFS__r.Parent_A_Preferred_Phone_Number__c}" /><br/><br/>

                            <apex:outputLabel value="Email:"/>&nbsp;
                            <apex:outputLink value="mailto:{!spfs1.Applicant__r.PFS__r.Parent_A_Email__c}" ><apex:outputText styleclass="data" value="{!spfs1.Applicant__r.PFS__r.Parent_A_Email__c}" /></apex:outputLink>
                            <br /><br />

                            <apex:outputLabel value="Student Lives with:"/><br/>
                            <!-- NAIS-1835 Start -->
                            <apex:outputPanel layout="none" >
                                <apex:outputText styleclass="data" value="{!spfs1.Applicant__r.Lives_with_Form__c}" /> <br /><br />
                            </apex:outputPanel>
                            <!-- SFP-40,[G.S] -->
                            <apex:outputPanel rendered="{!isKSSchoolUser}">
                                <apex:outputLabel value="Programs:"/><br/>
                                <apex:outputPanel rendered="{!spfs1.Applicant__r.Apply_for_Kipona_Scholars_Program__c}">
                                    <apex:outputText styleclass="data" value="Kipona Scholarship Program" /> <br />
                                </apex:outputPanel>
                                <apex:outputPanel rendered="{!spfs1.Applicant__r.Apply_for_KS_Preschool_Financial_Aid__c}">
                                    <apex:outputText styleclass="data" value="KS Preschool Financial Aid" /> <br />
                                </apex:outputPanel>
                                <apex:outputPanel rendered="{!spfs1.Applicant__r.Apply_for_KS_K_12_Financial_Aid__c}">
                                    <apex:outputText styleclass="data" value="KS K-12 Financial Aid" /> <br />
                                </apex:outputPanel>
                                <apex:outputPanel rendered="{!spfs1.Applicant__r.Apply_for_Pauahi_Keiki_Scholars_Cycle_1__c || spfs1.Applicant__r.Apply_for_Pauahi_Keiki_Scholars_Cycle_2__c}">
                                    <apex:outputText styleclass="data" value="Pauahi Keiki Scholars Program" /> <br />
                                </apex:outputPanel>
                            </apex:outputPanel>
                            <!-- NAIS-1835 End -->
                        </div>

                        <div class="{!pfsTableCellStyle} innerdiv{!NumOfPFSs}"> <!-- [CH] NAIS-1866 Logic for School-Initiated folders -->

                            <apex:outputLabel value="Parent B:"/><br/>
                            <apex:outputText styleclass="data" value="{!spfs1.Applicant__r.PFS__r.Parent_B_First_Name__c} {!spfs1.Applicant__r.PFS__r.Parent_B_Last_Name__c}" />
                            <br /><br />

                            <apex:outputLabel value="Address:" /> <br/>
                            <apex:outputText styleClass="data" value="{!spfs1.Applicant__r.PFS__r.Parent_B_Address__c}" /><br />

                            <apex:outputText styleClass="data" value="{!spfs1.Applicant__r.PFS__r.Parent_B_City__c}" />
                            <apex:outputPanel rendered="{!AND(NOT(ISNULL(spfs1.Applicant__r.PFS__r.Parent_B_State__c)),NOT(ISNULL(spfs1.Applicant__r.PFS__r.Parent_B_City__c)))}" >,&nbsp;</apex:outputPanel>
                            <apex:outputText styleClass="data" value="{!spfs1.Applicant__r.PFS__r.Parent_B_State__c}" />
                            &nbsp;
                            <apex:outputText styleClass="data" value="{!spfs1.Applicant__r.PFS__r.Parent_B_ZIP_Postal_Code__c}" /> <br />
                            <apex:outputText styleClass="data" value="{!spfs1.Applicant__r.PFS__r.Parent_B_Country__c}" />  <br /> <br />
                            <apex:outputLabel value="Preferred Phone{!if(NOT(ISNULL(spfs1.Applicant__r.PFS__r.Parent_B_Preferred_Phone__c)), ' (' + spfs1.Applicant__r.PFS__r.Parent_B_Preferred_Phone__c + ')', null)}:"/>&nbsp;
                            <apex:outputText styleclass="data" value="{!spfs1.Applicant__r.PFS__r.Parent_B_Preferred_Phone_Number__c}" /><br/><br/>

                            <apex:outputLabel value="Email:"/>&nbsp;
                            <apex:outputLink value="mailto:{!spfs1.Applicant__r.PFS__r.Parent_B_Email__c}" ><apex:outputText styleclass="data" value="{!spfs1.Applicant__r.PFS__r.Parent_B_Email__c}" /></apex:outputLink>
                            <br /><br />

                            <apex:outputLabel value="Grade Applying:"/>&nbsp;<apex:outputText styleClass="data" value="{!spfs1.Grade_Applying__c}" /><br/><br/>

                            <apex:outputLabel value="Present School:"/>&nbsp;<apex:outputText styleclass="data" value="{!currentSchool}" />
                        </div>

                        <apex:outputPanel layout="none" rendered="{!NOT(spfs2=null)}" >
                            <div class="innerdiv{!NumOfPFSs} {!pfsTableCellStyle}">

                                <apex:outputLabel value="Parent A:"/><br/>
                                <apex:outputText styleclass="data" value="{!spfs2.Applicant__r.PFS__r.Parent_A_First_Name__c} {!spfs2.Applicant__r.PFS__r.Parent_A_Last_Name__c}" /> <br />

                                <apex:outputLabel value="Address:" /> <br/>
                                <apex:outputText styleClass="data" value="{!spfs2.Applicant__r.PFS__r.Parent_A_Address__c}" /><br />

                                <apex:outputText styleClass="data" value="{!spfs2.Applicant__r.PFS__r.Parent_A_City__c}" />
                                <apex:outputPanel rendered="{!AND(NOT(ISNULL(spfs2.Applicant__r.PFS__r.Parent_A_State__c)),NOT(ISNULL(spfs2.Applicant__r.PFS__r.Parent_A_City__c)))}" >,&nbsp;</apex:outputPanel>
                                <apex:outputText styleClass="data" value="{!spfs2.Applicant__r.PFS__r.Parent_A_State__c}" />
                                &nbsp;
                                <apex:outputText styleClass="data" value="{!spfs2.Applicant__r.PFS__r.Parent_A_ZIP_Postal_Code__c}" /> <br />
                                <apex:outputText styleClass="data" value="{!spfs2.Applicant__r.PFS__r.Parent_A_Country__c}" />  <br /> <br />
                                <apex:outputLabel value="Preferred Phone{!if(NOT(ISNULL(spfs1.Applicant__r.PFS__r.Parent_A_Preferred_Phone__c)), ' (' + spfs1.Applicant__r.PFS__r.Parent_A_Preferred_Phone__c + ')', null)}:"/>&nbsp;
                                <apex:outputText styleclass="data" value="{!spfs2.Applicant__r.PFS__r.Parent_A_Preferred_Phone_Number__c}" /><br/><br/>

                                <apex:outputLabel value="Email:"/>&nbsp;
                                <apex:outputLink value="mailto:{!spfs2.Applicant__r.PFS__r.Parent_A_Email__c}" ><apex:outputText styleclass="data" value="{!spfs2.Applicant__r.PFS__r.Parent_A_Email__c}" /></apex:outputLink>
                                <br /><br />

                                <apex:outputLabel value="Student Lives with:"/><br/>
                                <!-- NAIS-1835 Start -->
                                <!-- <apex:outputPanel layout="none" rendered="{!otherLivesWithPFS2}" >
                                    <apex:outputText styleclass="data" value="{!spfs2.Applicant__r.Lives_with__c}" />
                                    <br/><br/>
                                </apex:outputPanel>

                                <apex:outputPanel layout="none" rendered="{!NOT(otherLivesWithPFS2)}" >
                                    <apex:outputText styleclass="data" value="{!spfs2.Applicant__r.PFS__r.Parent_A_First_Name__c} {!spfs2.Applicant__r.PFS__r.Parent_A_Last_Name__c}" /> <br /><br />
                                </apex:outputPanel>-->
                                <apex:outputPanel layout="none" >
                                    <apex:outputText styleclass="data" value="{!spfs2.Applicant__r.Lives_with_Form__c}" /> <br /><br />
                                </apex:outputPanel>
                                <apex:outputPanel rendered="{!isKSSchoolUser}">
                                    <apex:outputLabel value="Programs:"/><br/>
                                    <apex:outputPanel rendered="{!spfs1.Applicant__r.Apply_for_Kipona_Scholars_Program__c}">
                                        <apex:outputText styleclass="data" value="Kipona Scholarship Program" /> <br />
                                    </apex:outputPanel>
                                    <apex:outputPanel rendered="{!spfs1.Applicant__r.Apply_for_KS_Preschool_Financial_Aid__c}">
                                        <apex:outputText styleclass="data" value="KS Preschool Financial Aid" /> <br />
                                    </apex:outputPanel>
                                    <apex:outputPanel rendered="{!spfs1.Applicant__r.Apply_for_KS_K_12_Financial_Aid__c}">
                                        <apex:outputText styleclass="data" value="KS K-12 Financial Aid" /> <br />
                                    </apex:outputPanel>
                                    <apex:outputPanel rendered="{!spfs1.Applicant__r.Apply_for_Pauahi_Keiki_Scholars_Cycle_1__c || spfs1.Applicant__r.Apply_for_Pauahi_Keiki_Scholars_Cycle_2__c}">
                                        <apex:outputText styleclass="data" value="Pauahi Keiki Scholars Program" /> <br />
                                    </apex:outputPanel>
                                </apex:outputPanel>
                                <!-- NAIS-1835 End -->
                            </div>
                        </apex:outputPanel>

                        <!-- NAIS-1776 Start -->

                        <apex:outputPanel layout="none" rendered="{!NOT(spfs2=null)}" >
                            <div class="innerdiv{!NumOfPFSs} {!pfsTableCellStyle}">

                                <apex:outputLabel value="Parent B:"/><br/>
                                <apex:outputText styleclass="data" value="{!spfs2.Applicant__r.PFS__r.Parent_B_First_Name__c} {!spfs2.Applicant__r.PFS__r.Parent_B_Last_Name__c}" /> <br />

                                <apex:outputLabel value="Address:" /> <br/>
                                <apex:outputText styleClass="data" value="{!spfs2.Applicant__r.PFS__r.Parent_B_Address__c}" /><br />

                                <apex:outputText styleClass="data" value="{!spfs2.Applicant__r.PFS__r.Parent_B_City__c}" />
                                <apex:outputPanel rendered="{!AND(NOT(ISNULL(spfs2.Applicant__r.PFS__r.Parent_B_State__c)),NOT(ISNULL(spfs2.Applicant__r.PFS__r.Parent_B_City__c)))}" >,&nbsp;</apex:outputPanel>
                                <apex:outputText styleClass="data" value="{!spfs2.Applicant__r.PFS__r.Parent_B_State__c}" />
                                &nbsp;
                                <apex:outputText styleClass="data" value="{!spfs2.Applicant__r.PFS__r.Parent_B_ZIP_Postal_Code__c}" /> <br />
                                <apex:outputText styleClass="data" value="{!spfs2.Applicant__r.PFS__r.Parent_B_Country__c}" />  <br /> <br />
                                <apex:outputLabel value="Preferred Phone{!if(NOT(ISNULL(spfs1.Applicant__r.PFS__r.Parent_B_Preferred_Phone__c)), ' (' + spfs1.Applicant__r.PFS__r.Parent_B_Preferred_Phone__c + ')', null)}:"/>&nbsp;
                                <apex:outputText styleclass="data" value="{!spfs2.Applicant__r.PFS__r.Parent_B_Preferred_Phone_Number__c}" /><br/><br/>

                                <apex:outputLabel value="Email:"/>&nbsp;
                                <apex:outputLink value="mailto:{!spfs2.Applicant__r.PFS__r.Parent_B_Email__c}" ><apex:outputText styleclass="data" value="{!spfs2.Applicant__r.PFS__r.Parent_B_Email__c}" /></apex:outputLink>
                                <br /><br />

                                <apex:outputLabel value="Grade Applying:"/>&nbsp;<apex:outputText styleClass="data" value="{!spfs1.Grade_Applying__c}" /><br/><br/>

                                <apex:outputLabel value="Present School:"/>&nbsp;<apex:outputText styleclass="data" value="{!currentSchool}" />
                            </div>
                        </apex:outputPanel>

                        <!-- NAIS-1776 End -->

                        <!-- [CH] NAIS-1866 Logic for School-Initiated folders -->
                        <div class="{!nonPFSTableCellStyle} innerdiv0">

                            <apex:outputLabel value="Parent A:"/><br/>
                            <apex:outputText styleclass="data" value="{!folder.Primary_Parent__r.FirstName} {!folder.Primary_Parent__r.LastName}" />
                            <br /><br />

                            <apex:outputLabel value="Address:" /> <br/>
                            <apex:outputText styleClass="data" value="{!folder.Primary_Parent__r.MailingStreet}" /><br />

                            <apex:outputText styleClass="data" value="{!folder.Primary_Parent__r.MailingCity}" />
                            <apex:outputPanel rendered="{!AND(NOT(ISNULL(folder.Primary_Parent__r.MailingState)),NOT(ISNULL(folder.Primary_Parent__r.MailingCity)))}" >,&nbsp;</apex:outputPanel>
                            <apex:outputText styleClass="data" value="{!folder.Primary_Parent__r.MailingState}" />
                            &nbsp;
                            <apex:outputText styleClass="data" value="{!folder.Primary_Parent__r.MailingPostalCode}" /> <br />
                            <apex:outputText styleClass="data" value="{!folder.Primary_Parent__r.MailingCountry}" />  <br /> <br />
                            <apex:outputLabel value="Preferred Phone{!if(NOT(ISNULL(folder.Primary_Parent__r.Preferred_Phone__c)), ' (' + folder.Primary_Parent__r.Preferred_Phone__c + ')', null)}:"/>&nbsp;
                            <apex:outputText styleclass="data" value="{!folder.Primary_Parent__r.HomePhone}" /><br/><br/>

                            <apex:outputLabel value="Email:"/>&nbsp;
                            <apex:outputLink value="mailto:{!folder.Primary_Parent__r.Email}" >
                                <apex:outputText styleclass="data" value="{!folder.Primary_Parent__r.Email}" />
                            </apex:outputLink>
                            <br /><br />

                            <apex:outputPanel styleClass="{!pfsBlockStyle}">
                                <apex:outputLabel value="Student Lives with:"/><br/>

                                <!-- NAIS-1835 Start -->
                                <apex:outputPanel layout="none" >
                                    <apex:outputText styleclass="data" value="{!spfs1.Applicant__r.Lives_with_Form__c}" /> <br /><br />
                                </apex:outputPanel>
                                <!-- NAIS-1835 End -->
                            </apex:outputPanel>
                            <apex:outputPanel rendered="{!isKSSchoolUser}">
                                <apex:outputLabel value="Programs:"/><br/>
                                <apex:outputPanel rendered="{!spfs1.Applicant__r.Apply_for_Kipona_Scholars_Program__c}">
                                    <apex:outputText styleclass="data" value="Kipona Scholarship Program" /> <br />
                                </apex:outputPanel>
                                <apex:outputPanel rendered="{!spfs1.Applicant__r.Apply_for_KS_Preschool_Financial_Aid__c}">
                                    <apex:outputText styleclass="data" value="KS Preschool Financial Aid" /> <br />
                                </apex:outputPanel>
                                <apex:outputPanel rendered="{!spfs1.Applicant__r.Apply_for_KS_K_12_Financial_Aid__c}">
                                    <apex:outputText styleclass="data" value="KS K-12 Financial Aid" /> <br />
                                </apex:outputPanel>
                                <apex:outputPanel rendered="{!spfs1.Applicant__r.Apply_for_Pauahi_Keiki_Scholars_Cycle_1__c || spfs1.Applicant__r.Apply_for_Pauahi_Keiki_Scholars_Cycle_2__c}">
                                    <apex:outputText styleclass="data" value="Pauahi Keiki Scholars Program" /> <br />
                                </apex:outputPanel>
                            </apex:outputPanel>
                            <apex:outputPanel styleClass="{!nonPFSBlockStyle}">
                                <apex:outputLabel value="Grade Applying:"/>&nbsp;<apex:outputText styleClass="data" value="{!folder.Grade_Applying__c}" /><br/><br/>
                            </apex:outputPanel>
                        </div>
                        <!-- NEW DYNAMIC TEXT ON STATUS -->
                        <!-- local styling here because it is dynamically determined in the class -->
                        <div id="thedivwiththestuff" class="innerdivright{!IF(fullView, '', 'narrow')} dynamicbgcolor dynamiccolorclass{!color}" >
                            <apex:outputPanel rendered="{!fullview}" layout="none">
                                <apex:outputLabel value="{!folder.Folder_Status__c }"/> &nbsp;
                                <apex:outputText value="{0,date,MM'/'dd'/'yyyy}" rendered="{!renderStatusDate}"><apex:param value="{!folder.Award_Decision_Date__c}" /></apex:outputText>
                                <br/>
                                <apex:outputPanel rendered="{!NOT(ISNULL(folder.Grant_Awarded__c))}">
                                    <apex:outputLabel value="Amount Awarded: " /><apex:outputField value="{!folder.Grant_Awarded__c}" />
                                </apex:outputPanel>
                            </apex:outputPanel>
                            <h1>
                                <apex:outputText styleClass="data large" style="font-size: 24px;" value="{!bigText}" rendered="{!NOT(ISNULL(bigText))}"><br/></apex:outputText>
                                <apex:outputText styleClass="data large" style="font-size: 24px;" value="{0, number, $##,###,##0}" rendered="{!NOT(ISNULL(bigValue))}">
                                    <apex:param value="{!bigValue}"/>
                                </apex:outputText>
                            </h1>

                            <!-- NAIS-2368 [DP] 04.20.2015 -->
                            <apex:outputPanel rendered="{!AND(pfs1OutstandingWrapper != null, pfs1OutstandingWrapper.sdaList != null, pfs1OutstandingWrapper.sdaList.size > 0)}">

                                <br />
                                <apex:outputText value="{!pfs1OutstandingWrapper.pfsLabel}" styleClass="outstandingWrapper collapsed pfs1DocClicker" ></apex:outputText>
                                <div class="pfsDocListClass pfs1DocListClass {!IF(NOT(spfs2=null), 'pfsDocListClassRight', '')}">

                                    <apex:pageBlock id="schoolDocumentsQuickView-container1">
                                        <apex:pageBlockTable id="schoolDocumentsQuickView-container" value="{!pfs1OutstandingWrapper.sdaList}" var="sda" style="{!IF(pfs1OutstandingWrapper.sdaList.size>0,'display:block;','display:none;')}">
                                            <apex:column styleClass="first-column" headerValue="PFS 1 Document" value="{!sda.Document_Type__c}"/>
                                            <apex:column styleClass="second-column" headerValue="Year" value="{!sda.Document_Year__c}"/>
                                        </apex:pageBlockTable>
                                        <apex:outputText styleClass="no-documents" value="No Documents Outstanding." style="{!IF(pfs1OutstandingWrapper.sdaList.size>0,'display:none;','display:block;')}" />
                                    </apex:pageBlock>

                                </div>

                            </apex:outputPanel>

                            <apex:outputPanel rendered="{!AND(pfs2OutstandingWrapper != null, pfs2OutstandingWrapper.sdaList != null, pfs2OutstandingWrapper.sdaList.size > 0)}">

                                <apex:outputText value="{!pfs2OutstandingWrapper.pfsLabel}" styleClass="outstandingWrapper collapsed pfs2DocClicker" ></apex:outputText>
                                <div class="pfsDocListClass pfs2DocListClass {!IF(NOT(spfs2=null), 'pfsDocListClassRight', '')}">

                                    <apex:pageBlock id="schoolDocumentsQuickView-container2">
                                        <apex:pageBlockTable id="schoolDocumentsQuickView-container" value="{!pfs2OutstandingWrapper.sdaList}" var="sda" style="{!IF(pfs2OutstandingWrapper.sdaList.size>0,'display:block;','display:none;')}">
                                            <apex:column styleClass="first-column" headerValue="PFS 2 Document" value="{!sda.Document_Type__c}"/>
                                            <apex:column styleClass="second-column" headerValue="Year" value="{!sda.Document_Year__c}"/>
                                        </apex:pageBlockTable>
                                        <apex:outputText styleClass="no-documents" value="No Documents Outstanding." style="{!IF(pfs2OutstandingWrapper.sdaList.size>0,'display:none;','display:block;')}" />
                                    </apex:pageBlock>

                                </div>
                            </apex:outputPanel>

                            <br/>
                            <div class="tablediv" >
                                <apex:outputPanel rendered="{!renderEFCs}" layout="none">
                                    <div class="dynamicbgcolor dynamiccolorclass{!color} cell" >
                                        <!-- NAIS-1780 Start-->
                                        <apex:outputPanel rendered="{!NOT(ISNULL(spfs1.Est_Family_Contribution__c)) && spfs1.Day_Boarding__c == 'Day'}" >
                                            <apex:outputLabel value="PFS 1 School Revised EFC-Day:"/><br/>
                                            <apex:outputText styleClass="data" value="{0, number, $##,###,##0}" >
                                                <apex:param value="{!spfs1.Est_Family_Contribution__c}"/>
                                            </apex:outputText><br />
                                        </apex:outputPanel>

                                        <apex:outputPanel rendered="{!NOT(ISNULL(spfs1.Est_Family_Contribution__c)) && spfs1.Day_Boarding__c == 'Boarding'}" >
                                            <apex:outputLabel value="PFS 1 School Revised EFC-Boarding:"/><br/>
                                            <apex:outputText styleClass="data" value="{0, number, $##,###,##0}" >
                                                <apex:param value="{!spfs1.Est_Family_Contribution_Boarding__c}"/>
                                            </apex:outputText><br />
                                        </apex:outputPanel>

                                        <apex:outputPanel rendered="{!ISNULL(spfs1.Est_Family_Contribution__c) && spfs1.Day_Boarding__c == 'Day'}" >
                                            <apex:outputLabel value="PFS 1 SSS EFC-Day:"/><br/>
                                            <apex:outputText styleClass="data" value="{0, number, $##,###,##0}" rendered="{!ISNULL(spfs1.Est_Family_Contribution__c)}">
                                                <apex:param value="{!spfs1.Orig_Est_Family_Contribution__c}"/>
                                            </apex:outputText><br />
                                        </apex:outputPanel>

                                        <apex:outputPanel rendered="{!ISNULL(spfs1.Est_Family_Contribution__c) && spfs1.Day_Boarding__c == 'Boarding'}" >
                                            <apex:outputLabel value="PFS 1 SSS EFC-Boarding:"/><br/>
                                            <apex:outputText styleClass="data" value="{0, number, $##,###,##0}" rendered="{!ISNULL(spfs1.Est_Family_Contribution_Boarding__c)}">
                                                <apex:param value="{!spfs1.Orig_Est_Family_Contribution_Boarding__c}"/>
                                            </apex:outputText><br />
                                        </apex:outputPanel>

                                    </div>
                                    <div class="dynamicbgcolor dynamiccolorclass{!color} cell" >
                                        <apex:outputPanel rendered="{!NOT(ISNULL(spfs2))}" >
                                            <apex:outputPanel rendered="{!NOT(ISNULL(spfs2.Est_Family_Contribution__c)) && spfs2.Day_Boarding__c == 'Day'}" >
                                                <apex:outputLabel value="PFS 2 School Revised EFC-Day:"/><br/>
                                                <apex:outputText styleClass="data" value="{0, number, $##,###,##0}" >
                                                    <apex:param value="{!spfs2.Est_Family_Contribution__c}"/>
                                                </apex:outputText><br />
                                            </apex:outputPanel>

                                            <apex:outputPanel rendered="{!NOT(ISNULL(spfs2.Est_Family_Contribution__c)) && spfs2.Day_Boarding__c == 'Boarding'}" >
                                                <apex:outputLabel value="PFS 2 School Revised EFC-Boarding:"/><br/>
                                                <apex:outputText styleClass="data" value="{0, number, $##,###,##0}" >
                                                    <apex:param value="{!spfs2.Est_Family_Contribution_Boarding__c}"/>
                                                </apex:outputText><br />
                                            </apex:outputPanel>

                                            <apex:outputPanel rendered="{!ISNULL(spfs2.Est_Family_Contribution__c) && spfs2.Day_Boarding__c == 'Day'}" >
                                                <apex:outputLabel value="PFS 2 SSS EFC-Day:"/><br/>
                                                <apex:outputText styleClass="data" value="{0, number, $##,###,##0}" rendered="{!ISNULL(spfs2.Est_Family_Contribution__c)}">
                                                    <apex:param value="{!spfs2.Orig_Est_Family_Contribution__c}"/>
                                                </apex:outputText><br />
                                            </apex:outputPanel>

                                            <apex:outputPanel rendered="{!ISNULL(spfs2.Est_Family_Contribution__c) && spfs2.Day_Boarding__c == 'Boarding'}" >
                                                <apex:outputLabel value="PFS 2 SSS EFC-Boarding:"/><br/>
                                                <apex:outputText styleClass="data" value="{0, number, $##,###,##0}" rendered="{!ISNULL(spfs2.Est_Family_Contribution_Boarding__c)}">
                                                    <apex:param value="{!spfs2.Orig_Est_Family_Contribution_Boarding__c}"/>
                                                </apex:outputText><br />
                                            </apex:outputPanel>
                                            <!-- NAIS-1780 End -->

                                        </apex:outputPanel>
                                    </div>
                                </apex:outputPanel>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="{!pfsBlockStyle} block" >
                <div class="blockheader">
                    Siblings
                </div>
                <apex:pageBlock >
                    <div class="blockbody nopadding">
                        <apex:pageBlockTable styleClass="detailList fpTable" value="{!siblings}" var="sib">
                            <apex:column headerValue="Name">
                                <apex:outputLink value="/{!sib.spfs.Student_Folder__c}" rendered="{!sib.applyingToThisSchool}">{!sib.name}</apex:outputLink>
                                <apex:outputText rendered="{!NOT(sib.applyingToThisSchool)}">{!sib.name}</apex:outputText>
                            </apex:column>
                            <apex:column headerValue="Grade" value="{!sib.grade}"/>
                            <apex:column headerValue="Current School" value="{!sib.currentSchool}" /> <!-- NAIS-1853 -->
                            <apex:column headerValue="Birthdate">
                                <apex:outputText value="{0,date,MM'/'dd'/'yyyy}"><apex:param value="{!sib.birthdate}" /></apex:outputText>
                            </apex:column>
                            <apex:column headerValue="Gender" value="{!sib.gender}"/>
                            <apex:column headerValue="Listed On"  value="{!masterSiblingsList[LOWER(sib.name)]}"  />
                        </apex:pageBlockTable>
                    </div>
                </apex:pageBlock>
            </div>

            <div class="{!pfsBlockStyle} block">
                <div class="blockheader">
                    Other Dependents
                </div>
                <apex:pageBlock >
                    <div class="blockbody nopadding">
                        <apex:pageBlockTable styleClass="detailList fpTable" value="{!dependents}" var="dep">
                            <apex:column headerValue="Name" value="{!dep.name}"/>
                            <apex:column headerValue="Grade" value="{!dep.grade}"/>
                            <apex:column headerValue="Current School" value="{!dep.currentSchool}" /> <!-- NAIS-1853 -->
                            <apex:column headerValue="Birthdate">
                                <apex:outputText value="{0,date,MM'/'dd'/'yyyy}"><apex:param value="{!dep.birthdate}" /></apex:outputText>
                            </apex:column>
                            <apex:column headerValue="Gender" value="{!dep.gender}"/>
                            <apex:column headerValue="Listed On" value="{!pfsDependentList[LOWER(dep.name)]}" />
                        </apex:pageBlockTable>
                    </div>
                </apex:pageBlock>
            </div>

            <!-- Mass Email Event Summary component -->
            <c:SchoolMassEmailSummary folderId="{!folder.Id}" />

            <apex:outputPanel rendered="{!schoolHasBudgets && hasAllocations && fullView}" styleClass="{!pfsBlockStyle}">
                <apex:form >
                    <div class="block">
                        <div class="blockheader">
                            Aid Allocation
                            <span class="right" >
                                <apex:commandButton action="{!makeAward}" value="Make an Award" />
                            </span>
                        </div>
                        <div class="blockbody nopadding">
                            <c:SchoolFolderAidPieChart FoldersId="{!folder.Id}" />
                        </div>
                    </div>
                </apex:form>
            </apex:outputPanel>

            <div class="{!pfsBlockStyle} block">
                <div class="blockheader">
                    Additional Schools Applying to
                </div>
                <apex:pageBlock >
                    <div class="blockbody nopadding">
                        <apex:outputText value="No Additional Schools" rendered="{!otherApps.size = 0}" styleclass="notifications" />
                        <apex:pageBlockTable styleClass="detailList fpTable" value="{!otherApps}" var="app" rendered="{!otherApps.size > 0}">
                            <apex:column headerValue="Name" value="{!app.Name}"/>
                            <apex:column headerValue="Address" value="{!app.Address}"/>
                        </apex:pageBlockTable>
                    </div>
                </apex:pageBlock>
            </div>
            <c:StudentFolderAttachments studentFolderId="{!Folder.Id}" rendered="{!FullView}"/>
            <c:FinancialAidHistory rendered="{!NumOfPFSs > 0}" />
        </div>
    </apex:outputPanel>

    <script type="text/javascript" >

            j$ = jQuery.noConflict();

            j$(document).ready(function(){


                // j$('.pfs1DocList').hide();
                // j$('.pfs2DocList').hide();


                j$(".pfs1DocClicker").click(function(){
                    j$(".pfs1DocClicker").toggleClass('expanded');
                    j$(".pfs1DocListClass").toggle(300);
                    j$(".pfs2DocClicker").removeClass('expanded');
                    j$(".pfs2DocListClass").hide();
                });

                j$(".pfs2DocClicker").click(function(){
                    j$(".pfs2DocClicker").toggleClass('expanded');
                    j$(".pfs2DocListClass").toggle(300);
                    j$(".pfs1DocClicker").removeClass('expanded');
                    j$(".pfs1DocListClass").hide();
                });

            });

            // function togglePFS1DocList() {
            //     j$("#pfs1DocList").hide();
            // };


    </script>
</apex:page>