<!-- Spec-066 School Portal - User Profile; R-424, R-426, R-428
	 BR, Exponent Partners, 2013 -->
   	 
<apex:page standardController="Contact" extensions="SchoolUserProfileController" sidebar="false">

    <!-- <apex:stylesheet value="{!URLFOR($Resource.SchoolPortalStyles, '/css/dashboard-inline.css')}"/>
	 <apex:stylesheet value="{!URLFOR($Resource.SchoolPortalStyles, '/css/newStyles.css')}"/>  -->

	<apex:form id="mainid">	 		
	    <div class="pageHeaderBar" >
	    	<c:SchoolHeaderBar />
			<c:SchoolGlobalSearch />
		</div>
	</apex:form>

    <apex:form >
        <apex:pageMessages />
        
        <div class="block">
        	<div class="blockheader">User Profile</div>
	        <apex:pageBlock mode="edit">

	            <apex:pageBlockButtons location="both">
	                <apex:commandButton action="{!save}" value="Save"/>
	                <apex:commandButton action="{!cancel}" value="Cancel"/>
	            </apex:pageBlockButtons>
	            <div class="blockbody nopadding">	            
		            <apex:pageBlockSection columns="2">
		            	<apex:inputField value="{!myContact.Salutation}"/>
		            	<apex:inputField value="{!myContact.PFS_Alert_Preferences__c}" label="Opt-in to PFS Notification"/>
		 
		            	<apex:inputField value="{!myContact.FirstName}" required="true"/>
		            	<apex:inputField value="{!myContact.Phone}"/>
					</apex:pageBlockSection>
					
		            <apex:pageBlockSection columns="1">
		            	<apex:inputField value="{!myContact.LastName}" required="true"/>
					</apex:paGeBlockSection>
					
		            <apex:pageBlockSection columns="2">
		            	<apex:inputField value="{!myContact.Suffix__c}"/>
		                <apex:outputText value="NOTE: If you update your email address, this will also update your Username, effective the next time you log in."/>
		
		            	<apex:inputField value="{!myContact.Title}"/>
		            	<!-- We need a trigger to update Username. -->
		            	<apex:inputField value="{!myContact.Email}" required="true"/>
		            	<apex:inputFIeld value="{!myUser.TimeZoneSidKey}" />
		            </apex:pageBlockSection>               
	            </div>
	            
	        </apex:pageBlock>
        </div>
    </apex:form>
    
</apex:page>