<apex:page controller="SchoolApplicantsApplyingController" readonly="true">
    <apex:includeScript value="{!$Resource.Jquery191min}" />
    <apex:includeScript value="{!$Resource.JQueryBlockUI}" />
    <style>
        .wgNiceSelect, .searchWrap {
            margin-top:5px;
        }
    </style>
    
    <apex:form id="searchForm">
        <apex:actionFunction name="searchSchools" action="{!searchSchools}" rerender="schoolApplicantsPageBlock" />
        <apex:actionFunction name="searchSchoolsActionButton" action="{!searchSchools}" rerender="schoolApplicantsPageBlock">
        </apex:actionFunction>
        <apex:outputpanel rendered="{!isSchoolUser}">
        	<div class="pageHeaderBar">
	            <c:SchoolHeaderBar />
	            <c:SchoolAcademicYearSelector host="{!thisController}" value="{!academicYearId}" id="currAccYear"/>
	            <c:SchoolGlobalSearch />
	            <br/><c:SchoolAcademicYearWarning />
	           </div>
        </apex:outputpanel>
        <c:SchoolSubtabs host="{!thisController}" selectedTab="SchoolApplicantsApplying" rendered="{!IF(NOT(isSchoolUser),false,true)}"/>
        
        <div style="padding-left: 10px; padding-right: 10px;">
            <div class="block">
                <apex:pageBlock mode="edit" id="schoolApplicantsPageBlock" title="School Applicants {!IF(NOT(isSchoolUser),'',selectedSPfsa.Academic_Year_Picklist__c)}">
                    <div class="blockbody">
                        <apex:pageMessages id="ShowMessage"/>
                        <apex:outputpanel rendered="{!NOT(isSchoolUser)}" layout="block" style="border: 1px solid #c0c0c0; padding: 8px; margin-bottom: 12px;width: 700px;">
                        <table border="0" cellspacing="0" cellpadding="3" width="100%">
                            <tr valign="bottom">
                                <td><strong>Enter SSS Code</strong></td>
                                <td><strong>Enter Academic Year</strong></td>
                            </tr>
                            <tr valign="bottom">
                                <td>
                                    <apex:inputText id="SSSCode" value="{!sssCode}" style="float: left; width: 150px"/>
                                </td>
                                <td>
                                    <!--<apex:selectList style="float: left;" value="{!selectedYear}" size="1">
                                        <apex:selectOptions value="{!academicYearList}" />
                                    </apex:selectList>-->
                                    <apex:inputField value="{!selectedSPfsa.Academic_Year_Picklist__c}"/>
                                </td>
                            </tr>
                            <tr><td>&nbsp;</td></tr>
                            <tr>
                                <td colspan="2" align="center">
                                    <apex:commandbutton value="Search" action="{!searchSchools}"/>
                                </td>
                            </tr>
                        </table >
                        </apex:outputpanel>
                        <apex:outputPanel rendered="{!spfsaList != null && spfsaList.size > 0}">
                            <div align="center" style="padding-bottom:15px; padding-bottom:7px">
                                <apex:commandbutton value="Export to Excel"  
                                                    onclick="window.open('{!URLFOR($Page.SchoolApplicantsExcel)}?forExcel=yes&sssCodeExcel={!sssCode}&selectedYearExcel={!selectedSPfsa.Academic_Year_Picklist__c}', '_blank');return false;"/>
                            </div>
                        
                            <apex:pageBlockTable value="{!spfsaList}" var="spfsa">
                                <apex:column headerValue="School Name">
                                    <apex:outputText value="{!spfsa.School__r.Name}" />
                                </apex:column>
                                <apex:column headerValue="SSS Code">
                                    <apex:outputText value="{!spfsa.School__r.SSS_School_Code__c}" />
                                </apex:column>
                                <apex:column headerValue="Student Name">
                                    <apex:outputText value="{!spfsa.Applicant__r.First_Name__c} {!spfsa.Applicant__r.Last_Name__c}" />
                                </apex:column>
                                <apex:column headerValue="New/Returning">
                                    <apex:outputText value="{!spfsa.New_Returning__c}" />
                                </apex:column>
                                <apex:column headerValue="Day/Boarding">
                                    <apex:outputText value="{!spfsa.Day_Boarding__c}" />
                                </apex:column>
                            </apex:pageBlockTable>
                        </apex:outputPanel>
                    </div>
                </apex:pageBlock>
            </div>
        </div>
    </apex:form>
    <script>
    if('{!isSchoolUser}'=='true'){
        searchSchools();
    }
    </script>
</apex:page>