<!-- Spec-066 School Portal - User Profile; R-424, R-426, R-428
	 BR, Exponent Partners, 2013 -->
   	 
<apex:page standardController="Contact" extensions="SchoolUserProfileController" sidebar="false">

    <!-- <apex:stylesheet value="{!URLFOR($Resource.SchoolPortalStyles, '/css/dashboard-inline.css')}"/>
	 <apex:stylesheet value="{!URLFOR($Resource.SchoolPortalStyles, '/css/newStyles.css')}"/>  -->

	<apex:form id="mainid">	 		
	    <div class="pageHeaderBar" >
	    	<c:SchoolHeaderBar />
			<c:SchoolGlobalSearch />
		</div>
	</apex:form>

    <apex:form >
        <apex:pageMessages />
        
        <div class="block">
        	<div class="blockheader">User Profile</div>
	        <apex:pageBlock mode="edit">
	        	<apex:pageBlockButtons location="both">
	                <apex:commandButton action="{!editx}" value="Edit"/>
	            </apex:pageBlockButtons>
	            <div class="blockbody">
		            <apex:pageBlockSection columns="2">
		            	<apex:outputField value="{!myContact.Salutation}"/>
		            	<apex:outputField value="{!myContact.PFS_Alert_Preferences__c}" label="Opt-in to PFS Notification"/>
		            	<apex:outputField value="{!myContact.FirstName}"/>
		            	<apex:outputField value="{!myContact.Phone}"/>
		            	<apex:outputField value="{!myContact.LastName}"/>
					</apex:pageBlockSection>
		            <apex:pageBlockSection columns="2">
		            	<apex:outputField value="{!myContact.Suffix__c}"/>
		                <apex:outputText value="NOTE: If you update your email address, this will also update your Username, effective the next time you log in."/>
		            	<apex:outputField value="{!myContact.Title}"/>
		            	<!-- We need a trigger to update Username. -->
		            	<apex:outputField value="{!myContact.Email}"/>
		            	<apex:outputFIeld value="{!myUser.TimeZoneSidKey}" />
		            </apex:pageBlockSection>
	          	</div>
	            
	        </apex:pageBlock>
        </div>
        
    </apex:form>

</apex:page>