<apex:page standardController="Student_Folder__c" extensions="SchoolAppViewLockPFSBulkController" recordSetVar="SFs" title="Lock PFSs" sidebar="false" showHeader="false">
	<head>
		<apex:stylesheet value="{!URLFOR($Resource.SchoolPortalStyles, 'css/newStyles.css')}" />
		<style>
			body{
				width: 280px;
	  			overflow-x: hidden;
			}
			[id*="bulk_lock_pfs"]{
				width:280px;
				text-align:center;
				margin-top:5px;
			}
			div#content_bulk_lock_pfs{
				text-align:center;
			}
			a.btn{
				width: 50px;
	  			text-decoration: none;
			}
		</style>
		
	</head>	
	<apex:form id="bulk_lock_pfs">
		<div id="content_bulk_lock_pfs">
			<apex:outputText id="pageMessage" value="{!pageMessage}" />
			<br /><br />
			<apex:commandLink styleClass="btn" id="actionButton" rendered="{!showActionButton}" action="{!lockSelectedPFS}" value="Yes" rerender="bulk_lock_pfs"/>
		</div>
	</apex:form>
</apex:page>