<!--
	USED TO AUTOCLOSE PAGE ON SpringCM Popup after upload
-->
<apex:page showHeader="false" sidebar="false">
	<apex:includeScript value="{!$Resource.Jquery191min}" />

	<html>
	<head>
 	<style type="text/css">
    	html, body {
    		height: 100%;
    		margin: 0;
    	}
    </style>
	<script>
		function getParam(name) {
			name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
			var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
				results = regex.exec(location.search);
			return results === null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
		}

		function refreshParent() {
	        if (window.opener != null && !window.opener.closed) {
	            window.opener.location.reload();
	        }
		}
		var autoClose = getParam("autoclose");
		
		if (autoClose != "false") {
			refreshParent();
			window.close();
		}
		
		$(document).ready(function() {
			var message = getParam("msg");
			
			if (message == null || (message.trim() == "")) {
				refreshParent();
				window.close();
				return;
			}
			var backgroundColor = getParam("bgcolor");
			if (backgroundColor != null && backgroundColor.trim() != "") {
				$("#msgForm").css("background-color", backgroundColor);
			}
			var foreColor = getParam("forecolor");
			if (foreColor != null && foreColor.trim() != "") {
				$("#msgForm").css("color", foreColor);
			}
			
			$("#msg").html(message);
			$("#msgForm").show();
		});
	</script>
	</head>
	<body>
		<div id="msgForm" style="display: none; min-height: 100%; overflow: none;">
			<div style="padding-top: 50px;">
				<center>
					<div id="msg" />
					<div style="height: 5px;" />
					<input type="button" value="OK" onclick="refreshParent();window.close()" />
				</center>
			</div>
		</div>
	</body>
	</html>
</apex:page>