<apex:component controller="DocumentDueDateController">
    <apex:attribute name="pfsRecord" description="The PFS record that the component should work with" type="PFS__c" assignTo="{!pfs}" />
    <apex:attribute name="displayHeader" description="The PFS record that the component should work with" type="Boolean" assignTo="{!showHeader}" />
    <apex:attribute name="headerStyle" description="The style for the header, light, dark, none" type="String" assignTo="{!headerClass}" />

    <div class="block">
        <apex:outputPanel rendered="{!showHeader}">
            <div class="blockheader {!IF(headerClass != null, headerClass, '')}">
                Document Due Dates By School
            </div>
        </apex:outputPanel>
        <div class="blockbody nopadding">
            <table class="list detailList fpTable">
                <thead>
                    <tr>
                        <th></th>
                        <th colspan="3"><strong>New Students</strong></th>
                        <th colspan="3"><strong>Returning Students</strong></th>
                    </tr>
                    <tr>
                        <th>School Name</th>
                        <th>{!yearValueList[2]} Docs</th>
                        <th>{!yearValueList[1]} Docs</th>
                        <th>{!yearValueList[0]} Docs</th>
                        <th>{!yearValueList[2]} Docs</th>
                        <th>{!yearValueList[1]} Docs</th>
                        <th>{!yearValueList[0]} Docs</th>
                    </tr>
                </thead>
                <tbody>
                    <apex:repeat value="{!documentDueDates}" var="schoolRow">
                        <tr>
                            <td><strong><apex:outputText value="{!schoolRow.schoolName}"/></strong></td>
                            <td><apex:outputText value="{!schoolRow.newPrePrevious}"/></td>
                            <td><apex:outputText value="{!schoolRow.newPrevious}"/></td>
                            <td><apex:outputText value="{!schoolRow.newCurrent}"/></td>
                            <td><apex:outputText value="{!schoolRow.returningPrePrevious}"/></td>
                            <td><apex:outputText value="{!schoolRow.returningPrevious}"/></td>
                            <td><apex:outputText value="{!schoolRow.returningCurrent}"/></td>
                        </tr>                                       
                    </apex:repeat>
                </tbody>
            </table>
        </div>
    </div>

</apex:component>