<apex:component controller="FamilyDocumentSpringUploadController" allowDML="true">
<title>NAIS</title>
    <apex:attribute type="PFS__c" name="pfsRecord" required="true" assignTo="{!pfsRecordParam}"
                    description="PFS Record In Context"  />

    <apex:attribute type="String" name="academicYearId" required="true" assignTo="{!academicYearIdParam}"
                    description="Id of the Acidemic Year in context"  />

    <apex:attribute type="String" name="documentSource" required="true" assignTo="{!documentSourceParam}"
                    description="Document Source" />

    <apex:attribute type="String" name="returnUrl" required="false" assignTo="{!returnUrlParam}"
                    description="url to load when the dialog is closed" />

    <script src="/soap/ajax/17.0/connection.js" type="text/javascript"></script>
    <script src="/soap/ajax/17.0/apex.js" type="text/javascript"></script>
    <apex:includeScript value="{!$Resource.JQModal}" />
    <apex:includeScript value="{!$Resource.ButtonEnablement}" />
    <apex:stylesheet value="{!URLFOR($Resource.FamilyDocumentSpringUploadCSS)}" />

    <!-- [SL] NAIS-767 BEGIN refactored code -->
    <style type="text/css">
        .safaribody {
            display: table;
            background-color: #fff;
            width: 100%;
            padding: 5px 15px 5px 15px;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            border-radius: 0 0 5px 5px;
            color: #393536;
            font-size: 11px;
        }

        .blockfooter {
            padding: 2 px 20px 0px 20px !important;
            margin-top: 0px !important;
        }

        .safariwarningclass{
            font-family: Arial, Helvetica, sans-serif !important;
            color: #393536 !important;
        }

        .tinyInstructions{
            font-size: 80%;
            padding-left: 10px;
            margin: 0px 0px 6px 0px !important;
        }

        a.uploadpopup:hover {
             cursor:pointer;
        }

        span.closex {
            display: inline;
            float: right;
        }

        .blockbody {
            font-size: 16px;
        }

        .blockbody label {
            font-size: 95%;
            font-weight: bold;
        }
        .blockbody p {
            margin-bottom: 10px;
        }

    </style>

    <apex:form Id="springDocForm">
        <!-- functions to initiate and close the display of the modal dialog -->
        <script type="text/javascript">
            /* alias them jQuery's */
            var $j = jQuery.noConflict();

            function changeRadioButton() {
                var buttonValue = $j('input:radio[name=naSelectSchool]:checked').val();
                if( buttonValue === 'Yes') {
                    $j('.naModal__Footer--ok').removeClass('naModal__Footer--hidden');
                    $j('.naModal__Footer--submit').addClass('naModal__Footer--hidden');
                } else {
                    $j('.naModal__Footer--ok').addClass('naModal__Footer--hidden');
                    $j('.naModal__Footer--submit').removeClass('naModal__Footer--hidden');
                }
            }

            function closeAndRefresh(){
               <apex:outputText rendered="{!ISNULL(returnUrl)}">location.reload();</apex:outputText>
               <apex:outputText rendered="{!NOT(ISNULL(returnUrl))}">window.location.assign("{!returnUrl}");</apex:outputText>
            }

            // [CH] NAIS-1521 Update to populating the document name in Other Required Documents table
            // [CH] NAIS-1590 Updating to allow passing Required Doc Id
            function showDocSelector(pDocYear, pDocType, pDocId, pSchoolCode, pCreateSchoolAsmnt, pPertainsTo, pSpringCMDocType, pSchoolSpecificLabel){
                if({!!isMaintenanceWindow}){
                    jQuery("#main-dialog-modal").modal({escClose: false});
                    jQuery("#main-dialog-modal").show();

                       var browserName = detectBrowser();
                       var showSafariText = browserName == "Safari";
                       //showSafariText = true; // for testing in other browsers

                    // [DP] Added for NAIS-1548 2.4.14
                       var inCompMode = isInCompMode();
                       //inCompMode = true; // for testing in other browsers
                       if (inCompMode){
                           doInitIECOMP();
                       } else {
                        doInitUploadDialog(pDocYear, pDocType, pDocId, pSchoolCode, pCreateSchoolAsmnt, pPertainsTo, pSpringCMDocType, pSchoolSpecificLabel, showSafariText);
                    }
                }
            }

            if({!isMaintenanceWindow}){
                var btns = document.getElementsByClassName('btn primary springCM');
                for(var x=0;x<btns.length;x++){
                    btns[x].style.background = '#71717c';
                }
            }

            // used when a family marks a doc as N/A -- don't need to touch this for new SpringCM method
            function showNADocumentDialog(pDocYear, pDocType, pSchoolCode, pCreateSchoolAsmnt){
                showNADocumentDialog(pDocYear, pDocType, pSchoolCode, pCreateSchoolAsmnt, null);
            }
            // used when a family marks a doc as N/A -- don't need to touch this for new SpringCM method
            function showNADocumentDialog(pDocYear, pDocType, pSchoolCode, pCreateSchoolAsmnt, pDocLabel){
                jQuery("#main-dialog-modal").modal({escClose: false});
                jQuery("#main-dialog-modal").show();
                doInitNADialog(pDocYear, pDocType, pSchoolCode, pCreateSchoolAsmnt, pDocLabel);
            }

            // used when a family removes a doc as N/A -- may need to modify this to redirect to new SpringCM method?
            function showNARemoveDialog(pDocId){
                jQuery("#main-dialog-modal").modal({escClose: false});
                jQuery("#main-dialog-modal").show();
                doInitNARemoveDialog(pDocId);
            }

            // used when a family removes a doc
            function showDocRemoveDialog(pDocId){
                jQuery("#main-dialog-modal").modal({escClose: false});
                jQuery("#main-dialog-modal").show();
                doDocRemoveDialog(pDocId);
            }

            function getSelectedSchoolsValues(){
                  var schoolCheckboxes = document.getElementsByName('selectedschools[]');
                  //var checkboxesChecked = [];
                  var selectedString = '';
                  // loop over them all
                  for (var i=0; i<schoolCheckboxes.length; i++) {
                     // And stick the checked ones onto an array...
                     if (schoolCheckboxes[i].checked) {
                        //checkboxesChecked.push(checkboxes[i]);
                        selectedString += schoolCheckboxes[i].value + ':';
                     }
                  }
                  // Return the array if it is non-empty, or null
                  return selectedString;

            }

            // should be obsolete with new spring upload
            function moreSafariInfo(){
                jQuery("#moreSafariText").css("display", "block");
                jQuery("#moreInfoButton").css("display", "none");
                jQuery("#hideInfoButton").css("display", "inline-block");
            }

            // should be obsolete with new spring upload
            function hideSafariInfo(){
                jQuery("#moreSafariText").css("display", "none");
                jQuery("#moreInfoButton").css("display", "inline-block");
                jQuery("#hideInfoButton").css("display", "none");
            }

            // should be obsolete with new spring upload
            function detectBrowser(){
                var ua = navigator.userAgent, tem,
                M = ua.match(/(opera|chrome|safari|firefox|msie|trident(?=\/))\/?\s*([\d\.]+)/i) || [];
                return (M[1]);
            }

            // should be obsolete with new spring upload
            // [DP] Added for NAIS-1548 2.4.14
            function isInCompMode(){
                var agentStr = navigator.userAgent;
                var isOn = false;

                // check if this is IE 7 and "Trident" appears -- compatibility mode
                if (agentStr.indexOf("MSIE 7.0") > -1 && agentStr.indexOf("Trident") > -1) {
                    isOn = true;
                // check if this is straight IE 7
                } else if (agentStr.indexOf("MSIE 7.0") > -1){
                    isOn = true;
                // check if this is straight IE 6
                } else if (agentStr.indexOf("MSIE 6.0") > -1){
                    isOn = true;
                }
                return isOn;
            }

            // should be obsolete with new spring upload
            function updateSafariOptOut(inputparam){
                var isChecked = document.getElementById("{!$Component.dontShowSafariTextAgainInput}").checked;
                if (isChecked == true){
                    optOutOfSafariText();
                } else {
                    optIntoSafariText();
                }
            }

            // NAIS-2256 [DP] 02.12.2015
            function showNADenyDialog(sdaId, pDocType){
                jQuery("#main-dialog-modal").modal({escClose: false});
                jQuery("#main-dialog-modal").show();
                doInitNADenyDialog(sdaId, pDocType);
            }

            // NAIS-2256 [DP] 02.12.2015
            function showNAApproveDialog(sdaId){
                jQuery("#main-dialog-modal").modal({escClose: false});
                jQuery("#main-dialog-modal").show();
                doApproveNADoc(sdaId);
            }


            // NAIS-2256 [DP] 02.12.2015
            function showIssueSetDialog(pDocId, pDocType){
                jQuery("#main-dialog-modal").modal({escClose: false});
                jQuery("#main-dialog-modal").show();
                doInitIssueSetDialog(pDocId, pDocType);
            }

            // NAIS-2256 [DP] 02.12.2015
            function validateAndReportDocIssue(illId, misId) {
                var ill = document.getElementById(illId).checked && !document.getElementById(illId).disabled;
                var mis = document.getElementById(misId).checked && !document.getElementById(misId).disabled;
                if(ill == false && mis == false) {
                    //alert('Please select at least one issue.');
                    document.getElementById("issueselectwarning").style.display = "block";
                }
                else{
                    doReportDocIssue(ill, mis);
                }
            }

            function resizeModal(){
                jQuery("#main-dialog-modal").css("max-width", "1000px");
                jQuery("#simplemodal-container").animate({width: "84%", left: "8%"});
                jQuery("#main-dialog-modal").animate({width: "100%", left: "8%"});

            }

            function redirectToNewPage(){
                window.location.href = "{!springCMUploadNewWindow}";
            }

        </script>

        <!--  NAIS-69 function for displaying a popup document preview -->
        <script type="text/javascript">
            function previewDocument(id) {
                if({!!isMaintenanceWindow}){
                    popupWindow = window.open('{!$Page.DocumentPreviewPage}' + '?id=' + id,
                                                '_blank',
                                                'width=820,left=2,top=2,resizable=yes,scrollbars=yes,toolbar=no,menubar=no,location=no,directories=no,status=yes');
                    popupWindow.focus();
                }
            }

            function previewDocumentpdf(id) {
                if({!!isMaintenanceWindow}){
                    popupWindow = window.open('{!$Page.DocumentPreviewPagePDF}' + '?id=' + id,
                                                '_blank',
                                                'width=820,left=2,top=2,resizable=yes,scrollbars=yes,toolbar=no,menubar=no,location=no,directories=no,status=yes');
                    popupWindow.focus();
                }
            }

        </script>

        <!-- actionFunction definitions for Upload controller actions -->
        <apex:actionFunction name="doInitIECOMP" action="{!doInitIECOMP}" rerender="dialog-step-panel" status="doInitDialogStatus">
        </apex:actionFunction>
        <apex:actionFunction name="doInitUploadDialog" action="{!doInitUploadDialog}" rerender="dialog-step-panel" status="doInitDialogStatus">
            <apex:param name="docYear" assignTo="{!docYear}" value=""/>
            <apex:param name="docType" assignTo="{!docType}" value=""/>
            <apex:param name="docId" assignTo="{!docId}" value=""/>
            <apex:param name="schoolCode" assignTo="{!schoolCode}" value=""/>
            <apex:param name="createSchoolAsmnt" assignTo="{!createSchoolAsmnt}" value=""/>
            <apex:param name="pertainsTo" assignTo="{!pertainsTo}" value=""/>
            <apex:param name="springCMDocType" assignTo="{!springCMDocType}" value=""/>
            <apex:param name="schoolSpecificLabel" assignTo="{!schoolSpecificLabel}" value=""/>
            <apex:param name="showSafariText" assignTo="{!showSafariText}" value=""/>
        </apex:actionFunction>

        <apex:actionFunction name="doSpringUpload3"
            action="{!doSpringUploadAndRedirect}"
            status="doSpringUploadStatus" rerender="dialog-step-panel">
            <apex:param name="pertainsTo" assignTo="{!pertainsTo}" value=""/>
            <apex:param name="selectedSchools" assignTo="{!selectedSchools}" value=""/>
            <apex:param name="docName" assignTo="{!docName}" value=""/>
        </apex:actionFunction>

        <!-- actionFunction definitions for NA controller actions -->
        <apex:actionFunction name="doInitNADialog" action="{!doInitNADialog}" rerender="dialog-step-panel" status="doInitDialogStatus">
            <apex:param name="docYear" assignTo="{!docYear}" value=""/>
            <apex:param name="docType" assignTo="{!docType}" value=""/>
            <apex:param name="schoolCode" assignTo="{!schoolCode}" value=""/>
            <apex:param name="createSchoolAsmnt" assignTo="{!createSchoolAsmnt}" value=""/>
            <apex:param name="docLabel" assignTo="{!schoolSpecificLabel}" value=""/>
        </apex:actionFunction>

        <apex:actionFunction name="doSetDocNA" action="{!doSetDocNA}" rerender="dialog-status" status="doSetDocNAStatus">
            <apex:param name="naReason" assignTo="{!naReason}" value=""/>
        </apex:actionFunction>

        <!-- NAIS-2194 [DP] 01.29.2015 allow parent to unrequest an NA -->
        <apex:actionFunction name="doInitNARemoveDialog" action="{!doInitNARemoveDialog}" rerender="dialog-step-panel" status="doInitDialogStatus">
            <apex:param name="docId" assignTo="{!docId}" value=""/>
        </apex:actionFunction>

        <apex:actionFunction name="doDocRemoveDialog" action="{!doDocRemoveDialog}" rerender="dialog-step-panel" status="doInitDialogStatus">
            <apex:param name="docId" assignTo="{!docId}" value=""/>
        </apex:actionFunction>

        <!-- NAIS-2194 [DP] 01.29.2015 allow parent to unrequest an NA -->
        <apex:actionFunction name="doRemoveNADoc" action="{!removeNADoc}" rerender="dialog-status" status="doRemoveNADocStatus">
        </apex:actionFunction>

        <apex:actionFunction name="doRemoveDoc" action="{!removeDoc}" rerender="dialog-status" status="doRemoveDocStatus">
        </apex:actionFunction>

         <apex:actionFunction name="optOutOfSafariText" action="{!optOutOfSafariText}" rerender="dialog-status" >
        </apex:actionFunction>

         <apex:actionFunction name="optIntoSafariText" action="{!optIntoSafariText}" rerender="dialog-status" >
        </apex:actionFunction>

        <!-- NAIS-2256 [DP] 02.12.2015 allow school user to approve/deny NA -->
        <apex:actionFunction name="doInitNADenyDialog" action="{!doInitNADenyDialog}" rerender="dialog-step-panel" status="doInitDialogStatus" >
            <apex:param name="sdaId" assignTo="{!sdaId}" value=""/>
            <apex:param name="docType" assignTo="{!docType}" value=""/>
        </apex:actionFunction>

        <!-- NAIS-2256 [DP] 02.12.2015 allow school user to report issue -->
        <apex:actionFunction name="doInitIssueSetDialog" action="{!doInitIssueSetDialog}" rerender="dialog-step-panel" status="doInitDialogStatus">
            <apex:param name="docId" assignTo="{!docId}" value=""/>
            <apex:param name="docType" assignTo="{!docType}" value=""/>
        </apex:actionFunction>


        <!-- NAIS-2256 [DP] 02.12.2015 allow school user to approve/deny NA -->
        <apex:actionFunction name="doDenyNADoc" action="{!doDenyNADoc}" rerender="dialog-status" status="doDenyNADocStatus">
        </apex:actionFunction>

        <!-- NAIS-2256 [DP] 02.12.2015 allow school user to approve/deny NA -->
        <apex:actionFunction name="doApproveNADoc" action="{!doApproveNADoc}" rerender="dialog-step-panel" status="doApproveNADocStatus" oncomplete="javascript:closeAndRefresh();">
            <apex:param name="sdaId" assignTo="{!sdaId}" value=""/>
        </apex:actionFunction>

        <!-- NAIS-2256 [DP] 02.12.2015 allow school user to report issue -->
        <apex:actionFunction name="doReportDocIssue" action="{!doReportDocIssue}" rerender="dialog-status" status="doReportDocIssueStatus">
            <apex:param name="famDocIllegible" assignTo="{!famDocIllegible}" value=""/>
            <apex:param name="famDocMisLabeled" assignTo="{!famDocMisLabeled}" value=""/>
        </apex:actionFunction>

        <!-- the main modal dialog -->
        <div id="main-dialog-modal" class="block" style="display:none;">
            <apex:outputPanel id="dialog-status"></apex:outputPanel>
            <apex:outputPanel id="dialog-step-panel" >
                <apex:actionStatus id="doInitDialogStatus" startText="Please Wait..." />
                <apex:actionStatus id="doApproveNADocStatus" startText="Accepting..." onStop="javascript:closeAndRefresh();"/>

                <!-- ERROR for IE dialog -->
                <apex:outputPanel rendered="{!dialogPage == 'IE_COMP'}">
                    <div class="blockheader">
                        <h2>
                            Compatibility Mode Error
                            <span class="closex">
                                <apex:outputLink value="familydocuments?academicyearid={!academicyearid}&id={!pfsRecord.Id}">x</apex:outputLink>
                            </span>
                        </h2>
                    </div>
                    <div class="safaribody" id="safariText2">
                        <apex:outputField value="{!theHelp.COMPATIBILITY_Upload_Error__c}" styleClass="safariwarningclass"/>
                    </div>
                    <div class="blockfooter">
                        <div class="buttonsWrap">
                            <div class="centerButtons">
                                <apex:commandButton value="Cancel" onClick="javascript:closeAndRefresh();" styleClass="cancel" />
                            </div>
                        </div>
                    </div>
                </apex:outputPanel>

                <!-- UPLOAD dialog: Document Selection page -->
                <apex:outputPanel rendered="{!dialogPage == 'SELECT_DOC'}">
                    <script>
                        function setDefaultPertainsTo(pertainsToValue) {
                            if ((pertainsToValue != null) && (pertainsToValue !='')) {
                                pertainsToValue = pertainsToValue.replace('Parent ','');
                                if(document.getElementById('pertains_to_selection_'+pertainsToValue)!=null){
                                    document.getElementById('pertains_to_selection_'+pertainsToValue).selected = true;
                                }
                                document.getElementById('pertains_to_selection').disabled = true;
                            }
                        }
                    </script>

                    <div class="blockheader">
                        <h1>
                            Add Document
                            <span class="closex">
                                <apex:outputLink onClick="javascript:var resp = ('{!$Label.Message_Close_Upload_Document_Window}'!=''?confirm('{!$Label.Message_Close_Upload_Document_Window}'):true);if(resp){location.reload();}else{return false;}" >x</apex:outputLink>
                            </span>
                        </h1>
                    </div>
                    <div class="blockbody">
                        <p >Please define what document you want to upload.</p>

                        <label >Document Type</label>
                        <apex:inputText value="{!docType}" disabled="true"/>

                        <!-- Don't display year for Other/Misc docs -->
                        <div style="display:{!IF(docType == 'Other/Misc Tax Form', 'none', 'block')}">

                            <label >Year:</label>

                            <apex:inputText value="{!docYear}" disabled="true"/>
                        </div>
                        <label> Pertains To</label>

                        <select id="pertains_to_selection">
                            <option id="pertains_to_selection_A" value="A">Parent A [{!pfsRecord.Parent_A__r.FirstName} {!pfsRecord.Parent_A__r.LastName}]</option>
                            <apex:outputPanel rendered="{!pfsRecord.Parent_B__c != null}">
                                <option id="pertains_to_selection_B" value="B">Parent B [{!pfsRecord.Parent_B__r.FirstName} {!pfsRecord.Parent_B__r.LastName}]</option>
                            </apex:outputPanel>
                              <option id="pertains_to_selection_S" value="S">Student</option>
                            <option id="pertains_to_selection_D" value="D">Dependent</option>
                        </select>

                        <!-- NAIS-2334: Add "document name" field for miscellaneous documents -->
                        <label style="display:{!IF(AND(isSchoolPortal,docType == 'Other/Misc Tax Form'), 'block', 'none')};">Document Name</label>
                        <apex:inputText id="docName" value="{!docName}" style="display:{!IF(AND(isSchoolPortal,docType == 'Other/Misc Tax Form'), 'block', 'none')};"/>

                        <apex:outputPanel rendered="{!IF(AND(docType = 'Other/Misc Tax Form',NOT(isSchoolPortal)),true,false)}">
                        <span style="font-size: 100%; padding-bottom: 5px; font-style: italic; color: red;">If you upload a tax document here, it will only go to the schools which require it.</span>
                        <label>Select School(s) for Additional Document.</label>
                            <apex:outputPanel rendered="{!renderSchoolRequiredText}">
                                <span style="font-size: 100%; padding-bottom: 5px; font-style: italic; color: red;">
                                {!$Label.Family_Must_Select_School}
                                </span>
                            </apex:outputPanel>

                            <apex:repeat value="{!schoolsList}" var="school">
                                 <input id="{!school.value}" type="checkbox" name="selectedschools[]" value="{!school.value}" style="display:inline; width:15px;margin-bottom:3px;" class="schoolCheckbox"/>
                                 <label for="{!school.value}" style="display:inline;">{!school.label}</label>
                                 <br />
                            </apex:repeat>

                        </apex:outputPanel>

                        <script>
                            setDefaultPertainsTo("{!pertainsTo}");
                        </script>

                    </div>
                    <div class="blockfooter">
                        <div class="buttonsWrap">
                            <div class="centerButtons">
                                <apex:commandButton value="Cancel" id="selectDocCancel" onClick="javascript:closeAndRefresh();" styleClass="cancel" />
                                <apex:commandButton value="Next" id="selectDocNext" styleClass="primary" onClick="doSpringUpload3(document.getElementById('pertains_to_selection').value, getSelectedSchoolsValues(), jQuery('input[id*=docName]').val());" status="doSpringUploadStatus" immediate="true" oncomplete="return false;" />

                                <apex:actionStatus id="doSpringUploadStatus"
                                    startText="Please Wait..."
                                    onStart="document.getElementById('{!$Component.selectDocNext}').disabled=true;document.getElementById('{!$Component.selectDocCancel}').disabled=true;"/>
                            </div>
                        </div>
                    </div>
                </apex:outputPanel>

                <!-- NAIS-1898 [DP] if authentication fails we show this message -->
                <!-- UPLOAD dialog: SpringCM Authentication FAILED -->
                <apex:outputPanel rendered="{!dialogPage == 'AUTH_ERROR'}">
                    <div class="blockheader">
                        <h1>
                            Error
                            <span class="closex">
                                <apex:outputLink value="familydocuments?academicyearid={!academicyearid}&id={!pfsRecord.Id}">x</apex:outputLink>
                            </span>
                        </h1>
                    </div>
                    <div class="blockbody">
                        <p>
                            There was an error initiating document upload.
                        </p>
                        <p>
                            Please  <apex:outputLink value="familydocuments?academicyearid={!academicyearid}&id={!pfsRecord.Id}"> click here</apex:outputLink> to refresh this page and try again.  If you continue to encounter issues trying to upload your document(s), please contact {!$Label.Company_Name_Full} at 800-344-8328 (from outside of the US or Canada, dial 952-967-9922). Do not upload password protected documents. Documents that are password protected will not be processed.
                        </p>

                    </div>
                </apex:outputPanel>

                <apex:outputPanel rendered="{!dialogPage == 'UPLOAD_DOC_NEW_WINDOW'}">
                    <div class="blockheader">
                        <h2>
                            {!docYear} {!docType} - {!pertainsTo}
                            <span class="closex">
                            </span>
                        </h2>
                    </div>
                </apex:outputPanel>

                <!-- NA dialog -->
                <apex:outputPanel rendered="{!dialogPage == 'NA_DOC'}">
                    <script>

                        (function checkType() {
                            var isSchoolPortalUser = {!isSchoolPortal};
                            if( isSchoolPortalUser ) {
                                $j('.naModal__BodySection.naModal__BodySection--User').addClass('naModal__Footer--hidden');
                                $j('.naModal__Footer--submit').removeClass('naModal__Footer--hidden');

                            }
                        })();

                        function submitNA() {
                            // Disable the submit button so users cannot submit multiple docs.
                            disableButtons('.submit-na-doc-btn');
                            console.log('Begin submitting NA Doc.');
                            var isSchoolPortalUser = {!isSchoolPortal};
                            var valueToSend = null;
                            if( isSchoolPortalUser) {
                                valueToSend = document.getElementById('na_reason_text_school').value;
                            } else {
                                valueToSend = document.getElementById('na_reason_text').value;
                            }
                            console.log('Value To Send', valueToSend);
                            if(!valueToSend) {
                                // There's no value here, reveal the error section.
                                $j('.naModal__Footer--submitError').removeClass('naModal__Footer--hidden');
                                // Enable the submit button again so the user can correct errors and try again.
                                enableButtons('.submit-na-doc-btn');
                            }
                            else{
                                // We have a value and we are clear for launch. Attempt to submit the NA Doc!
                                doSetDocNA(valueToSend);
                            }
                        }
                    </script>

                    <apex:outputPanel >
                        <div class="naModal__Header">
                            <h1>
                                You selected N/A for:
                                <span class="closex">
                                    <apex:outputLink value="familydocuments?academicyearid={!academicyearid}&id={!pfsRecord.Id}">x</apex:outputLink>
                                </span>

                            </h1>
                        </div>
                        <div class="naModal__Body">
                            <div class="naModal__Description">
                                {!docType}
                            </div>
                            <!-- HIDE THIS WHEN we are in a school portal  -->
                            <div class="naModal__BodySection naModal__BodySection--User">
                                Will you be getting this document later in the year?
                                <div class="naModal__Radio">
                                    <input id="naYes" type="radio" name="naSelectSchool" value="Yes" onChange="changeRadioButton()" />
                                    <label for = "naYes">Yes</label>

                                    <input id="naNo" type="radio" name="naSelectSchool" value="No" onChange="changeRadioButton()" />
                                    <label for="naNo">No</label>
                                </div>
                            </div>
                        </div>

                        <div class="naModal__Footer naModal__Footer--ok naModal__Footer--hidden">
                            <div class="naModal__Footer--Body naModal__Footer--error">
                                <p>{!$Label.Cannot_select_NA_Upload_on_receive}</p>
                            </div>

                            <div class="naModal__Footer--buttons">
                                <div class="naModal__Footer--flex">
                                    <apex:commandButton value="OK" onClick="javascript:closeAndRefresh();" styleClass="primary" />
                                </div>
                            </div>
                        </div>

                        <!-- Show this  THIS WHEN we are in a school portal  -->
                        <div class="naModal__Footer naModal__Footer--submit naModal__Footer--hidden">
                            <div class="naModal__Footer--Body ">
                                <apex:outputPanel rendered="{!NOT(isSchoolPortal)}" >
                                    <p> {!$Label.Doc_Does_Not_Apply_Help_Text} </p>

                                    <textarea rows="4" cols="50" id="na_reason_text" />

                                    <div class="naModal__Footer--error">
                                        {!$Label.Document_Spring_Upload_Modal}
                                        <div class="naModal__Footer--submitError naModal__Footer--hidden">
                                            A value is required in the description field.
                                        </div>
                                    </div>
                                </apex:outputPanel>

                                <apex:outputPanel rendered="{!isSchoolPortal}" >
                                    <apex:outputText escape="false" value="{!$Label.NA_Button_Document_Help}">
                                    </apex:outputText>

                                    <textarea rows="4" cols="50" id="na_reason_text_school" />

                                    <div class="naModal__Footer--error">
                                        {!$Label.Document_Spring_Upload_Modal}
                                        <div class="naModal__Footer--submitError naModal__Footer--hidden">
                                            A value is required in the description field.
                                        </div>
                                    </div>
                                </apex:outputPanel>

                            </div>
                            <div class="naModal__Footer--buttons">
                                <div class="naModal__Footer--flex">
                                    <apex:commandButton value="Cancel" onClick="javascript:closeAndRefresh();" styleClass="cancel" />
                                    <apex:commandButton value="Submit" onClick="javascript:submitNA();" styleClass="primary submit-na-doc-btn" id="submit-na-doc-btn"/>
                                </div>
                                <div class="naModal__Footer--flex naModal__Footer--updating">
                                    <apex:actionStatus startText="Updating..." id="doSetDocNAStatus" onStop="javascript:closeAndRefresh();"/>
                                </div>
                            </div>
                        </div>
                    </apex:outputPanel>
                </apex:outputPanel>

                <!-- NA Remove dialog NAIS-2194 [DP] 01.29.2015 allow parent to unrequest an N/A-->
                <apex:outputPanel rendered="{!dialogPage == 'NA_DOC_REMOVE'}">
                    <div class="blockheader">
                        <h1>
                            {!docType} NOT APPLICABLE Removal
                            <span class="closex">
                                <apex:outputLink value="familydocuments?academicyearid={!academicyearid}&id={!pfsRecord.Id}">x</apex:outputLink>
                            </span>
                        </h1>
                    </div>
                    <div class="blockbody">
                        <!-- NAIS-1805 Start -->
                        <apex:outputPanel rendered="{!Not(isSchoolPortal)}" >
                            <p>Are you sure you want to remove your designation of "Not Applicable" for this Document?</p>
                            <p>Any details regarding this request will be lost.</p>
                        </apex:outputPanel>
                        <!-- NAIS-1805 End -->
                    </div>

                    <div class="blockfooter">
                        <div class="buttonsWrap">
                            <div class="centerButtons">
                                <apex:commandButton value="Cancel" onClick="javascript:closeAndRefresh();" styleClass="cancel" />
                                <apex:commandButton value="Remove" onClick="javascript:doRemoveNADoc();" styleClass="primary"/>
                                <apex:actionStatus startText="Updating..." id="doRemoveNADocStatus" onStop="javascript:closeAndRefresh();"/>
                            </div>
                        </div>
                    </div>
                </apex:outputPanel>

                <apex:outputPanel rendered="{!dialogPage == 'DOC_REMOVE'}">
                    <div class="blockheader">
                        <h1>
                            {!docType} Removal
                            <span class="closex">
                                <apex:outputLink value="familydocuments?academicyearid={!academicyearid}&id={!pfsRecord.Id}">x</apex:outputLink>
                            </span>
                        </h1>
                    </div>
                    <div class="blockbody">
                        <apex:outputPanel rendered="{!isFamilyPortal}" >
                            <apex:outputText value="{!$Label.Family_Document_Remove_Dialog_Message}" escape="false"/>
                        </apex:outputPanel>
                    </div>

                    <div class="blockfooter">
                        <div class="buttonsWrap">
                            <div class="centerButtons">
                                <apex:commandButton value="Cancel" onClick="javascript:closeAndRefresh();" styleClass="cancel" />
                                <apex:commandButton value="Remove" onClick="javascript:doRemoveDoc();" styleClass="primary"/>
                                <apex:actionStatus startText="Updating..." id="doRemoveDocStatus" onStop="javascript:closeAndRefresh();"/>
                            </div>
                        </div>
                    </div>
                </apex:outputPanel>

                <!-- NAIS-2256 [DP] 02.12.2015 allow school user to approve/deny NA -->
                <apex:outputPanel rendered="{!dialogPage == 'NA_DOC_APPROVE'}">
                    <div class="blockbody">
                        <p>
                            N/A Accepted
                        </P>
                    </div>
                </apex:outputPanel>

                <!-- NAIS-2256 [DP] 02.12.2015 allow school user to approve/deny NA -->
                <apex:outputPanel rendered="{!dialogPage == 'NA_DOC_DENY'}">
                    <div class="blockheader">
                        <h1>
                            {!docType} NOT APPLICABLE Denial
                        </h1>
                    </div>
                    <div class="blockbody">
                            <p>Are you sure you want to deny the N/A request for this document?</p>
                            <p>Denying the request for the N/A will cause the family to be notified to upload a document to meet that requirement.</p>
                    </div>

                    <div class="blockfooter">
                        <div class="buttonsWrap">
                            <div class="centerButtons">
                                <apex:commandButton value="Cancel" onClick="javascript:closeAndRefresh();" styleClass="cancel" />
                                <apex:commandButton value="Deny" onClick="javascript:doDenyNADoc();" styleClass="primary"/>
                                <apex:actionStatus startText="Updating..." id="doDenyNADocStatus" onStop="javascript:closeAndRefresh();"/>
                            </div>
                        </div>
                    </div>
                </apex:outputPanel>

                <!-- NAIS-2256 [DP] 02.12.2015 allow school user to report issue -->
                <apex:outputPanel rendered="{!dialogPage == 'ISSUE_DOC_SET'}">
                    <div class="blockheader">
                        <h1>
                            {!docType} Issue
                            <span class="closex">
                                <apex:outputLink value="#" onClick="javascript:closeAndRefresh();">x</apex:outputLink>
                            </span>
                        </h1>
                    </div>
                    <div class="blockbody">
                        <p>Please select the issue(s) below.</p>
                        <div style="display:table; width:50%; align:center; padding-left:20px;">
                            <div style="display:table-row;">

                                <div style="display:table-cell; width:15%">
                                    <apex:inputCheckbox value="{!famDocIllegible}" label="Illegible Document" id="famDocIllegible" disabled="{!famDocIllegible}"></apex:inputCheckbox>
                                </div>
                                <div style="display:table-cell;">
                                    <apex:outputLabel value="Illegible Document" ></apex:outputLabel>
                                </div>
                            </div>

                            <div style="display:table-row;">
                                <div style="display:table-cell; width:15%">
                                    <apex:inputCheckbox value="{!famDocMisLabeled}" label="Mis-Labeled Document" id="famDocMisLabeled" disabled="{!famDocMisLabeled}"></apex:inputCheckbox>
                                </div>
                                <div style="display:table-cell;">
                                    <apex:outputLabel value="Mis-Labeled Document" ></apex:outputLabel>
                                </div>
                            </div>
                        </div>

                        <div style="display:none; color:red;" id="issueselectwarning">
                            Please select at least one issue.
                        </div>
                    </div>

                    <div class="blockfooter">
                        <div class="buttonsWrap">
                            <div class="centerButtons">
                                <apex:commandButton value="Cancel" onClick="javascript:closeAndRefresh();" styleClass="cancel" id="drewbuttontest2"/>
                                <apex:commandButton value="Report Issue" onClick="javascript:validateAndReportDocIssue('{!$Component.famDocIllegible}', '{!$Component.famDocMisLabeled}');" styleClass="primary" disabled="{!AND(famDocMisLabeled, famDocIllegible)}"/>
                                <apex:actionStatus startText="Updating..." id="doReportDocIssueStatus" onStop="javascript:closeAndRefresh();"/>
                            </div>
                        </div>
                    </div>
                </apex:outputPanel>

            </apex:outputPanel>
        </div>
    </apex:form>

    <!--[SFP-171] these styles near bottom since the property not wrapped in quotes breaks IDE coloringformatting -->
    <style>
        .actionButtons li .btn{
            cursor: {!IF(isMaintenanceWindow,'default','pointer')} !important;
        }

        .btn.primary.springCM{
            cursor: {!IF(isMaintenanceWindow,'default','pointer')} !important;
            {!IF(isMaintenanceWindow,'text-decoration:none !important;','')}
        }

        .fileLink{
            cursor: {!IF(isMaintenanceWindow,'default','pointer')} !important;
        }
    </style>

</apex:component>