<apex:component >
    <apex:attribute name="mainController" description="The main family payment controller" type="FamilyPaymentController" required="true"/>
    
    <script>
    function showhideWaiverInfo(selectedValue) {
        if (selectedValue == "Waiver") {
            document.getElementById("waiverInfo").style.display = 'block';
        } else {
            document.getElementById("waiverInfo").style.display = 'none';
        }
    }
    </script>
    
    <div class="block fp">
        <div class="blockheader">
            PFS Payment: Select Payment Method
        </div>
        
        <div class="blockbody detaillist">
            
            <c:FamilyPaymentTypeRadioOption radioName="paymentTypeParam" 
                    radioValue="Credit/Debit" 
                    radioLabel="Credit/Debit Card - We accept Visa, Mastercard, Discover, and American Express" 
                    radioId="cc_option" 
                    radioChecked="{!mainController.paymentData.isCreditCardPaymentType}"
                    onchange="showhideWaiverInfo(this.value);" />
            <br/>
                    
            <c:FamilyPaymentTypeRadioOption radioName="paymentTypeParam" 
                    radioValue="eCheck" 
                    radioLabel="Electronic check - To pay by check, select this option and input your bank routing and account number on the next screen." 
                    radioId="check_option" 
                    radioChecked="{!mainController.paymentData.isECheckPaymentType}"
                    onchange="showhideWaiverInfo(this.value);" />
            <br/>
            
            <!-- <c:FamilyPaymentTypeRadioOption radioName="paymentTypeParam" 
                    radioValue="Waiver" 
                    radioLabel="I have a waiver - Only select if a school contact has told you they will waive your application fee." 
                    radioId="waiver_option" 
                    radioChecked="{!mainController.paymentData.isWaiverPaymentType}"
                    onchange="showhideWaiverInfo(this.value);" /> -->
            <!-- <br/> -->
            
            <div id="waiverInfo" style="display:{!IF(mainController.paymentData.paymentType == 'Waiver', 'block', 'none')}">
                <apex:outputLabel style="color: red; font-weight: bold;" value="{!$Label.ERROR_No_Waiver_Schools_Available}" rendered="{!OR(mainController.schoolsAppliedSelectOptions == null, mainController.schoolsAppliedSelectOptions.size == 0)}" />
                <apex:outputPanel rendered="{!AND(mainController.schoolsAppliedSelectOptions != null, mainController.schoolsAppliedSelectOptions.size > 0)}">
                	School that provided waiver: &nbsp;
	                <apex:selectlist value="{!mainController.waiverSchool}" size="1" styleClass="paymentFieldRequired" >  
	                    <apex:selectOption itemValue="NONE" itemLabel="" />                     
	                    <apex:selectOptions value="{!mainController.schoolsAppliedSelectOptions}"/>
	                </apex:selectlist>
	                &nbsp;&nbsp;
	                School Contact Name:&nbsp;
	                <apex:inputText value="{!mainController.waiverContactName}" styleClass="paymentFieldRequired"/>
                </apex:outputPanel>
            </div>
            
            <div id="paymentTotal">Total:&nbsp;<apex:outputText value="{0, number,$###,###,##0.00}"><apex:param value="{!mainController.paymentData.paymentAmount}" /></apex:outputText></div>
            
        </div>
    </div>
</apex:component>