<apex:component controller="FamilyHelpCenterSearchController">

        <apex:attribute name="pfsRecord" description="The PFS record that the component should work with" type="Id" assignTo="{!pfsId}" />
        <apex:attribute name="academicYearId" description="The Academic Year Id" type="String" assignTo="{!yearId}" />

        <style>
            .helpCenter__search {
                display: flex;
                justify-content: center;
                flex-grow: 1;
                margin: .5em;
            }

            .helpCenter__search--button {
                background: -webkit-linear-gradient(top, #9b92ab 0%, #5a4c70 43%, #5a4c70 100%);
                border-radius: 5px;
                margin: 0 5px;
                padding: .5em 1em;
                cursor: pointer;
            }

            .helpCenter__search > input {
                font-size: 1.2em;
            }
        </style>

        <apex:actionFunction name="submitSearch" action="{!onSubmit}" />
        <div class="helpCenter__search"> 
            <apex:inputText value="{!searchString}" id="theSearchstring" maxlength="100" size="110" onchange="handleOnChange(event)" onkeypress="handleKeyPress( event)"/>
            <div class="helpCenter__search--button" onClick="submitSearch()">
                <apex:image url="{!URLFOR($Resource.FamilyPortalImages, 'FamilyPortalImages/search.png')}" height="20" width="20"/>
            </div>

             <div id="searchResults" class="helpCenter__search--results">
                <p>RESULTS</p>
            </div>
        </div>

         <script type="text/javascript">
            function handleKeyPress(e) {
                console.log('DEBUG:', e.target.value);
                FamilyHelpCenterSearchController.searchKnowledgeArticles(e.target.value, function(result, event) {
                    console.log('HERE', result);
                    $.each( result, function( key, value ) {
                        $( "#searchResults" ).append( "<p>" + value.Title+ "</p>" );
                    });
                    
                });

                // Handle Enter
                if( e.keyCode == 13) {
                    e.preventDefault();
                    submitSearch();
                }
            }

            function handleOnChange(e) {
                console.log('handleOnChange:', e.target.value);
            }
        </script>
</apex:component>