<apex:component controller="FamilyAppCompController">

    <apex:attribute name="pfsRecord" 
                    description="The PFS record that the component should work with" 
                    type="PFS__c" 
                    assignTo="{!pfs}" />
    <apex:attribute name="applicationUtility" 
                    assignTo="{!appUtils}" 
                    description="An instance of ApplicationUtils passed in from the main page" 
                    type="ApplicationUtils" 
                    required="true"/>
    <apex:attribute name="userRecord" 
                    description="The User language" 
                    type="User" 
                    assignTo="{!loggedUser}" />

    <style type="text/css">
        .apexp .bPageBlock.apexDefaultPageBlock .pbBody .pbSubheader h3{
            font-size: 0.9em;
            color: #393536;
            font-weight: bold;
        }
    </style>

    <apex:actionFunction name="setParentBCountry" action="{!setParentValue}" rerender="ParentBState" status="RequestStatus" immediate="true" oncomplete="copyState();">
        <apex:param name="parentBCountry" assignTo="{!pfs.Parent_B_Country__c}" value=""/>
    </apex:actionFunction>  
     <apex:actionFunction name="setParentCCountry" action="{!setParentValue}" rerender="ParentCState" status="RequestStatus" immediate="true" oncomplete="copyStateC();">
        <apex:param name="parentCCountry" assignTo="{!pfs.Addl_Parent_Country__c}" value=""/>
    </apex:actionFunction>
    
    <apex:actionFunction name="setParentBPreferredPhone" action="{!setParentValue}" rerender="ParentBHomePhone,ParentBWorkPhone,ParentBMobilePhone" immediate="true" status="RequestStatus">
        <apex:param name="preferredPhone" assignTo="{!pfs.Parent_B_Preferred_Phone__c}" value=""/>
    </apex:actionFunction>  
    
    <apex:outputPanel styleClass="helpmessage" layout="block"><apex:outputText value="{!appUtils.helpRecord.PG_Instruction__c}"/></apex:outputPanel>
    <script type="text/javascript">
      var j$ = jQuery.noConflict();
      function esc(myid) {
         return '#' + myid.replace(/(:|\.)/g,'\\\\$1'); 
      }  
      var divorcedItem;
      /* Start:SFP-164 Does this student live with parents or guardians other than those listed as Parent A 
      and B on the PFS? Should not show a Please Wait for an initial No answer. */
      j$(document).ready(function() {
          var otherParentQuestionField = j$('select[id$=otherParentQuestion]');
          var otherParentQuestionInitialValue = null;
          
          if( otherParentQuestionField != null ){
            otherParentQuestionInitialValue = otherParentQuestionField.val();
            
            otherParentQuestionField.change(function() {
                j$('input#valueSetOnchange').val( otherParentQuestionInitialValue==null && j$(this).val()=='No'
                                                ? '0' : '1' );
            });
          }
    });
    /* End: SFP-164 */
      function copyState() {
           j$(esc(ParentBState)).val( j$(esc(ParentAState)).val());
      }
      
      function copyStateC() {
           j$('select[id*="ParentCState"]').val(j$(esc(ParentAState)).val());
      }
      
      function copyParentAAddress(parentName) {
      // BC - Note the pattern is different for ParentAState and ParentBState, this is due to that both are
      // dependent picklist and the dom may change, due to the country selected, so we don't carry a element 
      // reference, but the actual element id, instead.

          if (parentName == 'ParentB') {
          
               var isParentBInfoEmpty = ParentBCountry.val() == '' && 
                                   ParentBCity.val() == '' && 
                                   ParentBAddress.val() == '' &&                                  
                                   ParentBPostalCode.val() == '';
                                          
              if (!isParentBInfoEmpty && !confirm('{!$Label.PG_Same_Address_Warning}')) {
                  return false; 
              }   
                       
              ParentBCountry.val(ParentACountry.val());                                                               
              ParentBCity.val(ParentACity.val());
              ParentBAddress.val(ParentAAddress.val());
              ParentBPostalCode.val(ParentAPostalCode.val());
              
              // BC - Here we need to force the country update, via call back to controller as the country/state is a dependent picklist, so 
              // need to be certain the parent B state list is refreshed appropriately.
              setParentBCountry(ParentACountry.val()); 
              
          } else if (parentName == 'ParentC') {
          
            var isParentCInfoEmpty = ParentCCountry.val() == '' && 
                                   ParentCCity.val() == '' && 
                                   ParentCAddress.val() == '' &&                                  
                                   ParentCPostalCode.val() == '';
                                          
              if (!isParentCInfoEmpty && !confirm('{!$Label.Additional_Parent_Same_Address_Warning}')) {
                  return false; 
              }   
                       
              ParentCCountry.val(ParentACountry.val());                                                               
              ParentCCity.val(ParentACity.val());
              ParentCAddress.val(ParentAAddress.val());
              ParentCPostalCode.val(ParentAPostalCode.val());
              
              setParentCCountry(ParentACountry.val()); 
          }
        }
    </script>
    
    <div class="block fp">
        <div class="blockbody nopadding" style="display: {!IF(showReceivedDate,'block','none')};">
            <apex:pageBlock >
                <apex:pageBlockSection columns="1" collapsible="true" title="Data Bank">
                    <apex:inputField onChange="setChanged()" value="{!pfs.Received_Date__c}" styleClass="required"/>
                </apex:pageBlockSection>
            </apex:pageBlock>
        </div>
    
        <div class="blockbody nopadding">
        <apex:outputPanel id="parentASpan">

            <apex:pageBlock >
                <apex:pageBlockSection columns="1" collapsible="true" title="{!$Label.PG_Parent_A}">
                    <apex:pageBlockSectionItem >
                        <apex:outputPanel >
                            <apex:outputLabel value="{!appUtils.labels.Parent_A_Prefix__c}"/>
                            <c:vfInlineHelp inlineHelp="{!$ObjectType.PFS__c.Fields.Parent_A_Prefix__c.inlineHelpText}"/>
                        </apex:outputPanel>
                        <apex:inputField onChange="setChanged()" value="{!pfs.Parent_A_Prefix__c}" />
                    </apex:pageBlockSectionItem>
                    <apex:pageBlockSectionItem >
                        <apex:outputPanel >
                            <apex:outputLabel value="{!appUtils.labels.Parent_A_First_Name__c}"/>
                            <c:vfInlineHelp inlineHelp="{!$ObjectType.PFS__c.Fields.Parent_A_First_Name__c.inlineHelpText}"/>
                        </apex:outputPanel>
                        <!-- Set Parent A first name to Read Only [dp] 1.29.14 NAIS-1546 -->
                        <!--<apex:inputField onChange="setChanged()" value="{!pfs.Parent_A_First_Name__c}" required="true" styleClass="required" />-->
                        <apex:outputField value="{!pfs.Parent_A_First_Name__c}" />
                    </apex:pageBlockSectionItem>
                    <apex:pageBlockSectionItem >
                        <apex:outputPanel >
                            <apex:outputLabel value="{!appUtils.labels.Parent_A_Middle_Name__c}"/>
                            <c:vfInlineHelp inlineHelp="{!$ObjectType.PFS__c.Fields.Parent_A_Middle_Name__c.inlineHelpText}"/>
                        </apex:outputPanel>
                        <apex:inputField onChange="setChanged()" value="{!pfs.Parent_A_Middle_Name__c}" />
                    </apex:pageBlockSectionItem>
                    <apex:pageBlockSectionItem >
                        <apex:outputPanel >
                            <apex:outputLabel value="{!appUtils.labels.Parent_A_Last_Name__c}"/>
                            <c:vfInlineHelp inlineHelp="{!$ObjectType.PFS__c.Fields.Parent_A_Last_Name__c.inlineHelpText}"/>
                        </apex:outputPanel>
                        <!-- Set Parent A Last Name to Read Only [dp] 1.29.14 NAIS-1546 -->
                        <!--<apex:inputField onChange="setChanged()" value="{!pfs.Parent_A_Last_Name__c}" required="true" styleClass="required" />-->
                        <apex:outputField value="{!pfs.Parent_A_Last_Name__c}" />
                    </apex:pageBlockSectionItem>
                    <apex:pageBlockSectionItem >
                        <apex:outputPanel >
                            <apex:outputLabel value="{!appUtils.labels.Parent_A_Suffix__c}"/>
                            <c:vfInlineHelp inlineHelp="{!$ObjectType.PFS__c.Fields.Parent_A_Suffix__c.inlineHelpText}"/>
                        </apex:outputPanel>
                        <apex:inputField onChange="setChanged()" value="{!pfs.Parent_A_Suffix__c}" />
                    </apex:pageBlockSectionItem>
                    <apex:pageBlockSectionItem >
                        <apex:outputPanel >
                            <apex:outputLabel value="{!appUtils.labels.Parent_A_Birthdate__c}"/>
                            <c:vfInlineHelp inlineHelp="{!$ObjectType.PFS__c.Fields.Parent_A_Birthdate__c.inlineHelpText}"/>
                        </apex:outputPanel>
                        <apex:inputField onChange="setChanged()" value="{!pfs.Parent_A_Birthdate__c}" required="true" styleClass="required" />
                    </apex:pageBlockSectionItem>
                    <apex:pageBlockSectionItem >
                        <apex:outputPanel >
                            <apex:outputLabel value="{!appUtils.labels.Parent_A_Gender__c}"/>
                            <c:vfInlineHelp inlineHelp="{!$ObjectType.PFS__c.Fields.Parent_A_Gender__c.inlineHelpText}"/>
                        </apex:outputPanel>
                        <apex:inputField onChange="setChanged()" value="{!pfs.Parent_A_Gender__c}" required="true" styleClass="required" />
                    </apex:pageBlockSectionItem>
                    <apex:pageBlockSectionItem ><!-- SFP-10, [G.S] -->
                        <apex:outputPanel >
                            <apex:outputLabel value="Language"/>
                        </apex:outputPanel>
                        <apex:selectList id="language" value="{!loggedUser.LanguageLocaleKey}" size="1" >
                            <apex:selectOptions value="{!languages}" />
                        </apex:selectList>
                    </apex:pageBlockSectionItem>
                </apex:pageBlockSection>
            </apex:pageBlock>                    

            <apex:pageBlock >
                <apex:pageBlockSection title="{!$Label.PG_Contact_Info}" columns="1" collapsible="true">
                    <apex:pageBlockSectionItem >
                        <apex:outputPanel >
                            <apex:outputLabel value="{!appUtils.labels.Parent_A_Country__c}"/>
                            <c:vfInlineHelp inlineHelp="{!$ObjectType.PFS__c.Fields.Parent_A_Country__c.inlineHelpText}"/>
                        </apex:outputPanel>
                        <apex:outputPanel >
                          <!--  BC - Note we add an onchange here, when typically not necessary, but not refreshing dependent pick list value (parent a state) -->
                            <apex:inputField id="ParentACountry" value="{!pfs.Parent_A_Country__c}" required="true" styleClass="required">
                              <apex:actionSupport status="RequestStatus" event="onchange" oncomplete="setChanged()" rerender="ParentAState" />
                            </apex:inputField>
                            <script type="text/javascript">var ParentACountry = j$(esc('{!$Component.ParentACountry}'))</script>
                        </apex:outputPanel>                     
                    </apex:pageBlockSectionItem>
                    <apex:pageBlockSectionItem >
                        <apex:outputPanel >
                            <apex:outputLabel value="{!appUtils.labels.Parent_A_Address__c}"/>
                            <c:vfInlineHelp inlineHelp="{!$ObjectType.PFS__c.Fields.Parent_A_Address__c.inlineHelpText}"/>
                        </apex:outputPanel>
                        <apex:outputPanel >
                            <apex:inputField onChange="setChanged()" id="ParentAAddress" value="{!pfs.Parent_A_Address__c}" required="true" styleClass="required" />
                            <script type="text/javascript">var ParentAAddress = j$(esc('{!$Component.ParentAAddress}'))</script>
                        </apex:outputPanel>                     
                    </apex:pageBlockSectionItem>
                    <apex:pageBlockSectionItem >
                        <apex:outputPanel >
                            <apex:outputLabel value="{!appUtils.labels.Parent_A_City__c}"/>
                            <c:vfInlineHelp inlineHelp="{!$ObjectType.PFS__c.Fields.Parent_A_City__c.inlineHelpText}"/>
                        </apex:outputPanel>
                        <apex:outputPanel >
                            <apex:inputText id="ParentACity" maxlength="40" value="{!pfs.Parent_A_City__c}" required="true" styleClass="required"/>
                            <script type="text/javascript">var ParentACity = j$(esc('{!$Component.ParentACity}'))</script>
                        </apex:outputPanel>                     
                    </apex:pageBlockSectionItem>
                    <apex:pageBlockSectionItem >
                        <apex:outputPanel >
                            <apex:outputLabel value="{!appUtils.labels.Parent_A_State__c}"/>
                            <c:vfInlineHelp inlineHelp="{!$ObjectType.PFS__c.Fields.Parent_A_State__c.inlineHelpText}"/>
                        </apex:outputPanel>
                        <apex:outputPanel >
                            <apex:inputField onChange="setChanged()" id="ParentAState" value="{!pfs.Parent_A_State__c}" styleClass="{!IF(pfs.Parent_A_Country__c == 'United States' || pfs.Parent_A_Country__c == 'Canada', 'required', '')}" required="{!IF(pfs.Parent_A_Country__c == 'United States' || pfs.Parent_A_Country__c == 'Canada', true, false)}"/>
                            <script type="text/javascript">var ParentAState = '{!$Component.ParentAState}'</script>
                        </apex:outputPanel>                     
                    </apex:pageBlockSectionItem>
                    <apex:pageBlockSectionItem >
                        <apex:outputPanel >
                            <apex:outputLabel value="{!appUtils.labels.Parent_A_ZIP_Postal_Code__c}"/>
                            <c:vfInlineHelp inlineHelp="{!$ObjectType.PFS__c.Fields.Parent_A_ZIP_Postal_Code__c.inlineHelpText}"/>
                        </apex:outputPanel>
                        <apex:outputPanel >
                            <apex:inputField onChange="setChanged()" id="ParentAPostalCode" value="{!pfs.Parent_A_ZIP_Postal_Code__c}" required="true" styleClass="required" />
                            <script type="text/javascript">var ParentAPostalCode = j$(esc('{!$Component.ParentAPostalCode}'))</script>
                        </apex:outputPanel>                     
                    </apex:pageBlockSectionItem>
                    <apex:pageBlockSectionItem >
                        <apex:outputPanel >
                            <apex:outputLabel value="{!appUtils.labels.Parent_A_Email__c}"/>
                            <c:vfInlineHelp inlineHelp="{!$ObjectType.PFS__c.Fields.Parent_A_Email__c.inlineHelpText}"/>
                        </apex:outputPanel>
                        <apex:outputPanel >
                            <!-- <apex:inputField onChange="setChanged()" id="ParentAEmail" value="{!pfs.Parent_A_Email__c}" required="true" styleClass="required" /> -->
                            <apex:inputField id="ParentAEmail" value="{!pfs.Parent_A_Email__c}" required="true" styleClass="required" >
                                <apex:actionSupport status="RequestStatus" event="onchange" oncomplete="setChanged()" rerender="parentASpan"/>
                            </apex:inputField>

                            <script type="text/javascript">var ParentAEmail = j$(esc('{!$Component.ParentAEmail}'))</script>
                        </apex:outputPanel>                         
                    </apex:pageBlockSectionItem>



    <!-- 
                    <apex:pageBlockSectionItem rendered="{!IF(pfs.Parent_A_Email__c != pfs.Parent_A__r.Email, 'true', 'false')}">
                        <apex:outputPanel >
                            <apex:outputLabel value="Use new Email Address as Username"/>
                            <c:vfInlineHelp inlineHelp="{!$ObjectType.PFS__c.Fields.Parent_A_Email_Push_to_Username__c.inlineHelpText}"/>
                        </apex:outputPanel>
                        <apex:outputPanel >
                            <apex:inputField value="{!pfs.Parent_A_Email_Push_to_Username__c}" styleClass="required"/>
                        </apex:outputPanel>                         
                    </apex:pageBlockSectionItem>

     -->



                    <apex:pageBlockSectionItem >
                        <apex:outputPanel >
                            <apex:outputLabel value="{!appUtils.labels.Parent_A_Preferred_Phone__c}"/>
                            <c:vfInlineHelp inlineHelp="{!$ObjectType.PFS__c.Fields.Parent_A_Preferred_Phone__c.inlineHelpText}"/>
                        </apex:outputPanel>
                        <apex:actionRegion >
                            <apex:outputPanel >
                                <apex:inputField id="ParentAPreferredPhone"
                                                    value="{!pfs.Parent_A_Preferred_Phone__c}" 
                                                    required="true" 
                                                    styleClass="required"
                                                    style="display: inline;">
                                    <apex:actionSupport status="RequestStatus" event="onchange" oncomplete="setChanged()" rerender="ParentAHomePhone, ParentAWorkPhone, ParentAMobilePhone" />
                                </apex:inputField>
                            <script type="text/javascript">var ParentAPreferredPhone = j$(esc('{!$Component.ParentAPreferredPhone}'))</script>
                        </apex:outputPanel>                         
                        </apex:actionRegion>
                    </apex:pageBlockSectionItem>
                    <apex:pageBlockSectionItem >
                        <apex:outputPanel >
                            <apex:outputLabel value="{!appUtils.labels.Parent_A_Home_Phone__c}"/>
                            <c:vfInlineHelp inlineHelp="{!$ObjectType.PFS__c.Fields.Parent_A_Home_Phone__c.inlineHelpText}"/>
                        </apex:outputPanel>
                        <apex:outputPanel >
                            <apex:inputField onChange="setChanged()" id="ParentAHomePhone" value="{!pfs.Parent_A_Home_Phone__c}" 
                                required="{!IF(pfs.Parent_A_Preferred_Phone__c=='Home','true','false')}"
                                styleClass="{!IF(pfs.Parent_A_Preferred_Phone__c=='Home','required','')}"
                                />
                            <script type="text/javascript">var ParentAHomePhone = j$(esc('{!$Component.ParentAHomePhone}'))</script>
                        </apex:outputPanel>                             
                    </apex:pageBlockSectionItem>
                    <apex:pageBlockSectionItem >
                        <apex:outputPanel >
                            <apex:outputLabel value="{!appUtils.labels.Parent_A_Work_Phone__c}"/>
                            <c:vfInlineHelp inlineHelp="{!$ObjectType.PFS__c.Fields.Parent_A_Work_Phone__c.inlineHelpText}"/>
                        </apex:outputPanel>
                        <apex:outputPanel >
                            <apex:inputField onChange="setChanged()" id="ParentAWorkPhone" value="{!pfs.Parent_A_Work_Phone__c}" 
                                required="{!IF(pfs.Parent_A_Preferred_Phone__c=='Work','true','false')}"
                                styleClass="{!IF(pfs.Parent_A_Preferred_Phone__c=='Work','required','')}"
                                />
                            <script type="text/javascript">var ParentAWorkPhone = j$(esc('{!$Component.ParentAWorkPhone}'))</script>
                        </apex:outputPanel>                         
                    </apex:pageBlockSectionItem>
                    <apex:pageBlockSectionItem >
                        <apex:outputPanel >
                            <apex:outputLabel value="{!appUtils.labels.Parent_A_Mobile_Phone__c}"/>
                            <c:vfInlineHelp inlineHelp="{!$ObjectType.PFS__c.Fields.Parent_A_Mobile_Phone__c.inlineHelpText}"/>
                        </apex:outputPanel>
                        <apex:outputPanel >
                            <apex:inputField onChange="setChanged()" id="ParentAMobilePhone" value="{!pfs.Parent_A_Mobile_Phone__c}" 
                                required="{!IF(pfs.Parent_A_Preferred_Phone__c=='Mobile','true','false')}"
                                styleClass="{!IF(pfs.Parent_A_Preferred_Phone__c=='Mobile','required','')}"
                             />
                            <script type="text/javascript">var ParentAMobilePhone = j$(esc('{!$Component.ParentAMobilePhone}'))</script>
                        </apex:outputPanel>                         
                    </apex:pageBlockSectionItem>
                </apex:pageBlockSection>
            </apex:pageBlock>
            <apex:pageBlock >
                <apex:pageBlockSection title="{!$Label.PG_Work_Info}" columns="1" collapsible="true">
                    <apex:pageBlockSectionItem >
                        <apex:outputPanel >
                            <apex:outputLabel value="{!appUtils.labels.Parent_A_Occupation__c}"/>
                            <c:vfInlineHelp inlineHelp="{!$ObjectType.PFS__c.Fields.Parent_A_Occupation__c.inlineHelpText}"/>
                        </apex:outputPanel>
                        <apex:inputField onChange="setChanged()" value="{!pfs.Parent_A_Occupation__c}" />
                    </apex:pageBlockSectionItem>
                    <apex:pageBlockSectionItem >
                        <apex:outputPanel >
                            <apex:outputLabel value="{!appUtils.labels.Parent_A_Employer__c}"/>
                            <c:vfInlineHelp inlineHelp="{!$ObjectType.PFS__c.Fields.Parent_A_Employer__c.inlineHelpText}"/>
                        </apex:outputPanel>
                        <apex:inputField onChange="setChanged()" value="{!pfs.Parent_A_Employer__c}" />
                    </apex:pageBlockSectionItem>
                    <apex:pageBlockSectionItem >
                        <apex:outputPanel >
                            <apex:outputLabel value="{!appUtils.labels.Parent_A_Title__c}"/>
                            <c:vfInlineHelp inlineHelp="{!$ObjectType.PFS__c.Fields.Parent_A_Title__c.inlineHelpText}"/>
                        </apex:outputPanel>
                        <apex:inputText onChange="setChanged" maxLength="40" value="{!pfs.Parent_A_Title__c}" />
                    </apex:pageBlockSectionItem>
                    <apex:pageBlockSectionItem >
                        <apex:outputPanel >
                            <apex:outputLabel value="{!appUtils.labels.Parent_A_Years_Worked__c}"/>
                            <c:vfInlineHelp inlineHelp="{!$ObjectType.PFS__c.Fields.Parent_A_Years_Worked__c.inlineHelpText}"/>
                        </apex:outputPanel>
                        <apex:inputField onChange="setChanged()" value="{!pfs.Parent_A_Years_Worked__c}" />
                    </apex:pageBlockSectionItem>
                    <apex:pageBlockSectionItem >
                        <apex:outputPanel >
                            <apex:outputLabel value="{!appUtils.labels.Parent_A_Add_l_Job_Descrip__c}"/>
                            <c:vfInlineHelp inlineHelp="{!$ObjectType.PFS__c.Fields.Parent_A_Add_l_Job_Descrip__c.inlineHelpText}"/>
                        </apex:outputPanel>
                        <apex:inputField onChange="setChanged()" value="{!pfs.Parent_A_Add_l_Job_Descrip__c}" />
                    </apex:pageBlockSectionItem>
                </apex:pageBlockSection>
            </apex:pageBlock>
        </apex:outputPanel>
        </div>
    </div>

    <div class="block fp">
        <div class="blockbody nopadding">
            <apex:pageBlock >
                <apex:pageBlockSection columns="1" collapsible="true" title="{!$Label.PG_Additional_Parent_In_Household_Section_Title}">
                    <apex:pageBlockSectionItem >
                        <apex:outputPanel >
                            <apex:outputLabel for="parentBQuestion" value="{!appUtils.labels.Student_Has_Parent_B__c}"/>
                            <c:vfInlineHelp inlineHelp="{!$ObjectType.PFS__c.Fields.Student_Has_Parent_B__c.inlineHelpText}"/>
                        </apex:outputPanel>
                        <apex:actionRegion id="parentBRegion">
                            <apex:inputField id="parentBQuestion" value="{!pfs.Student_Has_Parent_B__c}" label="{!appUtils.labels.Student_Has_Parent_B__c}" styleClass="required">
                                <apex:actionSupport onsubmit="setChanged(); if (this.value != 'Yes' && j$(esc('{!$Component.parentBPanel}')).length == 0) { return false; }" status="RequestStatus" event="onchange" rerender="parentBSpan, otherParentQuestionPanel, otherParentSpan"/>
                            </apex:inputField>
                        </apex:actionRegion>
                    </apex:pageBlockSectionItem>
                </apex:pageBlockSection>
            </apex:pageBlock>
        </div>
    </div>
    
    <apex:outputPanel id="parentBSpan">
        <apex:outputPanel id="parentBPanel" layout="block" styleClass="block fp" rendered="{!IF(pfs.Student_Has_Parent_B__c=='Yes', 'true', 'false')}">
            <div class="blockbody nopadding">
                <apex:pageBlock >
                    <apex:pageBlockSection columns="1" collapsible="true" title="{!$Label.PG_Parent_B}">
                        <apex:pageBlockSectionItem >
                            <apex:outputPanel >
                                <apex:outputLabel value="{!appUtils.labels.Parent_B_Prefix__c}"/>
                                <c:vfInlineHelp inlineHelp="{!$ObjectType.PFS__c.Fields.Parent_B_Prefix__c.inlineHelpText}"/>
                            </apex:outputPanel>
                            <apex:inputField onChange="setChanged()" value="{!pfs.Parent_B_Prefix__c}" />
                        </apex:pageBlockSectionItem>
                        <apex:pageBlockSectionItem >
                            <apex:outputPanel >
                                <apex:outputLabel value="{!appUtils.labels.Parent_B_First_Name__c}"/>
                                <c:vfInlineHelp inlineHelp="{!$ObjectType.PFS__c.Fields.Parent_B_First_Name__c.inlineHelpText}"/>
                            </apex:outputPanel>
                            <apex:inputField onChange="setChanged()" value="{!pfs.Parent_B_First_Name__c}" required="true" styleClass="required" />
                        </apex:pageBlockSectionItem>
                        <apex:pageBlockSectionItem >
                            <apex:outputPanel >
                                <apex:outputLabel value="{!appUtils.labels.Parent_B_Middle_Name__c}"/>
                                <c:vfInlineHelp inlineHelp="{!$ObjectType.PFS__c.Fields.Parent_B_Middle_Name__c.inlineHelpText}"/>
                            </apex:outputPanel>
                            <apex:inputField onChange="setChanged()" value="{!pfs.Parent_B_Middle_Name__c}" />
                        </apex:pageBlockSectionItem>
                        <apex:pageBlockSectionItem >
                            <apex:outputPanel >
                                <apex:outputLabel value="{!appUtils.labels.Parent_B_Last_Name__c}"/>
                                <c:vfInlineHelp inlineHelp="{!$ObjectType.PFS__c.Fields.Parent_B_Last_Name__c.inlineHelpText}"/>
                            </apex:outputPanel>
                            <apex:inputField onChange="setChanged()" value="{!pfs.Parent_B_Last_Name__c}" required="true" styleClass="required" />
                        </apex:pageBlockSectionItem>
                        <apex:pageBlockSectionItem >
                            <apex:outputPanel >
                                <apex:outputLabel value="{!appUtils.labels.Parent_B_Suffix__c}"/>
                                <c:vfInlineHelp inlineHelp="{!$ObjectType.PFS__c.Fields.Parent_B_Suffix__c.inlineHelpText}"/>
                            </apex:outputPanel>
                            <apex:inputField onChange="setChanged()" value="{!pfs.Parent_B_Suffix__c}" />
                        </apex:pageBlockSectionItem>
                        <apex:pageBlockSectionItem >
                            <apex:outputPanel >
                                <apex:outputLabel value="{!appUtils.labels.Parent_B_Birthdate__c}"/>
                                <c:vfInlineHelp inlineHelp="{!$ObjectType.PFS__c.Fields.Parent_B_Birthdate__c.inlineHelpText}"/>
                            </apex:outputPanel>
                            <apex:inputField onChange="setChanged()" value="{!pfs.Parent_B_Birthdate__c}" required="true" styleClass="required" />
                        </apex:pageBlockSectionItem>
                        <apex:pageBlockSectionItem >
                            <apex:outputPanel >
                                <apex:outputLabel value="{!appUtils.labels.Parent_B_Gender__c}"/>
                                <c:vfInlineHelp inlineHelp="{!$ObjectType.PFS__c.Fields.Parent_B_Gender__c.inlineHelpText}"/>
                            </apex:outputPanel>
                            <apex:inputField onChange="setChanged()" value="{!pfs.Parent_B_Gender__c}" required="true" styleClass="required" />
                        </apex:pageBlockSectionItem>
                    </apex:pageBlockSection>
                </apex:pageBlock>
                <apex:pageBlock >
                    <apex:pageBlockSection title="{!$Label.PG_Contact_Info}" columns="1" collapsible="true">
                      <apex:facet name="header"><h3>{!$Label.PG_Contact_Info}</h3><input style="float:right; margin-right: 100px; height: 24px;" class="btn" type="button" value="{!$Label.PG_Same_Address}" onclick="copyParentAAddress('ParentB');"/></apex:facet>
                        <apex:pageBlockSectionItem >
                            <apex:outputPanel >
                                <apex:outputLabel value="{!appUtils.labels.Parent_B_Country__c}"/>
                                <c:vfInlineHelp inlineHelp="{!$ObjectType.PFS__c.Fields.Parent_B_Country__c.inlineHelpText}"/>
                            </apex:outputPanel>
                            <apex:outputPanel >
                              <apex:actionRegion >
                                <apex:inputField value="{!pfs.Parent_B_Country__c}" id="ParentBCountry" required="true" styleClass="required">
                                  <apex:actionSupport status="RequestStatus" event="onchange" oncomplete="setChanged();" rerender="ParentBState" immediate="true"/>
                                </apex:inputField>
                              </apex:actionRegion>  
                                <script type="text/javascript">var ParentBCountry = j$(esc('{!$Component.ParentBCountry}'))</script>
                            </apex:outputPanel>                         
                        </apex:pageBlockSectionItem>
                        <apex:pageBlockSectionItem >
                            <apex:outputPanel >
                                <apex:outputLabel value="{!appUtils.labels.Parent_B_Address__c}"/>
                                <c:vfInlineHelp inlineHelp="{!$ObjectType.PFS__c.Fields.Parent_B_Address__c.inlineHelpText}"/>
                            </apex:outputPanel>
                            <apex:outputPanel >
                                <apex:inputField onChange="setChanged()" value="{!pfs.Parent_B_Address__c}" id="ParentBAddress" required="true" styleClass="required" />
                                <script type="text/javascript">var ParentBAddress = j$(esc('{!$Component.ParentBAddress}'))</script>
                            </apex:outputPanel>                             
                        </apex:pageBlockSectionItem>
                        <apex:pageBlockSectionItem >
                            <apex:outputPanel >
                                <apex:outputLabel value="{!appUtils.labels.Parent_B_City__c}"/>
                                <c:vfInlineHelp inlineHelp="{!$ObjectType.PFS__c.Fields.Parent_B_City__c.inlineHelpText}"/>
                            </apex:outputPanel>
                            <apex:outputPanel >
                                <apex:inputText onChange="setChanged();" maxLength="40" id="ParentBCity" value="{!pfs.Parent_B_City__c}" required="true" styleClass="required" />
                                <script type="text/javascript">var ParentBCity = j$(esc('{!$Component.ParentBCity}'))</script>
                            </apex:outputPanel> 
                        </apex:pageBlockSectionItem>
                        <apex:pageBlockSectionItem >
                            <apex:outputPanel >
                                <apex:outputLabel value="{!appUtils.labels.Parent_B_State__c}"/>
                                <c:vfInlineHelp inlineHelp="{!$ObjectType.PFS__c.Fields.Parent_B_State__c.inlineHelpText}"/>
                            </apex:outputPanel>
                            <apex:outputPanel >
                                <apex:inputField onChange="setChanged()" styleClass="required" value="{!pfs.Parent_B_State__c}" id="ParentBState" required="{!IF(pfs.Parent_B_Country__c == 'United States' || pfs.Parent_B_Country__c == 'Canada', true, false)}"/>                            
                                <script type="text/javascript">var ParentBState = '{!$Component.ParentBState}';</script>
                            </apex:outputPanel>                     
                        </apex:pageBlockSectionItem>
                        <apex:pageBlockSectionItem >
                            <apex:outputPanel >
                                <apex:outputLabel value="{!appUtils.labels.Parent_B_ZIP_Postal_Code__c}"/>
                                <c:vfInlineHelp inlineHelp="{!$ObjectType.PFS__c.Fields.Parent_B_ZIP_Postal_Code__c.inlineHelpText}"/>
                            </apex:outputPanel>
                            <apex:outputPanel >
                                <apex:inputField onChange="setChanged()" value="{!pfs.Parent_B_ZIP_Postal_Code__c}" id="ParentBPostalCode" required="true" styleClass="required" />
                                <script type="text/javascript">var ParentBPostalCode = j$(esc('{!$Component.ParentBPostalCode}'))</script>
                            </apex:outputPanel>                         
                        </apex:pageBlockSectionItem>
                        <apex:pageBlockSectionItem >
                            <apex:outputPanel >
                                <apex:outputLabel value="{!appUtils.labels.Parent_B_Email__c}"/>
                                <c:vfInlineHelp inlineHelp="{!$ObjectType.PFS__c.Fields.Parent_B_Email__c.inlineHelpText}"/>
                            </apex:outputPanel>
                            <apex:outputPanel >
                                <apex:inputField onChange="setChanged()" value="{!pfs.Parent_B_Email__c}" required="true" id="ParentBEmail" styleClass="required" />
                                <script type="text/javascript">var ParentBEmail = j$(esc('{!$Component.ParentBEmail}'))</script>
                            </apex:outputPanel>                     
                        </apex:pageBlockSectionItem>
                        <apex:pageBlockSectionItem >
                            <apex:outputPanel >
                                <apex:outputLabel for="ParentBPreferredPhone" value="{!appUtils.labels.Parent_B_Preferred_Phone__c}"/>
                                <c:vfInlineHelp inlineHelp="{!$ObjectType.PFS__c.Fields.Parent_B_Preferred_Phone__c.inlineHelpText}"/>
                            </apex:outputPanel>                     
                                <apex:outputPanel >
                                    <apex:inputField id="ParentBPreferredPhone" value="{!pfs.Parent_B_Preferred_Phone__c}" required="true" styleClass="required" onchange="setParentBPreferredPhone(this.value); setChanged(); return false;"/>     
                                    <script type="text/javascript">var ParentBPreferredPhone = j$(esc('{!$Component.ParentBPreferredPhone}'))</script>
                                </apex:outputPanel>                                 
                        </apex:pageBlockSectionItem>
                        <apex:pageBlockSectionItem >
                            <apex:outputPanel >
                                <apex:outputLabel value="{!appUtils.labels.Parent_B_Home_Phone__c}"/>
                                <c:vfInlineHelp inlineHelp="{!$ObjectType.PFS__c.Fields.Parent_B_Home_Phone__c.inlineHelpText}"/>
                            </apex:outputPanel>         
                            <apex:outputPanel >     
                                <apex:inputField onChange="setChanged()" id="ParentBHomePhone" value="{!pfs.Parent_B_Home_Phone__c}" 
                                                    required="{!IF(pfs.Parent_B_Preferred_Phone__c=='Home','true','false')}"
                                                    styleClass="{!IF(pfs.Parent_B_Preferred_Phone__c=='Home','required','')}"
                                                />
                                <script type="text/javascript">var ParentBHomePhone = j$(esc('{!$Component.ParentBHomePhone}'))</script>
                            </apex:outputPanel>                                             
                        </apex:pageBlockSectionItem>
                        <apex:pageBlockSectionItem >
                            <apex:outputPanel >
                                <apex:outputLabel value="{!appUtils.labels.Parent_B_Work_Phone__c}"/>
                                <c:vfInlineHelp inlineHelp="{!$ObjectType.PFS__c.Fields.Parent_B_Work_Phone__c.inlineHelpText}"/>
                            </apex:outputPanel>
                            <apex:outputPanel >
                                <apex:inputField onChange="setChanged()" id="ParentBWorkPhone" value="{!pfs.Parent_B_Work_Phone__c}" 
                                                    required="{!IF(pfs.Parent_B_Preferred_Phone__c=='Work','true','false')}"
                                                    styleClass="{!IF(pfs.Parent_B_Preferred_Phone__c=='Work','required','')}"
                                                />
                                <script type="text/javascript">var ParentBWorkPhone = j$(esc('{!$Component.ParentBWorkPhone}'))</script>
                            </apex:outputPanel>                                             
                        </apex:pageBlockSectionItem>
                        <apex:pageBlockSectionItem >
                            <apex:outputPanel >
                                <apex:outputLabel value="{!appUtils.labels.Parent_B_Mobile_Phone__c}"/>
                                <c:vfInlineHelp inlineHelp="{!$ObjectType.PFS__c.Fields.Parent_B_Mobile_Phone__c.inlineHelpText}"/>
                            </apex:outputPanel>
                            <apex:outputPanel > 
                                <apex:inputField onChange="setChanged()" id="ParentBMobilePhone" value="{!pfs.Parent_B_Mobile_Phone__c}" 
                                                    required="{!IF(pfs.Parent_B_Preferred_Phone__c=='Mobile','true','false')}"
                                                    styleClass="{!IF(pfs.Parent_B_Preferred_Phone__c=='Mobile','required','')}"
                                                />
                                <script type="text/javascript">var ParentBMobilePhone = j$(esc('{!$Component.ParentBMobilePhone}'))</script>
                            </apex:outputPanel>                                             
                        </apex:pageBlockSectionItem>            
                    </apex:pageBlockSection>
                </apex:pageBlock>
                <apex:pageBlock >
                    <apex:pageBlockSection title="{!$Label.PG_Work_Info}" columns="1" collapsible="true">  
                        <apex:pageBlockSectionItem >
                            <apex:outputPanel >
                                <apex:outputLabel value="{!appUtils.labels.Parent_B_Occupation__c}"/>
                                <c:vfInlineHelp inlineHelp="{!$ObjectType.PFS__c.Fields.Parent_B_Occupation__c.inlineHelpText}"/>
                            </apex:outputPanel> 
                            <apex:inputField onChange="setChanged()" value="{!pfs.Parent_B_Occupation__c}" />
                        </apex:pageBlockSectionItem>
                        
                        <apex:pageBlockSectionItem >
                            <apex:outputPanel >
                                <apex:outputLabel value="{!appUtils.labels.Parent_B_Employer__c}"/>
                                <c:vfInlineHelp inlineHelp="{!$ObjectType.PFS__c.Fields.Parent_B_Employer__c.inlineHelpText}"/>
                            </apex:outputPanel>
                            <apex:inputField onChange="setChanged()" value="{!pfs.Parent_B_Employer__c}" />
                        </apex:pageBlockSectionItem>
                        
                        <apex:pageBlockSectionItem >
                            <apex:outputPanel >
                                <apex:outputLabel value="{!appUtils.labels.Parent_B_Title__c}"/>
                                <c:vfInlineHelp inlineHelp="{!$ObjectType.PFS__c.Fields.Parent_B_Title__c.inlineHelpText}"/>
                            </apex:outputPanel>
                            <apex:inputText onChange="setChanged" maxLength="40" value="{!pfs.Parent_B_Title__c}" />
                        </apex:pageBlockSectionItem>
                        
                        <apex:pageBlockSectionItem >
                            <apex:outputPanel >
                                <apex:outputLabel value="{!appUtils.labels.Parent_B_Years_Worked__c}"/>
                                <c:vfInlineHelp inlineHelp="{!$ObjectType.PFS__c.Fields.Parent_B_Years_Worked__c.inlineHelpText}"/>
                            </apex:outputPanel>
                            <apex:inputField onChange="setChanged()" value="{!pfs.Parent_B_Years_Worked__c}" />
                        </apex:pageBlockSectionItem>
                        
                        <apex:pageBlockSectionItem >
                            <apex:outputPanel >
                                <apex:outputLabel value="{!appUtils.labels.Parent_B_Add_l_Job_Descrip__c}"/>
                                <c:vfInlineHelp inlineHelp="{!$ObjectType.PFS__c.Fields.Parent_B_Add_l_Job_Descrip__c.inlineHelpText}"/>
                            </apex:outputPanel>
                            <apex:inputField onChange="setChanged()" value="{!pfs.Parent_B_Add_l_Job_Descrip__c}" />
                        </apex:pageBlockSectionItem>
                    </apex:pageBlockSection>
                </apex:pageBlock>
            </div>
        </apex:outputPanel>
    </apex:outputPanel>
    
    <div class="block fp">
        <div class="blockbody nopadding">
            <apex:pageBlock >
                <apex:pageBlockSection columns="1" collapsible="true" title="{!$Label.PG_Additional_Parent_Living_Separated_Divorced_Section_Title}">
                    <apex:pageBlockSectionItem >
                        <apex:outputPanel >
                            <apex:outputLabel for="otherParentRegion" value="{!appUtils.labels.Other_Parent__c}"/>
                            <c:vfInlineHelp inlineHelp="{!$ObjectType.PFS__c.Fields.Other_Parent__c.inlineHelpText}"/>  
                        </apex:outputPanel>
                        <apex:actionRegion id="otherParentRegion">
                            <apex:inputField id="otherParentQuestion" value="{!pfs.Other_Parent__c}" styleClass="required">
                                <apex:actionSupport onsubmit="setChanged(); if (this.value != 'Yes' && j$(esc('{!$Component.addlParentPanel}')).length == 0) { return false; }" status="RequestStatus" event="onchange" rerender="otherParentSpan"/>
                            </apex:inputField>
                        </apex:actionRegion>
                    </apex:pageBlockSectionItem>
                </apex:pageBlockSection>
            </apex:pageBlock>
        </div>
    </div>

    <div style="display:none">
        <apex:actionRegion >
            <apex:inputField value="{!pfs.Addl_Parent_Relationship__c}" styleClass="Addl_Parent_Relationship">
                <apex:actionSupport onsubmit="setChanged(); if (((this.value == 'Divorced' || this.value == 'Separated, legally' || this.value == 'Separated, no court action') && j$(divorcedItem).length != 0) || ((this.value != 'Divorced' && this.value != 'Separated, legally' && this.value != 'Separated, no court action') && j$(divorcedItem).length == 0)) { return false; }" status="RequestStatus" event="onchange" rerender="Addl_Parent_Section, pagemessages" />
            </apex:inputField>
        </apex:actionRegion>
    </div>

    <apex:outputPanel id="otherParentSpan">
        <apex:outputPanel id="addlParentPanel" layout="block" styleClass="block fp"  rendered="{!IF(pfs.Other_Parent__c=='Yes', 'true', 'false')}"> 
            <div class="blockbody nopadding">
                <apex:pageBlock >
                    <apex:pageBlockSection columns="1" collapsible="true" id="Addl_Parent_Section" title="{!$Label.PG_Parent_Additional}">
                        <apex:pageBlockSectionItem >
                            <apex:outputPanel >
                                <apex:outputLabel for="otherParentRegion" value="{!appUtils.labels.Addl_Parent_Relationship__c}"/>
                                <c:vfInlineHelp inlineHelp="{!$ObjectType.PFS__c.Fields.Addl_Parent_Relationship__c.inlineHelpText}"/>
                            </apex:outputPanel>
                            <apex:inputField onChange="setChanged()" value="{!pfs.Addl_Parent_Relationship__c}" required="true" styleClass="required"
                                onchange="javascript:jQuery('.Addl_Parent_Relationship').val(jQuery(this).val()).change();"/>
                        </apex:pageBlockSectionItem>
                         
                        <apex:pageBlockSectionItem rendered="{!pfs.Addl_Parent_Relationship__c == 'Divorced' || pfs.Addl_Parent_Relationship__c == 'Separated, legally' || pfs.Addl_Parent_Relationship__c == 'Separated, no court action'}">
                            <apex:outputPanel id="divorcedItem">
                                <script type="text/javascript">divorcedItem=esc('{!$Component.divorcedItem}');</script>
                                <apex:outputLabel value="{!appUtils.labels.Addl_Parent_Joint_custody__c}" />
                                <c:vfInlineHelp inlineHelp="{!$ObjectType.PFS__c.Fields.Addl_Parent_Joint_custody__c.inlineHelpText}"/>
                            </apex:outputPanel>
                            <apex:inputField onChange="setChanged()" value="{!pfs.Addl_Parent_Joint_custody__c}" required="true" styleClass="required" />
                       </apex:pageBlockSectionItem>
                         
                       <apex:pageBlockSectionItem rendered="{!pfs.Addl_Parent_Relationship__c == 'Divorced' || pfs.Addl_Parent_Relationship__c == 'Separated, legally' || pfs.Addl_Parent_Relationship__c == 'Separated, no court action'}">
                           <apex:outputPanel >
                               <apex:outputLabel value="{!appUtils.labels.Year_of_divorce__c}"  />
                               <c:vfInlineHelp inlineHelp="{!$ObjectType.PFS__c.Fields.Year_of_divorce__c.inlineHelpText}"/>
                           </apex:outputPanel>
                           <apex:inputField onChange="setChanged()" value="{!pfs.Year_of_divorce__c}" required="true" styleClass="required" />
                       </apex:pageBlockSectionItem>
                        
                       <apex:pageBlockSectionItem >
                          <apex:outputPanel >
                            <apex:outputLabel value="{!appUtils.labels.Addl_Parent_First_Name__c}"  />
                            <c:vfInlineHelp inlineHelp="{!$ObjectType.PFS__c.Fields.Addl_Parent_First_Name__c.inlineHelpText}"/>
                          </apex:outputPanel>
                          <apex:inputField onChange="setChanged()" value="{!pfs.Addl_Parent_First_Name__c}" required="true" styleClass="required" />
                        </apex:pageBlockSectionItem>  
                        
                        <apex:pageBlockSectionItem >
                          <apex:outputPanel >
                            <apex:outputLabel value="{!appUtils.labels.Addl_Parent_Middle_Initial__c}"/>
                            <c:vfInlineHelp inlineHelp="{!$ObjectType.PFS__c.Fields.Addl_Parent_Middle_Initial__c.inlineHelpText}"/>
                          </apex:outputPanel>
                          <apex:inputField onChange="setChanged()" value="{!pfs.Addl_Parent_Middle_Initial__c}" />
                        </apex:pageBlockSectionItem>  
                        
                        <apex:pageBlockSectionItem >
                          <apex:outputPanel >
                            <apex:outputLabel value="{!appUtils.labels.Addl_Parent_Last_Name__c}"  />
                            <c:vfInlineHelp inlineHelp="{!$ObjectType.PFS__c.Fields.Addl_Parent_Last_Name__c.inlineHelpText}"/>
                          </apex:outputPanel>
                          <apex:inputField onChange="setChanged()" value="{!pfs.Addl_Parent_Last_Name__c}" required="true" styleClass="required" />
                        </apex:pageBlockSectionItem> 
                        
                        <apex:pageBlockSectionItem >
                          <apex:outputPanel >
                            <apex:outputLabel value="{!appUtils.labels.Addl_Parent_Suffix__c}"  />
                            <c:vfInlineHelp inlineHelp="{!$ObjectType.PFS__c.Fields.Addl_Parent_Suffix__c.inlineHelpText}"/>
                          </apex:outputPanel>
                          <apex:inputField onChange="setChanged()" value="{!pfs.Addl_Parent_Suffix__c}" />
                        </apex:pageBlockSectionItem>
                    </apex:pageBlockSection>
                </apex:pageBlock>
                <apex:pageBlock >
                    <apex:pageBlockSection title="{!$Label.PG_Contact_Info}" columns="1" collapsible="true">
                      <apex:facet name="header"><h3>{!$Label.PG_Contact_Info}</h3><input style="float:right; margin-right: 100px; height: 24px;" class="btn" type="button" value="{!$Label.PG_Same_Address}" onclick="copyParentAAddress('ParentC');"/></apex:facet>
                    
                        <apex:pageBlockSectionItem >
                          <apex:outputPanel >
                            <apex:outputLabel value="{!appUtils.labels.Addl_Parent_Country__c}"  />
                            <c:vfInlineHelp inlineHelp="{!$ObjectType.PFS__c.Fields.Addl_Parent_Country__c.inlineHelpText}"/>
                          </apex:outputPanel>               
                          <apex:outputPanel >
                            <apex:actionRegion >
                            <apex:inputField id="ParentCCountry" onChange="setChanged()" value="{!pfs.Addl_Parent_Country__c}">
                              <apex:actionSupport status="RequestStatus" event="onchange" oncomplete="setChanged();" rerender="ParentCState" immediate="true"/>
                            </apex:inputField>
                            <script type="text/javascript">var ParentCCountry = j$(esc('{!$Component.ParentCCountry}'))</script>
                            </apex:actionRegion>
                          </apex:outputPanel>
                        </apex:pageBlockSectionItem>  
                        
                        <apex:pageBlockSectionItem >
                          <apex:outputPanel >
                            <apex:outputLabel value="{!appUtils.labels.Addl_Parent_Street_Address__c}"  />
                            <c:vfInlineHelp inlineHelp="{!$ObjectType.PFS__c.Fields.Addl_Parent_Street_Address__c.inlineHelpText}"/>
                          </apex:outputPanel>
                          <apex:outputPanel >
                            <apex:inputField id="ParentCAddress" onChange="setChanged()" value="{!pfs.Addl_Parent_Street_Address__c}" />
                            <script type="text/javascript">var ParentCAddress = j$(esc('{!$Component.ParentCAddress}'))</script>
                          </apex:outputPanel>
                        </apex:pageBlockSectionItem>  
                        
                        <apex:pageBlockSectionItem >
                          <apex:outputPanel >
                            <apex:outputLabel value="{!appUtils.labels.Addl_Parent_City__c}" />
                            <c:vfInlineHelp inlineHelp="{!$ObjectType.PFS__c.Fields.Addl_Parent_City__c.inlineHelpText}"/>
                          </apex:outputPanel>
                          <apex:outputPanel >
                            <apex:inputField id="ParentCCity" onChange="setChanged()" value="{!pfs.Addl_Parent_City__c}" />
                            <script type="text/javascript">var ParentCCity = j$(esc('{!$Component.ParentCCity}'))</script>
                          </apex:outputPanel>
                        </apex:pageBlockSectionItem>  
                        
                        <apex:pageBlockSectionItem >
                          <apex:outputPanel >
                            <apex:outputLabel value="{!appUtils.labels.Addl_Parent_State_Province__c}"  />
                            <c:vfInlineHelp inlineHelp="{!$ObjectType.PFS__c.Fields.Addl_Parent_State_Province__c.inlineHelpText}"/>
                          </apex:outputPanel>
                          <apex:outputPanel >
                            <apex:actionRegion >
                            <apex:inputField id="ParentCState" onChange="setChanged()" value="{!pfs.Addl_Parent_State_Province__c}" />
                            <script type="text/javascript">var ParentCState = j$(esc('{!$Component.ParentCState}'))</script>
                            </apex:actionRegion>
                          </apex:outputPanel>
                        </apex:pageBlockSectionItem>  
                        
                        <apex:pageBlockSectionItem >
                          <apex:outputPanel >
                            <apex:outputLabel value="{!appUtils.labels.Addl_Parent_ZIP_Postal_Code__c}"  />
                            <c:vfInlineHelp inlineHelp="{!$ObjectType.PFS__c.Fields.Addl_Parent_ZIP_Postal_Code__c.inlineHelpText}"/>
                          </apex:outputPanel>
                          <apex:outputPanel >
                            <apex:inputField id="ParentCPostalCode" onChange="setChanged()" value="{!pfs.Addl_Parent_ZIP_Postal_Code__c}" />
                            <script type="text/javascript">var ParentCPostalCode = j$(esc('{!$Component.ParentCPostalCode}'))</script>
                          </apex:outputPanel>
                        </apex:pageBlockSectionItem>  
                        
                        <apex:pageBlockSectionItem >
                          <apex:outputPanel >
                            <apex:outputLabel value="{!appUtils.labels.Add_l_Parent_Phone__c}" />
                            <c:vfInlineHelp inlineHelp="{!$ObjectType.PFS__c.Fields.Add_l_Parent_Phone__c.inlineHelpText}"/>
                          </apex:outputPanel>
                          <apex:outputPanel >
                            <apex:inputField id="ParentCPhone" onChange="setChanged()" value="{!pfs.Add_l_Parent_Phone__c}" />
                            <script type="text/javascript">var ParentCPhone = j$(esc('{!$Component.ParentCPhone}'))</script>
                          </apex:outputPanel>
                        </apex:pageBlockSectionItem>                     
                    </apex:pageBlockSection>
                </apex:pageBlock>
            </div>
        </apex:outputPanel>
    </apex:outputPanel>
</apex:component>