<apex:component controller="FamilyAppCompController">

    <apex:attribute name="pfsRecord" description="The PFS record that the component should work with" type="PFS__c" assignTo="{!pfs}" />
    <apex:attribute name="applicationUtility" assignTo="{!appUtils}" description="An instance of ApplicationUtils passed in from the main page" type="ApplicationUtils" required="true"/>

    <div class="block fp">
        <div class="blockbody nopadding">

            <apex:outputPanel styleClass="helpmessage" layout="block">
                <!-- <apex:outputText value="{!appUtils.helpRecord.OC_Instructions__c}" escape="false"/> -->
            </apex:outputPanel>

            <apex:outputPanel layout="block" styleClass="detailList">
                <apex:outputLabel value="{!appUtils.labels.Other_Considerations__c}" styleClass="questionLabel"/>
                <apex:outputPanel layout="inline" styleClass="hasToolTip" rendered="{!$ObjectType.PFS__c.Fields.Other_Considerations__c.inlineHelpText != ''}">
                    <span class="helpicon"></span>
                    <ul class="toolTip">
                        <li><apex:outputText value="{!$ObjectType.PFS__c.Fields.Other_Considerations__c.inlineHelpText}"/></li>
                    </ul>
                </apex:outputPanel>
            </apex:outputPanel>
            <apex:inputField onChange="setChanged()" value="{!pfs.Other_Considerations__c}" style="width:100%;height:50em" />
        </div>
    </div>


</apex:component>