<apex:component controller="SchoolPFSAdditionalQuestionsController">
    <!-- SFP-605 -->
    <div class="block">
        <div class="blockheader">{!$Label.School_Responses_To_Additional_Questions}</div>
        <apex:pageBlock mode="edit">
            <div class="blockbody nopadding">
                <apex:pageBlockSection title="Responses" columns="1" collapsible="false">
                    <apex:pageBlockSectionItem rendered="{!customQuestionsEnabledForAcademicYear['Custom_Question_1__c']}">
                        <apex:outputLabel for="additionalquestions1" value="{!questionLabels.Custom_Question_1__c}" styleClass="questionLabel requiredText" />
                        <apex:outputField value="{!pfs.Custom_Question_Response_1__c}" id="additionalquestions1" />
                    </apex:pageBlockSectionItem>
                    <apex:pageBlockSectionItem rendered="{!customQuestionsEnabledForAcademicYear['Custom_Question_2__c']}">
                        <apex:outputLabel for="additionalquestions2" value="{!questionLabels.Custom_Question_2__c}" styleClass="questionLabel requiredText" />
                        <apex:outputField value="{!pfs.Custom_Question_Response_2__c}" id="additionalquestions2" />
                    </apex:pageBlockSectionItem>
                    <apex:pageBlockSectionItem rendered="{!customQuestionsEnabledForAcademicYear['Custom_Question_3__c']}">
                        <apex:outputLabel for="additionalquestions1" value="{!questionLabels.Custom_Question_3__c}" styleClass="questionLabel requiredText" />
                        <apex:outputField value="{!pfs.Custom_Question_Response_3__c}" id="additionalquestions3" />
                    </apex:pageBlockSectionItem>
                    <apex:pageBlockSectionItem rendered="{!customQuestionsEnabledForAcademicYear['Custom_Question_4__c']}">
                        <apex:outputLabel for="additionalquestions4" value="{!questionLabels.Custom_Question_4__c}" styleClass="questionLabel requiredText" />
                        <apex:outputField value="{!pfs.Custom_Question_Response_4__c}" id="additionalquestions4" />
                    </apex:pageBlockSectionItem>
                    <apex:pageBlockSectionItem rendered="{!customQuestionsEnabledForAcademicYear['Custom_Question_5__c']}">
                        <apex:outputLabel for="additionalquestions5" value="{!questionLabels.Custom_Question_5__c}" styleClass="questionLabel requiredText" />
                        <apex:outputField value="{!pfs.Custom_Question_Response_5__c}" id="additionalquestions5" />
                    </apex:pageBlockSectionItem>
                    <apex:pageBlockSectionItem rendered="{!customQuestionsEnabledForAcademicYear['Custom_Question_6__c']}">
                        <apex:outputLabel for="additionalquestions6" value="{!questionLabels.Custom_Question_6__c}" styleClass="questionLabel requiredText" />
                        <apex:outputField value="{!pfs.Custom_Question_Response_6__c}" id="additionalquestions6" />
                    </apex:pageBlockSectionItem>
                    <apex:pageBlockSectionItem rendered="{!customQuestionsEnabledForAcademicYear['Custom_Question_7__c']}">
                        <apex:outputLabel for="additionalquestions7" value="{!questionLabels.Custom_Question_7__c}" styleClass="questionLabel requiredText" />
                        <apex:outputField value="{!pfs.Custom_Question_Response_7__c}" id="additionalquestions7" />
                    </apex:pageBlockSectionItem>
                    <apex:pageBlockSectionItem rendered="{!customQuestionsEnabledForAcademicYear['Custom_Question_8__c']}">
                        <apex:outputLabel for="additionalquestions8" value="{!questionLabels.Custom_Question_8__c}" styleClass="questionLabel requiredText" />
                        <apex:outputField value="{!pfs.Custom_Question_Response_8__c}" id="additionalquestions8" />
                    </apex:pageBlockSectionItem>
                    <apex:pageBlockSectionItem rendered="{!customQuestionsEnabledForAcademicYear['Custom_Question_9__c']}">
                        <apex:outputLabel for="additionalquestions9" value="{!questionLabels.Custom_Question_9__c}" styleClass="questionLabel requiredText" />
                        <apex:outputField value="{!pfs.Custom_Question_Response_9__c}" id="additionalquestions9" />
                    </apex:pageBlockSectionItem>
                    <apex:pageBlockSectionItem rendered="{!customQuestionsEnabledForAcademicYear['Custom_Question_10__c']}">
                        <apex:outputLabel for="additionalquestions10" value="{!questionLabels.Custom_Question_10__c}" styleClass="questionLabel requiredText" />
                        <apex:outputField value="{!pfs.Custom_Question_Response_10__c}" id="additionalquestions10" />
                    </apex:pageBlockSectionItem>
                    <apex:pageBlockSectionItem rendered="{!customQuestionsEnabledForAcademicYear['Custom_Question_11__c']}">
                        <apex:outputLabel for="additionalquestions11" value="{!questionLabels.Custom_Question_11__c}" styleClass="questionLabel requiredText" />
                        <apex:outputField value="{!pfs.Custom_Question_Response_11__c}" id="additionalquestions11" />
                    </apex:pageBlockSectionItem>
                    <apex:pageBlockSectionItem rendered="{!customQuestionsEnabledForAcademicYear['Custom_Question_12__c']}">
                        <apex:outputLabel for="additionalquestions12" value="{!questionLabels.Custom_Question_12__c}" styleClass="questionLabel requiredText" />
                        <apex:outputField value="{!pfs.Custom_Question_Response_12__c}" id="additionalquestions12" />
                    </apex:pageBlockSectionItem>
                    <apex:pageBlockSectionItem rendered="{!customQuestionsEnabledForAcademicYear['Custom_Question_13__c']}">
                        <apex:outputLabel for="additionalquestions13" value="{!questionLabels.Custom_Question_13__c}" styleClass="questionLabel requiredText" />
                        <apex:outputField value="{!pfs.Custom_Question_Response_13__c}" id="additionalquestions13" />
                    </apex:pageBlockSectionItem>
                    <apex:pageBlockSectionItem rendered="{!customQuestionsEnabledForAcademicYear['Custom_Question_14__c']}">
                        <apex:outputLabel for="additionalquestions14" value="{!questionLabels.Custom_Question_14__c}" styleClass="questionLabel requiredText" />
                        <apex:outputField value="{!pfs.Custom_Question_Response_14__c}" id="additionalquestions14" />
                    </apex:pageBlockSectionItem>
                    <apex:pageBlockSectionItem rendered="{!customQuestionsEnabledForAcademicYear['Custom_Question_15__c']}">
                        <apex:outputLabel for="additionalquestions15" value="{!questionLabels.Custom_Question_15__c}" styleClass="questionLabel requiredText" />
                        <apex:outputField value="{!pfs.Custom_Question_Response_15__c}" id="additionalquestions15" />
                    </apex:pageBlockSectionItem>
                </apex:pageBlockSection>
            </div>
        </apex:pageBlock>
    </div>
</apex:component>