<apex:component id="SchoolFeeWaiverSubtab" >
    <apex:attribute name="myAnnualSettings" type="Annual_Setting__c" description="Annual Settings for school" />
    <apex:attribute name="assignedPage" type="Boolean" description="If currently on Waiver Assigned page" />
    <apex:attribute name="academicYear" type="String" required="true" description="The academic year for the financial aid process" />

    <div id="subTabContainer" class="subTabContainerTest setupTabs">
        <ul>
            <li class="{!IF(assignedPage, 'ui-state-active', '')} ">
                <a href="{!$Page.SchoolFeeWaiversAssigned}?academicYearId={!academicYear}" title="Assigned Waivers">Assigned Waivers</a>
            </li>
            <li class="{!IF(!assignedPage, 'ui-state-active', '')} ">
                <a href="{!$Page.SchoolFeeWaivers}?academicYearId={!academicYear}" title="Assign Fee Waivers">Assign Fee Waivers</a>
            </li>
        </ul>
    </div>
</apex:component>