<apex:component controller="SchoolMassEmailSummaryController">
	<apex:attribute name="folderId" assignTo="{!studentFolderId}" 
					required="false" type="Id" description="A valid Student_Folder__c Id"/>

	<apex:outputPanel layout="block" rendered="{!massEmailEnabled && hasMassEmail}">
		<div class="displayBlock block" >
	        <div class="blockheader">
	            {!$Label.MassEmail_StudentSummaryHeader}
	        </div>
	        
	        <apex:form id="massEmailSummaryForm">
		        <apex:pageBlock >
		            <div class="blockbody nopadding">
		                <apex:pageBlockTable styleClass="detailList fpTable" value="{!massEmailEMList}" var="massEM">
		                    <apex:column headerValue="{!$Label.MassEmail_StudentSummaryName}">
		                        <apex:commandLink target="_blank" action="{!navMassEmailView}" value="{!massEM.massEmailName}">
		                        	<apex:param assignTo="{!selectedMassESRecord}" value="{!massEM.massEmailId}" name="selectedRecord" />
		                        </apex:commandLink>
		                    </apex:column>
		                    <apex:column headerValue="{!$Label.MassEmail_StudentSummarySentBy}" value="{!massEM.sentBy}"/>
		                    <apex:column headerValue="{!$Label.MassEmail_StudentSummarySentDate}" value="{!massEM.sentDate}" />
		                    <apex:column headerValue="{!$Label.MassEmail_StudentSummaryRecip}" value="{!massEM.recipient}"/>
		                    <apex:column headerValue="{!$Label.MassEmail_StudentSummaryStatus}" value="{!massEM.eventStatus}"/>
		                </apex:pageBlockTable>
		            </div>
		        </apex:pageBlock>
		    </apex:form>

	    </div>

	</apex:outputPanel>

</apex:component>