<apex:component controller="SchoolFCWController" >
    <apex:attribute name="school_pfs_assignment" assignTo="{!SchoolPFSAssignment}" description="School PFS assignment to render." type="School_PFS_Assignment__c" required="true"/>
    <apex:attribute name="pfs_to_render" assignTo="{!PFS}" description="PFS to render." type="PFS__c" required="true"/>
    <apex:attribute name="sibling_List" description="Sibling name list" type="String[]" required="true"/>
    <apex:attribute name="uc_List" description="Unusual condition list" type="String[]" required="true"/>
    <apex:attribute name="medicareAndSSCombinedOrig" description="Combined Value of medicare and ss orig-" type="Decimal" required="true"/>
    <apex:attribute name="medicareAndSSCombinedRevised" description="Combined Value of medicare and ss revised" type="Decimal" required="true"/>
    <apex:attribute name="sss" description="sss constants record" type="SSS_Constants__c" required="true" assignTo="{!SSSConstants}"/>
    <apex:attribute name="fromBulk" type="Boolean" assignTo="{!frmBulk}" description="Used only for Bulk"/>
    <apex:attribute name="annualSettingBulk" type="Annual_Setting__c" assignTo="{!annualSetting}" required="false" description="Annual setting record used only for Bulk"/>
    <apex:attribute name="previousYearSpfsaBulk" type="School_PFS_Assignment__c" assignTo="{!previousYearSpfsa}" required="false" description="Previous SPA record used only for Bulk"/>
    
    <div class="page-item rfcSpecificMargin">
        <!--  START LEFT BOX -->
        <div class="left-box left-box-narrow">
            <div class="left-box-section">
                <apex:image styleClass="header-logo" url="{!URLFOR($Resource.PDFReportImagesRFC, '/PDFReport_Top_Logo.PNG')}"/>
            </div>
            <div class="left-box-section">
            <h2>{!$Label.RFC_header}</h2>
                {!$Label.Printed_label}:&nbsp;
                <apex:outputText value="{0,date,MM'/'dd'/'yyyy}">
                    <apex:param value="{!TODAY()}" />
                </apex:outputText>
            </div>
            <div class="left-box-section">
                <h3>{!$Label.Student_label}</h3>
                <strong>
                {!SchoolPFSAssignment.Applicant__r.First_Name__c} {!SchoolPFSAssignment.Applicant__r.Last_Name__c} {!SchoolPFSAssignment.Academic_Year_Picklist__c}<br />
                </strong>
                {!PFS.PFS_Number__c} <br />
                {!$Label.Gender_label} {!SchoolPFSAssignment.Applicant__r.Gender__c} <br />
                {!$Label.DOB_label}&nbsp;
                <apex:outputText value="{0,date,MM'/'dd'/'yyyy}" >
                    <apex:param value="{!SchoolPFSAssignment.Applicant__r.Birthdate_new__c}" />
                </apex:outputText>
                <br />
                {!$Label.Grade_label}&nbsp;
                <apex:outputText value="{!startYear}" />
                :&nbsp;
                <apex:outputText value="{!SchoolPFSAssignment.Grade_Applying__c}" />
                <br/>
                {!$Label.Date_PFS_Label}&nbsp;
                <apex:outputText value="{0,date,MM'/'dd'/'yyyy}" >
                    <apex:param value="{!PFS.Original_Submission_Date__c}" />
                </apex:outputText>
            </div>
            <div class="left-box-section">
                <h3>{!$Label.Parents_Label}</h3>
                {!PFS.Parent_A_First_Name__c}&nbsp;{!PFS.Parent_A_Last_Name__c}<br />
                {!PFS.Parent_B_First_Name__c}&nbsp;{!PFS.Parent_B_Last_Name__c}<br />
            </div>
            <apex:outputPanel layout="none" rendered="{!PFS.Parent_B_Last_Name__c != null}"> <br /> </apex:outputPanel>
            <div class="left-box-section">
                <h3>{!$Label.Sibling_Label}</h3>
                <apex:repeat value="{!sibling_List}" var="sibName">
                    {!sibName} <br />
                </apex:repeat>
            </div>
            <br/>

            <div class="left-box-section">
                <h2>{!$Label.Summary_Label}</h2>
                <div>
                    <apex:outputpanel rendered="{!SchoolPFSAssignment.Day_Boarding__c == 'Day'}">
                        <apex:outputField value="{!SchoolPFSAssignment.Est_Family_Contribution__c}" rendered="{!NOT(ISBLANK(SchoolPFSAssignment.Est_Family_Contribution__c))}"/>
                        <apex:outputField value="{!SchoolPFSAssignment.Orig_Est_Family_Contribution__c}" rendered="{!ISBLANK(SchoolPFSAssignment.Est_Family_Contribution__c)}"/>
                        &nbsp;
                    </apex:outputpanel>
                    <apex:outputpanel rendered="{!SchoolPFSAssignment.Day_Boarding__c == 'Boarding'}">
                        <apex:outputField value="{!SchoolPFSAssignment.Est_Family_Contribution_Boarding__c}" rendered="{!NOT(ISBLANK(SchoolPFSAssignment.Est_Family_Contribution_Boarding__c))}"/>
                        <apex:outputField value="{!SchoolPFSAssignment.Orig_Est_Family_Contribution_Boarding__c}" rendered="{!ISBLANK(SchoolPFSAssignment.Est_Family_Contribution_Boarding__c)}"/>
                        &nbsp;
                    </apex:outputpanel>
                    <apex:outputText rendered="{!NOT(SchoolPFSAssignment.Day_Boarding__c = 'Boarding')}" value="Day" />
                    <apex:outputText rendered="{!SchoolPFSAssignment.Day_Boarding__c = 'Boarding'}" value="Boarding" />
                </div>
                <div>
                    <apex:outputText value="{0, number, $##,###,###}" >
                        <apex:param value="{!SchoolPFSAssignment.Orig_Parent_Can_Afford_to_Pay__c}" />
                    </apex:outputText>
                    &nbsp;{!$Label.Parent_Pay_Label}
                </div>
                <div>
                    <apex:outputText value="{0, number, $##,###,###}" >
                        <!-- // NAIS-1757 [dp] getting rid of the Orig_Parent_Can_Afford_to_Pay_All_Childr__c and Orig_Parent_Can_Afford_to_Pay_All_Depend__c fields -->
                        <apex:param value="{!IF(NOT(ISNULL(PFS.Tuition_Able_to_Pay_All_Children__c)), PFS.Tuition_Able_to_Pay_All_Children__c,0)}" />
                    </apex:outputText>
                    &nbsp;{!$Label.Parent_Pay_All_Label}
                </div>
            </div>
            <div class="left-box-section">
                <h3>{!$Label.Estimated_Contribution_Label}</h3>
                <div>
                    <apex:outputText value="{!SchoolPFSAssignment.Percentage_of_Total_Income_Numeric__c}"/>
                    &nbsp;{!$Label.Total_Income}
                </div>
                <div>
                    <apex:outputText value="{!SchoolPFSAssignment.Percentage_of_Discretionary_Income_Num__c}"/>
                    &nbsp;{!$Label.Discretionary_Income_Label}
                </div>
                <div>
                    <apex:outputText value="{0, number, $##,###,###}" >
                        <apex:param value="{!SchoolPFSAssignment.Est_Parental_Contribution_from_Income__c}" />
                    </apex:outputText>
                    &nbsp;{!$Label.From_Income_Label}
                </div>
                <div>
                    <apex:outputText value="{0, number, $##,###,###}" >
                        <apex:param value="{!SchoolPFSAssignment.Est_Parental_Contribution_from_Assets__c}" />
                    </apex:outputText>
                    &nbsp;{!$Label.Assets_Income_Label}
                </div>
            </div>
            <div class="left-box-section">
                <h3>{!$Label.Award_Label}</h3>
                <div>
                    <apex:outputText value="{0, number, $##,###,###}" >
                        <apex:param value="{!SchoolPFSAssignment.Student_Folder__r.Total_Tuition_and_Expenses__c}" />
                    </apex:outputText>
                    &nbsp;{!$Label.Expenses_Label}
                </div>
                <div>
                    <apex:outputText value="{0, number, $##,###,###}" >
                        <apex:param value="{!SchoolPFSAssignment.Student_Folder__r.Total_Contributions__c}" />
                    </apex:outputText>
                    &nbsp;{!$Label.Minus_Contribution_Label}
                </div>
                <div>
                    <apex:outputText value="{0, number, $##,###,###}" rendered="{!SchoolPFSAssignment.Student_Folder__r.Financial_Need__c != null &&SchoolPFSAssignment.Student_Folder__r.Financial_Need__c > 0}">
                        <apex:param value="{!SchoolPFSAssignment.Student_Folder__r.Financial_Need__c}" />
                    </apex:outputText>
                    <apex:outputText value="$0" rendered="{!SchoolPFSAssignment.Student_Folder__r.Financial_Need__c != null && NOT(SchoolPFSAssignment.Student_Folder__r.Financial_Need__c > 0)}">
                    </apex:outputText>
                    &nbsp;{!$Label.Financial_Need_Label}
                </div>
                <div>
                    <apex:outputText value="{0, number, $##,###,###}" >
                        <apex:param value="{!SchoolPFSAssignment.Student_Folder__r.Total_Aid__c}" />
                    </apex:outputText>
                    &nbsp;{!$Label.Total_Aid_Label}
                </div>
            </div>
            <div class="left-box-section">
                <h3>{!$Label.Unusual_Conditions_Label}</h3>
                <apex:repeat value="{!uc_List}" var="uc">
                    {!uc} <br/>
                </apex:repeat>
            </div>

            <div class="left-box-section">
                <h3>{!$Label.RFC_Previous_Year_Parent_Offered_to_Pay}</h3>
                <apex:outputText value="{!previousYearSpfsa.Orig_Parent_Can_Afford_to_Pay__c}" rendered="{!previousYearSpfsa.Orig_Parent_Can_Afford_to_Pay__c != null}"/>
            </div>
            <div class="left-box-section">
                <h3>{!$Label.RFC_Previous_Year_Award}</h3>
                <apex:outputText value="{!previousYearSpfsa.Student_Folder__r.Total_Aid__c}" rendered="{!previousYearSpfsa.Student_Folder__c != null && previousYearSpfsa.Student_Folder__r.Total_Aid__c != null}"/>
            </div>
            <apex:outputPanel rendered="{!annualSetting.Print_RFC_On_Two_Pages__c != 'Yes'}" layout="none">
                <div class="left-box-section" style="display:block;">
                    <h3>{!$Label.RFC_Expenses_and_Discounts_Notes}</h3>
                    <apex:outputText value="{!LEFT(SchoolPFSAssignment.Student_Folder__r.Tuition_and_Expense_Notes_Long__c, 550)}"/>
                    <apex:outputText rendered="{!LEN(SchoolPFSAssignment.Student_Folder__r.Tuition_and_Expense_Notes_Long__c) > 550}" value="..." />
                </div>        
                <apex:outputPanel layout="block" rendered="{!NOT(ISBlank(SchoolPFSAssignment.MIE_Explanation__c))}" StyleClass="left-box-section" style="display:block;">
                    <h3>{!$Label.MIE_Explanation}</h3>
                    <apex:outputText value="{!SchoolPFSAssignment.MIE_Explanation__c}"/>
                </apex:outputPanel>
            </apex:outputPanel>

            <div class="left-box-section footer-block">
                <div class="footer-text">
                    {!$Label.RFC_PDF_footer_text}
                </div>
            </div>
        </div>
        <!-- END LEFT BOX -->



        <!-- START FIRST TABLE -->
        <div class="right-box right-box-width">
            <table cellpadding="0" cellspacing="0" class="right-box-table-3">
                <tr class="fcw-header">
                    <td class="white-row">
                        <h2>{!$Label.Income_Header_Label}</h2>
                    </td>
                    <td class="white-row"><strong>{!$Label.Parent_Entry_Label}</strong></td>
                    <td class="white-row"><strong>{!$Label.School_Revision_Label}</strong></td>
                </tr>
                <tr>
                    <td class="section-header" colspan="3">
                        <strong>{!$Label.Taxable_Income_Label}</strong>
                    </td>
                </tr>
            </table>
            <table cellpadding="0" cellspacing="0" class="right-box-table-4">
                <tr pfsentry="|1|"   parameterFor="|9|" >
                    <td>1</td>
                    <td>
                        {!$Label.Salary_Wages_label}
                    </td>
                    <td>
                        <apex:outputField value="{!SchoolPFSAssignment.Orig_Salary_Wages_Parent_A__c}"/>
                    </td>
                    <td>
                        <apex:outputField value="{!SchoolPFSAssignment.Salary_Wages_Parent_A__c}" rendered="{!NOT(ISBLANK(SchoolPFSAssignment.Salary_Wages_Parent_A__c))}"/>
                        <apex:outputField value="{!SchoolPFSAssignment.Orig_Salary_Wages_Parent_A__c}" rendered="{!ISBLANK(SchoolPFSAssignment.Salary_Wages_Parent_A__c)}"/>
                    </td>
                </tr>
                <apex:outputPanel layout="none" rendered="{!OR(PFS.Student_Has_Parent_B__c == 'Yes', NOT(ISNULL(PFS.Parent_B__c)))}">
                    <tr pfsentry="|2|"   parameterFor="|9|" >
                        <td>2</td>
                        <td>
                            {!$Label.Salary_Wages_Second_label}
                        </td>
                        <td>
                            <apex:outputField value="{!SchoolPFSAssignment.Orig_Salary_Wages_Parent_B__c}"/>
                        </td>
                        <td>
                            <apex:outputField value="{!SchoolPFSAssignment.Salary_Wages_Parent_B__c}" rendered="{!NOT(ISBLANK(SchoolPFSAssignment.Salary_Wages_Parent_B__c))}"/>
                            <apex:outputField value="{!SchoolPFSAssignment.Orig_Salary_Wages_Parent_B__c}" rendered="{!ISBLANK(SchoolPFSAssignment.Salary_Wages_Parent_B__c)}"/>
                        </td>
                    </tr>
                </apex:outputPanel>
                <tr  pfsentry="|3|"  calculation="|3a| + |3b|"  parameterFor="|9|" >
                    <td>3</td>
                    <td>
                        {!$Label.Interest_and_label}
                    </td>
                    <td>
                        <apex:outputField value="{!SchoolPFSAssignment.Orig_Dividend_Interest_Income_Currency__c}"/>
                    </td>
                    <td>
                        <apex:outputField value="{!SchoolPFSAssignment.Dividend_Interest_Income_Currency__c}" rendered="{!NOT(ISBLANK(SchoolPFSAssignment.Dividend_Interest_Income_Currency__c))}"/>
                        <apex:outputField value="{!SchoolPFSAssignment.Orig_Dividend_Interest_Income_Currency__c}" rendered="{!ISBLANK(SchoolPFSAssignment.Dividend_Interest_Income_Currency__c)}"/>
                    </td>
                </tr>
                <tr pfsentry="|4|"   parameterFor="|9|" >
                    <td>4</td>
                    <td>
                        {!$Label.Alimony_Received_label}
                    </td>
                    <td>
                        <apex:outputField value="{!SchoolPFSAssignment.Orig_Alimony_Received__c}"/>
                    </td>
                    <td>
                        <apex:outputField value="{!SchoolPFSAssignment.Alimony_Received__c}" rendered="{!NOT(ISBLANK(SchoolPFSAssignment.Alimony_Received__c))}"/>
                        <apex:outputField value="{!SchoolPFSAssignment.Orig_Alimony_Received__c}" rendered="{!ISBLANK(SchoolPFSAssignment.Alimony_Received__c)}"/>
                    </td>
                </tr>
                <tr pfsentry="|5a|"   parameterFor="|9|" >
                    <td>5a</td>
                    <td>
                        {!$Label.Net_Profit_label}
                        <apex:outputPanel layout="none" styleClass="fcw-entry-label-comment" />
                    </td>
                    <td>
                        <apex:outputText value="{0, number, $#,###.##}">
                            <apex:param value="{!IF(areBusinesses, businessOrigNetProfit, 0)}" />
                        </apex:outputText>
                    </td>
                    <td>
                        <apex:outputText value="{0, number, $#,###.##}">
                            <apex:param value="{!IF(areBusinesses, businessNetProfit, 0)}" />
                        </apex:outputText>
                    </td>
                </tr>
                <tr pfsentry="|5b|"   parameterFor="|9|" >
                    <td>5b</td>
                    <td>
                        {!$Label.Net_Profit_Second_label}
                        <apex:outputPanel layout="none" styleClass="fcw-entry-label-comment" />
                    </td>
                    <td>
                        <apex:outputText value="{0, number, $#,###.##}">
                            <apex:param value="{!IF(areFarms, farmOrigNetProfit, 0)}" />
                        </apex:outputText>
                    </td>
                    <td>
                        <apex:outputText value="{0, number, $#,###.##}">
                            <apex:param value="{!IF(areFarms, farmNetProfit, 0)}" />
                        </apex:outputText>
                    </td>
                </tr>
                <tr  pfsentry="|7|"  calculation="|7a| + |7b| + |7c| + |7d|+ |7e|+ |7f|+ |7g|+ |7h|+ |7i|"  parameterFor="|9|" >
                    <td>6</td>
                    <td>
                        {!$Label.Other_Taxable_label}
                        <apex:outputPanel layout="none" styleClass="fcw-entry-label-comment" title="{!PFS.Other_Taxable_Income_Descrip__c}" />
                    </td>
                    <td>
                        <apex:outputField value="{!SchoolPFSAssignment.Orig_Other_Taxable_Income_Currency__c}" rendered="{!NOT(ISNULL(SchoolPFSAssignment.Orig_Other_Taxable_Income_Currency__c))}"/>
                        <apex:outputText value="$0" rendered="{!ISNULL(SchoolPFSAssignment.Orig_Other_Taxable_Income_Currency__c)}"/>
                    </td>
                    <td>
                        <apex:outputField value="{!SchoolPFSAssignment.Other_Taxable_Income__c}"
                            rendered="{!NOT(ISNULL(SchoolPFSAssignment.Other_Taxable_Income__c))}"
                            />
                        <apex:outputField value="{!SchoolPFSAssignment.Orig_Other_Taxable_Income_Currency__c}"
                            rendered="{!AND(ISNULL(SchoolPFSAssignment.Other_Taxable_Income__c), NOT(ISNULL(SchoolPFSAssignment.Orig_Other_Taxable_Income_Currency__c)))}"
                            />
                        <apex:outputText value="$0"
                            rendered="{!AND(ISNULL(SchoolPFSAssignment.Other_Taxable_Income__c), ISNULL(SchoolPFSAssignment.Orig_Other_Taxable_Income_Currency__c))}"
                            />
                    </td>
                </tr>
                <tr  pfsentry="|8|"  calculation="|8a| + |8b| + |8c| + |8d|"  parameterFor="|9|" >
                    <td>7</td>
                    <td>
                        {!$Label.Adjustments_to_label}
                    </td>
                    <td>
                        <apex:outputField value="{!SchoolPFSAssignment.Orig_Adjustments_to_Income__c}"/>
                    </td>
                    <td>
                        <apex:outputField value="{!SchoolPFSAssignment.Adjustments_to_Income__c}" rendered="{!NOT(ISBLANK(SchoolPFSAssignment.Adjustments_to_Income__c))}"/>
                        <apex:outputField value="{!SchoolPFSAssignment.Orig_Adjustments_to_Income__c}" rendered="{!ISBLANK(SchoolPFSAssignment.Adjustments_to_Income__c)}"/>
                    </td>
                </tr>
                <tr class="green-row" pfsentry="|9|"  calculation="|1| + |2| + |3| + |4| + |5| + |6| + |7| - |8|"  parameterFor="|17|"  useSSSValue="true">
                    <td>8</td>
                    <td>
                        {!$Label.Total_Taxable_label}
                    </td>
                    <td>
                        <apex:outputField value="{!SchoolPFSAssignment.Orig_Total_Taxable_Income__c}"/>
                    </td>
                    <td>
                        <apex:outputField value="{!SchoolPFSAssignment.Total_Taxable_Income__c}" rendered="{!NOT(ISBLANK(SchoolPFSAssignment.Total_Taxable_Income__c))}"/>
                        <apex:outputField value="{!SchoolPFSAssignment.Orig_Total_Taxable_Income__c}" rendered="{!ISBLANK(SchoolPFSAssignment.Total_Taxable_Income__c)}"/>
                    </td>
                </tr>
                <tr>
                    <td class="section-header" colspan="4">
                        <strong>{!$Label.Nontaxable_Income_label}</strong>
                    </td>
                </tr>
                <tr pfsentry="|10|"   parameterFor="|16|" >
                    <td>9</td>
                    <td>
                        {!$Label.Child_Support_label}
                    </td>
                    <td>
                        <apex:outputField value="{!SchoolPFSAssignment.Orig_Child_Support_Received__c}"/>
                    </td>
                    <td>
                        <apex:outputField value="{!SchoolPFSAssignment.Child_Support_Received__c}" rendered="{!NOT(ISBLANK(SchoolPFSAssignment.Child_Support_Received__c))}"/>
                        <apex:outputField value="{!SchoolPFSAssignment.Orig_Child_Support_Received__c}" rendered="{!ISBLANK(SchoolPFSAssignment.Child_Support_Received__c)}"/>
                    </td>
                </tr>
                <tr pfsentry="|11|"   parameterFor="|16|" >
                    <td>10</td>
                    <td>
                        {!$Label.Social_Security_label}
                    </td>
                    <td>
                        <apex:outputField value="{!SchoolPFSAssignment.Orig_Social_Security_Benefits__c}"/>
                    </td>
                    <td>
                        <apex:outputField value="{!SchoolPFSAssignment.Social_Security_Benefits__c}" rendered="{!NOT(ISBLANK(SchoolPFSAssignment.Social_Security_Benefits__c))}"/>
                        <apex:outputField value="{!SchoolPFSAssignment.Orig_Social_Security_Benefits__c}" rendered="{!ISBLANK(SchoolPFSAssignment.Social_Security_Benefits__c)}"/>
                    </td>
                </tr>
                <tr  pfsentry="|12|"  calculation="|12a| + |12b| + |12c| + |12d| + |12e| + |12f| + |12g| + |12h| + |12i| + |12j|"  parameterFor="|16|" >
                    <td>11</td>
                    <td>
                        {!$Label.Other_Nontaxable_label}
                    </td>
                    <td>
                        <apex:outputField value="{!SchoolPFSAssignment.Orig_Other_Nontaxable_Income__c}" rendered="{!NOT(ISNULL(SchoolPFSAssignment.Orig_Other_Nontaxable_Income__c))}"/>
                        <apex:outputText value="$0" rendered="{!ISNULL(SchoolPFSAssignment.Orig_Other_Nontaxable_Income__c)}"/>
                    </td>
                    <td>
                        <apex:outputField value="{!SchoolPFSAssignment.Other_Nontaxable_Income_Currency__c}"/>
                    </td>
                </tr>
                <tr  pfsentry="|13|" calculation="|13a| + |13b|" parameterFor="|16|">
                    <td>12</td>
                    <td>
                        {!$Label.Untaxed_IRA_label}
                    </td>
                    <td>
                        <apex:outputField value="{!SchoolPFSAssignment.Orig_Untaxed_IRA_SEP_SIMPLE_Paymts__c}"/>
                    </td>
                    <td>
                        <apex:outputField value="{!SchoolPFSAssignment.Untaxed_IRA_SEP_SIMPLE_Paymts__c}" rendered="{!NOT(ISBLANK(SchoolPFSAssignment.Untaxed_IRA_SEP_SIMPLE_Paymts__c))}"/>
                        <apex:outputField value="{!SchoolPFSAssignment.Orig_Untaxed_IRA_SEP_SIMPLE_Paymts__c}" rendered="{!ISBLANK(SchoolPFSAssignment.Untaxed_IRA_SEP_SIMPLE_Paymts__c)}"/>
                    </td>
                </tr>
                <tr pfsentry="|PJ|">
                    <td>13</td>
                    <td>
                        {!$Label.Minimum_Income_label}
                    </td>
                    <td class="dark-row">&nbsp;</td>
                    <td>
                        <apex:outputField value="{!SchoolPFSAssignment.PJ_Minimum_Income_Imputed__c}"/>
                    </td>
                </tr>
                <tr pfsentry="|PJ|">
                    <td>14</td>
                    <td>
                        {!$Label.Add_Depreciation_label}
                    </td>
                    <td class="dark-row">&nbsp;</td>
                    <td>
                        <apex:outputField value="{!SchoolPFSAssignment.Add_Deprec_Home_Bus_Expense__c}" rendered="{!SchoolPFSAssignment.Add_Deprec_Home_Bus_Expense__c != 'Yes'}"/>
                        <apex:outputText value="{0, number, $#,###.##}" rendered="{!SchoolPFSAssignment.Add_Deprec_Home_Bus_Expense__c == 'Yes'}">
                            <!-- NAIS-1588 [DP] calculating like this: 14 = 15 - (13 + 12 + 11 + 10 + 9) -->
                            <apex:param value="{!NULLVALUE(SchoolPFSAssignment.Total_Nontaxable_Income__c,0) - (NULLVALUE(SchoolPFSAssignment.PJ_Minimum_Income_Imputed__c,0) + NULLVALUE(SchoolPFSAssignment.Untaxed_IRA_SEP_SIMPLE_Paymts__c,0) + NULLVALUE(SchoolPFSAssignment.Other_Nontaxable_Income_Currency__c,0) + NULLVALUE(SchoolPFSAssignment.Social_Security_Benefits__c,0) + NULLVALUE(SchoolPFSAssignment.Child_Support_Received__c,0))}" />
                        </apex:outputText>
                    </td>
                </tr>
                <tr class="green-row" pfsentry="|16|" parameterFor="|17|">
                    <td>15</td>
                    <td>
                        {!$Label.Total_Nontaxable_label}
                    </td>
                    <td>
                        <apex:outputField value="{!SchoolPFSAssignment.Orig_Total_Nontaxable_Income__c}"/>
                    </td>
                    <td>
                        <apex:outputField value="{!SchoolPFSAssignment.Total_Nontaxable_Income__c}" rendered="{!NOT(ISBLANK(SchoolPFSAssignment.Total_Nontaxable_Income__c))}"/>
                        <apex:outputField value="{!SchoolPFSAssignment.Orig_Total_Nontaxable_Income__c}" rendered="{!ISBLANK(SchoolPFSAssignment.Total_Nontaxable_Income__c)}"/>
                    </td>
                </tr>
                <tr class="green-row" pfsentry="|17|" calculation="|9| + |16|" parameterFor="|34|" useSSSValue="true">
                    <td>16</td>
                    <td>
                        {!$Label.Total_Income_label}
                    </td>
                    <td>
                        <apex:outputField value="{!SchoolPFSAssignment.Orig_Total_Income__c}"/>
                    </td>
                    <td>
                        <apex:outputField value="{!SchoolPFSAssignment.Total_Income_Currency__c}" rendered="{!NOT(ISBLANK(SchoolPFSAssignment.Total_Income_Currency__c))}"/>
                        <apex:outputField value="{!SchoolPFSAssignment.Orig_Total_Income__c}" rendered="{!ISBLANK(SchoolPFSAssignment.Total_Income_Currency__c)}"/>
                    </td>
                </tr>
                <tr>
                    <td class="section-header" colspan="4">
                        <strong>{!$Label.Allowances_Detail_label}</strong>
                    </td>
                </tr>
                <!--  NAIS-1829 [DP] these should be the right fields -->
                <tr pfsentry="|22a|" parameterFor="|33|" >
                    <td>17</td>
                    <td>
                        {!$Label.Federal_Income_label}
                    </td>
                    <td>
                        <apex:outputField value="{!SchoolPFSAssignment.Orig_Federal_Income_Tax_Calculated__c}"/>
                    </td>
                    <td>
                        <apex:outputField rendered="{!ISBLANK(SchoolPFSAssignment.Federal_Income_Tax_Calculation_Revision__c)}" value="{!SchoolPFSAssignment.Federal_Income_Tax_Calculated__c}"/>
                        <apex:outputField rendered="{!NOT(ISBLANK(SchoolPFSAssignment.Federal_Income_Tax_Calculation_Revision__c))}" value="{!SchoolPFSAssignment.Federal_Income_Tax_Calculation_Revision__c}"/>
                    </td>
                </tr>
                <tr pfsentry="|23|" parameterFor="|33|" >
                    <td>18</td>
                    <td>
                        {!$Label.Social_Security_Second_label}
                    </td>
                    <td>
                        <apex:outputText value="{0, number, $##,###,###}" >
                            <apex:param value="{!medicareAndSSCombinedOrig}"/>
                        </apex:outputText>
                    </td>
                    <td>
                        <apex:outputText value="{0, number, $##,###,###}" rendered="{!NOT(ISBLANK(medicareAndSSCombinedRevised))}">
                            <apex:param value="{!medicareAndSSCombinedRevised}"/>
                        </apex:outputText>
                        <apex:outputText value="{0, number, $##,###,###}" rendered="{!ISBLANK(medicareAndSSCombinedRevised)}">
                            <apex:param value="{!medicareAndSSCombinedOrig}"/>
                        </apex:outputText>
                    </td>
                </tr>
                <tr pfsentry="|26|" parameterFor="|33|" >
                    <td>19</td>
                    <td>
                        {!$Label.Self_Employment_label}
                    </td>
                    <td>
                        <apex:outputText value="{0, number, $#,###.##}">
                            <apex:param value="{!SchoolPFSAssignment.Orig_Self_Employment_Tax_Allowance_Curr__c}" />
                        </apex:outputText>
                    </td>
                    <td>
                        <apex:outputText value="{0, number, $#,###.##}" rendered="{!NOT(ISBLANK(SchoolPFSAssignment.Self_Employment_Tax_Allowance_Currency__c))}">
                            <apex:param value="{!SchoolPFSAssignment.Self_Employment_Tax_Allowance_Currency__c}" />
                        </apex:outputText>
                        <apex:outputText value="{0, number, $#,###.##}" rendered="{!ISBLANK(SchoolPFSAssignment.Self_Employment_Tax_Allowance_Currency__c)}">
                            <apex:param value="{!SchoolPFSAssignment.Orig_Self_Employment_Tax_Allowance_Curr__c}" />
                        </apex:outputText>
                    </td>
                </tr>
                <tr pfsentry="|28a|" parameterFor="|33|" >
                    <td>20</td>
                    <td>
                        {!$Label.State_and_label}
                    </td>
                    <td>
                        <apex:outputField value="{!SchoolPFSAssignment.Orig_State_Other_Tax_Allowance_Calc__c}"/>
                    </td>
                    <td>
                        <apex:outputField value="{!SchoolPFSAssignment.State_Other_Tax_Calculation_Revision__c}" rendered="{!NOT(ISBLANK(SchoolPFSAssignment.State_Other_Tax_Calculation_Revision__c))}"/>
                        <apex:outputField value="{!SchoolPFSAssignment.State_Other_Tax_Allowance_Calculated__c}" rendered="{!ISBLANK(SchoolPFSAssignment.State_Other_Tax_Calculation_Revision__c)}"/>
                    </td>
                </tr>
                <tr pfsentry="|29|"   parameterFor="|33|" >
                    <td>21</td>
                    <td>
                        {!$Label.Employment_Allowance_label}
                    </td>
                    <td>
                        <apex:outputField value="{!SchoolPFSAssignment.Orig_Employment_Allowance__c}"/>
                    </td>
                    <td>
                        <apex:outputField value="{!SchoolPFSAssignment.Employment_Allowance__c}" rendered="{!NOT(ISBLANK(SchoolPFSAssignment.Employment_Allowance__c))}"/>
                        <apex:outputField value="{!SchoolPFSAssignment.Orig_Employment_Allowance__c}" rendered="{!ISBLANK(SchoolPFSAssignment.Employment_Allowance__c)}"/>
                    </td>
                </tr>
                <tr pfsentry="|31|"   parameterFor="|33|" >
                    <td>22</td>
                    <td>
                        {!$Label.Medical_Dental_label}
                    </td>
                    <td>
                        <apex:outputField value="{!SchoolPFSAssignment.Orig_Medical_Allowance__c}"/>
                    </td>
                    <td>
                        <apex:outputField value="{!SchoolPFSAssignment.Medical_Allowance__c}" rendered="{!NOT(ISBLANK(SchoolPFSAssignment.Medical_Allowance__c))}"/>
                        <apex:outputField value="{!SchoolPFSAssignment.Orig_Medical_Allowance__c}" rendered="{!ISBLANK(SchoolPFSAssignment.Medical_Allowance__c)}"/>
                    </td>
                </tr>
                <tr pfsentry="|32|"   parameterFor="|33|" >
                    <td>23</td>
                    <td>
                        {!$Label.Unusual_Expenses_label}
                        <apex:outputPanel layout="none" styleClass="fcw-entry-label-comment" title="{!PFS.Unusual_Expenses_Description__c}"/>
                    </td>
                    <td>
                        <apex:outputField value="{!SchoolPFSAssignment.Orig_Unusual_Expense__c}"/>
                    </td>
                    <td>
                        <apex:outputField value="{!SchoolPFSAssignment.Unusual_Expense__c}" rendered="{!NOT(ISBLANK(SchoolPFSAssignment.Unusual_Expense__c))}"/>
                        <apex:outputField value="{!SchoolPFSAssignment.Orig_Unusual_Expense__c}" rendered="{!ISBLANK(SchoolPFSAssignment.Unusual_Expense__c)}"/>
                    </td>
                </tr>
                <tr class="fcw-entry fcw-section-summary green-row" pfsentry="|33|"  calculation="|22a| + |23| + |24| + |26| + (|28b| == 0 ? |28a| : |28b|) + |29| + |31| + |32|"  parameterFor="|35|"  useSSSValue="true">
                    <td>24</td>
                    <td>
                        {!$Label.Total_Allowances_label}
                    </td>
                    <td>
                        <apex:outputField value="{!SchoolPFSAssignment.Orig_Total_Allowances__c}"/>
                    </td>
                    <td>
                        <apex:outputField value="{!SchoolPFSAssignment.Total_Allowances__c}" rendered="{!NOT(ISBLANK(SchoolPFSAssignment.Total_Allowances__c))}"/>
                        <apex:outputField value="{!SchoolPFSAssignment.Orig_Total_Allowances__c}" rendered="{!ISBLANK(SchoolPFSAssignment.Total_Allowances__c)}"/>
                    </td>
                </tr>
                <tr>
                    <td class="section-header" colspan="4">
                        <strong>{!$Label.Effective_Income_label}</strong>
                    </td>
                </tr>
                <tr pfsentry="|34|"  calculation="|17|"  parameterFor="|36|"  useSSSValue="true">
                    <td>25</td>
                    <td>
                        {!$Label.Total_Income_Second_label}
                    </td>
                    <td>
                        <apex:outputField value="{!SchoolPFSAssignment.Orig_Total_Income__c}"/>
                    </td>
                    <td>
                        <apex:outputField value="{!SchoolPFSAssignment.Total_Income_Currency__c}" rendered="{!NOT(ISBLANK(SchoolPFSAssignment.Total_Income_Currency__c))}"/>
                        <apex:outputField value="{!SchoolPFSAssignment.Orig_Total_Income__c}" rendered="{!ISBLANK(SchoolPFSAssignment.Total_Income_Currency__c)}"/>
                    </td>
                </tr>
                <tr pfsentry="|35|"  calculation="|33|"  parameterFor="|36|"  useSSSValue="true">
                    <td>26</td>
                    <td>
                        {!$Label.Total_Allowances_Second_label}
                    </td>
                    <td>
                        <apex:outputField value="{!SchoolPFSAssignment.Orig_Total_Allowances__c}"/>
                    </td>
                    <td>
                        <apex:outputField value="{!SchoolPFSAssignment.Total_Allowances__c}" rendered="{!NOT(ISBLANK(SchoolPFSAssignment.Total_Allowances__c))}"/>
                        <apex:outputField value="{!SchoolPFSAssignment.Orig_Total_Allowances__c}" rendered="{!ISBLANK(SchoolPFSAssignment.Total_Allowances__c)}"/>
                    </td>
                </tr>
                <tr class="green-row" pfsentry="|36|"  calculation="|34| - |35|"  parameterFor="|55|"  useSSSValue="true">
                    <td>27</td>
                    <td>
                        {!$Label.Effective_Income_Second_label}
                    </td>
                    <td>
                        <apex:outputField value="{!SchoolPFSAssignment.Orig_Effective_Income_Currency__c}"/>
                    </td>
                    <td>
                        <apex:outputField value="{!SchoolPFSAssignment.Effective_Income_Currency__c}" rendered="{!NOT(ISBLANK(SchoolPFSAssignment.Effective_Income_Currency__c))}"/>
                        <apex:outputField value="{!SchoolPFSAssignment.Orig_Effective_Income_Currency__c}" rendered="{!ISBLANK(SchoolPFSAssignment.Effective_Income_Currency__c)}"/>
                    </td>
                </tr>
            </table>
            <!-- END FIRST TABLE -->


            <!-- START SECOND TABLE -->
            <table cellpadding="0" cellspacing="0" class="next-table-rfc right-box-table-3">
                <tr class="fcw-header">
                    <td class="white-row">
                        <h2>{!$Label.Assets_Header_Label}</h2>
                    </td>
                    <td class="white-row"><strong>{!$Label.Parent_Entry_Label}</strong></td>
                    <td class="white-row"><strong>{!$Label.School_Revision_Label}</strong></td>
                </tr>
                <tr>
                    <td class="section-header" colspan="3">
                        <strong>{!$Label.Income_Supplement_label}</strong>
                    </td>
                </tr>
            </table>
            <table cellpadding="0" cellspacing="0" class="right-box-table-4">
                <tr pfsentry="|PJ|"    >
                    <td>PJ</td>
                    <td>
                        {!$Label.Use_Home_label}
                    </td>
                    <td class="dark-row">&nbsp;</td>
                    <td>
                        <apex:outputField value="{!SchoolPFSAssignment.Use_Home_Equity__c}"/>
                    </td>
                </tr>
                <tr pfsentry="|PJ|"    >
                    <td>PJ</td>
                    <td>
                        {!$Label.Use_Home_Second_label}
                    </td>
                    <td class="dark-row">&nbsp;</td>
                    <td>
                        <apex:outputField value="{!SchoolPFSAssignment.Use_Home_Equity_Cap__c}"/>
                    </td>
                </tr>
                <tr pfsentry="|PJ|"    >
                    <td>PJ</td>
                    <td>
                        {!$Label.Use_Housing_label}
                    </td>
                    <td class="dark-row">&nbsp;</td>
                    <td>
                        <apex:outputField value="{!SchoolPFSAssignment.Use_Housing_Index_Multiplier__c}"/>
                    </td>
                </tr>
                <tr pfsentry="|43|"  calculation="Math.min(|41|, |42|)"  parameterFor="|51|" >
                    <td>28</td>
                    <td>
                        {!$Label.Home_Equity_label}
                    </td>
                    <td>
                        <apex:outputField value="{!SchoolPFSAssignment.Orig_Home_Equity__c}"/>
                    </td>
                    <td>
                        <apex:outputField value="{!SchoolPFSAssignment.Home_Equity__c}" rendered="{!NOT(ISBLANK(SchoolPFSAssignment.Home_Equity__c))}"/>
                        <apex:outputField value="{!SchoolPFSAssignment.Orig_Home_Equity__c}" rendered="{!ISBLANK(SchoolPFSAssignment.Home_Equity__c)}"/>
                    </td>
                </tr>
                <tr  pfsentry="|44|"  calculation="|44a| - |44b|"  parameterFor="|51|" >
                    <td>29</td>
                    <td>
                        {!$Label.Other_Real_label}
                    </td>
                    <td>
                        <apex:outputField value="{!SchoolPFSAssignment.Orig_Other_Real_Estate_Equity_Currency__c}"/>
                    </td>
                    <td>
                        <apex:outputField value="{!SchoolPFSAssignment.Other_Real_Estate_Equity_Currency__c}" rendered="{!NOT(ISBLANK(SchoolPFSAssignment.Other_Real_Estate_Equity_Currency__c))}"/>
                        <apex:outputField value="{!SchoolPFSAssignment.Orig_Other_Real_Estate_Equity_Currency__c}" rendered="{!ISBLANK(SchoolPFSAssignment.Other_Real_Estate_Equity_Currency__c)}"/>
                    </td>
                </tr>
                <tr pfsentry="|47|"   parameterFor="|51|" >
                    <td>30</td>
                    <td>
                        {!$Label.Business_Farm_label}
                    </td>
                    <td>
                        <apex:outputText value="{0, number, $#,###.##}">
                            <apex:param value="{!origBusinessFarmShare}" />
                        </apex:outputText>
                    </td>
                    <td>
                        <apex:outputText value="{0, number, $#,###.##}">
                            <apex:param value="{!businessFarmShare}" />
                        </apex:outputText>
                    </td>
                </tr>
                <tr pfsentry="|PJ|"    >
                    <td>PJ</td>
                    <td>
                        {!$Label.Use_Interest_label}
                    </td>
                    <td class="dark-row">&nbsp;</td>
                    <td>
                        <apex:outputField value="{!SchoolPFSAssignment.Use_Div_Int_to_Impute_Assets__c}"/>
                    </td>
                </tr>
                <tr pfsentry="|48|">
                    <td>31</td>
                    <td>
                        {!$Label.Imputed_Value_label}
                    </td>
                    <td class="dark-row">&nbsp;</td>
                    <td>
                        <apex:outputField value="{!SchoolPFSAssignment.Imputed_Value_Bank_Accts_Investments__c}" rendered="{!NOT(ISNULL(SchoolPFSAssignment.Imputed_Value_Bank_Accts_Investments__c))}"/>
                        <apex:outputText value="$0" rendered="{!ISNULL(SchoolPFSAssignment.Imputed_Value_Bank_Accts_Investments__c)}"/>
                    </td>
                </tr>
                <tr pfsentry="|49|" parameterFor="|51|" >
                    <td>32</td>
                    <td>
                        {!$Label.Bank_Accounts_label}
                    </td>
                    <td>
                        <apex:outputField value="{!SchoolPFSAssignment.Orig_Bank_Accounts__c}"/>
                    </td>
                    <td>
                        <apex:outputField value="{!SchoolPFSAssignment.Bank_Accounts__c}" rendered="{!NOT(ISBLANK(SchoolPFSAssignment.Bank_Accounts__c))}"/>
                        <apex:outputField value="{!SchoolPFSAssignment.Orig_Bank_Accounts__c}" rendered="{!ISBLANK(SchoolPFSAssignment.Bank_Accounts__c)}"/>
                    </td>
                </tr>
                <tr pfsentry="|50|"   parameterFor="|51|" >
                    <td>33</td>
                    <td>
                        {!$Label.Other_Investments_label}
                        <apex:outputPanel layout="none" styleClass="fcw-entry-label-comment" title="{!PFS.Investments_Itemized__c}"/>
                    </td>
                    <td>
                        <apex:outputField value="{!SchoolPFSAssignment.Orig_Investments__c}"/>
                    </td>
                    <td>
                        <apex:outputField value="{!SchoolPFSAssignment.Investments__c}" rendered="{!NOT(ISBLANK(SchoolPFSAssignment.Investments__c))}"/>
                        <apex:outputField value="{!SchoolPFSAssignment.Orig_Investments__c}" rendered="{!ISBLANK(SchoolPFSAssignment.Investments__c)}"/>
                    </td>
                </tr>
                <tr pfsentry="|51|"  calculation="|43| + |44| + |47| + |49| + |50|"  parameterFor="|53|"  useSSSValue="true">
                    <td>34</td>
                    <td>
                        {!$Label.Total_Assets_label}
                    </td>
                    <td>
                        <apex:outputField value="{!SchoolPFSAssignment.Orig_Total_Assets_Currency__c}"/>
                    </td>
                    <td>
                        <apex:outputField value="{!SchoolPFSAssignment.Total_Assets_Currency__c}" rendered="{!NOT(ISBLANK(SchoolPFSAssignment.Total_Assets_Currency__c))}"/>
                        <apex:outputField value="{!SchoolPFSAssignment.Orig_Total_Assets_Currency__c}" rendered="{!ISBLANK(SchoolPFSAssignment.Total_Assets_Currency__c)}"/>
                    </td>
                </tr>
                <tr pfsentry="|52|"   parameterFor="|53|" >
                    <td>35</td>
                    <td>
                        {!$Label.Total_Debts_label}
                        <apex:outputPanel layout="none" styleClass="fcw-entry-label-comment" title="{!PFS.Outstanding_Debt_Itemized__c}"/>
                    </td>
                    <td>
                        <apex:outputField value="{!SchoolPFSAssignment.Orig_Total_Debts__c}"/>
                    </td>
                    <td>
                        <apex:outputField value="{!SchoolPFSAssignment.Total_Debts__c}" rendered="{!NOT(ISBLANK(SchoolPFSAssignment.Total_Debts__c))}"/>
                        <apex:outputField value="{!SchoolPFSAssignment.Orig_Total_Debts__c}" rendered="{!ISBLANK(SchoolPFSAssignment.Total_Debts__c)}"/>
                    </td>
                </tr>
                <tr class="green-row" pfsentry="|53|"    >
                    <td>36</td>
                    <td>
                        {!$Label.Net_Worth_label}
                    </td>
                    <td >
                        <apex:outputField value="{!SchoolPFSAssignment.Orig_Net_Worth__c}"/>
                    </td>
                    <td >
                        <apex:outputField value="{!SchoolPFSAssignment.Net_Worth__c}" rendered="{!NOT(ISBLANK(SchoolPFSAssignment.Net_Worth__c))}"/>
                        <apex:outputField value="{!SchoolPFSAssignment.Orig_Net_Worth__c}" rendered="{!ISBLANK(SchoolPFSAssignment.Net_Worth__c)}"/>
                    </td>
                </tr>
                <tr class="green-row" pfsentry="|54|"   parameterFor="|56|" >
                    <td>37</td>
                    <td>
                        {!$Label.Income_Supplement_Second_label}
                    </td>
                    <td>
                        <apex:outputField value="{!SchoolPFSAssignment.Orig_Income_Supplement__c}"/>
                    </td>
                    <td>
                        <apex:outputField value="{!SchoolPFSAssignment.Income_Supplement__c}" rendered="{!NOT(ISBLANK(SchoolPFSAssignment.Income_Supplement__c))}"/>
                        <apex:outputField value="{!SchoolPFSAssignment.Orig_Income_Supplement__c}" rendered="{!ISBLANK(SchoolPFSAssignment.Income_Supplement__c)}"/>
                    </td>
                </tr>
                <tr>
                    <td class="section-header" colspan="4">
                        <strong>{!$Label.Discretionary_Income_Third_label}</strong>
                    </td>
                </tr>
                <tr pfsentry="|55|"  calculation="|36|"  parameterFor="|57|" >
                    <td>38</td>
                    <td>
                        {!$Label.Effective_Income_Third_label}
                    </td>
                    <td>
                        <apex:outputField value="{!SchoolPFSAssignment.Orig_Effective_Income_Currency__c}"/>
                    </td>
                    <td>
                        <apex:outputField value="{!SchoolPFSAssignment.Effective_Income_Currency__c}" rendered="{!NOT(ISBLANK(SchoolPFSAssignment.Effective_Income_Currency__c))}"/>
                        <apex:outputField value="{!SchoolPFSAssignment.Orig_Effective_Income_Currency__c}" rendered="{!ISBLANK(SchoolPFSAssignment.Effective_Income_Currency__c)}"/>
                    </td>
                </tr>
                <tr pfsentry="|56|"  calculation="|54|"  parameterFor="|57|" >
                    <td>39</td>
                    <td>
                        {!$Label.Income_Supplement_Third_label}
                    </td>
                    <td>
                        <apex:outputField value="{!SchoolPFSAssignment.Orig_Income_Supplement__c}"/>
                    </td>
                    <td>
                        <apex:outputField value="{!SchoolPFSAssignment.Income_Supplement__c}" rendered="{!NOT(ISBLANK(SchoolPFSAssignment.Income_Supplement__c))}"/>
                        <apex:outputField value="{!SchoolPFSAssignment.Orig_Income_Supplement__c}" rendered="{!ISBLANK(SchoolPFSAssignment.Income_Supplement__c)}"/>
                    </td>
                </tr>
                <tr pfsentry="|57|"  calculation="|55| + |56|"   >
                    <td>40</td>
                    <td>
                        {!$Label.Adjusted_Effective_label}
                    </td>
                    <td>
                        <apex:outputField value="{!SchoolPFSAssignment.Orig_Adjusted_Effective_Income_Currency__c}"/>
                    </td>
                    <td>
                        <apex:outputField value="{!SchoolPFSAssignment.Adjusted_Effective_Income_Currency__c}" rendered="{!NOT(ISBLANK(SchoolPFSAssignment.Adjusted_Effective_Income_Currency__c))}"/>
                        <apex:outputField value="{!SchoolPFSAssignment.Orig_Adjusted_Effective_Income_Currency__c}" rendered="{!ISBLANK(SchoolPFSAssignment.Adjusted_Effective_Income_Currency__c)}"/>
                    </td>
                </tr>
                <tr pfsentry="|PJ|"    >
                    <td>PJ</td>
                    <td>
                        {!$Label.Use_Cost_label}
                    </td>
                    <td class="dark-row">&nbsp;</td>
                    <td>
                        <apex:outputField value="{!SchoolPFSAssignment.Use_COLA__c}"/>
                    </td>
                </tr>
                <tr pfsentry="|58|"    >
                    <td>41</td>
                    <td>
                        {!$Label.COLA_Value_label}
                    </td>
                    <td>
                        <apex:outputField value="{!SSSConstants.Default_COLA_Value__c}" />
                    </td>
                    <td>
                        <apex:outputField value="{!SSSConstants.Default_COLA_Value__c}" rendered="{!ISNULL(SchoolPFSAssignment.Override_Default_COLA_Value__c)}"/>
                        <apex:outputField value="{!SchoolPFSAssignment.Override_Default_COLA_Value__c}" rendered="{!NOT(ISNULL(SchoolPFSAssignment.Override_Default_COLA_Value__c))}"/>
                    </td>
                </tr>
                <tr pfsentry="|59|"   parameterFor="|63|" >
                    <td>42</td>
                    <td>
                        {!$Label.Revised_Adjusted_label}
                    </td>
                    <td>
                        <apex:outputField value="{!SchoolPFSAssignment.Orig_Revised_Adjusted_Effective_Income__c}"/>
                    </td>
                    <td>
                        <apex:outputField value="{!SchoolPFSAssignment.Revised_Adjusted_Effective_Income__c}" rendered="{!NOT(ISBLANK(SchoolPFSAssignment.Revised_Adjusted_Effective_Income__c))}"/>
                        <apex:outputField value="{!SchoolPFSAssignment.Orig_Revised_Adjusted_Effective_Income__c}" rendered="{!ISBLANK(SchoolPFSAssignment.Revised_Adjusted_Effective_Income__c)}"/>
                    </td>
                </tr>
                <apex:outputPanel layout="none" rendered="{!displayAdjustableIPA}">
                    <tr pfsentry="|PJ|">
                        <td>PJ</td>
                        <td>
                            {!$Label.Use_Flexible_label}
                        </td>
                        <td class="dark-row">&nbsp;</td>
                        <td >
                            <apex:outputField value="{!SchoolPFSAssignment.Adjust_Housing_Portion_of_IPA__c}" />
                        </td>
                    </tr>
                </apex:outputPanel>
                <tr pfsentry="|62|"   parameterFor="|63|" >
                    <td>43</td>
                    <td>
                        {!$Label.Income_Protection_label}
                    </td>
                    <td>
                        <apex:outputField value="{!SchoolPFSAssignment.Orig_Income_Protection_Allowance__c}"/>
                    </td>
                    <td>
                        <apex:outputField value="{!SchoolPFSAssignment.Income_Protection_Allowance__c}" rendered="{!NOT(ISBLANK(SchoolPFSAssignment.Income_Protection_Allowance__c))}"/>
                        <apex:outputField value="{!SchoolPFSAssignment.Orig_Income_Protection_Allowance__c}" rendered="{!ISBLANK(SchoolPFSAssignment.Income_Protection_Allowance__c)}"/>
                    </td>
                </tr>
                <tr class="green-row" pfsentry="|63|"  calculation="|59| - |62|"    useSSSValue="true">
                    <td >44</td>
                    <td>
                        {!$Label.Discretionary_Income_Second_label}
                    </td>
                    <td>
                        <apex:outputField value="{!SchoolPFSAssignment.Orig_Discretionary_Income__c}"/>
                    </td>
                    <td>
                        <apex:outputField value="{!SchoolPFSAssignment.Discretionary_Income_Currency__c}" rendered="{!NOT(ISBLANK(SchoolPFSAssignment.Discretionary_Income_Currency__c))}"/>
                        <apex:outputField value="{!SchoolPFSAssignment.Orig_Discretionary_Income__c}" rendered="{!ISBLANK(SchoolPFSAssignment.Discretionary_Income_Currency__c)}"/>
                    </td>
                </tr>
            </table>
            <!-- END SECOND TABLE -->


            <!-- START THIRD TABLE -->
            <table cellpadding="0" cellspacing="0" class="next-table-rfc right-box-table-3">
                <thead>
                    <tr class="fcw-header">
                        <td class="white-row" id="Contributions">
                            <h2>{!$Label.Contribution_Header_Label}</h2>
                        </td>
                        <td class="white-row"><strong>{!$Label.Parent_Entry_Label}</strong></td>
                        <td class="white-row"><strong>{!$Label.School_Revision_Label}</strong></td>
                    </tr>
                </thead>
            </table>
            <table cellpadding="0" cellspacing="0" class="border-table right-box-table-4">
                <tbody>
                    <tr pfsentry="|64a|">
                        <td>
                            <apex:outputText value="{!IF(DisplayAllStudentsAsBoarding, "45a", "45")}" />
                        </td>
                        <td>
                            <apex:outputText value="{!IF(DisplayAllStudentsAsBoarding, $Label.Applicant_With_Siblings_As_Day_64a, "Est. Parental Contrib. - All Students")}" />
                        </td>
                        <td>
                            <apex:outputField value="{!SchoolPFSAssignment.Orig_Est_Parental_Contribution_All__c}"
                                rendered="{!DisplayOrigDaySchoolContribution}"/>
                        </td>
                        <td>
                            <apex:outputPanel layout="none" rendered="{!NOT(DisplayOrigDaySchoolContribution)}">
                                <apex:outputField value="{!SchoolPFSAssignment.Est_Parental_Contribution_All_Students__c}" />
                            </apex:outputPanel>
                            <apex:outputPanel layout="none" rendered="{!DisplayOrigDaySchoolContribution}">
                                <apex:outputField value="{!SchoolPFSAssignment.Est_Parental_Contribution_All_Students__c}"
                                    rendered="{!NOT(ISBLANK(SchoolPFSAssignment.Est_Parental_Contribution_All_Students__c))}"/>
                                <apex:outputField value="{!SchoolPFSAssignment.Orig_Est_Parental_Contribution_All__c}"
                                    rendered="{!ISBLANK(SchoolPFSAssignment.Est_Parental_Contribution_All_Students__c)}"/>
                            </apex:outputPanel>
                        </td>
                    </tr>
                    <apex:outputPanel layout="none" rendered="{!DisplayAllStudentsAsBoarding}">
                        <tr pfsentry="|64b|">
                            <td>45b</td>
                            <td>
                                {!$Label.Applicant_With_Siblings_As_Boarding_64b}
                            </td>
                            <td>
                                <!-- SFP-643 This column will stay empty because there is no corresponding Orig field -->
                            </td>
                            <td>
                                <apex:outputField value="{!SchoolPFSAssignment.Est_Parental_Contrib_All_Students_Brd__c}" />
                            </td>
                        </tr>
                    </apex:outputPanel>
                    <tr pfsentry="|65|">
                        <td>46</td>
                        <td>
                            {!$Label.Number_of_label}
                        </td>
                        <td>
                            <apex:outputField value="{!SchoolPFSAssignment.Orig_Num_Children_in_Tuition_Schools__c}"/>
                        </td>
                        <td>
                            <apex:outputText value="{!SchoolPFSAssignment.Num_Children_in_Tuition_Schools__c}" rendered="{!NOT(ISBLANK(SchoolPFSAssignment.Num_Children_in_Tuition_Schools__c))}"/>
                            <apex:outputField value="{!SchoolPFSAssignment.Orig_Num_Children_in_Tuition_Schools__c}" rendered="{!ISBLANK(SchoolPFSAssignment.Num_Children_in_Tuition_Schools__c)}"/>
                        </td>
                    </tr>
                    <apex:outputPanel layout="none" rendered="{!SchoolPFSAssignment.Day_Boarding__c == 'Day'}">
                        <tr pfsentry="|66|">
                            <td>47</td>
                            <td>
                                {!$Label.PARENTAL_CONTRIBUTION_label}
                            </td>
                            <td>
                                <apex:outputField value="{!SchoolPFSAssignment.Orig_Est_Parental_Contribution_per_Chil__c}" rendered="{!DisplayOrigDaySchoolContribution}"/>
                            </td>
                            <td>
                                <apex:outputField value="{!SchoolPFSAssignment.Est_Parental_Contribution_per_Child__c}" rendered="{!NOT(ISBLANK(SchoolPFSAssignment.Est_Parental_Contribution_per_Child__c))}"/>
                                <apex:outputField value="{!SchoolPFSAssignment.Orig_Est_Parental_Contribution_per_Chil__c}" rendered="{!ISBLANK(SchoolPFSAssignment.Est_Parental_Contribution_per_Child__c)}"/>
                            </td>
                        </tr>
                    </apex:outputPanel>
                    <apex:outputPanel layout="none" rendered="{!SchoolPFSAssignment.Day_Boarding__c == 'Boarding'}">
                        <tr pfsentry="|66|">
                            <td>47</td>
                            <td>
                                {!$Label.PARENTAL_CONTRIBUTION_Second_label}
                            </td>
                            <td>
                                <apex:outputField value="{!SchoolPFSAssignment.Orig_Est_Parental_Contrib_per_Child_Brd__c}" rendered="{!DisplayOrigDaySchoolContribution}"/>
                            </td>
                            <td>
                                <apex:outputField value="{!SchoolPFSAssignment.Est_Parental_Contribution_per_Child_Brd__c}" rendered="{!NOT(ISBLANK(SchoolPFSAssignment.Est_Parental_Contribution_per_Child_Brd__c))}"/>
                                <apex:outputField value="{!SchoolPFSAssignment.Orig_Est_Parental_Contrib_per_Child_Brd__c}" rendered="{!ISBLANK(SchoolPFSAssignment.Est_Parental_Contribution_per_Child_Brd__c)}"/>
                            </td>
                        </tr>
                    </apex:outputPanel>
                    <tr pfsentry="|68|">
                        <td>48</td>
                        <td>
                            {!$Label.Student_Asset_label}
                        </td>
                        <td>
                            <apex:outputField value="{!SchoolPFSAssignment.Orig_Student_Asset_Contribution__c}" rendered="{!NOT(ISNULL(SchoolPFSAssignment.Orig_Student_Asset_Contribution__c))}"/>
                            <apex:outputText value="$0" rendered="{ISNULL(SchoolPFSAssignment.Orig_Student_Asset_Contribution__c)}"/>
                        </td>
                        <td>
                            <apex:outputField value="{!SchoolPFSAssignment.Student_Asset_Contribution__c}" rendered="{!NOT(ISBLANK(SchoolPFSAssignment.Student_Asset_Contribution__c))}"/>
                            <apex:outputField value="{!SchoolPFSAssignment.Orig_Student_Asset_Contribution__c}" rendered="{!ISBLANK(SchoolPFSAssignment.Student_Asset_Contribution__c)}"/>
                        </td>
                    </tr>
                    <apex:outputPanel layout="none" rendered="{!SchoolPFSAssignment.Day_Boarding__c == 'Day'}">
                        <tr pfsentry="|69|">
                            <td>49</td>
                            <td>
                                {!$Label.FAMILY_CONTRIBUTION_label}
                            </td>
                            <td>
                                <apex:outputField value="{!SchoolPFSAssignment.Orig_Est_Family_Contribution__c}" rendered="{!NOT(ISNULL(SchoolPFSAssignment.Orig_Est_Family_Contribution__c))}"/>
                                <apex:outputText value="$0" rendered="{ISNULL(SchoolPFSAssignment.Orig_Est_Family_Contribution__c)}"/>
                            </td>
                            <td>
                                <apex:outputField value="{!SchoolPFSAssignment.Est_Family_Contribution__c}" rendered="{!NOT(ISBLANK(SchoolPFSAssignment.Est_Family_Contribution__c))}"/>
                                <apex:outputField value="{!SchoolPFSAssignment.Orig_Est_Family_Contribution__c}" rendered="{!ISBLANK(SchoolPFSAssignment.Est_Family_Contribution__c)}"/>
                            </td>
                        </tr>
                    </apex:outputPanel>
                    <apex:outputPanel layout="none" rendered="{!SchoolPFSAssignment.Day_Boarding__c == 'Boarding'}">
                        <tr pfsentry="|69|">
                            <td>49</td>
                            <td>
                                {!$Label.FAMILY_CONTRIBUTION_label}
                            </td>
                            <td>
                                <apex:outputField value="{!SchoolPFSAssignment.Orig_Est_Family_Contribution_Boarding__c}"/>
                            </td>
                            <td>
                                <apex:outputField value="{!SchoolPFSAssignment.Est_Family_Contribution_Boarding__c}" rendered="{!NOT(ISBLANK(SchoolPFSAssignment.Est_Family_Contribution_Boarding__c))}"/>
                                <apex:outputField value="{!SchoolPFSAssignment.Orig_Est_Family_Contribution_Boarding__c}" rendered="{!ISBLANK(SchoolPFSAssignment.Est_Family_Contribution_Boarding__c)}"/>
                            </td>
                        </tr>
                    </apex:outputPanel>
                </tbody>
            </table>
        <!-- END THIRD TABLE -->
        </div>
    </div>
    
    <apex:outputPanel rendered="{!annualSetting.Print_RFC_On_Two_Pages__c == 'Yes'}">
        <div class="page-item rfcSpecificMargin left-box-section" style="page-break-before: always;">
            <h3>{!$Label.RFC_Expenses_and_Discounts_Notes}</h3>
            <apex:outputText value="{!SchoolPFSAssignment.Student_Folder__r.Tuition_and_Expense_Notes_Long__c}"/>
        </div>
        
        <apex:outputPanel layout="block" rendered="{!NOT(ISBlank(SchoolPFSAssignment.MIE_Explanation__c))}" StyleClass="page-item rfcSpecificMargin left-box-section">
            <h3>{!$Label.MIE_Explanation}</h3>
            <apex:outputText value="{!SchoolPFSAssignment.MIE_Explanation__c}"/>
        </apex:outputPanel>
    </apex:outputPanel>
</apex:component>