<apex:component controller="SchoolPageInstructionsController" allowdml="true">

    <apex:attribute name="label_name" description="custom label name of insturctional text. example: 'School_Instructions_Dashboard'" type="String" required="true"/>
    <apex:attribute name="field_name" assignTo="{!fieldName}" description="field name of user checkbox. field name must be included in the Global Variables.getCurrentUser method. example: 'SYSTEM_Hide_Instructions_Dashboard__c'" type="String" required="true"/>
    <!-- <apex:outputPanel styleClass="instructions" rendered="true" layout="block" >  -->
	<apex:outputPanel styleClass="instructions" rendered="{!renderLabel}" layout="block" >
	    <h2>HOW THIS PAGE WORKS</h2>
	    <br />
		{!$Label[label_name]} &nbsp;
	    <apex:commandLink action="{!hideInstructionText}" immediate="true">(Do not show this again)</apex:commandLink>
	    <br /><br />
    </apex:outputPanel>
</apex:component>