<apex:component controller="SchoolAcademicYearSelectorController" selfclosing="true" allowDML="true">
	<!-- NAIS-2452 -->
	<apex:includeScript value="{!$Resource.Jquery191min}" />  
    <apex:includeScript value="{!$Resource.JQueryBlockUI}" />  
    <script type="text/javascript">          
            var jAY$ = jQuery.noConflict(); 
    </script>
	<apex:actionStatus id="pleaseWaitStatusAcademicYear" onstart="jAY$.blockUI({'message':jAY$('.please-wait-message-academicYear')});" onstop="jAY$.unblockUI(); window.scrollTo(0,0);"/>
	    <div class="please-wait-message-academicYear" style="display:none">
	        <div style="font-size:4em;margin:5px">  
				<apex:image value="/img/loading32.gif" width="32px" height="32px" />&nbsp;   	
	            <apex:outputText escape="false" value="{!$Label.Please_wait}" />
	        </div>
	    </div>
	<!-- End NAIS-2452 -->
    <apex:attribute name="host" 
    	assignTo="{!Consumer}" 
    	description="instance of an object where the academic year will be set.  
    					the object must implement SchoolAcademicYearSelectorInterface" 
    	type="SchoolAcademicYearSelectorInterface" 
    	required="true"/>
    	
    <apex:attribute name="value" 
    	assignTo="{!MergeField}" 
    	description="used to guarantee the field for the academic year is retreived" 
    	type="String" 
    	required="true"/>
    	
   	<apex:actionFunction name="AcademicYear_onChange" 
    	action="{!SchoolAcademicYearSelector_OnChange}"
    	rerender="bodyTable" status="pleaseWaitStatusAcademicYear"> <!-- NAIS-2452 -->
    	<apex:param name="saveRecord" assignTo="{!saveRecord}" value="false"/>
    	<apex:param name="academicYear" assignTo="{!NewAcademicYearId}" value=""/>
    </apex:actionFunction>
    	
	<apex:includeScript value="{!$Resource.Jquery191min}" />
    <script src="{!URLFOR($Resource.SchoolPortalStyles, '/localJS/jquery.wgNiceSelect.js')}"></script>
    <script src="{!URLFOR($Resource.SchoolPortalStyles, '/localJS/samplePages.js')}"></script>
        
    <apex:outputLabel value="{!CurrentAcademicYear.Name}" rendered="{!NOT(InOverlapPeriodOrMultipleYears)}" />
	<apex:outputPanel >
	    <apex:selectList id="AcademicYearList" 
	    	value="{!NewAcademicYearId}" 
	    	size="1" 
	    	rendered="{!InOverlapPeriodOrMultipleYears}" 
	    	onchange="AcademicYear_onChange( 'false', this.value )"
	    	styleclass="selectBox">
	        <apex:selectOptions value="{!AcademicYearOptions}" />
	    </apex:selectList>  
	    <!-- <apex:selectList id="AcademicYearList" 
	    	value="{!NewAcademicYearId}" 
	    	size="1" 
	    	rendered="true" 
	    	onchange="AcademicYear_onChange( 'false', this.value )"
	    	styleclass="selectBox">
	        <apex:selectOptions value="{!AcademicYearOptions}" />
	    </apex:selectList> -->
    </apex:outputPanel>
</apex:component>