<apex:component >

    <apex:attribute name="help" description="Help_Configuration__c with T&C fields" type="Help_Configuration__c" required="true"/>
    <apex:attribute name="inFamilyPortal" description="Boolean value for whether or not user is in the family portal" type="Boolean" required="true"/>
    <apex:attribute name="isKS" description="Boolean value for whether or not user is a KS User" type="Boolean" required="true"/>

    <div class="blockheader" style="font-weight:bold;">
        TERMS AND CONDITIONS 
    </div><br />

    <!--  ******** SCHOOL PORTAL TERMS AND CONDITIONS******** -->
    <apex:outputPanel layout="none" rendered="{!NOT(inFamilyPortal)}" >
        <div class="blockbody">
            <apex:outputField value="{!help.School_Terms_and_Conditions__c}" />
        </div>
    </apex:outputPanel>
    <!--  ******** END SCHOOL PORTAL TERMS AND CONDITIONS******** -->


    <!--  ******** FAMILY PORTAL TERMS AND CONDITIONS******** -->
    <apex:outputPanel layout="none" rendered="{!inFamilyPortal}" >
        <div class="blockbody">
            <apex:outputField value="{!help.NAIS_Terms_and_Conditions__c}" />
        </div>
    </apex:outputPanel>
    <!--  ******** END FAMILY PORTAL TERMS AND CONDITIONS******** -->
    
    <!--  ******** Kamehameha PORTAL TERMS AND CONDITIONS******** -->
    <apex:outputPanel layout="none" rendered="{!isKS}" >
        <div class="blockheader">
            Kamehameha Terms and Conditions 
        </div>

        <div class="blockbody">
            <apex:outputField value="{!help.KS_Legal_Agreement__c}" />
        </div>
    </apex:outputPanel>
    <!--  ******** END SCHOOL PORTAL TERMS AND CONDITIONS******** -->
            
</apex:component>