<apex:component controller="vfInlineHelpController">
	<apex:attribute name="inlineHelp" description="The value of a field's inline help text" type="String" assignTo="{!fieldInlineHelp}" />
	
	<span class="hasToolTip" style="display: {!IF(fieldInlineHelp != '', 'inline', 'none')}">
		<span class="helpicon"></span>
		<ul class="toolTip">
		    <li>{!fieldInlineHelp}</li>
		</ul>		
	</span>
</apex:component>